**/docroot/WEB-INF/tld/
*.iml
.classpath
.gh.json
.gradle/
.idea/
.project
.sass-cache/
.settings/
bin/
build/
classes/
ivy.xml.MD5
lib/
liferay-hook.xml.processed
node_modules/
npm-debug.log
test-classes/
test-coverage/
test-results/
tmp/