$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg;
$screen-lg-desktop: $screen-lg-min;

$screen-md: 992px !default;
$screen-md-min: $screen-md;
$screen-desktop: $screen-md-min;

$screen-sm: 768px !default;
$screen-sm-min: $screen-sm;
$screen-tablet: $screen-sm-min;

$screen-xs: 480px !default;
$screen-xs-min: $screen-xs;
$screen-phone: $screen-xs-min;

$screen-md-max: ($screen-lg-min - 1) !default;
$screen-sm-max: ($screen-md-min - 1) !default;
$screen-xs-max: ($screen-sm-min - 1) !default;

$media-query-sizes: (
	xs: $screen-xs,

	sm: $screen-sm,

	md: $screen-md,

	lg: $screen-lg,
);

$breakpoint_phone: 768px !default;
$breakpoint_tablet: 980px !default;
