.message-container {
	align-items: center;
	display: flex;
	height: 80vh;
	justify-content: center;
}

.message-box-containter {
	border: 1px solid var(--color-neutral-2);
	border-radius: 10px;
	padding: 3.5rem;
	width: 600px;

	.uploader-secondary-button {
		border-color: var(--color-action-primary-default);
		border-radius: 0.5rem;
		color: var(--color-action-primary-default);
	}

	.uploader-icon {
		background-color: var(--color-brand-primary-lighten-5);
		border-radius: 1.25rem;
		color: var(--color-brand-primary-lighten-1);
		padding: 1.875rem;
		
		.lexicon-icon {
			height: 1.875rem;
			width: 1.875rem;
		}
	}

	.uploader-primary-button {
		border-radius: 0.5rem;
	}
}