@import 'cadmin-variables';

$ai-loading-gradient: linear-gradient(
	135.99deg,
	$cadmin-purple 4.37%,
	$cadmin-primary 98.53%
);

$categorization-new-label-background-color: #f3effd;
$categorization-new-label-border-color: #e3d9fb;
$categorization-new-label-color: #6e3ad6;
