@import 'atlas-custom-properties/_variables';
@import 'atlas-variables';

@import 'LayoutPageTemplateEntryCard';

@import 'miller_columns/MillerColumns';

@import '../js/layout/look_and_feel/GlobalCSSCETsConfiguration';
@import '../js/layout/look_and_feel/GlobalJSCETsConfiguration';

.style-book-selector-card {
	.aspect-ratio {
		margin-left: 0;
		margin-right: 0;
		top: 0;
	}

	.card-type-asset-icon {
		color: $purple;
	}
}

.portlet-layouts-admin {
	.customization-settings #main-content .portlet-column {
		border: 1px solid $primary;
		text-align: center;
	}

	.add-layout-form .sheet-footer {
		position: absolute;
	}
}

.page-template-sets-vertical-nav {
	.lexicon-icon-books {
		background-color: $teal-l3;
		border-radius: 0.25rem;
		color: $teal !important;
		height: 1.75rem;
		padding: 0.375rem;
		width: 1.75rem;
	}
}
