@import 'atlas-variables';

.cms-dashboard__interactive-card {
	border-color: $secondary-l2;
	cursor: pointer;
	transition:
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out;

	&.active {
		background-color: $primary-l3;
		border-color: $primary;
	}

	&:focus-within:not(.active),
	&:hover:not(.active) {
		background-color: $light-l1;
		border-color: $secondary-l0;

		.cms-dashboard__interactive-card__hover-content {
			opacity: 1;
		}

		.cms-dashboard__interactive-card__metric:has(
				~ .cms-dashboard__interactive-card__hover-content
			)
			> div:nth-of-type(2) {
			opacity: 0;
		}
	}

	&__hover-content {
		bottom: 0;
		left: 0;
		opacity: 0;
	}

	&__sticker {

		&--green {
			background-color: $green-l5;
			color: $green;
		}

		&--info {
			background-color: $info-l2;
			color: $info;
		}

		&--orange {
			background-color: $orange-l5;
			color: $orange;
		}

		&--purple {
			background-color: $purple-l5;
			color: $purple;
		}

	}
}
