.marketplace-form {
	&-help-message {
		color: #6c6c75;
	}

	&-input {
		background-color: #ffff;
		border: 1px solid #b1b2b9;
		border-radius: 8px;
		height: 48px;
	}

	&-select {
		background-color: #ffff;
		border: 1px solid #b1b2b9;
		border-radius: 8px;
		color: #6c6c75;
		height: 48px;
	}

	&-section {
		border: 1px solid #e2e2e4;
		border-radius: 4px;

		.arrow-container {
			border: 1px solid #e2e2e4;
			border-radius: 8px;
		}

		.children-container {
			border-top: 1px solid #e2e2e4;
		}

		.controllers {
			background-color: #f7f7f8;
			height: 48px;
		}
	}
}

.info-bg {
	background-color: #e6ebf5;
	border-radius: 4px;
	height: 22px;
	width: 22px;

	.info-icon {
		background-color: #e6ebf5;
		color: #264a8d;
		font-size: 11px;
		margin-left: 5px;
		margin-top: 0.5px;
	}
}

.required-icon {
	font-size: 4.5px;
	margin-left: 2px;
}
