@import 'atlas-variables';

#dsr-comments-sidepanel .sidebar-body {
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.analytics-filters-toolbar {
	& .dsr-date-range-picker {
		border-color: $secondary-l0;
		border-radius: 0;
		color: $gray-600;
	}

	& .dsr-date-range-preset-select {
		border-color: $secondary-l0;
		color: $gray-600;
	}

	& .input-group-inset-item-after {
		border-color: $secondary-l0;
	}
}

.analytics-frame {
	border: 1px solid $secondary-l2;

	&-icon {
		background-color: $primary-l3;
		color: $primary;
	}
}

.dsr-analytics-empty-message {
	align-items: center;
	display: flex;
	justify-content: center;
	min-height: 200px;
}

.dsr-analytics-navigation .container-fluid {
	padding: 0;
}

.dsr-container-wrapper {
	background-color: $white;
	flex: 0 0 calc(10 / 12 * 100%);
	max-width: calc(10 / 12 * 100%);
	padding: 2rem;

	&.dsr-settings {
		background-color: transparent;
		display: flex;
		flex: auto;
		max-width: 100%;
		padding: 0;
		width: 100%;

		& > .row {
			margin: 0;
			width: 100%;

			& > .col-lg-2 {
				padding: 2rem;
			}

			& > .col-lg-10 {
				background-color: $white;
				padding: 2rem;
			}
		}
	}

	.menubar-vertical-expand-lg {
		max-width: 100%;
	}
}

.dsr-duplicate-room-documents {
	min-height: 30rem;

	.cell-actions,
	.cell-item-actions,
	.cell-select,
	.cell-select-item {
		width: 1% !important;
	}
}

.dsr-section:empty {
	padding: 0 !important;
}

.dsr-select-template-modal {
	.list-group-header {
		background-color: transparent;
		border: 0;
		border-bottom: 1px solid $gray-200;
		margin-bottom: 0;
		padding-bottom: 1rem;
	}

	.list-group-item {
		border: 0;
		border-radius: 0.5rem;
	}

	.modal-body {
		display: flex;
		flex: 1;
		flex-direction: column;
		min-height: 0;
		overflow-y: auto;

		& > .row {
			flex: 1;
		}
	}

	.col-8 {
		display: flex;
		flex-direction: column;
	}
}

.dsr-expiration-date-picker input {
	text-align: right;
	width: 8rem;
}

.dsr-expiration-label .label-item {
	align-items: center;
	flex-direction: row;
}

.dsr-site-role-input {
	.dsr-site-role-trigger-button {
		background-color: transparent;
		border: 0;
		bottom: 0.5rem;
		position: absolute;
		right: 2.5rem;
	}

	.input-group-item-shrink {
		padding-left: 2.5rem;
	}
}

.dsr-room-management {
	.cell-modifiedDate {
		white-space: nowrap;
	}

	.cell-name {
		max-width: 37rem;
	}
}

.dsr-template-preview {
	background: $gray-200 url(../images/success_state.svg) no-repeat center
		center;
	background-size: 16rem;
	border: 1px solid $secondary-l2;
	border-radius: 0.5rem;
	flex: 1;
	min-height: 400px;
	overflow: hidden;
	position: relative;
	width: 100%;

	iframe {
		border: 0;
		height: 100%;
		width: 100%;
		z-index: 1;
	}

	.iframe-wrapper {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 10;
	}
}

.form-group.has-error {
	.form-control {
		border-color: $danger;
		padding-right: 2.5rem;
	}

	.form-feedback-item {
		color: $danger;
	}
}

.portlet-digital-sales-room-management {
	background-color: $white;
	border: 1px solid $secondary-l2;
	border-radius: 0.5rem;
	padding: 0.25rem 0;

	.navbar-form > * {
		padding-left: 0;
	}
}

.room-filter-dropdown,
.user-filter-dropdown {
	max-width: 240px;
}
