.article-section-banner {
	background: radial-gradient(
				14.55% 34.6% at 100% 34.6%,
				rgba(55, 124, 255, 0.68) 0%,
				rgba(55, 124, 255, 0) 100%
			),
			radial-gradient(
				26.56% 43.82% at 0% 0%,
				#00256b 20.83%,
				rgba(0, 37, 107, 0) 100%
			),
			linear-gradient(
				91.07deg,
				#001742 0%,
				#0011a8 24.6%,
				#0b5fff 49%,
				#0b5fff 74.5%,
				#0b5fff 100%
			);
	border-radius: 10px;
	display: flex;
	flex-direction: row;
	height: 5rem;
	justify-content: space-between;
	position: relative;
}

.article-section-banner-image {
	overflow: hidden;
	position: sticky;
}

.article-section-banner-title {
	align-items: center;
	color: var(--color-neutral-0, #FFFFFF);
	display: flex;
	font-size: 1.75rem;
	font-weight: 600;
	justify-content: start;
	padding-left: 1.5rem !important;
	position: relative;
	width: 100%;
}

.article-section-container {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	height: 100%;
}

@media screen and (max-width: 426px) {
	.article-section-banner-image {
		display: none;
	}
}