@import '_atlas-custom-properties-variables';

.lfr-objects__modal-add-object-field-enable-translations-toggle {
	display: flex;
	gap: 10px;
	margin-bottom: 20px;

	&-icon {
		color: $gray-500;
	}
}

.lfr-objects__modal-add-object-field-form-base .dropdown-menu {
	max-width: 34rem;
	width: 34rem;
}
