@import 'atlas-variables';

.fds-gallery-view {
	$gallery-preview-height: unquote('max(320px, calc(100dvh - 475px))');

	&__preview {
		height: $gallery-preview-height;
		position: relative;

		.c-empty-state {
			align-self: center;
			margin: 0;
		}

		.c-empty-state-image {
			max-width: 200px;
		}

		.c-empty-state-title {
			margin-top: 1rem;
		}

		&-wrapper > * {
			margin: 0;
			width: 100%;

			&:not(.video-preview) {
				padding: 0;
			}
		}
	}

	&__actions {
		position: absolute;
		right: $spacer;
		top: $spacer;
		z-index: 1;
	}

	.preview-file .preview-file-container.preview-file-max-height {
		height: $gallery-preview-height;
		max-height: 100%;
	}

	.fds-gallery-view__thumbnails {
		min-width: 0;
	}

	.fds-gallery-view__thumbnail {
		max-width: 20%;

		&.selected {
			.card {
				box-shadow: 0 0 0 2px $primary-l1;
			}
		}
	}

	.card-type-asset {
		.card-row {
			align-items: center;
		}

		.card-subtitle,
		.card-detail {
			display: none;
		}
	}
}
