@import '_atlas-custom-properties-variables';

.content-icon-custom-structure {
	color: $blue-l1;
}

.content-icon-basic-content {
	color: $secondary;
}

.content-icon-blog {
	color: $green;
}

.folder {
	color: $secondary;
}

.label-empty {
	background-color: white;
	border: none;
	margin: 0;
	padding: 0;
}
