<button aria-expanded="true" aria-pressed="true" class="btn btn-monospaced btn-secondary btn-sm btn-unstyled lfr-portal-tooltip sidebar-toggle" data-titleclose="${languageUtil.get(locale, 'close-sidebar')}" data-titleopen="${languageUtil.get(locale, 'open-sidebar')}" disabled title="${languageUtil.get(locale, 'close-sidebar')}" type="button">
	<span class="inline-item">
		[@clay["icon"] symbol="product-menu-open" /]
	</span>
	<span class="hide inline-item">
		[@clay["icon"] symbol="product-menu-closed" /]
	</span>
</button>