@import 'components/breadcrumb';
@import 'components/group-item';
@import 'components/sidebar';
@import 'components/table';
@import 'portlet/portlet';

#wrapper {
	padding: 0;

	.portlet-layout {
		margin: 0;

		.portlet-column {
			padding: 0;
		}

		.portlet-body .container-fluid-max-xl {
			max-width: map-get($container-max-widths, xl);
			position: relative;

			.custom-control:not(.custom-checkbox) {
				margin-bottom: 8px;
			}
		}
	}

	.main-content-nav {
		margin-left: $grid-gutter-width * -0.5;
		margin-top: 20px;
	}
}

.card-page-item-asset {
	min-width: 193px;
}
