!/sql/update-*.sql
**/.gradle
**/.settings
**/.sonar
**/TEST-frontend-js.xml
**/liferay/logs/*.log
**/liferay/logs/*.xml
**/liferay/logs/companies/*
**/pmd-reports
*.bak
*.iml
*.ipr
*.iws
*.local.*
*.swp
*~
.DS_Store
.ant-targets-build.xml
.ant_targets
.gh.json
.sass-cache
.sass_cache_*.css
.worktree-port-offset
/*.ant-*
/*.ipr
/*.iws
/*.patch
/*.sublime-*
/.bnd
/.checkstyle
/.idea
/.m2
/.sonar
/.xmlcatalog
/ActiveMQ
/CLAUDE.local.md
/WEB-INF
/ant.install.log
/api
/app.server.*.properties
/baseline-reports
/benchmarks/*.csv
/benchmarks/*.sql
/benchmarks/benchmarks-actual.properties
/benchmarks/benchmarks.*.properties
/benchmarks/liferay
/benchmarks/output
/bin
/build
/build.*.properties
/bundle
/classes/Test.class
/dist
/intellij
/jacoco
/modules/node_modules_cache
/modules/private/node_modules_cache
/nbproject/private
/out
/portal-impl/*.ipr
/portal-impl/*.iws
/portal-impl/ServiceBuilder.temp
/portal-impl/build
/portal-impl/classes
/portal-impl/portal-impl*.asc
/portal-impl/portal-impl*.jar
/portal-impl/service.xml
/portal-impl/src/META-INF/portal-log4j-ext.xml
/portal-impl/src/portal-ext.properties
/portal-impl/src/system-ext.properties
/portal-impl/test-classes
/portal-impl/test-coverage
/portal-impl/test-results
/portal-impl/test/portal-test-ext.properties
/portal-impl/test/test-portal-impl-ext.properties
/portal-impl/woven-classes
/portal-kernel/*.ipr
/portal-kernel/*.iws
/portal-kernel/build
/portal-kernel/classes
/portal-kernel/portal-kernel*.asc
/portal-kernel/portal-kernel*.jar
/portal-kernel/test-classes
/portal-kernel/test-coverage
/portal-kernel/test-results
/portal-kernel/woven-classes
/portal-test/*.ipr
/portal-test/*.iws
/portal-test/build
/portal-test/classes
/portal-test/portal-test*.asc
/portal-test/portal-test*.jar
/portal-web/*.ipr
/portal-web/*.iws
/portal-web/ROOT.war
/portal-web/build
/portal-web/classes
/portal-web/docroot/WEB-INF/classes
/portal-web/docroot/WEB-INF/lib
/portal-web/docroot/WEB-INF/liferay-portlet-ext.xml
/portal-web/docroot/WEB-INF/portlet-ext.xml
/portal-web/docroot/WEB-INF/src
/portal-web/docroot/WEB-INF/tld/aui.tld
/portal-web/docroot/WEB-INF/tld/c.tld
/portal-web/docroot/WEB-INF/tld/ddm.tld
/portal-web/docroot/WEB-INF/tld/liferay-*.tld
/portal-web/docroot/WEB-INF/tmp
/portal-web/docroot/aui
/portal-web/docroot/dtd
/portal-web/docroot/html/icons/_sprite.*
/portal-web/liferay-portal.war
/portal-web/portal-web.war
/portal-web/portal-web.war.asc
/portal-web/poshi-ext.properties
/portal-web/poshi-ext.properties
/portal-web/test-ant-scripts
/portal-web/test-classes
/portal-web/test-output
/portal-web/test-results
/portal-web/test/functional-generated
/portal-web/test/test-portal-web-ext.properties
/portal-web/tests
/rebel.xml
/release.*.properties
/selenium-output
/sql/create
/sql/create-bare
/sql/create-sharded
/sql/indexes
/sql/legacy
/sql/log
/sql/lportal
/sql/lportal*.properties
/sql/lportal*.script
/sql/lportal.gdb
/sql/lportal.jar
/sql/lportal.lck
/sql/lportal.log
/sql/lportal.properties
/sql/lportal.script
/sql/portal
/sql/portal-tables
/sql/sequences
/sql/sql.*.properties
/sql/update-*
/sql/velocity.log*
/support-tomcat/*.ipr
/support-tomcat/*.iws
/support-tomcat/classes
/support-tomcat/support-tomcat*.jar
/svn-revision
/test-coverage
/test-results
/test.*.properties
/tmp
/tools/gradle-*-bin.zip
/tools/maven/*.asc
/tools/node*
/tools/sdk/dependencies/*/ivy.xml.MD5
/tools/sdk/dependencies/*/lib
/tools/sdk/dist
/tools/selenium
/tools/zip_tmpl
/tunnel-web/docroot/WEB-INF/classes
/tunnel-web/docroot/WEB-INF/lib
/tunnel-web/docroot/WEB-INF/remoting-servlet-ext.xml
/tunnel-web/tunnel-web.war
/util-bridges/*.ipr
/util-bridges/*.iws
/util-bridges/build
/util-bridges/classes
/util-bridges/util-bridges*.asc
/util-bridges/util-bridges*.jar
/util-java/*.ipr
/util-java/*.iws
/util-java/build
/util-java/classes
/util-java/test-classes
/util-java/test-coverage
/util-java/test-results
/util-java/util-java*.asc
/util-java/util-java*.jar
/util-slf4j/*.ipr
/util-slf4j/*.iws
/util-slf4j/build
/util-slf4j/classes
/util-slf4j/test-classes
/util-slf4j/test-results
/util-slf4j/util-slf4j*.asc
/util-slf4j/util-slf4j*.jar
/util-taglib/*.ipr
/util-taglib/*.iws
/util-taglib/build
/util-taglib/classes
/util-taglib/test-classes
/util-taglib/test-coverage
/util-taglib/test-results
/util-taglib/util-taglib*.asc
/util-taglib/util-taglib*.jar
/working.dir.properties
/workspaces/node_modules
/workspaces/node_modules_cache
_sass_cache_*.css
poshi-warnings.xml