.drop-zone {
	min-height: 80px;
	padding: 20px;
	text-align: center;

	&.drop-enabled {
		outline: 2px dashed transparent;

		&:not(.no-border) {
			outline-color: unquote('rgb(from #{$gray-500} r g b / 0.5)');
		}
	}

	p {
		margin: 10px auto 0;
		max-width: 75%;
	}
}

.drop-here-info {
	font-size: 25px;
	height: 100%;
	left: 0;
	min-height: 100px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 0;
	visibility: hidden;
	width: 100%;

	@include transition(all 0.2s ease-in-out);

	.drop-here-indicator {
		height: 115px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(0, -50%);
	}

	.drop-icons {
		display: inline-block;
		position: relative;
		width: 160px;

		@include transition(all 0.2s ease-in-out);

		span {
			border-radius: 3px;
			position: absolute;
			text-align: center;

			@include transition(all 0.3s ease-in-out);

			&:nth-of-type(1) {
				box-shadow: 5px 4px 0 0
					unquote('rgb(from #{$black} r g b / 0.08)');
				height: 60px;
				left: 0;
				line-height: 60px;
				opacity: 0;
				top: 10px;
				transform: rotate(25deg);
				width: 60px;
			}

			&:nth-of-type(2) {
				background: $cyan-l2;
				color: $white;
				height: 80px;
				left: 40px;
				line-height: 80px;
				width: 80px;
				z-index: 2;
			}

			&:nth-of-type(3) {
				box-shadow: -5px 4px 0 0
					unquote('rgb(from #{$black} r g b / 0.08)');
				display: block;
				font-size: 45px;
				height: 70px;
				left: 90px;
				line-height: 70px;
				opacity: 0;
				position: relative;
				top: 8px;
				transform: rotate(-25deg);
				width: 70px;
				z-index: 1;
			}

			&:nth-of-type(1),
			&:nth-of-type(3) {
				background: $gray-300;
				color: $gray-500;
			}
		}
	}

	.drop-text {
		color: $white;
		display: block;
		font-size: 20px;
		margin-left: 0;
		margin-top: 20px;
	}

	.drop-active & {
		background-color: unquote('rgb(from #{$black} r g b / 0.6)');
		opacity: 1;
		visibility: visible;
		z-index: 100;

		.drop-icons {
			span {
				&:nth-of-type(1),
				&:nth-of-type(3) {
					opacity: 1;
				}
			}
		}

		span {
			&:nth-of-type(1) {
				transform: rotate(-20deg);
			}

			&:nth-of-type(2) {
				transform: scale(1);
			}

			&:nth-of-type(3) {
				transform: rotate(15deg);
			}
		}
	}
}
