.taglib-header {
	border-bottom: 1px solid $gray-400;
	color: $gray-700;
	margin-bottom: 1em;
	padding-bottom: 10px;

	.header-title {
		display: inline-block;
		margin: 0.1em;
		max-width: 100%;
		text-overflow: ellipsis;
		vertical-align: middle;
		white-space: nowrap;
		word-wrap: normal;
	}

	.header-back-to {
		display: inline-block;
		vertical-align: middle;

		a {
			display: block;
			font-weight: bold;
			padding: 0 0.3em 0 0;
			text-decoration: none;
		}
	}
}
