.lfr-map {
	border: 1px solid $gray-400;
	min-height: 400px;
	width: 100%;

	.home-button {
		margin: 5px;

		@include media-breakpoint-down(xs) {
			height: 35px;
			width: 45px;
		}
	}

	.search-controls {
		font-size: 15px;
		margin-top: 5px;
		width: 100%;

		@include media-breakpoint-up(sm) {
			width: 50%;
		}

		.search-input {
			width: 100%;
		}
	}
}
