.taglib-portlet-preview {
	&.show-borders {
		border: 1px solid $gray-500;
		margin-bottom: 1em;
		padding: 3px 3px 1em;

		.title {
			background-color: $gray-300;
			font-size: 1.4em;
			font-weight: bold;
			padding: 0.5em;
		}
	}

	.preview {
		margin: 1em;
		min-height: 90px;
	}
}
