:root {
	--kaleo-node-branch-icon: light-dark(#ffb46e, #fdd7b4);
	--kaleo-node-flow-icon: light-dark(#4b9bff, #9ac6fc);
	--kaleo-node-highlight-blue-bg: light-dark(#f0f5ff, #2952a3);
	--kaleo-node-highlight-red-bg: light-dark(#f48989, #a32929);
	--kaleo-node-join-icon: light-dark(#7785ff, #b4bcfd);
	--kaleo-node-service-icon: light-dark(#af78ff, #d2b4fd);
	--kaleo-node-task-icon: light-dark(#50d2a0, #90dec0);
}

.base-node {
	position: relative;
}
.node {
	align-items: center;
	background: $white;
	border: 1px $light-l1 solid;
	border-radius: 8px;
	display: flex;
	height: 74px;
	left: 18px;
	padding: 18px 16px;
	top: 18px;
	width: 254px;

	.node-description {
		size: 12px;
	}

	.node-icon {
		align-items: center;
		background: $light-l1;
		border-radius: 4px;
		display: flex;
		height: 32px;
		justify-content: center;
		width: 32px;

		svg {
			height: 16px;
			width: 16px;
		}
	}

	.node-info {
		display: inline-grid;
		max-width: 167px;
	}

	.node-label {
		font-weight: 600;
		size: 14px;
	}

	&.ai-decision,
	&.end-node,
	&.llm-node,
	&.start-node {
		.node-icon svg {
			fill: var(--kaleo-node-flow-icon);
		}
	}

	&.condition-node,
	&.fork-node,
	&.state-node {
		.node-icon svg {
			fill: var(--kaleo-node-branch-icon);
		}
	}

	&.http-request-node {
		.node-icon svg {
			fill: $primary;
		}
	}

	&.join-node,
	&.join-xor-node {
		.node-icon svg {
			fill: var(--kaleo-node-join-icon);
		}
	}

	&.service-node {
		.node-icon svg {
			fill: var(--kaleo-node-service-icon);
		}
	}

	&.task-node {
		.node-icon svg {
			fill: var(--kaleo-node-task-icon);
		}
	}
}

.node-border-area {
	border-radius: 4px;
	height: 110px;
	opacity: 0.5;
	width: 290px;

	&.blue {
		background: var(--kaleo-node-highlight-blue-bg);
		border: 2px solid $primary;
	}

	&.red {
		background: var(--kaleo-node-highlight-red-bg);
		border: 2px solid $danger;
	}
}

.node-handle-area {
	height: 110px;
	left: -18px;
	position: absolute;
	top: -18px;
	width: 290px;
	z-index: -1;

	.handles {
		height: 110px;
		opacity: 0;
		position: absolute;
		width: 290px;
		z-index: -2;

		&-default {
			z-index: -1;
		}
	}
}

.node.selected {
	border: 2px solid $primary-l1;
}
