.upper-toolbar {
	background-color: $white;
	height: 4rem;
	width: 100%;

	.version {
		background: $light-l1;
		border: none;
		border-radius: 12px;
		font-size: 12px;
		padding: 4px 8px;

		&-text {
			font-weight: 400;
			margin-left: 0.5rem;
		}
	}

	.translation-button {
		height: 40px;
		padding: 0;
		width: 40px;

		.translation-label {
			color: $secondary;
			font-size: 11px;
			white-space: nowrap;
		}
	}
}
