.dropzone-upload {
	.dropzone-upload-button {
		background-color: var(--color-neutral-0);
		font-size: 0.875rem;
		padding: 0.5rem 0.75rem;

		&:hover {
			background-color: var(--color-neutral-0);
		}
	}

	.dropzone-upload-container {
		align-items: center;
		border: 0.095rem dashed var(--color-neutral-4);
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		height: 15rem;
		justify-content: center;
		transition: border-color 0.3s;

		&.dropzone-upload-container-active {
			background-color: var(--color-action-primary-hover-lighten);
			border-color: var(--color-action-primary-default);

			.dropzone-upload-document-container {
				background-color: var(--color-neutral-0);
			}
		}
	}

	.dropzone-upload-document {
		.dropzone-upload-document-container {
			align-items: center;
			background-color: var(--color-action-primary-active-lighten);
			border-radius: 0.563rem;
			display: flex;
			height: 5rem;
			justify-content: center;
			margin-bottom: 1.688rem;
			width: 8.125rem;
		}

		.dropzone-upload-document-icon {
			height: 2rem;
			width: 2rem;
			filter: invert(23%) sepia(90%) saturate(3736%) hue-rotate(217deg)
				brightness(100%) contrast(96%);
		}
	}

	.dropzone-upload-text {
		color: var(--color-neutral-10);
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5rem;

		.dropzone-upload-text-container {
			align-items: center;
			margin-bottom: 0.813rem;
		}
	}
}
