@import 'cadmin-variables';

.cookies-banner {
	background-color: $cadmin-white;
	box-shadow: $cadmin-box-shadow-lg;
	display: none;
	left: 0;
	right: 0;
	z-index: 990;

	&.cookies-banner-bottom {
		bottom: 0;
		position: fixed;
	}

	&.cookies-banner-top {
		position: fixed;
		top: 0;
	}
}

.floating-icon-button {
	background-color: var(--gray-400);
	bottom: 24px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	height: 60px;
	left: 24px;
	position: fixed !important;
	transition: background-color 0.2s ease;
	width: 60px;
	z-index: 1030;
}

.floating-icon-button:hover {
	background-color: var(--gray-700);
}

.floating-icon-button .lexicon-icon {
	height: 30px;
	width: 30px;
}

.custom-floating-icon-image {
	bottom: 24px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	height: 60px;
	left: 24px;
	position: fixed !important;
	transition: background-color 0.2s ease;
	width: 60px;
	z-index: 1030;
}
