@import 'atlas-variables';

.cookies-banner {
	background-color: var(--white);
	box-shadow: $box-shadow-lg;
	color: var(--gray-900);
	display: none;
	left: 0;
	right: 0;
	z-index: 990;

	&.cookies-banner-bottom {
		bottom: 0;
		position: fixed;
	}

	&.cookies-banner-top {
		position: fixed;
		top: 0;
	}

	p a {
		text-decoration: underline;
	}
}

.cookies-banner-preview-mode {
	body {
		pointer-events: none;
	}

	.cookies-banner,
	.cookies-banner *,
	.custom-floating-icon-image,
	.floating-icon-button,
	.modal,
	.modal * {
		pointer-events: auto;
	}
}

.custom-floating-icon-image {
	bottom: 24px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	cursor: pointer;
	height: 60px;
	left: 24px;
	position: fixed !important;
	transition: background-color 0.2s ease;
	width: 60px;
	z-index: 1030;
}

.floating-icon-button {
	background-color: var(--gray-400);
	bottom: 24px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	height: 60px;
	left: 24px;
	position: fixed !important;
	transition: background-color 0.2s ease;
	width: 60px;
	z-index: 1030;
}

.floating-icon-button .lexicon-icon {
	height: 30px;
	width: 30px;
}

.floating-icon-button:hover {
	background-color: var(--gray-700);
}
