<p>
	Hello,
</p>

<p>
	A build for [$SUPPORT_TICKET$] ([$PATCHER_BUILD_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$] reaching [$STATUS$] status.
</p>

<p>
	Here is a link to view the build: <a href="[$VIEW_BUILD_URL$]">[$VIEW_BUILD_URL$]</a>.
</p>

<p>
	Here is a link to download the hotfix: <a href="[$DOWNLOAD_HOTFIX_URL$]">[$DOWNLOAD_HOTFIX_URL$]</a>.
</p>

<p>
	Automation tests have started for the hotfix. You will receive another email when the tests are complete. For questions regarding the procedures to deliver hotfixes, please contact your Support manager.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>