<p>
	Hello,
</p>

<p>
	A build for [$SUPPORT_TICKET$] ([$PATCHER_BUILD_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$] reaching [$QA_STATUS$] status.
</p>

<p>
	QA has analyzed the failed automation tests and confirmed the hotfix needs to be looked at for issues.
</p>

[$QA_COMMENTS_TEMPLATE$]

<p>
	Here is a link to view the build: <a href="[$VIEW_BUILD_URL$]">[$VIEW_BUILD_URL$]</a>.
</p>

<p>
	Please review the list of fixes. Once the issues are resolved, you may resubmit the build in Patcher.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>