<p>
	Hello,
</p>

<p>
	A build for [$SUPPORT_TICKET$] ([$PATCHER_BUILD_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$], has been in [$STATUS$] status for a couple of hours.
</p>

<p>
	Please kick off the build one more time.  You will receive another email if it fails or when it is complete. If the build remains in the same status for an extended period of time, please report the issue to your Support manager.
</p>

<p>
	Here is a link to view the build: <a href="[$VIEW_BUILD_URL$]">[$VIEW_BUILD_URL$]</a>.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>