<p>
	Hello,
</p>

<p>
	A build for [$SUPPORT_TICKET$] ([$PATCHER_BUILD_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$] reaching [$STATUS$] status.
</p>

<p>
	Patcher is unable to complete the build due to errors while rebasing, merging, or compiling.
</p>

<p>
	Here is a link to view the build: [$VIEW_BUILD_URL$].
</p>

<p>
    Please look through our <a href="[$VIEW_TROUBLESHOOTING_URL$]" target="_blank">troubleshooting guide</a> for solutions to known issues.
</p>

<p>
	Please review the list of fixes. Once the issues are resolved, you may resubmit the build in Patcher.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>