<?xml version="1.0"?>

<web-app id="Liferay_Portal" metadata-complete="true" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<context-param>
		<param-name>axis.servicesPath</param-name>
		<param-value>/api/axis/</param-value>
	</context-param>
	<context-param>
		<param-name>contextClass</param-name>
		<param-value>com.liferay.portal.spring.context.PortalApplicationContext</param-value>
	</context-param>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value></param-value>
	</context-param>
	<context-param>
		<param-name>com.ibm.websphere.portletcontainer.PortletDeploymentEnabled</param-name>
		<param-value>false</param-value>
	</context-param>
	<context-param>
		<param-name>osgi.http.endpoint</param-name>
		<param-value>/o/</param-value>
	</context-param>
	<session-config>
		<session-timeout>15</session-timeout>
		<cookie-config>
			<http-only>true</http-only>
		</cookie-config>
	</session-config>
	<mime-mapping>
		<extension>js</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>png</extension>
		<mime-type>image/png</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>xml</extension>
		<mime-type>text/xml</mime-type>
	</mime-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<location>/errors/code.jsp</location>
	</error-page>
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>/c/portal/protected</web-resource-name>
			<url-pattern>/c/portal/protected</url-pattern>
			<url-pattern>/ar/c/portal/protected</url-pattern>
			<url-pattern>/ar-SA/c/portal/protected</url-pattern>
			<url-pattern>/ar_SA/c/portal/protected</url-pattern>
			<url-pattern>/bg/c/portal/protected</url-pattern>
			<url-pattern>/bg-BG/c/portal/protected</url-pattern>
			<url-pattern>/bg_BG/c/portal/protected</url-pattern>
			<url-pattern>/ca/c/portal/protected</url-pattern>
			<url-pattern>/ca-AD/c/portal/protected</url-pattern>
			<url-pattern>/ca-ES/c/portal/protected</url-pattern>
			<url-pattern>/ca-ES-VALENCIA/c/portal/protected</url-pattern>
			<url-pattern>/ca_AD/c/portal/protected</url-pattern>
			<url-pattern>/ca_ES/c/portal/protected</url-pattern>
			<url-pattern>/ca_ES_VALENCIA/c/portal/protected</url-pattern>
			<url-pattern>/cs/c/portal/protected</url-pattern>
			<url-pattern>/cs-CZ/c/portal/protected</url-pattern>
			<url-pattern>/cs_CZ/c/portal/protected</url-pattern>
			<url-pattern>/da/c/portal/protected</url-pattern>
			<url-pattern>/da-DK/c/portal/protected</url-pattern>
			<url-pattern>/da_DK/c/portal/protected</url-pattern>
			<url-pattern>/de/c/portal/protected</url-pattern>
			<url-pattern>/de-AT/c/portal/protected</url-pattern>
			<url-pattern>/de-CH/c/portal/protected</url-pattern>
			<url-pattern>/de-DE/c/portal/protected</url-pattern>
			<url-pattern>/de_AT/c/portal/protected</url-pattern>
			<url-pattern>/de_CH/c/portal/protected</url-pattern>
			<url-pattern>/de_DE/c/portal/protected</url-pattern>
			<url-pattern>/el/c/portal/protected</url-pattern>
			<url-pattern>/el-GR/c/portal/protected</url-pattern>
			<url-pattern>/el_GR/c/portal/protected</url-pattern>
			<url-pattern>/en/c/portal/protected</url-pattern>
			<url-pattern>/en-AU/c/portal/protected</url-pattern>
			<url-pattern>/en-CA/c/portal/protected</url-pattern>
			<url-pattern>/en-GB/c/portal/protected</url-pattern>
			<url-pattern>/en-US/c/portal/protected</url-pattern>
			<url-pattern>/en_AU/c/portal/protected</url-pattern>
			<url-pattern>/en_CA/c/portal/protected</url-pattern>
			<url-pattern>/en_GB/c/portal/protected</url-pattern>
			<url-pattern>/en_US/c/portal/protected</url-pattern>
			<url-pattern>/es/c/portal/protected</url-pattern>
			<url-pattern>/es-AR/c/portal/protected</url-pattern>
			<url-pattern>/es-CO/c/portal/protected</url-pattern>
			<url-pattern>/es-ES/c/portal/protected</url-pattern>
			<url-pattern>/es-MX/c/portal/protected</url-pattern>
			<url-pattern>/es_AR/c/portal/protected</url-pattern>
			<url-pattern>/es_CO/c/portal/protected</url-pattern>
			<url-pattern>/es_ES/c/portal/protected</url-pattern>
			<url-pattern>/es_MX/c/portal/protected</url-pattern>
			<url-pattern>/et/c/portal/protected</url-pattern>
			<url-pattern>/et-EE/c/portal/protected</url-pattern>
			<url-pattern>/et_EE/c/portal/protected</url-pattern>
			<url-pattern>/eu/c/portal/protected</url-pattern>
			<url-pattern>/eu-ES/c/portal/protected</url-pattern>
			<url-pattern>/eu_ES/c/portal/protected</url-pattern>
			<url-pattern>/fa/c/portal/protected</url-pattern>
			<url-pattern>/fa-IR/c/portal/protected</url-pattern>
			<url-pattern>/fa_IR/c/portal/protected</url-pattern>
			<url-pattern>/fi/c/portal/protected</url-pattern>
			<url-pattern>/fi-FI/c/portal/protected</url-pattern>
			<url-pattern>/fi_FI/c/portal/protected</url-pattern>
			<url-pattern>/fr/c/portal/protected</url-pattern>
			<url-pattern>/fr-BE/c/portal/protected</url-pattern>
			<url-pattern>/fr-CA/c/portal/protected</url-pattern>
			<url-pattern>/fr-CH/c/portal/protected</url-pattern>
			<url-pattern>/fr-FR/c/portal/protected</url-pattern>
			<url-pattern>/fr_BE/c/portal/protected</url-pattern>
			<url-pattern>/fr_CA/c/portal/protected</url-pattern>
			<url-pattern>/fr_CH/c/portal/protected</url-pattern>
			<url-pattern>/fr_FR/c/portal/protected</url-pattern>
			<url-pattern>/gl/c/portal/protected</url-pattern>
			<url-pattern>/gl-ES/c/portal/protected</url-pattern>
			<url-pattern>/gl_ES/c/portal/protected</url-pattern>
			<url-pattern>/hi/c/portal/protected</url-pattern>
			<url-pattern>/hi-IN/c/portal/protected</url-pattern>
			<url-pattern>/hi_IN/c/portal/protected</url-pattern>
			<url-pattern>/hr/c/portal/protected</url-pattern>
			<url-pattern>/hr-HR/c/portal/protected</url-pattern>
			<url-pattern>/hr_HR/c/portal/protected</url-pattern>
			<url-pattern>/hu/c/portal/protected</url-pattern>
			<url-pattern>/hu-HU/c/portal/protected</url-pattern>
			<url-pattern>/hu_HU/c/portal/protected</url-pattern>
			<url-pattern>/in/c/portal/protected</url-pattern>
			<url-pattern>/in-ID/c/portal/protected</url-pattern>
			<url-pattern>/in_ID/c/portal/protected</url-pattern>
			<url-pattern>/it/c/portal/protected</url-pattern>
			<url-pattern>/it-CH/c/portal/protected</url-pattern>
			<url-pattern>/it-IT/c/portal/protected</url-pattern>
			<url-pattern>/it_CH/c/portal/protected</url-pattern>
			<url-pattern>/it_IT/c/portal/protected</url-pattern>
			<url-pattern>/iw/c/portal/protected</url-pattern>
			<url-pattern>/iw-IL/c/portal/protected</url-pattern>
			<url-pattern>/iw_IL/c/portal/protected</url-pattern>
			<url-pattern>/ja/c/portal/protected</url-pattern>
			<url-pattern>/ja-JP/c/portal/protected</url-pattern>
			<url-pattern>/ja_JP/c/portal/protected</url-pattern>
			<url-pattern>/kk/c/portal/protected</url-pattern>
			<url-pattern>/kk-KZ/c/portal/protected</url-pattern>
			<url-pattern>/kk_KZ/c/portal/protected</url-pattern>
			<url-pattern>/km/c/portal/protected</url-pattern>
			<url-pattern>/km-KH/c/portal/protected</url-pattern>
			<url-pattern>/km_KH/c/portal/protected</url-pattern>
			<url-pattern>/ko/c/portal/protected</url-pattern>
			<url-pattern>/ko-KR/c/portal/protected</url-pattern>
			<url-pattern>/ko_KR/c/portal/protected</url-pattern>
			<url-pattern>/lo/c/portal/protected</url-pattern>
			<url-pattern>/lo-LA/c/portal/protected</url-pattern>
			<url-pattern>/lo_LA/c/portal/protected</url-pattern>
			<url-pattern>/lt/c/portal/protected</url-pattern>
			<url-pattern>/lt-LT/c/portal/protected</url-pattern>
			<url-pattern>/lt_LT/c/portal/protected</url-pattern>
			<url-pattern>/mk/c/portal/protected</url-pattern>
			<url-pattern>/mk-MK/c/portal/protected</url-pattern>
			<url-pattern>/mk_MK/c/portal/protected</url-pattern>
			<url-pattern>/ms/c/portal/protected</url-pattern>
			<url-pattern>/ms-MY/c/portal/protected</url-pattern>
			<url-pattern>/ms_MY/c/portal/protected</url-pattern>
			<url-pattern>/nb/c/portal/protected</url-pattern>
			<url-pattern>/nb-NO/c/portal/protected</url-pattern>
			<url-pattern>/nb_NO/c/portal/protected</url-pattern>
			<url-pattern>/nl/c/portal/protected</url-pattern>
			<url-pattern>/nl-BE/c/portal/protected</url-pattern>
			<url-pattern>/nl-NL/c/portal/protected</url-pattern>
			<url-pattern>/nl_BE/c/portal/protected</url-pattern>
			<url-pattern>/nl_NL/c/portal/protected</url-pattern>
			<url-pattern>/pl/c/portal/protected</url-pattern>
			<url-pattern>/pl-PL/c/portal/protected</url-pattern>
			<url-pattern>/pl_PL/c/portal/protected</url-pattern>
			<url-pattern>/pt/c/portal/protected</url-pattern>
			<url-pattern>/pt-BR/c/portal/protected</url-pattern>
			<url-pattern>/pt-PT/c/portal/protected</url-pattern>
			<url-pattern>/pt_BR/c/portal/protected</url-pattern>
			<url-pattern>/pt_PT/c/portal/protected</url-pattern>
			<url-pattern>/ro/c/portal/protected</url-pattern>
			<url-pattern>/ro-RO/c/portal/protected</url-pattern>
			<url-pattern>/ro_RO/c/portal/protected</url-pattern>
			<url-pattern>/ru/c/portal/protected</url-pattern>
			<url-pattern>/ru-RU/c/portal/protected</url-pattern>
			<url-pattern>/ru_RU/c/portal/protected</url-pattern>
			<url-pattern>/sk/c/portal/protected</url-pattern>
			<url-pattern>/sk-SK/c/portal/protected</url-pattern>
			<url-pattern>/sk_SK/c/portal/protected</url-pattern>
			<url-pattern>/sl/c/portal/protected</url-pattern>
			<url-pattern>/sl-SI/c/portal/protected</url-pattern>
			<url-pattern>/sl_SI/c/portal/protected</url-pattern>
			<url-pattern>/sr/c/portal/protected</url-pattern>
			<url-pattern>/sr-RS/c/portal/protected</url-pattern>
			<url-pattern>/sr-RS-latin/c/portal/protected</url-pattern>
			<url-pattern>/sr_RS/c/portal/protected</url-pattern>
			<url-pattern>/sr_RS_latin/c/portal/protected</url-pattern>
			<url-pattern>/sv/c/portal/protected</url-pattern>
			<url-pattern>/sv-SE/c/portal/protected</url-pattern>
			<url-pattern>/sv_SE/c/portal/protected</url-pattern>
			<url-pattern>/ta/c/portal/protected</url-pattern>
			<url-pattern>/ta-IN/c/portal/protected</url-pattern>
			<url-pattern>/ta_IN/c/portal/protected</url-pattern>
			<url-pattern>/th/c/portal/protected</url-pattern>
			<url-pattern>/th-TH/c/portal/protected</url-pattern>
			<url-pattern>/th_TH/c/portal/protected</url-pattern>
			<url-pattern>/tr/c/portal/protected</url-pattern>
			<url-pattern>/tr-TR/c/portal/protected</url-pattern>
			<url-pattern>/tr_TR/c/portal/protected</url-pattern>
			<url-pattern>/uk/c/portal/protected</url-pattern>
			<url-pattern>/uk-UA/c/portal/protected</url-pattern>
			<url-pattern>/uk_UA/c/portal/protected</url-pattern>
			<url-pattern>/vi/c/portal/protected</url-pattern>
			<url-pattern>/vi-VN/c/portal/protected</url-pattern>
			<url-pattern>/vi_VN/c/portal/protected</url-pattern>
			<url-pattern>/zh/c/portal/protected</url-pattern>
			<url-pattern>/zh-CN/c/portal/protected</url-pattern>
			<url-pattern>/zh-TW/c/portal/protected</url-pattern>
			<url-pattern>/zh_CN/c/portal/protected</url-pattern>
			<url-pattern>/zh_TW/c/portal/protected</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>users</role-name>
		</auth-constraint>
		<user-data-constraint>
			<transport-guarantee>NONE</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	<login-config>
		<auth-method>FORM</auth-method>
		<realm-name>PortalRealm</realm-name>
		<form-login-config>
			<form-login-page>/c/portal/j_login</form-login-page>
			<form-error-page>/c/portal/j_login_error</form-error-page>
		</form-login-config>
	</login-config>
	<security-role>
		<role-name>users</role-name>
	</security-role>
</web-app>