// .badge

$badge-border-color: var(--badge-border-color, transparent) !default;
$badge-border-radius: var(--badge-border-radius, $rounded-pill) !default;
$badge-border-style: solid !default;
$badge-border-width: var(--badge-border-width, 1px) !default;
$badge-font-size: var(--badge-font-size, 0.625rem) !default;
$badge-font-weight: var(--badge-font-weight, $font-weight-semi-bold) !default;
$badge-line-height: var(--badge-line-height, 1.1) !default;
$badge-padding-x: var(--badge-padding-x, 0.25rem) !default;
$badge-padding-y: var(--badge-padding-y, 0.09375rem) !default;
$badge-transition: $component-transition !default;

$badge-spacer-x: var(--badge-spacer-x, 0.25rem) !default;
$badge-spacer-y: var(--badge-spacer-y, 0.125rem) !default;

$badge-focus-width: $input-btn-focus-width !default;

// .badge a

$badge-link-color: var(--badge-link-color, $white) !default;
$badge-link-text-decoration: var(
	--badge-link-text-decoration,
	underline
) !default;

$badge-link-hover-color: var(--badge-link-hover-color, $white) !default;
$badge-link-hover-text-decoration: var(
	--badge-link-hover-text-decoration,
	none
) !default;

$badge: () !default;
$badge: map-deep-merge(
	(
		border-color: $badge-border-color,
		border-radius: clay-enable-rounded($badge-border-radius),
		border-style: $badge-border-style,
		border-width: $badge-border-width,
		display: inline-flex,
		font-size: $badge-font-size,
		font-weight: $badge-font-weight,
		line-height: $badge-line-height,
		margin-bottom: $badge-spacer-y,
		margin-right: $badge-spacer-x,
		margin-top: $badge-spacer-y,
		max-width: 100%,
		padding-bottom: $badge-padding-y,
		padding-left: $badge-padding-x,
		padding-right: $badge-padding-x,
		padding-top: $badge-padding-y,
		text-align: center,
		transition: clay-enable-transitions($badge-transition),
		white-space: inherit,
		word-wrap: break-word,

		empty: (
			display: none,
		),

		href: (
			hover: (
				text-decoration: none,
			),

			focus: (
				box-shadow: $component-focus-box-shadow,
				outline: 0,
			),
		),

		link: (
			color: $badge-link-color,
			text-decoration: $badge-link-text-decoration,

			hover: (
				color: $badge-link-hover-color,
				text-decoration: $badge-link-hover-text-decoration,
			),

			focus: (
				color: $badge-link-hover-color,
				text-decoration: $badge-link-hover-text-decoration,
			),
		),

		c-inner: (
			margin: calc(#{$badge-padding-y} * -1)
				calc(#{$badge-padding-x} * -1),
			max-width: none,
		),
	),
	$badge
);

// .badge-item .lexicon-icon

$badge-lexicon-icon-height: var(--badge-lexicon-icon-height, 0.875em) !default;
$badge-lexicon-icon-margin-top: var(
	--badge-lexicon-icon-margin-top,
	0px
) !default;
$badge-lexicon-icon-width: var(--badge-lexicon-icon-width, 0.875em) !default;

// .badge-item-expand

$badge-item-expand-min-width: 6px !default;

// .badge-item-before, .badge-item-after

$badge-item-spacer-x: var(--badge-item-spacer-x, 0.85714em) !default;

// .badge-item .close

$badge-close: () !default;
$badge-close: map-deep-merge(
	(
		border-radius: 1px,
		color: inherit,
		display: inline-flex,
		font-size: inherit,
		height: auto,
		opacity: 1,
		width: auto,

		hover: (
			color: inherit,
			opacity: 1,
		),

		focus: (
			opacity: 1,
		),
	),
	$badge-close
);

// .badge-pill

$badge-pill-border-radius: 10rem !default;
$badge-pill-padding-x: 0.6em !default;

$badge-pill: () !default;
$badge-pill: map-deep-merge(
	(
		border-radius: clay-enable-rounded($badge-pill-border-radius),
		padding-left: $badge-pill-padding-x,
		padding-right: $badge-pill-padding-x,
	),
	$badge-pill
);

// .badge-primary

$badge-primary: () !default;
$badge-primary: map-deep-merge(
	(
		background-color: var(--badge-primary-background-color, $primary),
		border-color: var(--badge-primary-border-color, transparent),
		color: var(--badge-primary-color, $white),
		href: (
			hover: (
				background-color:
					var(--badge-primary-hover-background-color, $primary-d1),
				border-color:
					var(--badge-primary-hover-border-color, transparent),
				color: var(--badge-primary-hover-color, $white),
			),

			focus: (),
		),

		link: (),
	),
	$badge-primary
);

// .badge-secondary

$badge-secondary: () !default;
$badge-secondary: map-deep-merge(
	(
		background-color: var(--badge-secondary-background-color, $secondary-l3),
		border-color: var(--badge-secondary-border-color, transparent),
		color: var(--badge-secondary-color, $gray-900),
		href: (
			hover: (
				background-color:
					var(--badge-secondary-hover-background-color, $secondary-l2),
				border-color:
					var(--badge-secondary-hover-border-color, transparent),
				color: var(--badge-secondary-hover-color, $gray-900),
			),

			focus: (),
		),

		link: (),
	),
	$badge-secondary
);

// .badge-success

$badge-success: () !default;
$badge-success: map-deep-merge(
	(
		background-color: var(--badge-success-background-color, $success),
		border-color: var(--badge-success-border-color, transparent),
		color: var(--badge-success-color, $white),
		href: (
			hover: (
				background-color:
					var(--badge-success-hover-background-color, $success-d1),
				border-color:
					var(--badge-success-hover-border-color, transparent),
				color: var(--badge-success-hover-color, $white),
			),

			focus: (),
		),

		link: (),
	),
	$badge-success
);

// .badge-info

$badge-info: () !default;
$badge-info: map-deep-merge(
	(
		background-color: var(--badge-info-background-color, $info),
		border-color: var(--badge-info-border-color, transparent),
		color: var(--badge-info-color, $white),
		href: (
			hover: (
				background-color:
					var(--badge-info-hover-background-color, $info-d1),
				border-color: var(--badge-info-hover-border-color, transparent),
				color: var(--badge-info-hover-color, $white),
			),

			focus: (),
		),

		link: (),
	),
	$badge-info
);

// .badge-warning

$badge-warning: () !default;
$badge-warning: map-deep-merge(
	(
		background-color: var(--badge-warning-background-color, $warning),
		border-color: var(--badge-warning-border-color, transparent),
		color: var(--badge-warning-color, $white),
		href: (
			hover: (
				background-color:
					var(--badge-warning-hover-background-color, $warning-d1),
				border-color:
					var(--badge-warning-hover-border-color, transparent),
				color: var(--badge-warning-hover-color, $white),
			),

			focus: (),
		),

		link: (),
	),
	$badge-warning
);

// .badge-danger

$badge-danger: () !default;
$badge-danger: map-deep-merge(
	(
		background-color: var(--badge-danger-background-color, $danger),
		border-color: var(--badge-danger-border-color, transparent),
		color: var(--badge-danger-color, $white),
		href: (
			hover: (
				background-color:
					var(--badge-danger-hover-background-color, $danger-d1),
				border-color:
					var(--badge-danger-hover-border-color, transparent),
				color: var(--badge-danger-hover-color, $white),
			),

			focus: (),
		),

		link: (),
	),
	$badge-danger
);

$badge-palette: () !default;
$badge-palette: map-deep-merge(
	(
		primary: $badge-primary,

		secondary: $badge-secondary,

		success: $badge-success,

		info: $badge-info,

		warning: $badge-warning,

		danger: $badge-danger,

		'.badge-translucent.badge-primary': (
			background-color: unquote('hsl(from #{$primary-d1} h s l / 0.04)'),
			border-color: transparent,
			color: $primary-d1,
		),

		'.badge-translucent.badge-info, .badge-beta': (
			background-color: unquote('hsl(from #{$info-d1} h s l / 0.04)'),
			border-color: transparent,
			color: $info-d1,
		),

		'.badge-translucent.badge-success': (
			background-color: unquote('hsl(from #{$success-d1} h s l / 0.04)'),
			border-color: transparent,
			color: $success-d1,
		),

		'.badge-translucent.badge-warning': (
			background-color: unquote('hsl(from #{$warning-d1} h s l / 0.04)'),
			border-color: transparent,
			color: $warning-d1,
		),

		'.badge-translucent.badge-danger': (
			background-color: unquote('hsl(from #{$danger-d1} h s l / 0.04)'),
			border-color: transparent,
			color: $danger-d1,
		),

		'%clay-dark-badge-translucent-primary': (
			background-color: unquote('hsl(from #{$primary-l2} h s l / 0.04)'),
			border-color: transparent,
			color: $primary-l1,
		),

		'.clay-dark .badge-translucent.badge-primary': (
			extend: '%clay-dark-badge-translucent-primary',
		),

		'.clay-dark.badge-translucent.badge-primary': (
			extend: '%clay-dark-badge-translucent-primary',
		),

		'%clay-dark-badge-translucent-info': (
			background-color: unquote('hsl(from #{$info-l2} h s l / 0.04)'),
			border-color: transparent,
			color: $info-l1,
		),

		'.clay-dark .badge-translucent.badge-info, .badge-beta-dark': (
			extend: '%clay-dark-badge-translucent-info',
		),

		'.clay-dark.badge-translucent.badge-info': (
			extend: '%clay-dark-badge-translucent-info',
		),

		'%clay-dark-badge-translucent-success': (
			background-color: unquote('hsl(from #{$success-l2} h s l / 0.04)'),
			border-color: transparent,
			color: $success-l1,
		),

		'.clay-dark .badge-translucent.badge-success': (
			extend: '%clay-dark-badge-translucent-success',
		),

		'.clay-dark.badge-translucent.badge-success': (
			extend: '%clay-dark-badge-translucent-success',
		),

		'%clay-dark-badge-translucent-warning': (
			background-color: unquote('hsl(from #{$warning-l2} h s l / 0.04)'),
			border-color: transparent,
			color: $warning-l1,
		),

		'.clay-dark .badge-translucent.badge-warning': (
			extend: '%clay-dark-badge-translucent-warning',
		),

		'.clay-dark.badge-translucent.badge-warning': (
			extend: '%clay-dark-badge-translucent-warning',
		),

		'%clay-dark-badge-translucent-danger': (
			background-color: unquote('hsl(from #{$danger-l2} h s l / 0.04)'),
			border-color: transparent,
			color: $danger-l1,
		),

		'.clay-dark .badge-translucent.badge-danger': (
			extend: '%clay-dark-badge-translucent-danger',
		),

		'.clay-dark.badge-translucent.badge-danger': (
			extend: '%clay-dark-badge-translucent-danger',
		),
	),
	$badge-palette
);
