$progress-bg: var(--progress-background-color, $gray-200) !default;
$progress-border-radius: var(--progress-border-radius, 100px) !default;
$progress-box-shadow: var(--progress-box-shadow, none) !default;
$progress-font-size: var(--progress-font-size, 9px) !default;
$progress-height: var(--progress-height, 8px) !default;
$progress-min-width: var(--progress-min-width, 100px) !default;

$progress-bar-animation-timing: var(
	--progress-bar-animation-timing,
	1s linear infinite
) !default;
$progress-bar-bg: var(--progress-bar-background-color, $primary) !default;
$progress-bar-box-shadow: var(--progress-bar-box-shadow, null) !default;
$progress-bar-color: var(--progress-bar-color, $white) !default;
$progress-bar-transition: var(
	--progress-bar-transition,
	width 0.6s ease
) !default;

// Progress Sizes

$progress-border-radius-lg: var(--progress-border-radius-lg, 100px) !default;
$progress-font-size-lg: var(--progress-font-size-lg, $font-size-lg) !default;
$progress-height-lg: var(
	--progress-height-lg,
	calc(#{$progress-height} * 2)
) !default;

// Progress Group

$progress-group-subtitle: () !default;
$progress-group-subtitle: map-deep-merge(
	(
		font-size: var(--progress-group-subtitle-font-size, 12px),
		font-weight:
			var(--progress-group-subtitle-font-weight, $font-weight-normal),
	),
	$progress-group-subtitle
);

$progress-group-addon-font-size: var(
	--progress-group-addon-font-size,
	14px
) !default;
$progress-group-addon-font-weight: var(
	--progress-group-addon-font-weight,
	$font-weight-semi-bold
) !default;
$progress-group-addon-spacer-x: var(
	--progress-group-addon-spacer-x,
	16px
) !default;

$progress-group-addon: () !default;
$progress-group-addon: map-deep-merge(
	(
		font-size: $progress-group-addon-font-size,
		font-weight: $progress-group-addon-font-weight,
		margin-right: $progress-group-addon-spacer-x,
		min-width: var(--progress-group-addon-min-width, 32px),
		text-align: var(--progress-group-addon-text-align, center),
		first-child: (
			padding-left: 0,
		),

		last-child: (
			padding-right: 0,
		),
	),
	$progress-group-addon
);

$progress-group-stacked-progress-margin-bottom: var(
	--progress-group-stacked-progress-margin-bottom,
	4px
) !default;
$progress-group-stacked-progress-margin-top: var(
	--progress-group-stacked-progress-margin-top,
	4px
) !default;

// Progress Variants

$progress-group-feedback-color: var(
	--progress-group-feedback-color,
	$primary
) !default;

$progress-bar-danger-bg: var(
	--progress-bar-danger-background-color,
	$danger
) !default;
$progress-group-feedback-danger-color: var(
	--progress-group-feedback-danger-color,
	$progress-bar-danger-bg
) !default;

$progress-bar-info-bg: var(
	--progress-bar-info-background-color,
	$info
) !default;
$progress-group-feedback-info-color: var(
	--progress-group-feedback-info-color,
	$progress-bar-info-bg
) !default;

$progress-bar-success-bg: var(
	--progress-bar-success-background-color,
	$success
) !default;
$progress-group-feedback-success-color: var(
	--progress-group-feedback-success-color,
	$progress-bar-success-bg
) !default;

$progress-bar-warning-bg: var(
	--progress-bar-warning-background-color,
	$warning
) !default;
$progress-group-feedback-warning-color: var(
	--progress-group-feedback-warning-color,
	$progress-bar-warning-bg
) !default;

$progress-palette: () !default;
$progress-palette: map-deep-merge(
	(
		success: (
			bar-bg: $progress-bar-success-bg,
			group-feedback-color: $progress-group-feedback-success-color,
		),

		info: (
			bar-bg: $progress-bar-info-bg,
			group-feedback-color: $progress-group-feedback-info-color,
		),

		warning: (
			bar-bg: $progress-bar-warning-bg,
			group-feedback-color: $progress-group-feedback-warning-color,
		),

		danger: (
			bar-bg: $progress-bar-danger-bg,
			group-feedback-color: $progress-group-feedback-danger-color,
		),
	),
	$progress-palette
);
