.ticket-container{
	background: var(--color-brand-primary-lighten-6, #FBFCFE);
	border-color: var(--color-brand-primary-lighten-5, #E7EFFF);
	border-radius: var(--border-radius-lg, 10px);
	border-style: solid;
	border-width: 1px;
	font-family: var(--font-family-sans-serif, "Source Sans 3");
	height: 40px;

	&:hover {
		cursor: pointer;

		.ticket-button-option, .ticket-button-selected {
			display: flex!important;
		}
	
		.ticket-status {
			display: none!important;
		}
	}

	.ticket-label {
		border-color: transparent;
		border-radius: var(--border-radius-lg, 10px) 0px 0px var(--border-radius-lg, 10px);
		border-style: solid;
		border-width: 1px;

		&.ticket-label-exhibit {
			border-radius: var(--border-radius-lg, 10px)!important;
		}

		&:hover {
			background-color: var(--color-action-primary-hover-lighten, #EDF3FE);
			border-color: var(--color-action-primary-hover, #0053F0);

	
			.ticket-text-container {
				color: var(--color-action-primary-hover, #0053F0);
	
				.ticket-link-icon-exhibit, .ticket-link-icon-selected {
					display: block!important;
				}
			}
		}

		.ticket-status {
			background-color: var(--color-state-info-lighten-2, #E6EBF5);
			border-radius: var(--border-radius-sm, 4px);
			color: var(--color-state-info-darken-2, #1C3667);
			font-size: var(--text-paragraph-xs-font-size, 11px);
			font-weight: 400;
			height: 16px;
			line-height: var(--text-paragraph-xs-line-height, 16px);
			margin-top: 0.125rem;
			width: 12rem;
		}
	
		.ticket-text-container {
			color: var(--color-neutral-8, #54555F);
			font-size: var(--text-paragraph-sm-font-size, 13px);
			font-weight: 600;
			line-height: var(--text-small-caps-line-height, 16px);

			.ticket-text {
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	.ticket-button {
		border-color: transparent;
		border-radius: 0px var(--border-radius-lg, 10px) var(--border-radius-lg, 10px) 0px;
		border-style: solid;
		border-width: 1px;
		
		&:hover {
			background-color: var(--color-action-primary-hover-lighten, #EDF3FE);
			border-color: var(--color-action-primary-hover, #0053F0);
			color: var(--color-action-primary-hover, #0053F0);

			.ticket-button-icon {
				color: var(--color-action-primary-hover, #0053F0);
			}
		}

		.ticket-button-icon {
			color: var(--color-neutral-8, #54555F);
		}
	}
}