$cadmin-lexicon-icon-size: 1em !default; // 16px

$cadmin-lexicon-icon: () !default;
$cadmin-lexicon-icon: map-merge(
	(
		display: inline-block,
		fill: currentColor,
		height: $cadmin-lexicon-icon-size,
		margin-top: -3px,
		vertical-align: middle,
		width: $cadmin-lexicon-icon-size,
	),
	$cadmin-lexicon-icon
);

$cadmin-collapse-icon-padding-left: null !default;
$cadmin-collapse-icon-padding-right: 45px !default; // 45px

$cadmin-collapse-icon-position-bottom: null !default;
$cadmin-collapse-icon-position-left: null !default;
$cadmin-collapse-icon-position-right: 15px !default; // 15px
$cadmin-collapse-icon-position-top: clay-collapse-icon-align(
	$cadmin-nav-link-padding-y,
	1px,
	0.9375em
) !default;

$cadmin-order-arrow-active-font-size: 1rem !default; // 16px

$cadmin-order-arrow-down-active-color: $cadmin-gray-900 !default;
$cadmin-order-arrow-up-active-color: $cadmin-order-arrow-down-active-color !default;
