// .label

$cadmin-label-border-color: $cadmin-gray-900 !default;
$cadmin-label-border-radius: 4px !default;
$cadmin-label-border-style: solid !default;
$cadmin-label-border-width: 1px !default;
$cadmin-label-color: null !default;
$cadmin-label-font-size: 12px !default; // 12px
$cadmin-label-font-weight: $cadmin-font-weight-semi-bold !default;
$cadmin-label-height: null !default;
$cadmin-label-line-height: 1 !default;
$cadmin-label-padding-x: 4px !default; // 4px
$cadmin-label-padding-y: 2px !default; // 2px
$cadmin-label-spacer-x: 4px !default; // 4px
$cadmin-label-spacer-y: 2px !default; // 2px
$cadmin-label-text-transform: none !default;

// .label .sticker

$cadmin-label-sticker-border-radius: 100px !default;
$cadmin-label-sticker-size: 0.875em !default;

// .label[href], .label[type], .label[tabindex='0']

$cadmin-label-anchor-text-decoration: none !default;

$cadmin-label-anchor-hover-text-decoration: underline !default;

// .label a, .label .btn-unstyled

$cadmin-label-link-color: inherit !default;
$cadmin-label-link-text-decoration: none !default;

$cadmin-label-link-hover-color: inherit !default;
$cadmin-label-link-hover-text-decoration: underline !default;

$cadmin-label-base: () !default;

$cadmin-label: () !default;
$cadmin-label: map-deep-merge(
	(
		border-color: $cadmin-label-border-color,
		border-radius: clay-enable-rounded($cadmin-label-border-radius),
		border-style: $cadmin-label-border-style,
		border-width: $cadmin-label-border-width,
		color: $cadmin-label-color,
		display: inline-flex,
		font-size: $cadmin-label-font-size,
		font-weight: $cadmin-label-font-weight,
		height: $cadmin-label-height,
		line-height: $cadmin-label-line-height,
		margin-bottom: $cadmin-label-spacer-y,
		margin-right: $cadmin-label-spacer-x,
		margin-top: $cadmin-label-spacer-y,
		max-width: 100%,
		outline: 0,
		padding-bottom: $cadmin-label-padding-y,
		padding-left: $cadmin-label-padding-x,
		padding-right: $cadmin-label-padding-x,
		padding-top: $cadmin-label-padding-y,
		text-transform: $cadmin-label-text-transform,
		transition: box-shadow 0.15s ease-in-out,
		white-space: inherit,
		word-wrap: break-word,

		disabled: (
			box-shadow: none,
		),

		href: (
			cursor: $cadmin-link-cursor,
			text-decoration: $cadmin-label-anchor-text-decoration,

			hover: (
				text-decoration: $cadmin-label-anchor-hover-text-decoration,
			),

			focus: (
				box-shadow: $cadmin-component-focus-box-shadow,
				text-decoration: $cadmin-label-anchor-hover-text-decoration,
			),
		),

		link: (
			color: $cadmin-label-link-color,
			display: inline-block,
			text-decoration: $cadmin-label-link-text-decoration,

			hover: (
				color: $cadmin-label-link-hover-color,
				text-decoration: $cadmin-label-link-hover-text-decoration,
			),

			focus: (
				color: $cadmin-label-link-hover-color,
				text-decoration: $cadmin-label-link-hover-text-decoration,
			),
		),

		sticker: (
			border-radius: $cadmin-label-sticker-border-radius,
			height: $cadmin-label-sticker-size,
			line-height: $cadmin-label-sticker-size,
			width: $cadmin-label-sticker-size,
		),

		sticker-overlay: (
			border-radius: $cadmin-label-sticker-border-radius,
		),

		c-inner: (
			margin-bottom: calc(#{$cadmin-label-padding-y} * -1),
			margin-left: calc(#{$cadmin-label-padding-x} * -1),
			margin-right: calc(#{$cadmin-label-padding-x} * -1),
			margin-top: calc(#{$cadmin-label-padding-y} * -1),
			max-width: none,
		),
	),
	$cadmin-label
);
$cadmin-label: map-deep-merge($cadmin-label, $cadmin-label-base);

// .label-dismissible

$cadmin-label-dismissible-text-transform: null !default;

$cadmin-label-dismissible: () !default;
$cadmin-label-dismissible: map-merge(
	(
		text-transform: $cadmin-label-dismissible-text-transform,
	),
	$cadmin-label-dismissible
);

// .label-item .close

$cadmin-label-close: () !default;
$cadmin-label-close: map-deep-merge(
	(
		border-radius: 5000px,
		color: inherit,
		display: inline-flex,
		font-size: 16px,
		height: 24px,
		margin: -5px -4px,
		opacity: 1,
		width: 24px,

		hover: (
			color: inherit,
			opacity: 1,
		),

		focus: (
			opacity: 1,
		),

		disabled: (
			color: inherit,
			opacity: $cadmin-component-disabled-opacity,
		),
	),
	$cadmin-label-close
);

// .label-item

$cadmin-label-item-spacer-x: 0.85714em !default;
$cadmin-label-item-spacer-y: null !default;

$cadmin-label-lexicon-icon-height: null !default;
$cadmin-label-lexicon-icon-margin-top: 0px !default;
$cadmin-label-lexicon-icon-width: null !default;

$cadmin-label-item: () !default;
$cadmin-label-item: map-deep-merge(
	(
		display: flex,
		flex-direction: column,
		flex-shrink: 0,
		justify-content: center,
		margin-bottom: $cadmin-label-item-spacer-y,
		margin-top: $cadmin-label-item-spacer-y,
		min-height: 0px,
		position: relative,

		link: (
			display: inline-flex,
		),

		btn-unstyled: (
			color: inherit,
			display: inline-flex,
		),

		close: $cadmin-label-close,

		lexicon-icon: (
			height: $cadmin-label-lexicon-icon-height,
			margin-top: $cadmin-label-lexicon-icon-margin-top,
			width: $cadmin-label-lexicon-icon-width,
		),

		text-truncate-inline: (
			display: inline-flex,
		),
	),
	$cadmin-label-item
);

// .label-item-expand

$cadmin-label-item-expand: () !default;
$cadmin-label-item-expand: map-deep-merge(
	(
		flex-grow: 1,
		flex-shrink: 1,
		min-width: 16px,
		word-wrap: break-word,

		link: (
			flex-direction: column,
		),
	),
	$cadmin-label-item-expand
);

// .label-item-before

$cadmin-label-item-before: () !default;
$cadmin-label-item-before: map-merge(
	(
		margin-right: $cadmin-label-item-spacer-x,
	),
	$cadmin-label-item-before
);

// .label-item-after

$cadmin-label-item-after: () !default;
$cadmin-label-item-after: map-merge(
	(
		margin-left: $cadmin-label-item-spacer-x,
	),
	$cadmin-label-item-after
);

// Label Sizes

$cadmin-label-lg: () !default;
$cadmin-label-lg: map-deep-merge(
	(
		font-size: 14px,
		height: auto,
		min-height: 24px,
		padding-bottom: 5px,
		padding-left: 8px,
		padding-right: 8px,
		padding-top: 5px,
		text-transform: none,

		label-item: (
			margin-bottom: -1px,
			margin-top: -1px,
		),

		lexicon-icon: (
			height: 1em,
			width: 1em,
		),

		sticker: (
			height: 14px,
			line-height: 14px,
			width: 14px,
		),
	),
	$cadmin-label-lg
);

$cadmin-label-sm: () !default;
$cadmin-label-sm: map-deep-merge(
	(
		font-size: 12px,
		height: auto,
		min-height: 16px,
		padding-bottom: 1px,
		padding-left: 4px,
		padding-right: 4px,
		padding-top: 1px,
		text-transform: none,

		label-item: (
			margin-bottom: -1px,
			margin-top: -1px,
		),

		lexicon-icon: (
			height: 1em,
			width: 1em,
		),

		sticker: (
			height: 12px,
			line-height: 12px,
			width: 12px,
		),
	),
	$cadmin-label-sm
);

$cadmin-label-sizes: () !default;
$cadmin-label-sizes: map-deep-merge(
	(
		label-lg: $cadmin-label-lg,
		label-sm: $cadmin-label-sm,
	),
	$cadmin-label-sizes
);

// Label Variants

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-color: $cadmin-primary !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-hover-color: $cadmin-primary-d2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-border-color: $cadmin-primary-l1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-hover-border-color: $cadmin-label-primary-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-primary` instead

$cadmin-label-primary-link-hover-color: $cadmin-label-primary-hover-color !default;

$cadmin-label-primary-close: () !default;
$cadmin-label-primary-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-primary-hover-color,
		),

		focus: (
			color: $cadmin-label-primary-hover-color,
		),
	),
	$cadmin-label-primary-close
);

$cadmin-label-primary: () !default;
$cadmin-label-primary: map-deep-merge(
	(
		background-color: $cadmin-label-primary-bg,
		border-color: $cadmin-label-primary-border-color,
		color: $cadmin-label-primary-color,

		href: (
			hover: (
				background-color: $cadmin-label-primary-hover-bg,
				border-color: $cadmin-label-primary-hover-border-color,
				color: $cadmin-label-primary-hover-color,
			),

			focus: (
				color: $cadmin-label-primary-hover-color,
			),
		),

		link: (
			color: $cadmin-label-primary-link-color,

			hover: (
				color: $cadmin-label-primary-link-hover-color,
			),
		),

		close: $cadmin-label-primary-close,
	),
	$cadmin-label-primary
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-color: $cadmin-dark-l2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-hover-color: $cadmin-gray-900 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-border-color: $cadmin-secondary-l2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-hover-border-color: $cadmin-label-secondary-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-secondary` instead

$cadmin-label-secondary-link-hover-color: $cadmin-label-secondary-hover-color !default;

$cadmin-label-secondary-close: () !default;
$cadmin-label-secondary-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-secondary-hover-color,
		),

		focus: (
			color: $cadmin-label-secondary-hover-color,
		),
	),
	$cadmin-label-secondary-close
);

$cadmin-label-secondary: () !default;
$cadmin-label-secondary: map-deep-merge(
	(
		background-color: $cadmin-label-secondary-bg,
		border-color: $cadmin-label-secondary-border-color,
		color: $cadmin-label-secondary-color,

		href: (
			hover: (
				background-color: $cadmin-label-secondary-hover-bg,
				border-color: $cadmin-label-secondary-hover-border-color,
				color: $cadmin-label-secondary-hover-color,
			),

			focus: (
				color: $cadmin-label-secondary-hover-color,
			),
		),

		link: (
			color: $cadmin-label-secondary-link-color,

			hover: (
				color: $cadmin-label-secondary-link-hover-color,
			),
		),

		close: $cadmin-label-secondary-close,
	),
	$cadmin-label-secondary
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-color: $cadmin-success-d1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-hover-color: $cadmin-success-d2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-border-color: $cadmin-success-l1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-hover-border-color: $cadmin-label-success-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-success` instead

$cadmin-label-success-link-hover-color: $cadmin-label-success-hover-color !default;

$cadmin-label-success-close: () !default;
$cadmin-label-success-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-success-hover-color,
		),

		focus: (
			color: $cadmin-label-success-hover-color,
		),
	),
	$cadmin-label-success-close
);

$cadmin-label-success: () !default;
$cadmin-label-success: map-deep-merge(
	(
		background-color: $cadmin-label-success-bg,
		border-color: $cadmin-label-success-border-color,
		color: $cadmin-label-success-color,

		href: (
			hover: (
				background-color: $cadmin-label-success-hover-bg,
				border-color: $cadmin-label-success-hover-border-color,
				color: $cadmin-label-success-hover-color,
			),

			focus: (
				color: $cadmin-label-success-hover-color,
			),
		),

		link: (
			color: $cadmin-label-success-link-color,

			hover: (
				color: $cadmin-label-success-link-hover-color,
			),
		),

		close: $cadmin-label-success-close,
	),
	$cadmin-label-success
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-color: $cadmin-info-d1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-hover-color: $cadmin-info-d2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-border-color: $cadmin-info-l1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-hover-border-color: $cadmin-label-info-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-info` instead

$cadmin-label-info-link-hover-color: $cadmin-label-info-hover-color !default;

$cadmin-label-info-close: () !default;
$cadmin-label-info-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-info-hover-color,
		),

		focus: (
			color: $cadmin-label-info-hover-color,
		),
	),
	$cadmin-label-info-close
);

$cadmin-label-info: () !default;
$cadmin-label-info: map-deep-merge(
	(
		background-color: $cadmin-label-info-bg,
		border-color: $cadmin-label-info-border-color,
		color: $cadmin-label-info-color,

		href: (
			hover: (
				background-color: $cadmin-label-info-hover-bg,
				border-color: $cadmin-label-info-hover-border-color,
				color: $cadmin-label-info-hover-color,
			),

			focus: (
				color: $cadmin-label-info-hover-color,
			),
		),

		link: (
			color: $cadmin-label-info-link-color,

			hover: (
				color: $cadmin-label-info-link-hover-color,
			),
		),

		close: $cadmin-label-info-close,
	),
	$cadmin-label-info
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-color: $cadmin-warning-d1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-hover-color: $cadmin-warning-d2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-border-color: $cadmin-warning-l1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-hover-border-color: $cadmin-label-warning-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-warning` instead

$cadmin-label-warning-link-hover-color: $cadmin-label-warning-hover-color !default;

$cadmin-label-warning-close: () !default;
$cadmin-label-warning-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-warning-hover-color,
		),

		focus: (
			color: $cadmin-label-warning-hover-color,
		),
	),
	$cadmin-label-warning-close
);

$cadmin-label-warning: () !default;
$cadmin-label-warning: map-deep-merge(
	(
		background-color: $cadmin-label-warning-bg,
		border-color: $cadmin-label-warning-border-color,
		color: $cadmin-label-warning-color,

		href: (
			hover: (
				background-color: $cadmin-label-warning-hover-bg,
				border-color: $cadmin-label-warning-hover-border-color,
				color: $cadmin-label-warning-hover-color,
			),

			focus: (
				color: $cadmin-label-warning-hover-color,
			),
		),

		link: (
			color: $cadmin-label-warning-link-color,

			hover: (
				color: $cadmin-label-warning-link-hover-color,
			),
		),

		close: $cadmin-label-warning-close,
	),
	$cadmin-label-warning
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-color: $cadmin-danger-d1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-hover-color: $cadmin-danger-d2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-border-color: $cadmin-danger-l1 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-hover-border-color: $cadmin-label-danger-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-danger` instead

$cadmin-label-danger-link-hover-color: $cadmin-label-danger-hover-color !default;

$cadmin-label-danger-close: () !default;
$cadmin-label-danger-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-danger-hover-color,
		),

		focus: (
			color: $cadmin-label-danger-hover-color,
		),
	),
	$cadmin-label-danger-close
);

$cadmin-label-danger: () !default;
$cadmin-label-danger: map-deep-merge(
	(
		background-color: $cadmin-label-danger-bg,
		border-color: $cadmin-label-danger-border-color,
		color: $cadmin-label-danger-color,

		href: (
			hover: (
				background-color: $cadmin-label-danger-hover-bg,
				border-color: $cadmin-label-danger-hover-border-color,
				color: $cadmin-label-danger-hover-color,
			),

			focus: (
				color: $cadmin-label-danger-hover-color,
			),
		),

		link: (
			color: $cadmin-label-danger-link-color,

			hover: (
				color: $cadmin-label-danger-link-hover-color,
			),
		),

		close: $cadmin-label-danger-close,
	),
	$cadmin-label-danger
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-color: $cadmin-light !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-hover-color: $cadmin-light-d2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-bg: $cadmin-dark !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-border-color: $cadmin-light !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-hover-border-color: $cadmin-label-light-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-light` instead

$cadmin-label-light-link-hover-color: $cadmin-label-light-hover-color !default;

$cadmin-label-light-close: () !default;
$cadmin-label-light-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-light-hover-color,
		),

		focus: (
			color: $cadmin-label-light-hover-color,
		),
	),
	$cadmin-label-light-close
);

$cadmin-label-light: () !default;
$cadmin-label-light: map-deep-merge(
	(
		background-color: $cadmin-label-light-bg,
		border-color: $cadmin-label-light-border-color,
		color: $cadmin-label-light-color,

		href: (
			hover: (
				background-color: $cadmin-label-light-hover-bg,
				border-color: $cadmin-label-light-hover-border-color,
				color: $cadmin-label-light-hover-color,
			),

			focus: (
				color: $cadmin-label-light-hover-color,
			),
		),

		link: (
			color: $cadmin-label-light-link-color,

			hover: (
				color: $cadmin-label-light-link-hover-color,
			),
		),

		close: $cadmin-label-light-close,
	),
	$cadmin-label-light
);

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-color: $cadmin-dark !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-hover-color: $cadmin-dark-l2 !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-bg: $cadmin-white !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-hover-bg: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-border-color: $cadmin-dark !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-hover-border-color: $cadmin-label-dark-border-color !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-link-color: null !default;

// @deprecated as of v2.4.1 use the Sass map `$cadmin-label-dark` instead

$cadmin-label-dark-link-hover-color: $cadmin-label-dark-hover-color !default;

$cadmin-label-dark-close: () !default;
$cadmin-label-dark-close: map-deep-merge(
	(
		hover: (
			color: $cadmin-label-dark-hover-color,
		),

		focus: (
			color: $cadmin-label-dark-hover-color,
		),
	),
	$cadmin-label-dark-close
);

$cadmin-label-dark: () !default;
$cadmin-label-dark: map-deep-merge(
	(
		background-color: $cadmin-label-dark-bg,
		border-color: $cadmin-label-dark-border-color,
		color: $cadmin-label-dark-color,

		href: (
			hover: (
				background-color: $cadmin-label-dark-hover-bg,
				border-color: $cadmin-label-dark-hover-border-color,
				color: $cadmin-label-dark-hover-color,
			),

			focus: (
				color: $cadmin-label-dark-hover-color,
			),
		),

		link: (
			color: $cadmin-label-dark-link-color,

			hover: (
				color: $cadmin-label-dark-link-hover-color,
			),
		),

		close: $cadmin-label-dark-close,
	),
	$cadmin-label-dark
);

// Label Inverse

$cadmin-label-inverse-primary: () !default;
$cadmin-label-inverse-primary: map-deep-merge(
	(
		background-color: $cadmin-primary,
		border-color: transparent,
		color: $cadmin-white,

		href: (
			hover: (
				color: $cadmin-white,
			),
		),
	),
	$cadmin-label-inverse-primary
);

$cadmin-label-inverse-secondary: () !default;
$cadmin-label-inverse-secondary: map-deep-merge(
	(
		background-color: $cadmin-secondary-l3,
		border-color: transparent,
		color: $cadmin-dark-d2,

		href: (
			hover: (
				color: $cadmin-dark-d2,
			),
		),
	),
	$cadmin-label-inverse-secondary
);

$cadmin-label-inverse-success: () !default;
$cadmin-label-inverse-success: map-deep-merge(
	(
		background-color: $cadmin-success-l2,
		border-color: transparent,
		color: $cadmin-success-d2,

		href: (
			hover: (
				color: $cadmin-success-d2,
			),
		),
	),
	$cadmin-label-inverse-success
);

$cadmin-label-inverse-info: () !default;
$cadmin-label-inverse-info: map-deep-merge(
	(
		background-color: $cadmin-info-l2,
		border-color: transparent,
		color: $cadmin-info-d2,

		href: (
			hover: (
				color: $cadmin-info-d2,
			),
		),
	),
	$cadmin-label-inverse-info
);

$cadmin-label-inverse-warning: () !default;
$cadmin-label-inverse-warning: map-deep-merge(
	(
		background-color: $cadmin-warning-l2,
		border-color: transparent,
		color: $cadmin-warning-d2,

		href: (
			hover: (
				color: $cadmin-warning-d2,
			),
		),
	),
	$cadmin-label-inverse-warning
);

$cadmin-label-inverse-danger: () !default;
$cadmin-label-inverse-danger: map-deep-merge(
	(
		background-color: $cadmin-danger-l2,
		border-color: transparent,
		color: $cadmin-danger-d2,

		href: (
			hover: (
				color: $cadmin-danger-d2,
			),
		),
	),
	$cadmin-label-inverse-danger
);

$cadmin-label-inverse-light: () !default;
$cadmin-label-inverse-light: map-deep-merge(
	(
		background-color: $cadmin-light,
		border-color: transparent,
		color: $cadmin-dark,

		href: (
			hover: (
				color: $cadmin-dark,
			),
		),
	),
	$cadmin-label-inverse-light
);

$cadmin-label-inverse-dark: () !default;
$cadmin-label-inverse-dark: map-deep-merge(
	(
		background-color: $cadmin-dark,
		border-color: transparent,
		color: $cadmin-white,

		href: (
			hover: (
				color: $cadmin-white,
			),
		),
	),
	$cadmin-label-inverse-dark
);

$cadmin-label-inverse-content-0: () !default;
$cadmin-label-inverse-content-0: map-deep-merge(
	(
		background-color: $cadmin-secondary-l3,
		border-color: transparent,
		color: $cadmin-dark-d2,

		href: (
			hover: (
				color: $cadmin-dark-d2,
			),
		),
	),
	$cadmin-label-inverse-content-0
);

$cadmin-label-inverse-content-1: () !default;
$cadmin-label-inverse-content-1: map-deep-merge(
	(
		background-color: $cadmin-purple-l5,
		border-color: transparent,
		color: $cadmin-purple-d2,

		href: (
			hover: (
				color: $cadmin-purple-d2,
			),
		),
	),
	$cadmin-label-inverse-content-1
);

$cadmin-label-inverse-content-2: () !default;
$cadmin-label-inverse-content-2: map-deep-merge(
	(
		background-color: $cadmin-yellow-l5,
		border-color: transparent,
		color: $cadmin-yellow-d4,

		href: (
			hover: (
				color: $cadmin-yellow-d4,
			),
		),
	),
	$cadmin-label-inverse-content-2
);

$cadmin-label-inverse-content-3: () !default;
$cadmin-label-inverse-content-3: map-deep-merge(
	(
		background-color: $cadmin-green-l5,
		border-color: transparent,
		color: $cadmin-green-d2,

		href: (
			hover: (
				color: $cadmin-green-d2,
			),
		),
	),
	$cadmin-label-inverse-content-3
);

$cadmin-label-inverse-content-4: () !default;
$cadmin-label-inverse-content-4: map-deep-merge(
	(
		background-color: $cadmin-red-l5,
		border-color: transparent,
		color: $cadmin-red-d2,

		href: (
			hover: (
				color: $cadmin-red-d2,
			),
		),
	),
	$cadmin-label-inverse-content-4
);

$cadmin-label-inverse-content-5: () !default;
$cadmin-label-inverse-content-5: map-deep-merge(
	(
		background-color: $cadmin-teal-l5,
		border-color: transparent,
		color: $cadmin-teal-d2,

		href: (
			hover: (
				color: $cadmin-teal-d2,
			),
		),
	),
	$cadmin-label-inverse-content-5
);

$cadmin-label-inverse-content-6: () !default;
$cadmin-label-inverse-content-6: map-deep-merge(
	(
		background-color: $cadmin-cyan-l5,
		border-color: transparent,
		color: $cadmin-cyan-d2,

		href: (
			hover: (
				color: $cadmin-cyan-d2,
			),
		),
	),
	$cadmin-label-inverse-content-6
);

$cadmin-label-inverse-content-7: () !default;
$cadmin-label-inverse-content-7: map-deep-merge(
	(
		background-color: $cadmin-orange-l5,
		border-color: transparent,
		color: $cadmin-orange-d2,

		href: (
			hover: (
				color: $cadmin-orange-d2,
			),
		),
	),
	$cadmin-label-inverse-content-7
);

$cadmin-label-inverse-content-8: () !default;
$cadmin-label-inverse-content-8: map-deep-merge(
	(
		background-color: $cadmin-pink-l5,
		border-color: transparent,
		color: $cadmin-pink-d2,

		href: (
			hover: (
				color: $cadmin-pink-d2,
			),
		),
	),
	$cadmin-label-inverse-content-8
);

$cadmin-label-palette: () !default;
$cadmin-label-palette: map-deep-merge(
	(
		primary: $cadmin-label-primary,

		secondary: $cadmin-label-secondary,

		success: $cadmin-label-success,

		info: $cadmin-label-info,

		warning: $cadmin-label-warning,

		danger: $cadmin-label-danger,

		dark: $cadmin-label-dark,

		light: $cadmin-label-light,

		inverse-primary: $cadmin-label-inverse-primary,

		inverse-secondary: $cadmin-label-inverse-secondary,

		inverse-success: $cadmin-label-inverse-success,

		inverse-info: $cadmin-label-inverse-info,

		inverse-warning: $cadmin-label-inverse-warning,

		inverse-danger: $cadmin-label-inverse-danger,

		inverse-light: $cadmin-label-inverse-light,

		inverse-dark: $cadmin-label-inverse-dark,

		inverse-content-0: $cadmin-label-inverse-content-0,

		inverse-content-1: $cadmin-label-inverse-content-1,

		inverse-content-2: $cadmin-label-inverse-content-2,

		inverse-content-3: $cadmin-label-inverse-content-3,

		inverse-content-4: $cadmin-label-inverse-content-4,

		inverse-content-5: $cadmin-label-inverse-content-5,

		inverse-content-6: $cadmin-label-inverse-content-6,

		inverse-content-7: $cadmin-label-inverse-content-7,

		inverse-content-8: $cadmin-label-inverse-content-8,
	),
	$cadmin-label-palette
);
