$cadmin-c-link: () !default;
$cadmin-c-link: map-deep-merge(
	(
		text-decoration: none,
		transition: clay-enable-transitions(box-shadow 0.15s ease-in-out),
		hover: (
			text-decoration: none,
		),

		focus: (
			border-radius: 1px,
			box-shadow: $cadmin-component-focus-box-shadow,
			outline: 0,
		),

		c-link-variants: (
			text-secondary: (
				color: $cadmin-gray-900 !important,

				hover: (
					color: $cadmin-black !important,
				),

				focus: (
					color: $cadmin-black !important,
				),
			),

			text-tertiary: (
				color: $cadmin-gray-900 !important,

				hover: (
					color: $cadmin-black !important,
				),
			),
		),
	),
	$cadmin-c-link
);

$cadmin-component-link: () !default;
$cadmin-component-link: map-deep-merge(
	(
		border-radius: 1px,
		color: $cadmin-gray-600,
		transition: box-shadow 0.15s ease-in-out,

		hover: (
			color: $cadmin-gray-900,
		),

		focus: (
			box-shadow: $cadmin-component-focus-box-shadow,
			color: $cadmin-gray-900,
			outline: 0,
		),
	),
	$cadmin-component-link
);

$cadmin-link-primary: () !default;
$cadmin-link-primary: map-deep-merge(
	(
		border-radius: 1px,
		color: $cadmin-primary,
		transition: box-shadow 0.15s ease-in-out,

		hover: (
			color: $cadmin-primary-d1,
		),

		focus: (
			box-shadow: $cadmin-component-focus-box-shadow,
			color: $cadmin-primary-d1,
			outline: 0,
		),
	),
	$cadmin-link-primary
);

$cadmin-link-secondary: () !default;
$cadmin-link-secondary: map-deep-merge(
	(
		border-radius: 1px,
		color: $cadmin-secondary,
		transition: box-shadow 0.15s ease-in-out,

		hover: (
			color: $cadmin-gray-900,
		),

		focus: (
			box-shadow: $cadmin-component-focus-box-shadow,
			color: $cadmin-gray-900,
			outline: 0,
		),
	),
	$cadmin-link-secondary
);

$cadmin-single-link-font-weight: $cadmin-font-weight-semi-bold !default;

// Link Outline

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-border-radius: $cadmin-btn-border-radius !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-border-width: $cadmin-btn-border-width !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-font-size: $cadmin-btn-font-size-sm !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-font-weight: $cadmin-font-weight-semi-bold !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-line-height: $cadmin-btn-line-height-sm !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-padding-x: $cadmin-btn-padding-x-sm !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-padding-y: $cadmin-btn-padding-y-sm !default;

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-outline` instead

$cadmin-link-outline-transition: $cadmin-component-transition !default;

$cadmin-link-outline: () !default;
$cadmin-link-outline: map-deep-merge(
	(
		align-items: center,
		background-color: transparent,
		border-color: transparent,
		border-radius: $cadmin-link-outline-border-radius,
		border-style: solid,
		border-width: $cadmin-link-outline-border-width,
		display: inline-flex,
		font-size: $cadmin-link-outline-font-size,
		font-weight: $cadmin-link-outline-font-weight,
		justify-content: center,
		line-height: $cadmin-link-outline-line-height,
		padding-bottom: $cadmin-link-outline-padding-y,
		padding-left: $cadmin-link-outline-padding-x,
		padding-right: $cadmin-link-outline-padding-x,
		padding-top: $cadmin-link-outline-padding-y,
		transition: $cadmin-link-outline-transition,
		vertical-align: middle,

		hover: (
			text-decoration: none,
		),

		focus: (
			box-shadow: $cadmin-component-focus-box-shadow,
			outline: 0,
		),

		disabled: (
			box-shadow: none,

			active: (
				pointer-events: none,
			),
		),

		lexicon-icon: (
			margin-top: 0px,
		),
	),
	$cadmin-link-outline
);

$cadmin-link-outline-primary: () !default;
$cadmin-link-outline-primary: map-deep-merge(
	(
		border-color: $cadmin-primary,
		color: $cadmin-primary,

		hover: (
			background-color: $cadmin-primary-l3,
			color: $cadmin-primary,
		),

		focus: (
			background-color: $cadmin-primary-l3,
			color: $cadmin-primary,
		),

		active: (
			background-color:
				unquote(
					'hsl(from #{$cadmin-primary} h calc(s - 42.05%) calc(l + 41.76%))'
				),
			color: $cadmin-primary,
		),

		disabled: (
			background-color: transparent,
			color: $cadmin-primary,
			cursor: $cadmin-disabled-cursor,
			opacity: $cadmin-component-disabled-opacity,
		),
	),
	$cadmin-link-outline-primary
);

$cadmin-link-outline-secondary: () !default;
$cadmin-link-outline-secondary: map-deep-merge(
	(
		border-color: $cadmin-secondary-l2,
		color: $cadmin-secondary,

		hover: (
			background-color:
				unquote('hsl(from #{$cadmin-gray-900} h s l / 0.03)'),
			color: $cadmin-gray-900,
		),

		focus: (
			background-color:
				unquote('hsl(from #{$cadmin-gray-900} h s l / 0.03)'),
			color: $cadmin-gray-900,
		),

		active: (
			background-color:
				unquote('hsl(from #{$cadmin-gray-900} h s l / 0.06)'),
			color: $cadmin-gray-900,
		),

		disabled: (
			background-color: transparent,
			color: $cadmin-secondary,
			cursor: $cadmin-disabled-cursor,
			opacity: $cadmin-component-disabled-opacity,
		),
	),
	$cadmin-link-outline-secondary
);

// Link Monospaced

// @deprecated as of v3.4.0 use the Sass map `$cadmin-link-monospaced` instead

$cadmin-link-monospaced-size: $cadmin-btn-monospaced-size-sm !default;

$cadmin-link-monospaced: () !default;
$cadmin-link-monospaced: map-deep-merge(
	(
		align-items: center,
		display: inline-flex,
		height: $cadmin-link-monospaced-size,
		justify-content: center,
		overflow: hidden,
		padding-bottom: 0px,
		padding-left: 0px,
		padding-right: 0px,
		padding-top: 0px,
		vertical-align: middle,
		width: $cadmin-link-monospaced-size,

		lexicon-icon: (
			margin-top: 0px,
		),
	),
	$cadmin-link-monospaced
);

// Component Title

$cadmin-component-title: () !default;
$cadmin-component-title: map-deep-merge(
	(
		color: $cadmin-gray-900,
		font-size: 16px,
		font-weight: $cadmin-headings-font-weight,
		line-height: 1.25,
		margin-bottom:
			calc((#{$cadmin-dropdown-action-toggle-size} - (1em * 1.25)) / 2),
		margin-top:
			calc((#{$cadmin-dropdown-action-toggle-size} - (1em * 1.25)) / 2),
	),
	$cadmin-component-title
);

$cadmin-component-title-link: () !default;
$cadmin-component-title-link: map-deep-merge(
	(
		border-radius: 1px,
		color: $cadmin-gray-900,
		transition: box-shadow 0.15s ease-in-out,

		hover: (
			color: unquote('hsl(from #{$cadmin-gray-900} h s calc(l - 15))'),
		),

		focus: (
			box-shadow: $cadmin-component-focus-box-shadow,
			color: unquote('hsl(from #{$cadmin-gray-900} h s calc(l - 15))'),
			outline: 0,
		),
	),
	$cadmin-component-title-link
);

$cadmin-component-title: map-deep-merge(
	$cadmin-component-title,
	(
		href: $cadmin-component-title-link,
	)
);

// Component Subtitle

$cadmin-component-subtitle: () !default;
$cadmin-component-subtitle: map-deep-merge(
	(
		color: $cadmin-gray-600,
		font-weight: $cadmin-font-weight-semi-bold,
		line-height: 1.45,
		margin-bottom: 0px,
	),
	$cadmin-component-subtitle
);

$cadmin-component-subtitle-link: () !default;
$cadmin-component-subtitle-link: map-deep-merge(
	(
		border-radius: 1px,
		color: $cadmin-gray-600,
		transition: box-shadow 0.15s ease-in-out,

		hover: (
			color: $cadmin-gray-900,
		),

		focus: (
			box-shadow: $cadmin-component-focus-box-shadow,
			color: $cadmin-gray-900,
			outline: 0,
		),
	),
	$cadmin-component-subtitle-link
);

$cadmin-component-subtitle: map-deep-merge(
	$cadmin-component-subtitle,
	(
		href: $cadmin-component-subtitle-link,
	)
);

// Component Action

$cadmin-component-action: () !default;
$cadmin-component-action: map-deep-merge(
	(
		align-items: center,
		background-color: transparent,
		border-color: transparent,
		border-radius: $cadmin-border-radius,
		border-width: 0px,
		color: $cadmin-secondary,
		display: inline-flex,
		font-size: 16px,
		height: map-get($cadmin-link-monospaced, height),
		justify-content: center,
		overflow: hidden,
		padding: 0px,
		transition: $cadmin-component-transition,
		vertical-align: middle,
		width: map-get($cadmin-link-monospaced, width),
		hover: (
			background-color:
				unquote('hsl(from #{$cadmin-gray-900} h s l / 0.03)'),
			color: $cadmin-gray-900,
		),

		focus: (
			background-color:
				unquote('hsl(from #{$cadmin-gray-900} h s l / 0.03)'),
			box-shadow: $cadmin-component-focus-box-shadow,
			color: $cadmin-gray-900,
			outline: 0,
		),

		active: (
			background-color:
				unquote('hsl(from #{$cadmin-gray-900} h s l / 0.06)'),
			color: $cadmin-gray-900,
		),

		disabled: (
			background-color: transparent,
			box-shadow: none,
			color: $cadmin-secondary,
			cursor: $cadmin-disabled-cursor,
			opacity: $cadmin-component-disabled-opacity,

			active: (
				pointer-events: none,
			),
		),

		lexicon-icon: (
			margin-top: 0px,
		),
	),
	$cadmin-component-action
);

$cadmin-component-text: () !default;

$cadmin-component-icon: () !default;
$cadmin-component-icon: map-deep-merge(
	(
		align-items: center,
		display: inline-flex,
		height: 32px,
		justify-content: center,
		width: 32px,

		lexicon-icon: (
			margin-top: 0px,
		),
	),
	$cadmin-component-icon
);
