$application-bar-size: () !default;
$application-bar-size: map-deep-merge(
	(
		scaling-navbar: true,

		font-size:
			if(variable-exists(navbar-font-size), $navbar-font-size, null),
		height: 3.5rem,
		padding-x: 0rem,
		padding-y: 0rem,

		btn-monospaced-font-size: 1rem,

		link-height: 2rem,
		link-margin-x: 0.5rem,
		link-padding-x: 0.25rem,

		height-mobile: 3rem,
		link-height-mobile: 2rem,
	),
	$application-bar-size
);

$application-bar-base: () !default;

$application-bar-dark: () !default;
$application-bar-dark: map-deep-merge(
	(
		background-color: $dark,
		color:
			if(
				variable-exists(navbar-dark-color),
				$navbar-dark-color,
				rgba($white, 0.5)
			),
		navbar-nav: (
			nav-link: (
				color:
					if(
						variable-exists(navbar-dark-color),
						$navbar-dark-color,
						rgba($white, 0.5)
					),
				hover: (
					color:
						if(
							variable-exists(navbar-dark-hover-color),
							$navbar-dark-hover-color,
							rgba($white, 0.75)
						),
				),

				active: (
					color:
						if(
							variable-exists(navbar-dark-active-color),
							$navbar-dark-active-color,
							$white
						),
				),

				disabled: (
					color:
						if(
							variable-exists(navbar-dark-disabled-color),
							$navbar-dark-disabled-color,
							rgba($white, 0.25)
						),
					opacity: 1,
				),
			),
		),

		media-breakpoint-down: (),
		media-breakpoint-up: (),
	),
	$application-bar-dark
);
