#player {
	height: 100%;
	width: 100%;
}

#player-wrapper {
	aspect-ratio: 16 / 9;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.plyr {
	border-radius: 10px !important;
}

.plyr__video-embed iframe {
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
