.home-link {
	font-weight: bold;
	text-decoration: underline;
}

.cms-section.home-custom-empty-state .c-empty-state-image {
	display: none;
}

.cms-section.home-custom-empty-state .c-empty-state-title {
	margin-top: 0;
}

.cms-section.home-custom-empty-state .c-empty-state-animation {
	margin: 5rem auto;
}
