.visualization-mode-table {
	&:not(.selectable) table {
		&.table-striped.table-hover
			tbody
			tr:nth-of-type(odd):hover:not(.table-active):not(
				.table-disabled
			):not(.table-divider)
			td {
			background-color: $light-l1;
		}

		tbody tr:hover {
			background-color: $white;
		}
	}

	&.selectable table {
		&.table-striped.table-hover
			tbody
			tr:hover:not(.table-disabled):not(.table-divider) {
			&.table-active td {
				background-color: #d6e4ff;
			}

			td {
				&,
				& .quick-action-menu {
					background-color: $light;
				}
			}
		}
	}

	table {
		table-layout: auto !important;

		.dnd-th-resizer {
			background: $info;
			cursor: col-resize;
			display: block;
			height: 100%;
			opacity: 0;
			position: absolute;
			right: 0;
			top: 0;
			transition: background-color 0.1s ease-in;
			width: 4px;
			z-index: 1;

			&:hover {
				opacity: 1;
			}

			&.is-active {
				background: $danger;
				opacity: 1;

				&.is-allowed {
					background: $primary;
				}
			}
		}
	}
}

.table-style-fluid,
.table-style-stacked {
	border: 1px solid $border-color;
	border-radius: 4px;
	overflow: hidden;

	.table {
		margin-bottom: -1px;
	}
}

.tooltip-table {
	color: white;
	font-weight: 600;
	width: 100%;

	td {
		border: none;

		&:first-child {
			color: darken(white, 10%);
			text-align: left;
		}

		&:last-child {
			text-align: right;
		}
	}

	tr.with-divider td {
		padding-top: map-get($spacers, 2);
		position: relative;

		&::after {
			border-top: 1px solid rgba(255, 255, 255, 0.1);
			content: '';
			left: 0;
			position: absolute;
			right: 0;
			top: map-get($spacers, 1);
		}
	}

	tr.highlighted td {
		font-size: 1rem;

		&:last-child {
			color: $error-l1;
		}
	}
}
