@import 'atlas-custom-properties/_variables';
@import 'atlas-variables';

$management-bar-base: (
	border-color: transparent,
	border-style: solid,
	media-breakpoint-down: (),
	media-breakpoint-up: (),
	navbar-nav: (
		nav-link: (
			border-radius: $border-radius,
			outline: 0,
			transition: box-shadow 0.15s ease-in-out,
			focus: (
				box-shadow: $btn-focus-box-shadow,
			),
			disabled: (
				box-shadow: none,
			),
		),
	),
);

$management-bar-size: (
	active-border-bottom-width: 0.25rem,
	border-bottom-width: 0.0625rem,
	btn-monospaced-font-size: 1rem,
	font-size: $navbar-font-size,
	form-control-height-mobile: 2rem,
	height: 4rem,
	height-mobile: 3rem,
	link-height: 2rem,
	link-height-mobile: 2rem,
	link-margin-x: 0.5rem,
	link-margin-x-mobile: 0.25rem,
	link-padding-x-mobile: 0.25rem,
	min-height: 4rem,
	min-height-mobile: 3rem,
	nav-item-dropdown-margin-top: 0,
	padding-x: 0,
	padding-y: 0,
	scaling-navbar: true,
	toggler-margin-x: 0.875rem,
);

$management-bar-light: (
	background-color: $white,
	navbar-nav: (
		nav-link: (
			color: $navbar-light-color,
			font-weight: $font-weight-semi-bold,
			hover: (
				background-color: unquote('hsl(from #{$gray-900} h s l / 0.03)'),
				color: $gray-900,
			),
			focus: (
				background-color: unquote('hsl(from #{$gray-900} h s l / 0.03)'),
				color: $gray-900,
			),
			active: (
				background-color: unquote('hsl(from #{$gray-900} h s l / 0.06)'),
				color: $navbar-light-active-color,
			),
			disabled: (
				background-color: transparent,
				color: $navbar-light-disabled-color,
				opacity: 1,
			),
		),
	),
	media-breakpoint-down: (),
	media-breakpoint-up: (),
);

$management-bar-primary: (
	background-color: $primary-l3,
	border-color: $primary,
	color: $navbar-light-color,
	navbar-nav: (
		nav-link: (
			border-radius: $border-radius,
			color: $navbar-light-color,
			font-weight: $font-weight-semi-bold,
			hover: (
				background-color: unquote('hsl(from #{$gray-900} h s l / 0.03)'),
				color: $gray-900,
			),
			focus: (
				background-color: unquote('hsl(from #{$gray-900} h s l / 0.03)'),
				color: $gray-900,
			),
			active: (
				background-color: unquote('hsl(from #{$gray-900} h s l / 0.06)'),
			),
			disabled: (
				background-color: transparent,
				disabled-color: $navbar-light-disabled-color,
				disabled-opacity: 1,
			),
		),
	),
	media-breakpoint-down: (),
	media-breakpoint-up: (),
);

.management-bar {
	@include clay-navbar-size($management-bar-size);
	@include clay-navbar-variant($management-bar-base);

	&.navbar-nowrap {
		.navbar-text {
			white-space: normal;
			word-wrap: break-word;
		}
	}
}

.management-bar-light {
	@include clay-navbar-variant($management-bar-light);
}

.management-bar-primary {
	@include clay-navbar-variant($management-bar-primary);
}
