@import 'atlas-custom-properties/_variables';
@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin {
	.change-tracking-indicator {
		background-color: $cadmin-dark-l1;
		border-bottom: unquote(
			'1px solid hsl(from #{$cadmin-dark-l2} h s calc(l + 4.3))'
		);
		font-size: 12px;
		text-align: center;

		.dropdown {
			display: inline-block;
		}

		.change-tracking-conflict-icon-danger {
			color: $cadmin-warning;
			margin-right: 0;
			margin-top: 1px;
		}

		.change-tracking-conflict-icon-warning {
			color: $cadmin-orange-l4;
			margin-right: 0;
			margin-top: 0;
		}

		.change-tracking-conflict-icon {
			color: $cadmin-white;
			margin-right: 0;
			margin-top: 0;
		}

		.change-tracking-indicator-button {
			align-items: center;
			background-color: $cadmin-dark-l1;
			border: none;
			color: $cadmin-white;
			display: inline-flex;
			font-weight: 600;
			justify-content: center;
			margin: 2px 2px 1px;
			padding: 1px 10px;
			text-decoration: none;
			vertical-align: middle;

			.change-tracking-indicator-icon-publication {
				color: $cadmin-info-l1;
				margin-right: 6px;
				margin-top: 0;
			}

			.change-tracking-indicator-icon-production {
				color: $cadmin-success-l1;
				font-size: 16px;
				margin-right: 2px;
				margin-top: 0;
			}

			.change-tracking-indicator-title {
				font-size: 12px;
				font-weight: 600;
			}

			.lexicon-icon-caret-bottom {
				font-size: 13px;
				margin-left: 5px;
				margin-top: 0;
			}
		}

		.change-tracking-timeline-button {
			align-items: center;
			background-color: $cadmin-dark-l1;
			border: none;
			color: $cadmin-white;
			display: inline-flex;
			font-weight: 600;
			justify-content: center;
			margin: 2px 2px 1px;
			padding: 1px;
			text-decoration: none;
			vertical-align: middle;

			.change-tracking-timeline-icon {
				margin-right: 0;
				margin-top: 0;
			}
		}

		.change-tracking-conflict-button {
			align-items: center;
			background-color: $cadmin-dark-l1;
			border: none;
			display: inline-flex;
			font-weight: 600;
			justify-content: center;
			margin: 0 2px 1px;
			padding: 1px;
			text-decoration: none;
			vertical-align: middle;
		}

		.autofit-row {
			.autofit-col:nth-child(2) {
				padding-right: 3px;
				padding-top: 3px;
			}

			.row-divider {
				padding: 0;

				div {
					background-color: $cadmin-white;
					height: 16px;
					padding: 0;
					width: 1px;
				}
			}
		}
	}
}

.change-tracking-enabled {
	--change-tracking-indicator-height: 24px;

	.publication-timeline {
		.change-tracking-conflict-icon-warning {
			color: $warning;
			margin-right: 0.5rem;
			margin-top: 0;
		}
	}
}

.publications-loading {
	opacity: 0.5;
}

.publications-table {
	a {
		p.list-group-title {
			cursor: pointer;
		}
	}
}

.select-publications {
	.list-group,
	.management-bar,
	.pagination-bar {
		padding-left: 24px;
		padding-right: 24px;
	}

	.modal-body.inline-scroller {
		max-height: none;
		padding-left: 0;
		padding-right: 0;
		padding-top: 0;
	}

	.results-bar {
		margin-bottom: 12px;
	}
}
