@import 'atlas-variables';

.preview-file {
	@import 'floating_bar';

	margin: 1.5rem auto;
	position: relative;

	.preview-file-container {
		overflow: auto;
		position: relative;
		text-align: center;

		&.preview-file-max-height {
			height: 624px;
		}
	}

	.preview-file-image {
		bottom: 0;
		left: 0;
		margin: auto;
		max-height: 100%;
		max-width: 100%;
		position: absolute;
		right: 0;
		top: 0;
	}

	.preview-file-loader {
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50);
	}

	.preview-toolbar-container {
		bottom: 0;
		margin-bottom: 1.5rem;
		position: absolute;
		text-align: center;
		width: 100%;
	}

	.preview-toolbar-label-percent {
		display: inline-block;
		min-width: 5ch;
	}
}
