@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

.article-navigation.show {
	width: 100%;
}

.collapse-icon-closed {
	.lexicon-icon {
		fill: var(--color-action-primary-hover, #0053f0);
	}
}

.collapse-icon-open{
	.lexicon-icon {
		fill: var(--color-action-primary-hover, #0053f0);
	}
}

.course-nav-bottom__banner {
	border: 2px solid transparent;
	outline: 2px transparent;
}

.lesson-layout-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}
.lesson-layout-container > div {
	display: flex;
	flex-direction: column;
}

.lesson-layout-container:has(.article-navigation.show) .content {
	width: 55% !important;
}

.lesson-layout-container:has(.article-navigation.show) > div:nth-child(1) {
	width: 25% !important;
}

.lesson-layout-container:has(.article-navigation.show) > div:nth-child(3) {
	width: 20% !important;
}

.lesson-layout-container > div:nth-child(3) {
	align-self: flex-start !important;
	color: var(--color-neutral-10, #282934) !important;
	font-family: var(--font-family-sans-serif, 'Source Sans 3') !important;
	margin-left: 15px !important;
	padding: var(--spacer-2, 0.5rem) !important;
	position: sticky !important;
	top: 200px !important;
}

.lesson-layout-container > div:nth-child(1) {
	background-color: var(--color-neutral-1) !important;
	border-radius: var(--border-radius-lg) !important;
	font-family: var(--font-family-sans-serif, 'Source Sans 3') !important;
	height: 100% !important;
	margin-right: var(--spacer-4, 1.5rem) !important;
	padding: var(--spacer-2, 0.5rem) !important;
}

.lesson-link.not-completed.active {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
	border-radius: 6px;
	color: var(--color-action-primary-hover, #0053f0);
}

.lesson-link.active {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
}

.menu-sign-in {
	font-family: var(--font-family-sans-serif, 'Source Sans 3');
	font-weight: 600;
	padding-top: 15px;

	a {
		text-decoration: underline;
	}
}

.panel button .sticker .lexicon-icon-check {
	fill: var(--color-action-primary-inverted, #ffffff);
}

.panel-header .lexicon-icon-check {
	fill: var(--color-action-primary-active, #004AD7) !important;
}

.panel-header.active {
	.sticker-circle .lexicon-icon-check {
		fill: var(--white) !important;
	}
}

.panel .panel-body .sticker .lexicon-icon-check {
	fill: var(--color-action-primary-hover, #0053f0);
}

.show-quick-actions-on-hover .active {
	background-color: transparent;
	border-left-color: var(--color-action-primary-default, #0b5fff) !important;
	border-left-width: 4.5px !important;
	border-left: solid !important;
	border-radius: 0px;
}

.side-nav .d-flex .sticker-primary {
	background-color: var(--color-brand-primary-lighten-2, #6399FF);
	color: var(--white);
}

.side-nav .d-flex:hover {
	background-color: var(--color-action-primary-hover-10, #edf3fe);

	.module-title {
		a {
			color: var(--color-action-primary-hover, #0053f0) !important;
		}
	}
}

.side-nav .lesson-link.active a {
	color: var(--dark);
}

.side-nav .module-title .text-4 .lesson-link {
	color: var(--color-neutral-10, #282934);
}

.side-nav .panel {
	.panel-header.show {
		background-color: var(--color-action-primary-active-20, #E6EDFB);
		border-radius: 6px;

		.sticker-circle {
			background-color: var(--color-brand-primary-lighten-4, #BBD2FF);
			color: var(--color-brand-primary-darken-3, #003EB3);
		}
	}
}

.side-nav .panel {
	background-color: transparent;
	fill: var(--color-action-primary-hover, #0053f0) !important;
}

.side-nav .panel .panel-body {
	.lesson-link .module-title a {
		color: var(--color-neutral-10, #282934) !important;
	}
	.lesson-link.active .module-title a {
		color: var(--color-action-primary-hover, #0053f0) !important;
	}
}

.side-nav .panel .panel-header:hover {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
	.module-title {
		span {
			color: var(--color-action-primary-hover, #0053f0) !important;
		}
	}

	.sticker-circle {
		background-color: var(--color-brand-primary-lighten-4, #bbd2ff);
		.sticker-overlay {
			color: var(--color-brand-primary-darken-3, #003eb3);
			.lexicon-icon-check {
				fill: var(--white) !important;
			}
		}
	}
}

.side-nav .panel .panel-body .lesson-link:hover {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
	.module-title {
		a {
			color: var(--color-action-primary-hover, #0053f0) !important;
		}
	}
}

.side-nav .panel-body .lesson-link.not-completed.active .module-title a {
	color: var(--color-action-primary-hover, #0053f0);
}

.side-nav .panel-body .module-title a {
	color: var(--color-action-primary-hover, #0053f0);
}

.side-nav .panel-body .sticker-circle {
	align-content: center;
	background-color: transparent;
	justify-content: center;
}

.side-nav .panel-header .module-title span {
	color: var(--color-neutral-10, #282934);
}

.side-nav .panel-header.active .module-title span {
	color: var(--color-action-primary-hover, #0053f0);
}

.side-nav .panel-header .sticker-circle {
	align-items: center;
	background: var(--color-neutral-2, #e2e2e4);
	display: flex;
	justify-content: center;
	text-align: center;
}

.side-nav .panel-header.panel-header-link.active {
	background-color: var(--color-brand-primary-darken-3, #e6edfb);
	border-radius: 6px;
	color: var(--color-brand-primary-darken-3, #003eb3);
}

.side-nav .panel-header.panel-header-link.active .sticker {
	align-items: center;
	background-color: var(--color-brand-primary-lighten-2, #6399FF);
	display: flex;
	justify-content: center;
	text-align: center;
}

.side-nav .panel-header > div:nth-child(1) > span:nth-child(1) {
	width: 32px !important;
}

.side-nav .panel-header > div:nth-child(1) > span:nth-child(2) {
	max-width: calc(100% - 42px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
