.searchable-select-root {
	.dropdown-toggle {
		background-color: $lightBackground;
		border: 0.0625rem solid $mainLighten74;
		color: $main;
		font-weight: $fontWeightRegular;

		&:disabled {
			background-color: var(--cadmin-light-d1);
		}
	}
}

.add-workspace-root {
	.title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 2rem;
	}

	.form-root {
		.extra-instruction {
			font-size: $fontSizeSmall;
			margin-top: 4px;
		}

		.input-group > .input-group-append .form-control {
			border-bottom-left-radius: 0;
			border-top-left-radius: 0;
		}

		.instructions {
			color: $secondary;
			display: block;
		}

		p {
			margin-bottom: 6px;
		}

		.terms {
			font-size: $fontSizeSmall;

			.custom-checkbox {
				margin-bottom: 8px;
				margin-right: 8px;
			}
		}

		.title {
			margin-bottom: 0.5rem;
		}
	}

	.sheet-footer {
		display: block;
	}

	.sheet-section {
		margin-bottom: 2rem;
	}
}

.add-workspace-popover-content {
	ul {
		padding-left: 16px;
	}
}
