$c: '.analytics-add-report';

#{$c} {
	&-button {
		align-items: center;
		border: 2px dashed $mainLighten52;
		border-radius: inherit;
		display: flex;
		height: 120px;
		justify-content: center;
	}

	&-empty-dashboard {
		#{$c}-button {
			height: $card-min-height;
		}
	}

	svg {
		pointer-events: none;
	}

	.cerebro-thumb-line-chart {
		height: 144px;
		width: 168px;
	}

	&-thumbs {
		display: flex;
		list-style: none;
		margin: 0;
		padding: 0;

		button {
			background-color: var(--cadmin-gray-100);
			border: 0.063rem solid transparent;
			border-radius: $cadmin-border-radius;
			cursor: pointer;
			margin-right: 1rem;
			position: relative;
		}

		button:active,
		button:focus,
		button.selected {
			background-color: var(--cadmin-primary-l3);
			border-color: var(--cadmin-primary-l1);
			outline: none;
		}
	}
}
