.index-root {
	min-height: 100vh;

	.children-wrapper {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		min-height: 10rem;
		position: relative;

		&.flex-row {
			flex-direction: row;
		}
	}

	.header-container,
	.page-container {
		margin: 0 auto;
		max-width: $maxPageWidth + ($pagePadding * 2);
		min-width: $minPageWidthContent;
		padding: 0 $pagePadding;
		position: relative;
		width: 100%;

		&.disabled:before {
			align-items: center;
			background-color: unquote('hsl(from #{$white} h s l / 0.75)');
			bottom: 0;
			content: '';
			display: flex;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 10;
		}

		> .children-wrapper {
			padding-top: 16px;
		}
	}

	.header-root {
		background-color: $white;
		border-bottom: 1px solid $mainLighten74;
		padding-top: 16px;

		.breadcrumbs-root {
			margin-bottom: 8px;
			padding: 0;
		}

		.header-actions {
			bottom: 0;
			height: 40px;
			margin: auto;
			padding: 0 48px;
			position: absolute;
			right: 0;
			top: 0;
		}

		.header-content {
			width: 100%;
		}

		.header-section {
			margin-bottom: 28px;
			white-space: nowrap;

			&:first-child {
				overflow: auto;
				padding-right: 40px;
			}
		}

		.title-section {
			&.subtitle {
				margin-bottom: 0;
			}

			.subtitle,
			.subtitle a {
				color: $secondary;
				line-height: 28px;
			}

			.title {
				font-size: 28px;
				font-weight: $fontWeightBold;
				line-height: 40px;
				margin: 0 16px 0 0;
			}
		}
	}

	.sub-header-root {
		background: $white;
		border-bottom: 1px solid $mainLighten74;
		padding: 16px 0;
	}

	.fluid-body-root {
		display: flex;

		&.sidebar-opened .card-root {
			max-width: calc(100% - 488px - 1rem);
		}

		.card-root {
			margin: 1rem;
			width: 100%;
		}

		.info-panel-root {
			height: 100vh;
			position: fixed;
			top: 0;
			transform: translateY(-1px);
		}
	}
}
