.card-root {
	border-radius: 8px;
	box-shadow: none;
	display: flex;
	flex-direction: column;

	&:hover {
		box-shadow: none;
	}

	&.page-display {
		min-height: 70vh;
	}

	&.transparent {
		background: transparent;
		border-width: 0;
		box-shadow: none;
	}

	.card-footer {
		background-color: transparent;
		border: 0;
		padding: 12px 24px;
	}

	.card-header {
		background-color: transparent;
		border: 0;
		padding: 16px 24px;

		.secondary-info {
			color: $mainLighten28;
			padding-top: 8px;

			b {
				color: $main;
			}
		}
	}

	.card-body {
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		padding: 24px;
		position: relative;
		width: 100%;

		&.no-padding {
			padding: 0;
		}

		&.align-center {
			align-items: center;
			justify-content: center;

			& > div {
				width: 100%;
			}
		}

		.search-input {
			flex-grow: 1;
			width: unset;
		}
	}

	.card-header + .card-body:not(.no-padding) {
		padding: 0 24px 24px;
	}

	.card-title {
		color: $main;
		font-size: 18px;
		font-weight: $fontWeightSemiBold;
	}
}
