$summary-card: '.analytics-summary-card';
$summary-section: '.analytics-summary-section';

$status-alert-color-gray: $mainLighten8;
$status-alert-icon-color-gray: $mainLighten28;
$status-body-color-gray: $secondaryHover;
$status-color-gray: $mainLighten28;
$status-secondary-color-gray: $mainLighten74;

$status-alert-icon-color-green: $successLighten25;
$status-color-green: $success;
$status-secondary-color-green: $successLighten63;

$status-alert-icon-color-blue: $info;
$status-color-blue: $info;
$status-secondary-color-blue: $primaryLighten45;

$status-alert-icon-color-red: $error;
$status-color-red: $error;
$status-secondary-color-red: $errorLighten50;

#{$summary-card} {
	&-alert {
		align-items: center;
		display: flex;

		+ .card-body {
			padding-top: 0;
		}

		.lexicon-icon {
			font-size: 28px;
			margin-right: 1rem;
		}
	}

	&-sections {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		margin: 2.5rem 0 1.25rem;
		overflow-x: auto;
	}

	&-step-content {
		height: 136px;
		left: 0;
		position: absolute;
		text-align: center;
		top: 50px;
		transform: translate(calc(-50% + 16px), 10px);
		width: 250px;

		&-active {
			border: 1px solid $primary !important;
			box-shadow: var(--cadmin-box-shadow) !important;
		}

		&-complete {
			background-color: var(--cadmin-gray-200) !important;
			border: 1px solid transparent !important;
		}

		&-description {
			font-size: $font-size-sm-1x;
		}

		&-wait {
			background-color: transparent !important;
			border: 1px solid transparent !important;
		}

		.card-body {
			align-items: center;
			height: 100%;
			justify-content: space-between;
		}
	}

	& > .card-footer {
		font-size: $fontSizeSmall;
	}

	& > .card-header {
		padding: 1.5rem;
	}

	&-status-completed,
	&-status-finished_winner {
		> .card-header {
			background-color: $status-color-green;
			color: $white;
		}

		#{$summary-card}-alert {
			background-color: $status-secondary-color-green;
			color: $status-color-green;

			.lexicon-icon {
				color: $status-alert-icon-color-green;
			}
		}
	}

	&-status-finished_no_winner {
		> .card-header {
			background-color: $status-color-gray;
			color: $white;
		}

		#{$summary-card}-alert {
			background-color: $status-secondary-color-gray;
			color: $status-alert-color-gray;

			.lexicon-icon {
				color: $status-alert-icon-color-gray;
			}
		}
	}

	&-status-draft {
		> .card-header {
			background-color: $status-color-gray;
			color: $white;
		}

		> .card-body {
			background-color: $status-body-color-gray;
			height: 300px;
		}

		#{$summary-card}-alert {
			background-color: $status-secondary-color-gray;
			color: $status-color-gray;

			.lexicon-icon {
				color: $status-alert-icon-color-gray;
			}
		}
	}

	&-status-running {
		> .card-header {
			background-color: $status-color-blue;
			color: $white;
		}

		#{$summary-card}-alert {
			background-color: $status-secondary-color-blue;
			color: $status-color-blue;

			.lexicon-icon {
				color: $status-alert-icon-color-blue;
			}
		}
	}

	&-status-terminated {
		> .card-header {
			background-color: $warningLighten25;
			color: $white;
		}

		#{$summary-card}-alert {
			background-color: $warningLighten60;
			color: $warning;

			.lexicon-icon {
				color: $warning;
			}
		}
	}

	.date {
		display: flex;

		> div:nth-child(2) {
			margin-left: 180px;
		}
	}

	.multi-step-nav {
		margin: auto;
		width: 80%;
	}
}

#{$summary-section} {
	width: 245px;

	&-variant {
		font-size: $fontSizeSmall;

		&-status {
			margin-right: 0.5rem;

			&-down {
				color: $error;
			}

			&-up {
				color: $success;
			}
		}
	}

	&-description {
		color: $mainLighten28;
		font-size: $fontSizeSmall;
	}

	&-heading {
		font-size: 40px;
		font-weight: $fontWeightRegular;
		line-height: 40px;
		margin-bottom: 0.25rem;
	}

	&-metric-type {
		align-items: center;
		display: flex;
		height: 40px;
		margin-bottom: 0.25rem;

		&-icon {
			align-items: center;
			background-color: $lightBackground;
			border-radius: 4px;
			color: $mainLighten28;
			display: inline-flex;
			height: 32px;
			justify-content: center;
			margin-right: 1rem;
			width: 32px;
		}
	}

	&-progress {
		background-color: $mainLighten74;
		border-radius: 2px;
		height: 16px;
		overflow: hidden;
		width: 100%;

		&:not(.complete) &-bar {
			background-color: $chartOrange;
		}

		&.complete &-bar {
			background-color: $chartSeaGreen;
		}

		&-bar {
			height: inherit;
		}
	}

	&-title {
		color: $mainLighten28;
		font-weight: $fontWeightSemiBold;
		margin-bottom: 0.25rem;
	}
}
