$c: '.channels-menu';

#{$c}-root {
	margin-top: 20px;
	position: relative;

	#{$c}-label {
		color: $dark;
		font-size: $fontSizeExtraSmall;
		font-weight: $fontWeightSemiBold;
		letter-spacing: 0.5px;
		margin-bottom: 4px;
		text-transform: uppercase;
		white-space: nowrap;
	}

	#{$c}-trigger {
		align-items: center;
		background: $white;
		border: 1px solid $secondaryL0;
		border-radius: 8px;
		color: $dark;
		display: flex;
		font-weight: $fontWeightBold;
		justify-content: space-between;
		padding: 10px 16px;
		text-align: left;
		width: 100%;

		&:hover {
			border-color: $secondaryL0;
		}

		&:focus {
			border-color: $primary;
			box-shadow: 0 0 0 2px $primaryLighten45;
		}
	}

	#{$c}-icon {
		align-items: center;
		bottom: 0;
		color: $mainLighten28;
		display: flex;
		font-size: $fontSizeMedium;
		justify-content: center;
		left: 0;
		margin: auto;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		visibility: hidden;
	}
}

#{$c}-dropdown {
	.dropdown-item {
		color: var(--cadmin-secondary);

		&.active {
			color: $dark;
		}
	}
}
