.collapsible-overlay-root {
	background-color: white;
	box-shadow: 0 4px 8px $mainLighten74;
	min-height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	transition: width 0.2s ease-out;
	width: 500px;
	z-index: 100;

	&.hidden {
		opacity: 0;
		visibility: hidden;
		width: 0;
	}

	.content-wrapper {
		height: calc(100vh - #{$toolbarHeight});
		overflow: scroll;
		position: sticky;
		top: $toolbarHeight;
	}

	.header {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding: 16px;

		.icon-root {
			font-size: $fontSizeExtraSmall;
		}
	}
}
