.criterion-row-root {
	border: 2px solid transparent;
	border-radius: 4px;
	display: flex;
	flex: 1;
	padding: 8px 0;

	.criterion-string {
		color: $mainLighten28;
		font-weight: 600;

		b {
			color: $main;
			font-weight: bold;
		}
	}

	.drag-icon {
		margin-right: 8px;
	}

	.edit-container {
		align-items: center;
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;

		.actions {
			display: flex;
			margin-left: 24px;
			margin-right: 8px;

			.button-root {
				color: $secondary;

				&:not(:last-child) {
					margin-right: 8px;
				}
			}
		}

		.criteria-statement {
			display: flex;
			flex-direction: column;
			flex-grow: 1;

			.asset-display-root {
				overflow: hidden;

				.asset-name {
					font-size: $fontSizeSmall;
				}

				.asset-url {
					font-size: $fontSizeExtraSmall;
				}
			}

			.attribute-filter-box {
				border: 1px solid $mainLighten65;
				border-left-width: 3px;
				border-radius: 4px;
			}

			.conjunction,
			.entity-name,
			.operator,
			.unit {
				color: $secondary;
				font-weight: $fontWeightSemiBold;
			}

			.criterion-input,
			.form-control,
			.input-group {
				max-width: 336px;

				&.hidden {
					display: none;
				}
			}

			.display-value {
				font-weight: $fontWeightSemiBold;
			}

			.form-control {
				&.boolean-input {
					max-width: 100px;
				}

				&.number-input {
					max-width: 120px;
				}
			}

			.form-group {
				margin-bottom: 8px;

				&:last-child {
					margin-bottom: 0;
				}
			}

			.form-group.page-asset-criteria {
				flex-wrap: wrap;
			}

			.select-entity-group {
				width: auto;

				.input-group-append {
					margin-left: 0;
				}

				.select-input-root .input-root {
					border-bottom-right-radius: 0;
					border-top-right-radius: 0;
				}
			}

			@media screen and (max-width: $gridMaxPageWidth + $criteriaSidebarWidth) {
				.form-group-autofit {
					flex-wrap: wrap;

					> .form-group-item:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}

			&.geolocation-input {
				.form-group-autofit {
					flex-wrap: wrap;

					> .form-group-item:not(:last-child) {
						margin-bottom: 8px;
					}
				}
			}
		}
	}

	.non-existent-property-message {
		color: $error;
		flex-grow: 1;
		font-size: $fontSizeSmall;
		font-style: italic;
		font-weight: $fontWeightSemiBold;
	}

	.operator,
	.operator-input {
		text-transform: lowercase;
	}

	.read-only-container {
		display: flex;
		margin: 0;
		padding: 0;
		width: 100%;

		.criterion-string {
			margin-left: 8px;
		}
	}

	&.dnd-drag {
		opacity: 0.4;
	}

	&.dnd-hover {
		border: 2px solid $primary;
	}
}
