.criteria-group-root {
	border: 1px $mainLighten65 solid;
	border-radius: 4px;
	box-shadow: 0 0 8px 1px rgb(from var(--cadmin-dark-d1) r g b / 0.05);
	position: relative;
	width: 100%;

	.criterion {
		padding: 16px;
		padding-left: 8px;
		position: relative;

		.color-stripe {
			background-color: $chartBlue;
			bottom: 0;
			content: '';
			left: 0;
			position: absolute;
			top: 0;
			width: 3px;

			@include generatePropertyGroupLoop(
				$propertyGroupsColors,
				'background-color',
				'color--'
			);
		}
	}

	.conjunction-container {
		align-items: center;
		display: flex;
		margin-left: 36px;
		z-index: 1;

		.conjunction-label + .drop-zone-root + .criterion-group,
		.criterion-group + .drop-zone-root + .conjunction-label,
		.criterion-group + .drop-zone-root + .conjunction-button {
			margin-top: 16px;
		}

		.conjunction-button {
			text-transform: uppercase;
			z-index: 1;

			&:disabled {
				border: 0 none;
				opacity: 1;
			}
		}

		.conjunction-button + .drop-zone-root + .criterion-group {
			margin-top: 8px;
		}

		.separator {
			border-bottom: 1px solid $mainLighten74;
			left: 0;
			position: absolute;
			right: 0;
		}
	}

	&.criteria-group-item {
		margin: 8px;
		width: calc(100% - 8px);

		.criteria-group-drag-icon {
			align-items: center;
			display: flex;
			height: 100%;
			left: 1px;
			position: absolute;
			top: 0;
		}
	}

	&.criteria-group-item-root {
		.read-only-container .criterion-string {
			margin-left: 8px;
		}
	}

	&.dnd-drag {
		opacity: 0.4;
	}
}
