$c: '.analytics-devices-card';

#{$c} {
	.bb-axis-x tspan {
		fill: $secondary;
		font-family: $font-family;
		font-size: $font-size-sm;
		font-weight: $fontWeightSemiBold;
	}

	.card-header {
		padding-bottom: 8px;
	}

	.page-container {
		padding: 0;
	}

	.card-content-center {
		flex-direction: column;
		justify-content: flex-start !important;
		padding-top: 0;
	}

	.analytics-navbar {
		width: 100%;
	}
}
