@use 'sass:math';

.modal-body {
	.data-set-content-wrapper {
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

.card-root {
	.data-set-wrapper {
		.data-set-pagination-wrapper {
			margin: 0 1rem 1rem;
			padding-top: 0 !important;
		}

		.data-set-content-wrapper {
			margin: 1rem;
		}
	}

	.fds-label {
		&.label {
			&.label-danger {
				background-color: $cadmin-danger-l2;
				border-color: $cadmin-danger-l2;
				color: $cadmin-danger-d1;
			}

			&.label-info {
				background-color: $cadmin-info-l2;
				border-color: $cadmin-info-l2;
				color: $cadmin-info-d1;
			}

			&.label-secondary {
				background-color: $cadmin-secondary-l3;
				border-color: $cadmin-secondary-l3;
				color: $cadmin-secondary-d1;
			}

			&.label-success {
				background-color: $cadmin-success-l2;
				border-color: $cadmin-success-l2;
				color: $cadmin-success-d1;
			}

			&.label-warning {
				background-color: $cadmin-warning-l2;
				border-color: $cadmin-warning-l2;
				color: $cadmin-warning-d1;
			}

			.label-item {
				border-radius: 0.25rem;
				border-width: 0.0625rem;
				display: inline-block;
				font-size: 0.75rem;
				letter-spacing: math.div($fontSizeExtraSmall * -0.2, 13);
				padding: 0.125rem 0.25rem;
				text-transform: none;
			}
		}
	}
}

.dropdown-caption:has([id^='autocomplete-exclude-']) {
	display: none;

	+ .dropdown-divider {
		display: none;
	}
}
