.index-root {
	.entity-list-root.no-items {
		.list-group-header {
			background-color: $infoLighten53;
		}
	}

	.index-tabs-root {
		min-height: 0;
		padding: 0;
	}

	.list-group-item {
		padding-left: $listPadding;
	}

	.search-toolbar-root .nav-item.sort {
		margin-right: 72px;
	}
}

.tabs-root.size-sm .tab-item-root {
	&.active > a {
		font-weight: 600;

		&:after {
			height: 2px;
		}
	}

	a {
		color: $main;
		font-size: $fontSizeSmall;
		padding: 4px 12px;
	}
}
