.loading-root {
	&.spacer {
		margin: 4rem auto !important;
		position: relative !important;
	}

	&.center {
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
	}

	&.overlay {
		background: rgb(from var(--cadmin-white) r g b / 0.75);
		bottom: 0;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 0;

		.loading-animation {
			z-index: 1;
		}
	}

	&.loading-animation:not(.center) {
		margin: 0;
	}
}
