.scrollable-section-root {
	overflow-x: hidden;
	padding: 4px;

	.scroll-container {
		overflow-x: auto;

		&.scrollable {
			padding: 0 8px;
		}
	}

	.scroll-back-container,
	.scroll-forward-container {
		position: relative;

		&::after {
			bottom: 0;
			content: '';
			pointer-events: none;
			position: absolute;
			top: 0;
			width: 12px;
		}
	}

	.scroll-back-container {
		padding-right: 4px;

		&::after {
			background: linear-gradient(
				270deg,
				rgb(from var(--cadmin-white) r g b / 0.5) 11%,
				rgb(from var(--cadmin-white) r g b / 0.8) 25%
			);
			right: -12px;
		}
	}

	.scroll-forward-container {
		padding-left: 4px;

		&::after {
			background: linear-gradient(
				90deg,
				rgb(from var(--cadmin-white) r g b / 0.5) 11%,
				rgb(from var(--cadmin-white) r g b / 0.8) 25%
			);
			left: -12px;
		}
	}
}
