.segment-edit-page-root {
	background-color: $white;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 119px - #{$toolbarHeight});
	position: relative;
	width: 100%;

	.contributor-conjunction {
		margin: 0 auto;
		width: 120px;
	}

	.form-body {
		flex: 1;
		height: calc(100% - 58px);
		min-height: 0;
		position: relative;
	}

	.header-root {
		margin-bottom: 0;
	}

	.title-editor-root.editing + .source-icon {
		display: none;
	}
}

@media (max-width: $maxPageWidth + $sidebarOpenWidth) {
	body.open .segments-root {
		.contributor-builder-root.editing
			.criteria-builder-section-main
			.contributor-container
			.container-fluid {
			padding-right: $criteriaSidebarWidth;
		}
	}
}
