.segment-profile-card-root .composed-chart-with-empty-state .no-results-root {
	transform: translateY(30px);
}

.segment-profile-root .title-section .title {
	margin-right: 4px;
}

.subtitle-segment {
	color: $mainLighten28;
	padding-top: 25px;
}
