.sidebar-root {
	background: $lightL1;
	display: flex;
	flex-direction: column;
	height: 100%;
	left: 0;
	overflow: hidden;
	position: fixed;
	transition: width 0.2s ease-out;
	width: $sidebarOpenWidth;
	z-index: 1000;

	&.collapsed {
		width: $sidebarClosedWidth;

		.item-label,
		.section-title,
		.channels-menu-label,
		.channels-menu-trigger {
			opacity: 0;
			visibility: hidden;
		}

		.sidebar-body {
			overflow-x: hidden;
		}

		.channels-menu-icon {
			opacity: 1;
			transition:
				opacity 0.2s ease,
				visibility 0.2s ease;
			transition-delay: 0.2s;
			visibility: visible;
		}
	}

	.item-label,
	.section-title {
		opacity: 1;
		transition:
			opacity 0.2s ease,
			visibility 0.2s ease;
		visibility: visible;
	}

	.channels-menu-label,
	.channels-menu-trigger {
		opacity: 1;
		transition:
			opacity 0.2s ease,
			visibility 0.2s ease;
		transition-delay: 0.1s;
		visibility: visible;
	}

	.link,
	.trigger {
		align-items: center;
		border-radius: 0 !important;
		border-width: 0;
		color: $dark;
		display: flex;
		font-size: $fontSizeSmall;
		font-weight: $fontWeightRegular;
		height: 40px;
		padding: 0 24px;
		position: relative;
		transition:
			border-color 0.15s ease-out,
			background-color 0.15s ease-out,
			color 0.15s ease-out;
		width: 100%;

		&:active,
		&:focus,
		&:active:focus {
			color: $dark;
			text-decoration: none;

			.avatar {
				background: $mainLighten65;
			}
		}

		&:active,
		&:focus {
			background: $secondaryHover;
		}

		&:active:focus {
			background: $lightL1;
		}

		&:hover {
			background: $secondaryHover;
			color: $dark;
			text-decoration: none;

			.avatar {
				background: $mainLighten65;
				color: $mainLighten8;
			}
		}
	}

	.nav-list {
		display: flex;
		flex-direction: column;
		list-style: none;
		padding-left: 0;
	}

	.sidebar-body {
		flex-grow: 1;
		overflow-y: auto;
		padding: 0;

		.panel {
			background: transparent;
			border: none;
			border-radius: 0;
			margin-bottom: 24px;

			.panel-header {
				align-items: center;
				display: flex;
				height: auto;
				padding: 8px 32px;
			}

			.panel-body {
				padding: 0;
			}

			.section-title {
				align-items: center;
				color: $dark;
				display: flex;
				font-size: $fontSizeExtraSmall;
				font-weight: $fontWeightSemiBold;
				justify-content: space-between;
				letter-spacing: 0.5px;
				text-transform: uppercase;
				white-space: nowrap;
				width: 100%;

				.icon-root {
					color: $mainLighten28;
					font-size: 0.75rem;
				}
			}
		}
	}

	.sidebar-footer {
		margin-bottom: 24px;
		padding: 0;

		.divider {
			margin-bottom: 16px;
			padding: 0 16px;
			width: 100%;

			&:after {
				background: $mainLighten28;
				content: '';
				display: block;
				height: 1px;
				opacity: 0.4;
			}
		}
	}

	.sidebar-header {
		align-items: center;
		margin: 24px 0;
		padding: 0 16px;
	}

	.sidebar-item-root {
		&.active .link {
			background: $light;
			border-left: 4px solid $primary;
			border-radius: 0 !important;
			color: $dark;
			font-weight: $fontWeightSemiBold;
			padding-left: 20px;

			&:hover {
				color: $dark;
				text-decoration: none;
			}
		}

		.icon-wrapper {
			height: 32px;
			justify-content: center;
			margin-right: 16px;
			width: 32px;
		}

		.icon-wrapper,
		.link-content-wrapper {
			align-items: center;
			display: flex;
		}
	}
}
