.top-bar-root {
	border-bottom: solid 1px $cadmin-secondary-l2;
	height: $topBarHeight;

	.top-bar-logo {
		font-size: 20px;
	}

	.top-bar-divider {
		background: $cadmin-secondary-l1;
		height: 20px;
		width: 1px;
	}

	.top-bar-product-name {
		font-size: 18px;
	}

	.top-bar-user .avatar {
		background: transparent;
		border: 1px solid $mainLighten74;
		color: $mainLighten28;
		margin-right: 0;
	}

	@media (max-width: 576px) {
		.top-bar-language-caret,
		.top-bar-language-label,
		.top-bar-product-name {
			display: none;
		}

		.top-bar-language-icon {
			margin-right: 0;
		}
	}
}
