.with-sidebar-root {
	min-height: 100vh;
	padding-left: $sidebarOpenWidth;

	&.has-sidebar {
		transition: padding 0.2s ease;
	}

	&.sidebar-collapsed {
		padding-left: $sidebarClosedWidth;
	}
}

.with-sidebar-content {
	.index-root {
		min-height: calc(100vh - #{$topBarHeight});
	}
}
