.with-sidebar-root {
	min-height: 100vh;
	padding-left: $sidebarOpenWidth;
	padding-top: $toolbarHeight;

	&.has-sidebar {
		@media (prefers-reduced-motion: no-preference) {
			transition: padding 0.5s ease;
		}
	}

	&.sidebar-collapsed {
		padding-left: 0;
	}

	.index-root {
		min-height: calc(100vh - #{$toolbarHeight});
	}
}
