.workspaces-base-page-root {
	background-color: $secondaryHover;
	min-height: 100vh;

	&.workspaces-error-display-root {
		display: flex;
		flex-direction: column;
		min-height: 100vh;

		.content {
			align-items: center;
			display: flex;
			flex: 0.5;
		}
	}

	.content-container {
		margin: 32px auto 0;
		max-width: 700px;
		padding: 20px;
		width: 100%;

		.back-container {
			margin-bottom: 40px;

			.button-root {
				color: $mainLighten28;

				.icon-root {
					margin-right: 20px;
				}
			}
		}

		.title-container {
			margin-bottom: 24px;

			.logo-container {
				align-items: center;
				display: flex;
				margin-bottom: 32px;

				.logo-icon {
					height: 24px;
					margin-right: 24px;
					width: 24px;
				}

				.logo-text {
					color: $mainLighten28;
					font-size: $fontSizeSmall;
					font-weight: $fontWeightBold;
					letter-spacing: 0.5px;
					text-transform: uppercase;
				}

				&.loading {
					visibility: hidden;
				}
			}

			h1 {
				color: $mainLighten4;
				font-size: 28px;
				font-weight: $fontWeightBold;
				line-height: 44px;
				margin-bottom: 0;
			}

			h2 {
				color: $mainLighten4;
				font-size: $fontSizeLarge;
				font-weight: $fontWeightBold;
				line-height: 31px;
				margin-bottom: 0;
			}

			p {
				margin-bottom: 4px;
			}
		}

		.empty-container {
			.empty-card {
				align-items: center;
				background: $white;
				border: 1px solid $mainLighten74;
				border-radius: 4px;
				display: flex;
				flex-direction: column;
				height: 300px;
				justify-content: space-between;
				padding: 40px 75px;

				.lexicon-icon {
					height: 80px;
					width: 80px;
				}

				.button-root {
					margin: 0;
					width: 100%;
				}

				p {
					font-weight: $fontWeightSemiBold;
					margin: 0;
					text-align: center;
				}
			}
		}
	}

	.join-container {
		margin-top: 24px;
	}

	.header-container {
		display: flex;
		justify-content: space-between;
		padding: 20px;

		.liferay-logo {
			height: 32px;
			width: 100px;
		}
	}
}
