<p>
	Hello,
</p>

<p>
	A build for [$SUPPORT_TICKET$] ([$PATCHER_BUILD_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$] reaching [$QA_STATUS$] status.
</p>

<p>
	Patcher has discovered an issue while running automated tests for this build. The build will need to be analyzed by QA manually, or the automated tests can be run again.
</p>

<p>
	Here is a link to view the build: <a href="[$VIEW_BUILD_URL$]">[$VIEW_BUILD_URL$]</a>.
</p>

<p>
	You will receive another email once QA completes its manual testing. For questions regarding the procedures to deliver hotfixes, please contact your Support manager.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>