@import 'atlas-variables';

.lfr-cmp__info-summary {
	&-container {
		border: 1px solid $secondary-l3;
		border-radius: 10px;
		margin-bottom: 1.5rem;
		width: 100%;
	}

	&-header {
		&-container {
			align-items: center;
			display: flex;
			justify-content: space-between;
			padding: 1rem 1.5rem;
		}

		&-content {
			font-size: 1rem;
			font-weight: 600;
		}
	}

	&-content {
		&-container {
			align-items: center;
			border-top: 1px solid $secondary-l3;
			column-gap: 1rem;
			display: grid;
			grid-template-columns: max-content 1fr;
			padding: 1rem 1.5rem;
			row-gap: 1rem;

			&--hidden {
				display: none;
			}
		}

		&-item {
			display: contents;
			font-size: 0.875rem;

			.form-group {
				height: 32px;
				margin-bottom: 0;
				max-width: 12.5rem;
				width: 100%;
			}
		}

		&-label {
			font-weight: 600;
		}

		&-value {
			max-width: 12.5rem;
			min-width: 0;
		}
	}

	.lfr-cmp__info-categories {
		display: flex;
		flex-wrap: wrap;
		gap: 0.25rem;

		.label {
			text-transform: none;
			white-space: nowrap;

			.label-item-expand {
				display: block;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}

	.lfr-cmp__state-selector {
		&--small {
			display: inline-flex;
			max-width: 12.5rem;
			min-height: unset !important;
			transition: opacity 0.2s;
			width: 100%;
		}
	}
}
