@import 'atlas-variables';

.lfr-cmp__state-selector {
	&--small {
		.label:not(.label-item) {
			height: auto;
			margin: 0;
			min-height: 16px;
			padding: 4px;
		}
	}

	&.disabled {
		border-color: $light;
		cursor: not-allowed;
		opacity: 0.4;
	}

	.label:not(.label-item) {
		height: auto;
		margin: 0;
		max-width: 100%;
		white-space: normal;
	}

	&:hover {
		opacity: 0.8;
	}
}
