.cms-needs-review.cms-fds-fluid {
	.container-fluid {
		margin-top: 0;
	}

	.table-responsive {
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}

	.visualization-mode-table {
		margin-inline: 0;
	}
}
