.info {
	&-container {
		box-sizing: border-box;
		gap: 16px;
	}

	&-card {
		background: #fbfcfe;
		border: 2px solid #eef3fd;
		border-radius: 10px;
		flex: 1 0 auto;
		max-width: 274px;
		transition: all ease-in-out 0.3s;

		&:hover {
			background: #f0f5ff;
			border: 2px solid #80acff;
		}

		&-expanded {
			max-width: unset;
		}
	}
}

.metrics {
	&-container {
		box-sizing: border-box;
		gap: 16px;
	}

	&-card {
		background: #fbfcfe;
		border: 2px solid #eef3fd;
		border-radius: 10px;
		flex: 1 1 auto;
		transition: all ease-in-out 0.3s;

		&:hover {
			background: #f0f5ff;
			border: 2px solid #80acff;
		}

		&:last-child {
			min-width: 474px;
		}
	}
}

.trial {
	&-card {
		background: #fbfcfe;
		border: 2px solid #eef3fd;
		border-radius: 10px;
		flex: 1 1 auto;
		transition: all ease-in-out 0.3s;

		&:hover {
			background: #f0f5ff;
			border: 2px solid #80acff;
		}
	}
}
