{{- $env := index .context "apiextensions.crossplane.io/environment" -}}

{{- $xr := .observed.composite.resource -}}

{{- $forceDestroy := $xr.spec.forceDestroy | default false -}}
{{- $managementPolicies := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe" "Update") (list "*") | toJson -}}
{{- $projectId := $xr.spec.projectId -}}
{{- $region := $xr.spec.region -}}

{{- $labels := merge ($xr.spec.commonTags | default dict) (dict "app" "liferay" "deployment-name" $env.deploymentName "project-id" $projectId) -}}

{{- $overlayBucketName := printf "%s-overlay-%s" $env.deploymentName (printf "%.18s-%s" $env.projectId (printf "%s-%s" $env.deploymentName $env.projectId | sha256sum | trunc 6)) -}}