$borderWidth: 2px;
$color: $white;
$dragOverWidth: 6px;
$showDuration: 0.15s;

html#{$cadmin-selector} {
	.cadmin {
		&.page-editor__topper__bar {
			background-color: $cadmin-primary;
			border-radius: 2px 2px 0 0;
			bottom: calc(100% + #{$borderWidth});
			box-shadow: 0 0 0 $borderWidth $cadmin-primary;
			color: $color;
			font-size: 12px;
			height: 22px;
			line-height: 22px;
			max-width: calc(100% - #{$borderWidth * 2});
			min-width: 120px;
			padding: 0 8px 0 4px;
			position: absolute;
			transition: opacity 0.15s ease;
			z-index: $portletTopperActiveZIndex;

			.btn {
				color: inherit;
			}

			.page-editor__topper__drag-icon {
				cursor: grab;
				height: 16px;
				width: 16px;
			}

			.page-editor__topper__icon {
				fill: $color;
				padding: 0;
				position: relative;
				top: 1px;
			}

			.page-editor__topper__item {
				margin: 0;
			}

			.page-editor__topper__title {
				cursor: default;
				font-family: $cadmin-font-family-base;
				font-weight: 600;
				margin-right: 8px;
				min-width: 4ch;
				overflow: hidden;
				text-align: left;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.tbar-nav {
				margin-top: 1px;
			}

			&--hovered {
				background-color: $cadmin-primary-l1;
				box-shadow: 0 0 0 $borderWidth $cadmin-primary-l1;
				color: $cadmin-dark;
				min-width: 0;
				padding-right: 4px;
				z-index: $portletTopperHoveredZIndex;

				.tbar-nav,
				.page-editor__topper__title {
					margin-right: 0;
					min-width: 0;
				}
			}

			&--inset {
				border-radius: 0 0 2px;
				top: $borderWidth;
				transform: translateY(0);
			}
		}
	}

	.page-editor__topper {
		position: relative;

		&:not(.page-editor__col):after,
		& > .page-editor__col__border:after {
			box-shadow: inset 0 0 0 $borderWidth fade_out($cadmin-primary-l2, 1);
			content: '';
			display: block;
			height: 100%;
			left: 0;
			pointer-events: none;
			position: absolute;
			top: 0;
			transition: box-shadow ease $showDuration;
			width: 100%;
		}

		.page-editor__row:not(.no-gutters) > .page-editor__col {
			&:before,
			& > .page-editor__col__border:after {
				$spacingUnit: 12px;

				left: $spacingUnit;
				width: calc(100% - #{$spacingUnit * 2});
			}
		}

		&:focus {
			outline: none;
		}

		&.dragged {
			opacity: 0.5;
		}

		&__content .alert {
			font-family: $cadmin-font-family-base;
		}

		&.hovered:after {
			box-shadow: inset 0 0 0 $borderWidth $cadmin-primary-l1;
			z-index: $portletTopperHoveredZIndex;
		}

		&.hovered.not-allowed {
			color: $cadmin-gray-600;
		}

		&.active:not(.page-editor__col):after,
		&.active > .page-editor__col__border:after,
		&.highlighted:after {
			box-shadow: inset 0 0 0 $borderWidth $cadmin-primary;
			z-index: 1;
		}

		&.drag-over-bottom:after {
			border-bottom: $dragOverWidth solid $cadmin-primary-l1;
		}

		// For left and right, we use box-shadow instead of border because border is
		// automatically inverted in rtl, and we don't want that behavior here

		&.drag-over-left:after {
			box-shadow: inset $dragOverWidth 0 0 0 $cadmin-primary-l1;
			transition: none;
		}

		&.drag-over-right:after {
			box-shadow: inset (-$dragOverWidth) 0 0 0 $cadmin-primary-l1;
			transition: none;
		}

		&.drag-over-top:after {
			border-top: $dragOverWidth solid $cadmin-primary-l1;
		}

		&.drag-over-bottom.page-editor__col {
			&:after {
				border: none;
			}

			&:before {
				border-bottom: $dragOverWidth solid $cadmin-primary-l1;
			}
		}

		&.drag-over-top.page-editor__col {
			&:after {
				border: none;
			}

			&:before {
				border-top: $dragOverWidth solid $cadmin-primary-l1;
			}
		}

		&.drag-over-middle
			> .page-editor__topper__content
			> .page-editor__container.empty:not(
				.page-editor__form-relationship
			),
		&.drag-over-middle.page-editor__col.empty:before,
		&.drag-over-middle .page-editor__collection__message {
			box-shadow: inset 0 0 0 $dragOverWidth $cadmin-primary-l1;
		}

		&.drag-over-middle
			> .page-editor__topper__content
			> .page-editor__container
			> :last-child:after {
			box-shadow: inset (-$dragOverWidth) 0 0 0 $cadmin-primary-l1;
			transition: none;
		}

		&.drag-over-middle.page-editor__col
			> .page-editor__col__border
			> :last-child:after {
			border-bottom: $dragOverWidth solid $cadmin-primary-l1;
		}

		&.drag-over-middle .page-editor__no-fragments-state {
			border: none;
			box-shadow: inset 0 0 0 $dragOverWidth $cadmin-primary-l1;

			.page-editor__no-fragments-state__message {
				color: $cadmin-gray-400;
			}
		}

		&.drag-over-middle.page-editor__collection-item
			.page-editor__no-fragments-state {
			box-shadow: inset 0 0 0 $dragOverWidth $cadmin-purple-l4;
		}

		&.highlighted:after {
			z-index: $portletTopperZIndex;
		}

		&--hovered:after {
			box-shadow: none;
			outline: $borderWidth dashed fade_out($cadmin-purple, 0.5);
			outline-offset: -$borderWidth;
		}

		& > .page-editor__topper__content {
			height: 100%;
			min-height: 5px;
		}
	}
}
