$hover-transition: all 0.3s ease;
$hover-transition-width: width 0.3s ease;
$normal-transition: all 0.3s ease;
$normal-transition-width: width 0.3s ease;

.tr-sidebar {
	background-color: $color-indigo-dark;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
	max-height: 100vh;
	overflow: hidden;
	transition: $normal-transition-width;
	width: 80px;

	&--expanded {
		transition: $normal-transition-width;
		width: 250px !important;
	}

	&__content {
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: space-between;
		overflow: hidden;
		overflow-x: hidden;
		overflow-y: auto;

		&__divider {
			background-color: $sidebar-divider-color;
			height: 1px;
			margin: 0;
			min-height: 1px;
			opacity: 0.25;
		}

		&__footer {
			cursor: pointer;

			&__avatar {
				margin-left: -2px;

				&--expanded {
					.tr-avatar__text {
						color: $color-indigo-light;
						opacity: 1;
						transition: $normal-transition;
					}
				}
			}

			&__forwardicon {
				padding: 10px 32px;
				transform: rotateY(0deg);
				transition: $normal-transition;

				&--expand {
					padding: 10px 22px;
					transform: rotateY(180deg);
				}

				&:hover {
					background-color: $color-indigo;
					color: $color-white;
					fill: $color-white;
				}

				&:hover > svg path {
					color: $color-white;
					fill: $color-white;
					transition: $normal-transition;
				}
			}

			.tr-avatar {
				&__text {
					opacity: 0;

					&--expanded {
						opacity: 1;
					}
				}
			}

			.tr-sidebar__content__list__item {
				.tr-avatar__text {
					color: $color-indigo-light;
					transition: $normal-transition;
				}
			}
		}

		&__list {
			display: flex;
			flex-direction: column;
			padding-bottom: 2rem;

			&__item {
				align-items: center;
				cursor: pointer;
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				overflow: hidden;
				padding: 8px 20px;

				a {
					text-decoration: none;
				}

				&:active,
				&:focus,
				&:hover,
				&--active {
					background-color: $color-indigo;

					svg {
						fill: $color-white;
					}

					span {
						color: $color-white;
					}

					text-decoration: none;
					transition: $hover-transition;
				}

				&:active,
				&:hover > &__icon {
					color: $color-white;
					fill: $color-white;
				}

				&:hover > &__clayicon {
					color: $color-white;
					fill: $color-white;
				}

				&.active {
					background-color: $color-indigo;
					color: $color-indigo-light;

					&__text {
						color: $color-white;
						width: 0;
					}
				}

				&__icon {
					fill: $color-indigo-light;
					min-height: 35px;
					min-width: 35px;
				}

				&__clayicon {
					fill: $color-indigo-light;
					min-height: 22px;
					min-width: 35px;
				}

				&__text {
					color: $color-indigo-light;
					font-size: 1.2em;
					margin-left: 1rem;
					opacity: 0;
					transition: $normal-transition;
					visibility: hidden;
					white-space: nowrap;
					width: 0;

					&--expanded {
						opacity: 1;
						visibility: visible;
						width: auto;
					}
				}

				&:hover .tr-avatar__text {
					color: $color-white;
					transition: $normal-transition;
				}

				&:hover > .tr-sidebar__content__item__text--expanded {
					color: $color-white;
					transition: $normal-transition;
				}

				&:hover > .tr-sidebar__content__item__icon {
					fill: $color-white;
					transition: $normal-transition;
				}

				&:hover > .tr-sidebar__content__item__clayicon {
					fill: $color-white;
					transition: $normal-transition;
				}
			}
		}

		&__title {
			align-items: center;
			display: flex;
			margin: 20px 20px 40px;

			&__logo {
				transition: $normal-transition;
			}

			&__brand {
				margin-left: 10px;
				opacity: 0;
				transition: $normal-transition;

				&--expanded {
					opacity: 1;
				}
			}
		}
	}
}
