.query-builder-tab {
	.source {
		.panel-header .sticker {
			height: 1rem;
		}

		.panel-group .panel-body {
			margin-bottom: 0;
		}

		.panel-unstyled .panel-header.panel-header-link:focus {
			box-shadow:
				0 0 0 0.25rem var(--white),
				0 0 0 0.375rem var(--primary-l1); // Fixes gray border to white
		}
	}

	.vertical-nav-content-wrapper {
		max-width: 680px;
	}

	&.unified-query-builder-tab {
		.scope-selector {
			.table-responsive {
				margin-top: 24px;
				max-height: 580px;
				overflow: auto;
			}
		}

		.vertical-nav-content-wrapper {
			max-width: unset;
		}
	}
}

// Fix for vertical nav on small screens where the dropdown isn't aligned
// to the top and the white background makes it look misaligned.

@media (max-width: 767.98px) {
	.menubar-vertical-expand-md.menubar-transparent {
		background-color: transparent;
	}
}
