$color-bg: #fff;
$color-bg-alt: #f7f7f8;
$color-bg-dark: #34373e;
$color-bg-medium: #fcfcfc;
$color-border: #e6e7e7;
$color-disabled: #dbe6ff;
$color-fg: #5c5e5e;
$color-fg-alt: #7f848d;
$color-fg-alt-light: #dadada;
$color-shadow: rgba(92, 94, 94, 0.14);

$color-theme: #4c84ff;
$color-theme-dark: #255cd6;
$color-theme-light: #c9daff;
$color-theme-transparent: rgba($color-theme, 0.067);

$color-modal-mask: rgba(52, 55, 62, 0.6);

$color-mood-bad: #ec676a;
$color-mood-bad-bg: #fef7f7;
$color-mood-bad-text: #e30002;
$color-mood-default: $color-theme;
$color-mood-good: #4bc286;
$color-mood-good-text: #058343;
$color-mood-neutral: #ffb68d;
$color-mood-neutral-text: #ee8e58;
$color-mood-warning: #ffb68d;

$font-weight-semi-bold: 500;

$placeholder-colors: (
	#9be2bd,
	#b3eff5,
	#fee4b8,
	#ffb78c,
	#ff83a3,
	#f5b3ef,
	#b48ff7,
	#639dff
);

$shadow: 0 10px 20px $color-shadow;
$shadow-focus: 0 3px 20px 0 rgba($color-theme, 0.5);

$gutter: 20px;
$lg-gutter: 40px;
$sm-gutter: 10px;
$xs-gutter: 5px;

$content-max-width: 1440px;
$frame-size: 70px;
$frame-size-small: 56px;
$liferay-sidebars-width: 320px;
$sidebar-width: 300px;

$micro-transition: ease 100ms;
$transition: ease 200ms;

$border-radius: 8px;
$standard-radius: 8px;

//breakpoints

$bp-small: 767px;
$bp-xsmall: 577px;
$bp-xxsmall: 376px;
