@import 'atlas-variables';

@import 'upper_tbar';

.preview-file-error-container {
	margin: auto;
	max-width: 340px;
	padding-bottom: 5em;
	padding-top: 10em;
	text-align: center;
}

.document-libray-preview-container {
	display: inline-block;
	position: relative;
	width: 100%;

	.sidebar-preview {
		height: 100%;
		position: absolute;
		right: 0;
		transform: translateX(0);

		.sidebar-panel {
			background-color: #fff;
		}

		@include media-breakpoint-up(sm) {
			.panel {
				border-color: transparent;
			}
		}

		&.contextual-sidebar {
			overflow-y: scroll;
			top: auto;
			z-index: 1;
			height:100vh;
		}
	}
}
