.preview-sidebar {
	overflow-x: overlay;
	width: $previewSidebarWidth;

	.btn:focus {
		box-shadow: unset;
	}

	.preview-error-list {
		margin: 0 16px;
	}

	.preview-results-list {
		.list-group {
			margin-bottom: 16px;

			.list-group-title {
				padding: 6px 0;
			}
		}
	}

	.raw-request {
		font-weight: 400;
	}

	.raw-response {
		font-weight: 400;
	}

	.search-message {
		margin: 0.5rem auto 1.5rem;
		padding: 16px 0;
		text-align: center;
		width: 340px;

		.cancel {
			margin-top: 16px;
		}
	}

	.sidebar-body {
		padding: 0;
	}

	.sidebar-search {
		border-bottom: 0;
	}

	.total-hits-label {
		margin-right: 16px;
	}

	.warning-container + .preview-error-list {
		margin-top: 16px;
	}
}
