.result-list-item {
	border-left: 0;
	border-right: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;

	.list-group-header {
		background-color: unset;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		padding-left: 0;
		padding-top: 12px;

		.list-group-header-title {
			font-size: 11px;
		}
	}

	.row.justify-content-start {
		padding: 0 12px;

		& > div {
			border-bottom: 1px solid var(--secondary-l3);
			font-size: 12px;
			padding: 2px 0;

			&:first-of-type {
				font-weight: 600;
			}
		}

		&:last-child > div {
			border-width: 0;
		}
	}

	.shortcut-icon {
		padding-left: 4px;
	}

	.score {
		background-color: var(--light);
		color: var(--info);
		font-size: 10px;
		font-weight: 700;
		padding: 4px;

		&:hover {
			background-color: var(--light-d1);
		}
	}
}
