{{- $identityName := printf "%s-identity" $xr.metadata.name }}
{{- $identityPrincipalId := dig "liferay-identity" "resource" "status" "atProvider" "principalId" "" $observedResources }}

apiVersion: managedidentity.azure.m.upbound.io/v1beta1
kind: UserAssignedIdentity
metadata:
    annotations:
        gotemplating.fn.crossplane.io/composition-resource-name: liferay-identity
    labels:
        {{- $tags | toYaml | nindent 8 }}
    name: {{ $identityName }}
spec:
    forProvider:
        location: {{ $region }}
        name: {{ $identityName }}
        resourceGroupName: {{ $env.resourceGroupName }}
        tags:
            {{- $tags | toYaml | nindent 12 }}
    managementPolicies: {{ $managementPolicies }}
    providerConfigRef:
        kind: ClusterProviderConfig
        name: iam
---
apiVersion: managedidentity.azure.m.upbound.io/v1beta1
kind: FederatedIdentityCredential
metadata:
    annotations:
        gotemplating.fn.crossplane.io/composition-resource-name: liferay-identity-federation
    labels:
        {{- $tags | toYaml | nindent 8 }}
    name: {{ $identityName }}-federation
spec:
    forProvider:
        audience:
            -   api://AzureADTokenExchange
        issuer: {{ $env.oidcIssuerUrl }}
        parentIdRef:
            name: {{ $identityName }}
        resourceGroupName: {{ $env.resourceGroupName }}
        subject: system:serviceaccount:{{ $namespace }}:liferay-default
    managementPolicies: {{ $managementPolicies }}
    providerConfigRef:
        kind: ClusterProviderConfig
        name: iam
{{- if $identityPrincipalId }}
{{- range $dataPlane := $dataPlanes }}
---
apiVersion: authorization.azure.m.upbound.io/v1beta1
kind: RoleAssignment
metadata:
    annotations:
        gotemplating.fn.crossplane.io/composition-resource-name: liferay-storage-role-assignment-{{ $dataPlane }}
    labels:
        {{- $tags | toYaml | nindent 8 }}
        dataPlane: {{ $dataPlane }}
    name: {{ $xr.metadata.name }}-storage-{{ $dataPlane }}
spec:
    forProvider:
        principalId: {{ $identityPrincipalId }}
        principalType: ServicePrincipal
        roleDefinitionName: Storage Blob Data Contributor
        scope: /subscriptions/{{ $env.subscriptionId }}/resourceGroups/{{ $env.resourceGroupName }}/providers/Microsoft.Storage/storageAccounts/{{ $storageAccountBase }}{{ trunc 1 $dataPlane }}
    managementPolicies: {{ $managementPolicies }}
    providerConfigRef:
        kind: ClusterProviderConfig
        name: iam
{{- end }}
{{- end }}