.sidebar-layout {
	--sidebar-layout-height: calc(
		100vh - var(--control-menu-container-height, 0)
	);
	--sidebar-layout-width: 280px;

	display: grid;
	grid-template-areas: 'sidebar content';
	grid-template-columns: 0px minmax(0, 1fr);
	min-height: var(--sidebar-layout-height);
	transition: 400ms ease-in-out;

	&.open {
		grid-template-columns: var(--sidebar-layout-width) minmax(0, 1fr);
	}

	.sidebar {
		max-width: var(--sidebar-layout-width);
		min-height: var(--sidebar-layout-height);
		min-width: var(--sidebar-layout-width);
		scroll-behavior: smooth;

		.menubar-primary {
			.nav-link {
				&:focus-visible,
				&:hover,
				&.active {
					background-color: #f1f2f5;
				}

				&:hover:before {
					background-color: #6b6c7e;
					content: '';
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
				}

				&:hover:not(.active):before {
					width: 2px;
				}
			}
		}
	}

	.content {
		background: var(--body-bg);
		grid-area: content;
	}

	.sidebar-body {
		padding-top: 1.5rem;
	}

	.sidebar-close-button {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.sidebar-container {
		display: flex;
		grid-area: sidebar;
		overflow: hidden;
		transition: left 400ms ease-in-out;
	}

	.panel {
		background-color: transparent;
	}

	@media (max-width: 575px) {
		&.open {
			grid-template-columns: 0px 1fr;

			.sidebar-container {
				left: 0px;
			}
		}

		.sidebar-container {
			height: 100%;
			left: calc(-1 * var(--sidebar-layout-width));
			position: absolute;
			width: var(--sidebar-layout-width);
			z-index: 989;
		}

		.sidebar {
			height: 100%;
			max-height: none;
		}
	}

	@media (min-height: 480px) {
		.sidebar-header {
			background-color: white;
			position: sticky;
			top: 0;
			z-index: 9;
		}
	}
}
