.sidebar-layout {
	--sidebar-layout-height: calc(
		100vh - var(--control-menu-container-height, 0) - var(--top-bar-height, 0rem)
	);
	--sidebar-layout-width: 280px;

	--menubar-primary-nav-link-hover-background-color: var(--gray-200);
	--menubar-primary-nav-link-hover-highlight-background-color: var(--secondary);

	--menubar-primary-nav-link-focus-background-color: var(--menubar-primary-nav-link-hover-background-color);

	--menubar-primary-nav-link-active-class-background-color: var(--menubar-primary-nav-link-hover-background-color);

	column-gap: .05rem;
	display: grid;
	grid-template-areas: 'sidebar content';
	grid-template-columns: 0px minmax(0, 1fr);
	min-height: var(--sidebar-layout-height);
	transition: 400ms ease-in-out;

	.lfr-layout-structure-item-sidebar:has(.cms-control-menu) & {
		--top-bar-height: 3.5rem;
	}

	.c-prefers-reduced-motion & {
		transition: none;
	}

	@media (prefers-reduced-motion: reduce) {
		transition: none;
	}

	&.open {
		grid-template-columns: var(--sidebar-layout-width) minmax(0, 1fr);
	}

	.sidebar {
		height: var(--sidebar-layout-height);
		scroll-behavior: smooth;
		width: var(--sidebar-layout-width);
	}

	.content {
		background: var(--body-bg);
		grid-area: content;
	}

	.sidebar-body {
		padding-top: 1.5rem;
	}

	.sidebar-close-button {
		position: absolute;
		right: 0;
		top: 0;
		z-index: 1;
	}

	.sidebar-container {
		display: flex;
		grid-area: sidebar;
		overflow: hidden;
		transition: left 400ms ease-in-out;
	}

	.panel {
		background-color: transparent;
	}

	@media (max-width: 575px) {
		&.open {
			grid-template-columns: 0px 1fr;

			.sidebar-container {
				left: 0px;
			}
		}

		.sidebar-container {
			left: calc(-1 * var(--sidebar-layout-width));
			width: var(--sidebar-layout-width);
			z-index: 989;
		}
	}

	@media (min-height: 480px) {
		.sidebar-header {
			background-color: var(--white);
			position: sticky;
			top: 0;
			z-index: 9;
		}
	}
}
