@import 'atlas-variables';
@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin .lfr-objects__code-editor,
.lfr-objects__code-editor {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	width: 100%;

	&-source {
		border: 1px solid $gray-300;
		border-radius: 0.25rem;
		display: flex;
		overflow: hidden;

		&.form-control {
			height: 603px;
			overflow: hidden;
			padding: 0;
		}
	}
}

html#{$cadmin-selector} .cadmin .lfr-objects__expression-builder-modal,
.lfr-objects__expression-builder-modal {
	.modal-dialog.modal-lg .modal-content {
		height: 790px;
		width: 898px;
	}
}
