$editablesBorderWidth: 1px;
$editableTypes: 'link', 'rich-text', 'text';
$emptyItemMinHeight: 180px;
$emptyCollectionItemMinWidth: 124px;
$emptyColumnMinWidth: 48px;
$emptyContainerMinWidth: 180px;
$dashedBorderWidth: 2px;

html#{$cadmin-selector} {
	.page-editor {
		&.is-dragging {
			.page-editor__fragment-content,
			.empty {
				opacity: 0.5;
				transition: opacity 0.2s;
			}

			.drop-container .page-editor__fragment-content,
			.drop-container .empty,
			.drop-container.empty {
				opacity: 1;
			}
		}

		&__collection {
			&__block {
				box-shadow: inset 0 0 0 1px fade_out($cadmin-purple, 0.7);

				&.empty {
					box-shadow: inset 0 0 0 1px $cadmin-primary-l2;
				}

				&.disabled {
					opacity: 40%;
					pointer-events: none;
				}
			}

			&__message {
				background-color: $cadmin-gray-100;
				box-shadow: inset 0 0 0 1px $cadmin-primary-l2;
				color: $cadmin-gray-500;
				font-family: $cadmin-font-family-base;
				font-size: 14px;
				font-weight: 600;
				margin-top: 0;
				padding: 7em 1em;
				text-align: center;
			}

			&-item {
				border: 1px solid fade_out($cadmin-purple, 0.9);
				min-height: 80px;

				&__title {
					color: $cadmin-purple-d3;
					font-size: 14px;
					font-style: italic;
					font-weight: 500;
				}
			}
		}

		&__col .page-editor__col__resizer {
			background-color: $cadmin-primary;
			border-radius: 50%;
			border-width: 0;
			cursor: col-resize;
			height: 16px;
			left: 0;
			outline: none;
			padding: 0;
			position: absolute;
			top: 50%;
			transform: translate(-50%, -50%);
			width: 16px;
			z-index: 1;

			&-first {
				left: 13px;
			}
		}

		&__collection-item__border {
			height: 100%;
			position: absolute;
			width: 100%;
		}

		&__col__border {
			border: 1px solid $cadmin-primary-l2;
			height: 100%;
		}

		&__container,
		&__container:before,
		&__row:before {
			box-shadow: inset 0 0 0 1px $cadmin-primary-l2;
		}

		&__collection-item {
			.page-editor__no-fragments-state {
				background: fade_out($cadmin-purple-l4, 0.9);
				border: $dashedBorderWidth dashed $cadmin-purple-l4;
			}
		}

		&__col,
		&__row,
		&__collection-item {
			position: relative;

			.page-editor__no-fragments-state {
				padding: 4vh 12% 6vh;
			}

			&:before {
				$spacingUnit: 12px;

				content: '';
				display: block;
				height: 100%;
				left: $spacingUnit;
				pointer-events: none;
				position: absolute;
				top: 0;
				width: calc(100% - #{$spacingUnit * 2});
			}
		}

		&__form-step {
			box-shadow: inset 0 0 0 1px $cadmin-primary-l2;
			height: 100%;
		}

		&__row.align-bottom,
		&__row.align-middle {
			.page-editor__col .page-editor__col__border {
				display: flex;
				flex-direction: column;
			}
		}

		&__row.align-middle .page-editor__col .page-editor__col__border {
			justify-content: center;
		}

		&__row.align-bottom .page-editor__col .page-editor__col__border {
			justify-content: flex-end;
		}

		&__row.align-top .page-editor__col .page-editor__col__border {
			justify-content: flex-start;
		}

		&__collection-item {
			&:before {
				left: 0;
				width: 100%;
			}
		}

		&__container.empty,
		&__row.empty {
			min-height: $emptyItemMinHeight;

			&.flex-column-reverse {
				.page-editor__col {
					flex: 1;

					&__border {
						min-height: calc($emptyItemMinHeight / 2);
					}
				}
			}

			.page-editor__col {
				min-height: calc($emptyItemMinHeight / 2);
			}
		}

		&__editable {
			min-height: 16px;
			min-width: 3ch;
			transition: box-shadow ease 0.3s;

			&:focus-visible {
				outline: none;
			}

			&--hovered {
				box-shadow: inset 0 0 0 $editablesBorderWidth $cadmin-primary-l1;
			}

			&--content-hovered {
				outline: $dashedBorderWidth dashed fade_out($cadmin-purple, 0.5);
				outline-offset: -$dashedBorderWidth;

				&.page-editor__editable--active {
					outline: 0;
				}
			}

			&--mapped {
				box-shadow: inset 0 0 0 $editablesBorderWidth
					fade_out($cadmin-purple, 0.7);

				&.page-editor__editable--hovered {
					box-shadow: inset 0 0 0 $editablesBorderWidth
						fade_out($cadmin-purple, 0.3);
				}

				&.page-editor__editable--active {
					box-shadow: inset 0 0 0 $editablesBorderWidth $cadmin-purple;
				}
			}

			&--translated {
				box-shadow: inset 0 0 0 $editablesBorderWidth
					fade_out($cadmin-success-l1, 0.7);

				&.page-editor__editable--hovered {
					box-shadow: inset 0 0 0 $editablesBorderWidth
						fade_out($cadmin-success-l1, 0.3);
				}

				&.page-editor__editable--active {
					box-shadow: inset 0 0 0 $editablesBorderWidth
						$cadmin-success-l1;
				}
			}

			&--active {
				box-shadow: inset 0 0 0 $editablesBorderWidth $cadmin-primary;

				&:not(.page-editor__editable--mapped) {
					@each $type in $editableTypes {
						&[type='#{$type}'],
						&[data-lfr-editable-type='#{$type}'] {
							cursor: text;
						}
					}
				}
			}
		}

		&__row
			> .page-editor__col.hovered:not(.active)
			> .page-editor__col__border:after {
			box-shadow: inset 0 0 0 2px $cadmin-primary-l1;
			z-index: $portletTopperHoveredZIndex;
		}

		&__row.no-gutters > .page-editor__col:before {
			left: 0;
			width: 100%;
		}

		&__row.no-gutters:before {
			left: 0;
			width: 100%;
		}

		&__row.no-gutters .page-editor__col__resizer-first {
			left: 1px;
		}

		&__no-fragments-state {
			align-items: center;
			background: $cadmin-primary-l3;
			border: $dashedBorderWidth dashed $cadmin-primary-l2;
			border-radius: 8px;
			// stylelint-disable-next-line property-no-unknown
			container-type: inline-size;
			justify-content: center;
			padding: 15vh 12%;

			&.page-editor__form-unmapped-state {
				border: none;
				box-shadow: inset 0 0 0 1px $cadmin-primary-l2;
			}

			&__message,
			&__title {
				font-family: $cadmin-font-family-base;
				text-align: center;
			}

			&__message {
				color: $secondary;
				font-size: 14px;
				margin: 0;
			}

			// stylelint-disable-next-line at-rule-no-unknown
			@container (max-width: 100px) {
				&__image {
					display: none;
				}

				&__message {
					overflow-wrap: anywhere;
				}
			}

			// stylelint-disable-next-line at-rule-no-unknown
			@container (max-height: 100px) {
				&__image {
					display: none;
				}

				&__message {
					overflow-wrap: anywhere;
				}
			}

			&__title {
				color: $dark;
				font-size: 16px;
				font-weight: 600;
				margin-bottom: 12px;
			}
		}

		// LPS-103745
		// Keep legacy lfr-editable tags
		// stylelint-disable-next-line selector-type-no-unknown
		lfr-editable {
			cursor: pointer;
			display: block;
		}

		&__container.flex-row,
		&__collection .flex-row {
			.page-editor__collection-item.empty {
				min-width: $emptyCollectionItemMinWidth;
			}

			.page-editor__container.empty {
				min-width: $emptyContainerMinWidth;
			}

			.page-editor__row.empty .page-editor__col {
				min-height: calc($emptyItemMinHeight / 2);
				min-width: $emptyColumnMinWidth;
			}
		}
	}

	.page-editor__col--master > .page-editor__col__border {
		border: none;
	}

	.page-editor__editable {
		.lfr-ck {
			outline: $cadmin-primary-d2 auto 1px;

			.ck.ck-editor__editable_inline {
				border: 0;
				padding: 0;

				& > *:last-child {
					margin-bottom: 0;
				}

				& *:first-child {
					margin-top: 0;
				}
			}
		}
	}

	img.page-editor__editable {
		box-sizing: border-box;
		outline-offset: -$editablesBorderWidth;

		&--hovered.page-editor__editable {
			outline: solid $editablesBorderWidth $cadmin-primary-l1;
		}

		&--mapped {
			outline: solid $editablesBorderWidth fade_out($cadmin-purple, 0.7);

			&.page-editor__editable--hovered {
				outline: solid $editablesBorderWidth
					fade_out($cadmin-purple, 0.3);
			}

			&.page-editor__editable--active {
				outline: solid $editablesBorderWidth $cadmin-purple;
			}
		}

		&--content-hovered {
			outline: $dashedBorderWidth dashed fade_out($cadmin-purple, 0.5);
			outline-offset: -$dashedBorderWidth;
		}

		&--translated {
			outline: solid $editablesBorderWidth
				fade_out($cadmin-success-l1, 0.7);

			&.page-editor__editable--hovered {
				outline: solid $editablesBorderWidth
					fade_out($cadmin-success-l1, 0.3);
			}

			&.page-editor__editable--active {
				outline: solid $editablesBorderWidth $cadmin-success-l1;
			}
		}

		&--active {
			outline: solid $editablesBorderWidth $cadmin-primary;
		}
	}

	.custom-height .page-editor__no-fragments-state {
		// stylelint-disable-next-line property-no-unknown
		container-type: size;
		padding: 0;
	}
}
