$changeTrackingBarHeight: 23px;
$desktopToolbarHeight: 64px;
$sidebarButtonHeight: $sidebarButtonWidth;
$toolbarBorders: 2px;
$toolbarHeight: 112px;

// z-indexes for children of page-editor-sidebar (which is a stacking context).

$zIndexButtons: 1;
$zIndexContent: 0;

@mixin sidebar {
	display: flex;
	flex-direction: column;
	height: calc(
		100vh -
			(
				var(--control-menu-container-height) + var(--toolbar-height) +
					var(--zoom-alert-height)
			)
	);
	position: fixed;
	top: calc(
		var(--control-menu-container-height) + var(--toolbar-height) +
			var(--zoom-alert-height)
	);
	z-index: $sidebarZIndex;
}

html#{$cadmin-selector} .cadmin .page-editor__item-configuration-sidebar {
	@include sidebar;
	background: $cadmin-white;
	border-left: 1px solid $cadmin-secondary-l3;
	right: 0;
	transition:
		transform ease $defaultTransitionDuration,
		width ease $defaultTransitionDuration;
	transform: translateX(100%);
	visibility: hidden;
	width: $defaultSidebarContentWidth;

	&--open {
		transform: translateX(0);
		visibility: visible;
	}
}

html#{$cadmin-selector}
	.page-editor__small-resolution
	.cadmin
	.page-editor__item-configuration-sidebar {
	&--open {
		border-left: 1px solid $cadmin-secondary-l3;
		overflow: unset;
		width: $defaultSidebarContentWidth;
	}
	border: none;
	height: unset;
	min-height: calc(
		var(--editor-height) + var(--toolbar-height) + var(--zoom-alert-height)
	);
	overflow: hidden;
	position: absolute;
	top: calc(var(--control-menu-container-height));
	width: 0;
	z-index: $sidebarZIndex + 1;
}

html#{$cadmin-selector}
	.page-editor__small-resolution
	.cadmin
	.page-editor__sidebar {
	min-height: calc(
		var(--editor-height) + var(--toolbar-height) + var(--zoom-alert-height)
	);
	height: unset;
	position: absolute;
	top: calc(var(--control-menu-container-height));
	z-index: $sidebarZIndex + 1;

	&__buttons {
		min-height: calc(
			var(--editor-height) + var(--toolbar-height) +
				var(--zoom-alert-height)
		);
	}

	&__content {
		height: unset;
		min-height: calc(
			var(--editor-height) + var(--toolbar-height) +
				var(--zoom-alert-height)
		);
		position: absolute;
		top: 0;
	}
}

html#{$cadmin-selector} .cadmin .page-editor__sidebar {
	@include sidebar;
	left: 0;

	transition:
		left ease $defaultTransitionDuration,
		right ease $defaultTransitionDuration;

	&__buttons {
		background-color: $cadmin-gray-200;
		display: flex;
		flex-direction: column;
		font-size: 0.875rem;
		height: 100%;
		padding: 16px 5px;
		transition: transform ease $defaultTransitionDuration;
		width: $sidebarButtonWidth;
		z-index: $zIndexButtons;

		&--hidden {
			transform: translateX(-100%);

			& + .page-editor__sidebar__content {
				left: 0;
			}
		}

		a {
			align-items: center;
			border-radius: 4px;
			color: $cadmin-secondary;
			display: flex;
			height: 32px;
			justify-content: center;

			&.active,
			&:active,
			&:focus,
			&:hover {
				background-color: $cadmin-light-d1;
				color: $cadmin-secondary-d2;
			}

			&:focus {
				box-shadow:
					0 0 0 2px $cadmin-white,
					0 0 0 4px $cadmin-primary-l1,
					inset 0 0 rgba(0, 0, 0, 0);
				outline: none;
			}
		}

		button {
			color: $cadmin-secondary;
			margin-bottom: 4px;

			&.active,
			&:active,
			&:focus,
			&:hover {
				background-color: $cadmin-light-d1;
				color: $cadmin-secondary-d2;
			}
		}

		hr {
			border-color: $cadmin-secondary;
			margin: 12px 8px;
		}
	}

	&__content {
		background-color: $cadmin-white;
		border-right: 1px solid $cadmin-secondary-l3;
		display: flex;
		flex-direction: column;
		height: calc(
			100vh -
				(
					var(--control-menu-container-height) + var(--toolbar-height) +
						var(--zoom-alert-height)
				)
		);
		left: $sidebarButtonWidth;
		position: fixed;
		transform: translateX(calc(-100% - $sidebarButtonWidth));
		transition:
			transform ease $defaultTransitionDuration,
			left ease $defaultTransitionDuration;

		visibility: hidden;
		width: var(--sidebar-content-width, $defaultSidebarContentWidth);
		z-index: $zIndexContent;

		&--open {
			transform: translateX(0);
			visibility: visible;
		}

		&:focus-visible {
			outline: none;
		}
	}

	&__resizer {
		background-color: transparent;
		height: 100%;
		position: absolute;
		left: calc(
			$sidebarButtonWidth +
				var(--sidebar-content-width, $defaultSidebarContentWidth)
		);
	}
}

html#{$cadmin-selector} body {
	--toolbar-height: #{$toolbarHeight};

	@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
		--toolbar-height: #{$desktopToolbarHeight};
	}

	@include media-breakpoint-up(lg, $cadmin-grid-breakpoints) {
		overflow: hidden;
	}
}

html#{$cadmin-selector} .page-editor__small-resolution .page-editor__wrapper {
	max-height: unset;
}

html#{$cadmin-selector} .page-editor__wrapper {
	&--sidebar--hidden {
		padding-left: 0;
	}

	padding-left: $sidebarButtonWidth;
	position: relative;
	transition:
		padding-left ease $defaultTransitionDuration,
		margin-right ease $defaultTransitionDuration;
	will-change: padding-left, margin-right;
	max-height: calc(
		100vh -
			(
				var(--control-menu-container-height) + var(--toolbar-height) +
					var(--zoom-alert-height) + #{$toolbarBorders}
			)
	);
	overflow: auto;

	&--padded-start {
		@include media-breakpoint-up(md) {
			padding-left: $sidebarButtonWidth + $defaultSidebarContentWidth;
		}
	}

	&--padded-end {
		@include media-breakpoint-up(md) {
			margin-right: $defaultSidebarContentWidth;
		}
	}
}
