// Animations

$defaultTransitionDuration: 0.5s;

// Layout

$pageEditorSpacing: 8px;

$defaultSidebarContentWidth: 280px;
$sidebarButtonWidth: 42px;

$product-menu-width: 320px;

// Portlet Topper

$portletTopperZIndex: 986;

$portletTopperActiveZIndex: $portletTopperZIndex + 1;

$portletTopperHoveredZIndex: $portletTopperActiveZIndex + 1;

// z-indexes, ordered numerically.

$alloyEditorZIndex: 992;
$dragSourceZIndex: 977;
$keyboardMovementPreviewZIndex: 1051;
$modalZIndex: 1050;
$sidebarZIndex: 988;
$translationStatusListZIndex: 977;
$undoHistoryOverlayZIndex: 1001;
