$contentEditorManagementBarHeight: 64px;
$contentEditorSidePanelBarWidth: 40px;
$contentEditorSidePanelWidth: 280px;

$pageEditorManagamentBarHeight: 64px;
$pageEditorSidebarButtonsWidth: 42px;
$pageEditorSidebarWidth: 280px;
$pageEditorTopperZIndex: 988;

$productMenuWidth: 320px;
