@import '_atlas-custom-properties-variables';
@import 'cadmin-variables';
@import 'variables';

// View mode

#wrapper {
	--sidebar-bar-width: 0px;
	--sidebar-content-width: 0px;

	&:not(.page-editor__wrapper--sidebar--hidden):has(
			.content-editor__side-panel
		) {
		--sidebar-bar-width: #{$contentEditorSidePanelBarWidth};
	}

	&:has(.content-editor__side-panel > .sidebar) {
		--sidebar-content-width: #{$contentEditorSidePanelWidth};
	}

	margin-right: var(--sidebar-bar-width);
	transition: margin-right 0.5s ease;

	@include media-breakpoint-up(lg) {
		#content {
			padding-right: calc(
				var(--sidebar-content-width) + var(--content-preview-width)
			);
			transition: padding 0.3s ease-in-out;
		}
	}

	.content-editor__side-panel {
		@include media-breakpoint-up(lg) {
			right: var(--content-preview-width);
			transition: right 0.3s ease-in-out;
		}

		margin-top: calc(
			var(--control-menu-container-height) + #{$contentEditorToolbarHeight}
		);

		.form-control.lfr-ck {
			&:has(> .ck-focused) {
				background-color: $input-focus-bg;
				border-color: $input-focus-border-color;
				box-shadow: $input-focus-box-shadow;
			}

			.ck-focused {
				border-color: transparent;
				box-shadow: none;
			}
		}
	}
}

// Edit mode

html#{$cadmin-selector} {
	.page-editor__wrapper {
		&:has(.content-editor__side-panel) {
			margin-right: $contentEditorSidePanelBarWidth;

			&:not(.page-editor__wrapper--sidebar--hidden) {
				margin-right: $pageEditorSidebarWidth +
					$contentEditorSidePanelBarWidth;
			}
		}

		&:not(.page-editor__wrapper--sidebar--hidden)
			.content-editor__side-panel {
			margin-right: $pageEditorSidebarWidth;
		}

		.content-editor__side-panel {
			margin-right: 0;
			margin-top: calc(
				var(--control-menu-container-height) +
					$contentEditorToolbarHeight + $pageEditorManagamentBarHeight
			);
			opacity: 50%;
			transition: margin-right 0.5s ease;
		}
	}

	.master-page .content-editor__side-panel {
		opacity: 50%;
	}
}
