<div class="f-navigation-menu-item">
	<p>${languageUtil.get(locale, "sites", "Sites")}</p>

	<div class="d-flex menu-item-wrapper">
		<a class="d-flex justify-content-between menu-item mx-2 text-decoration-none" href="https://www.liferay.com" target="_blank">
			<div class="d-flex menu-item-group">
				<div class="menu-item-icon-liferay mr-1 px-1 text-white">
					[@clay["icon"] cssClass="sites-icon" symbol="sites"/]
				</div>

				<div class="menu-item-text ml-2" data-lfr-editable-id="menuItemTextLiferay" data-lfr-editable-type="text">
					${languageUtil.get(locale, "liferay-com", "Liferay.com")}
				</div>
			</div>
		</a>
	</div>

	<div class="d-flex menu-item-wrapper">
		<a class="d-flex justify-content-between menu-item mx-2 text-decoration-none" href="http://support.liferay.com/" target="_blank">
			<div class="d-flex menu-item-group">
				<div class="menu-item-icon-customer-portal mr-1 px-1 text-white">
					[@clay["icon"] cssClass="sites-icon" symbol="sites"/]
				</div>

				<div class="menu-item-text ml-2" data-lfr-editable-id="menuItemTextCustomerPortal" data-lfr-editable-type="text">
					${languageUtil.get(locale, "customer-portal", "Customer Portal")}
				</div>
			</div>
		</a>
	</div>

	<div class="d-flex menu-item-wrapper">
		<a class="d-flex justify-content-between menu-item mx-2 text-decoration-none" href="https://partner.liferay.com/" target="_blank">
			<div class="d-flex menu-item-group">
				<div class="menu-item-icon-partner-portal mr-1 px-1 text-white">
					[@clay["icon"] cssClass="sites-icon" symbol="sites"/]
				</div>

				<div class="menu-item-text ml-2" data-lfr-editable-id="menuItemTextpartner" data-lfr-editable-type="text">
					${languageUtil.get(locale, "partner-portal", "Partner Portal")}
				</div>
			</div>
		</a>
	</div>

	<div class="d-flex menu-item-wrapper">
		<a class="d-flex justify-content-between menu-item mx-2 text-decoration-none" href="https://liferay.dev/" target="_blank">
			<div class="d-flex menu-item-group">
				<div class="menu-item-icon-community mr-1 px-1 text-white">
					[@clay["icon"] cssClass="sites-icon" symbol="sites"/]
				</div>

				<div class="menu-item-text ml-2" data-lfr-editable-id="menuItemTextcommunity" data-lfr-editable-type="text">
					${languageUtil.get(locale, "community", "Community")}
				</div>
			</div>
		</a>
	</div>

	<div class="d-flex menu-item-wrapper">
		<a class="d-flex justify-content-between menu-item mx-2 text-decoration-none" href="https://learn.liferay.com/" target="_blank">
			<div class="d-flex menu-item-group">
				<div class="menu-item-icon-liferay-learn mr-1 px-1 text-white">
					[@clay["icon"] cssClass="sites-icon" symbol="sites"/]
				</div>

				<div class="menu-item-text ml-2" data-lfr-editable-id="menuItemTextLiferayLearn" data-lfr-editable-type="text">
					${languageUtil.get(locale, "liferay-learn", "Liferay Learn")}
				</div>
			</div>
		</a>
	</div>
</div>