companyId=L"20098"
configuration.name="Default\ Portal\ CORS\ Configuration \Allow \Admin \User"
enabled=B"true"
filter.mapping.url.pattern=[ \
"/o/headless-admin-user/*", \
]
headers=[ \
"Access-Control-Allow-Credentials: true", \
"Access-Control-Allow-Headers: *", \
"Access-Control-Allow-Methods: *", \
"Access-Control-Allow-Origin: *", \
]