@import 'atlas-variables';

.lfr-cmp__tasks-overview-container {
	.empty-state {
		border-color: $secondary-l3;
		border-radius: 0.5rem;
		border-style: solid;
		border-width: 0.0625rem;
		height: 100%;
		padding-bottom: 1rem;
		padding-top: 1rem;
		width: 100%;
	}

	.row {
		row-gap: 1rem;
	}

	.statistic-button {
		border-color: $secondary-l3;
		height: 100%;
		padding-bottom: 1rem;
		padding-top: 1rem;
		text-align: left;
		width: 100%;

		&:hover {
			background-color: $light-l1;
			border-color: $secondary-l0;
		}
	}
}
