.mega-menu-item {
	align-items: center;
	background: rgba(231, 239, 255, 0);
	border-radius: 8px;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 1rem;
	justify-content: flex-start;
	margin: 0.25rem 0;
	outline: rgba(99, 153, 255, 0) solid 2px;
	outline-offset: 2px;
	padding: 8px;
	transition: all var(--transition-base);

	.mega-menu-item-html {
		align-self: start;
		flex-shrink: 0;
		height: 2rem;
		margin-left: 0.5rem;
		width: 2rem;
	}

	.mega-menu-item-image {
		border-radius: var(--border-radius);
		flex-shrink: 0;
		height: 5.875rem;
		object-fit: cover;
		overflow: hidden;
		width: 5.875rem;

		@media (max-width: 767.98px) {
			height: 5rem;
			width: 5rem;
		}
	}

	.mega-menu-item-external-icon {
		margin-right: 0.5rem;
		opacity: 0;
		transition: all var(--transition-base);
	}

	.mega-menu-item-text {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		flex-wrap: nowrap;
		gap: 0.5rem;
		justify-content: center;

		.mega-menu-item-description {
			color: var(--color-neutral-8, #54555F);
			font-size: var(--text-paragraph-sm-font-size);
			font-weight: var(--font-weight-normal, 400);
			line-height: var(--text-paragraph-sm-line-height);
			margin: 0;
		}

		.mega-menu-item-title {
			color: var(--color-neutral-10, #282934);
			font-size: var(--h5-font-size);
			font-weight: var(--font-weight-semi-bold, 600);
			margin: 0;
			transition: all var(--transition-base);
		}
	}

	&:hover,
	&:focus,
	&:focus-visible {
		background: var(--color-action-primary-hover-lighten, #EDF3FE);

		.mega-menu-item-external-icon {
			opacity: 1;
		}

		.mega-menu-item-title {
			color: var(--color-action-primary-hover, #0053F0);
		}
	}

	&.mega-menu-item-has-image {
		.mega-menu-item-description {
			color: var(--color-neutral-10, #282934);
			font-size: var(--text-paragraph-base-font-size);
			font-weight: var(--font-weight-semi-bold, 600);
			line-height: var(--text-paragraph-base-line-height);
		}

		.mega-menu-item-title {
			color: var(--color-neutral-8, #54555F);
			font-size: var(--text-paragraph-sm-font-size);
			font-weight: var(--font-weight-semi-bold, 600);
		}
		
		&:hover,
		&:focus,
		&:focus-visible {
			.mega-menu-item-description {
				color: var(--color-action-primary-hover, #0053F0);
			}
		}
	}
}
