@import 'atlas-variables';

.room-trend {
	.gauge-container {
		position: relative;
		width: 150px;
	}
}

.room-trend {
	&-button {
		height: 40px;
		width: 153px;

		&.btn-secondary {
			background: $gray-200;
			border: 1px solid $secondary-l2;
			border-radius: 4px;
			color: $gray-600;

			&.no-hover {
				cursor: default;

				&:active,
				&:hover,
				&:focus {
					background-color: $gray-200;
					border-color: $secondary-l2;
					box-shadow: none;
				}
			}
		}

		&-text {
			color: $gray-900;
		}
	}

	&-frame-height {
		height: 120px;
	}

	&-pointer {
		bottom: 0;
		height: 50px;
		left: calc(50% - 5px);
		position: absolute;
		transform-origin: 50% 90%;
		transition: transform 1.5s cubic-bezier(0.25, 1, 0.5, 1);
		width: 10px;
		will-change: transform;
		z-index: 10;
	}

	&-semicircle {
		display: block;
		width: 9rem;
	}

	p {
		font-size: 14px;
	}
}
