@import 'atlas-custom-properties/_variables';

// ---------- Portlet ----------

.knowledge-base-portlet-section {
	.kb-article-content,
	.kb-article-title {
		margin: 5px 0 0;
	}

	.kb-article-title a {
		font-weight: bold;
		margin: 0 0 0 -20px;
	}

	.kb-article-title-first {
		margin-top: 0;
	}

	.kb-articles {
		padding: 0 0 0 20px;
	}

	.kb-articles-sections-title {
		border-bottom: 1px solid $gray-400;
		font-size: 1.2em;
		font-weight: bold;
		margin: 0 -5px 5px;
		padding: 0 5px 3px;
	}
}
