@import '../js/home_dashboard/HomeDashboard';
@import './variables';
@import './view_agent_definitions';
@import './view_issue_reports';

@import 'atlas-variables';
@import 'components/breadcrumb';

.ai-hub-container {
	padding: 95px 150px !important;
}

@media (max-width: 991.98px) {
	.ai-hub-container {
		padding: 95px 50px !important;
	}
}

.bg-gradient--blue-white {
	background-image: linear-gradient(180deg, #e9f0ff 1.25%, #fff 30%);
}

.bg-gradient--dotted {
	background-image: radial-gradient(circle, #e1e2e4 1.5px, transparent 1.5px),
		linear-gradient(
			100deg,
			rgba(238, 244, 255, 0.17) 3.5%,
			#f5f5f5 46%,
			#fff 88.5%
		);
	background-position:
		top left,
		center;
	background-size:
		16px 16px,
		100% 100%;
}

.bg-gradient--dotted-blur {
	background-image: radial-gradient(circle, #e1e2e4 1.5px, transparent 1.5px),
		linear-gradient(
			100deg,
			rgba(216, 216, 216, 0.17) 3.6%,
			#f8faff 46%,
			rgba(234, 247, 255, 0.46) 88.5%
		);
	background-position:
		top left,
		center;
	background-size:
		16px 16px,
		100% 100%;
}

.ai-hub h1,
.ai-hub h2,
.ai-hub h3,
.ai-hub h4,
.ai-hub h5,
.ai-hub h6 {
	margin: 0;
}

.ai-hub .ai-hub-home-title {
	font-size: 3.5rem;
	font-weight: 800;
}

.ai-hub-gif,
.ai-hub-gif img {
	border-radius: 8px;
	box-shadow: 0px 4px 24px 0px #00000040;
}

.ai-hub-section-header {
	height: 7.625rem;
}

.ai-hub p {
	margin: 0;
}
