.ai-hub-issue-reports-content {
	padding-left: 30px;
	padding-right: 30px;
}

.ai-hub-issue-reports-table {
	.table-striped tbody tr:nth-of-type(odd) {
		&:not(.table-active):not(.table-disabled):not(.table-divider) {
			&,
			td,
			th {
				background-color: transparent;
			}
		}
	}

	.table-striped.table-hover tbody tr:nth-of-type(odd):hover {
		&:not(.table-active):not(.table-disabled):not(.table-divider) {
			&,
			td,
			th {
				background-color: transparent;
			}
		}
	}
}
