.seo-studio-insights-section {
	.fds {
		.table {
			border: 1px solid #cdced9;
			border-radius: 4px;
			box-sizing: border-box;
			overflow: hidden;

			td,
			th {
				border-color: #cdced9;
			}
		}
	}
}
