@import 'atlas-custom-properties/_variables';
@import 'cadmin-variables';

.side-navigation-container {
	--skeleton-shimmer-color: var(--light-l1);

	input:not(:focus-within) {
		background-image: clay-icon(search, #6b6c7e);
		background-position: 15px;
		background-repeat: no-repeat;
		background-size: 16px;
		padding-left: 40px;

		@media (prefers-color-scheme: dark) {
			background-image: clay-icon(search, #a2a2b9);
		}
	}

	.c-slideout-start .sidebar-light {
		background-color: $light-l1;
		border-right: 0.5px solid $secondary-l0;
		box-shadow: none;

		&.skeleton {
			overflow: hidden;
			position: relative;

			.side-navigation-skeleton {
				aspect-ratio: 320 / 650;
				color: $secondary-l3;
				flex-shrink: 0;
				width: 100%;
			}

			&::after {
				animation: shimmer 1.6s infinite;
				background: linear-gradient(
					90deg,
					rgb(from var(--skeleton-shimmer-color) r g b / 0) 0%,
					rgb(from var(--skeleton-shimmer-color) r g b / 0.6) 50%,
					rgb(from var(--skeleton-shimmer-color) r g b / 0) 100%
				);
				content: '';
				inset: 0;
				position: absolute;
				transform: translateX(-100%);
			}
		}
	}
}

html#{$cadmin-selector} {
	.side-navigation-header {
		.side-navigation-close-button {
			margin-bottom: auto;
			margin-top: auto;

			@include media-breakpoint-up(lg) {
				@include sr-only();
				@include sr-only-focusable();

				&:active,
				&:focus {
					position: absolute;
				}
			}
		}
	}
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
