@import 'atlas-custom-properties/_variables';
@import 'cadmin-variables';

@mixin side-navigation-shimmer {
	overflow: hidden;
	position: relative;

	&::after {
		animation: shimmer 1.6s infinite;
		background: linear-gradient(
			90deg,
			rgb(from var(--skeleton-shimmer-color) r g b / 0) 0%,
			rgb(from var(--skeleton-shimmer-color) r g b / 0.6) 50%,
			rgb(from var(--skeleton-shimmer-color) r g b / 0) 100%
		);
		content: '';
		inset: 0;
		position: absolute;
		transform: translateX(-100%);
	}
}

.side-navigation-container {
	--skeleton-shimmer-color: var(--light-l1);

	a.nav-link {
		--menubar-primary-collapse-icon-font-size: 0.875rem;
		--menubar-primary-collapse-icon-font-weight: 400;
		--menubar-primary-collapse-icon-text-transform: none;

		.collapse-icon-closed,
		.collapse-icon-open {
			display: none;
		}
	}

	a.nav-link + .nav .nav-link {
		padding-left: 2rem;
	}

	input::-webkit-search-cancel-button {
		display: none;
	}

	input:not(:focus-within) {
		background-image: clay-icon(search, #6b6c7e);
		background-position: 15px;
		background-repeat: no-repeat;
		background-size: 16px;
		padding-left: 40px;

		@media (prefers-color-scheme: dark) {
			background-image: clay-icon(search, #a2a2b9);
		}
	}

	.c-slideout-start .sidebar-light {
		background-color: $light-l1;
		border-right: 0.5px solid $secondary-l0;
		box-shadow: none;

		&.skeleton {
			@include side-navigation-shimmer;

			.side-navigation-skeleton {
				aspect-ratio: 320 / 650;
				color: $secondary-l3;
				flex-shrink: 0;
				width: 100%;
			}
		}
	}

	.side-navigation-results-skeleton {
		@include side-navigation-shimmer;

		svg {
			aspect-ratio: 320 / 530;
			color: $secondary-l3;
			flex-shrink: 0;
			width: 100%;
		}
	}

	.side-navigation-section-item > .nav-link {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
		line-height: 1rem;
		padding-bottom: 4px;
		padding-top: 4px;
	}

	.side-navigation-section-item-context {
		color: $secondary;
		font-size: 0.75rem;
		line-height: 0.75rem;
		margin-top: 4px;
	}
}

html#{$cadmin-selector} {
	.side-navigation-header {
		.side-navigation-close-button {
			margin-bottom: auto;
			margin-top: auto;

			@include media-breakpoint-up(lg) {
				@include sr-only();
				@include sr-only-focusable();

				&:active,
				&:focus {
					position: absolute;
				}
			}
		}
	}
}

@keyframes shimmer {
	100% {
		transform: translateX(100%);
	}
}
