<nav aria-label="${configuration.pagebarAriaLabel}" class="bg-white cms-control-menu component-tbar tbar">
	<div class="container-fluid">
		<ul class="tbar-nav">
			<li class="tbar-item">
				<lfr-drop-zone data-lfr-drop-zone-id="sidebarTrigger"></lfr-drop-zone>
			</li>
			<li class="tbar-item">
				<img alt="${configuration.alt}" data-lfr-editable-id="sidebarImage" data-lfr-editable-type="image" height="20" src="[resources:waffle.svg]" />
			</li>
			<li class="tbar-item tbar-item-expand text-left">
				<div class="tbar-section">
					<div class="cms-title component-title middle" data-lfr-editable-id="sidebarTitle" data-lfr-editable-type="text">
						Liferay CMS
					</div>
				</div>
			</li>
			<li class="tbar-item">
				<lfr-drop-zone data-lfr-drop-zone-id="bulkActionsMonitor"></lfr-drop-zone>
			</li>
			<li class="tbar-item">
				[@liferay_portlet["runtime"]
					portletName="com_liferay_product_navigation_applications_menu_web_internal_portlet_ProductNavigationApplicationsMenuPortlet"
				/]
			</li>
			<li class="tbar-item">
				[@liferay.user_personal_bar /]
			</li>
		</ul>
	</div>
</nav>