.cms-title {
	font-family:
		'Source Sans 3',
		system-ui,
		-apple-system,
		'system-ui',
		'Segoe UI',
		Roboto,
		Oxygen-Sans,
		Ubuntu,
		Cantarell,
		'Helvetica Neue',
		Arial,
		sans-serif;
	font-size: 24px;
	font-weight: 600;
}
