.ratings-thumbs {
	.btn {
		&[aria-pressed='true'] .on .lexicon-icon {
			color: $primary;
		}

		&.btn-animated {
			&[aria-pressed='true'] {
				.on {
					animation-name: thumbs-on;

					.c-prefers-reduced-motion & {
						animation: none;
					}

					@media (prefers-reduced-motion: reduce) {
						animation: none;
					}
				}

				&.btn-thumbs-up .on {
					transform-origin: bottom left;
				}

				&.btn-thumbs-down .on {
					transform-origin: top right;
				}
			}
		}
	}
}

@keyframes thumbs-on {
	0% {
		opacity: 0;
		transform: rotate(45deg) scale3d(0.1, 0.1, 0.1);
	}

	50% {
		transform: rotate(-15deg) scale3d(1.2, 1.2, 1.2);
	}

	100% {
		opacity: 1;
	}
}
