/development/activation.jar
/development/ant-apache-bsf.jar
/development/ant-compress.jar
/development/asm-commons.jar
/development/asm-tree.jar
/development/asm.jar
/development/aspectj-rt.jar
/development/aspectj-weaver.jar
/development/bnd-repository.jar
/development/byte-buddy.jar
/development/byte-buddy-agent.jar
/development/catalina-ha.jar
/development/catalina.jar
/development/com.liferay.ant.get.file.set.jar
/development/com.liferay.ant.manifest.helper.jar
/development/com.liferay.ant.secure.property.jar
/development/com.liferay.jenkins.results.parser.jar
/development/com.liferay.poshi.core.jar
/development/commons-codec.jar
/development/commons-collections4.jar
/development/commons-compress.jar
/development/commons-lang3.jar
/development/db2jcc.jar
/development/db2jcc_license_cu.jar
/development/dtddoc.jar
/development/dtdparser.jar
/development/dumbster.jar
/development/freemarker.jar
/development/guava.jar
/development/hamcrest-core.jar
/development/hamcrest-library.jar
/development/hsql.jar
/development/j2h.jar
/development/jacocoagent.jar
/development/jacocoant.jar
/development/jacococore.jar
/development/jacocoreport.jar
/development/jalopy.jar
/development/jargs.jar
/development/jaxb-api.jar
/development/jbi_rt.jar
/development/jhighlight.jar
/development/jndi.jar
/development/jsch.jar
/development/jsonassert.jar
/development/jstl-api.jar
/development/jstl-impl.jar
/development/junit.jar
/development/log4j-1.2-api.jar
/development/mail.jar
/development/mariadb.jar
/development/maven-ant-tasks.jar
/development/mockito-core.jar
/development/mysql.jar
/development/objenesis.jar
/development/ojdbc14.jar
/development/ojdbc5.jar
/development/ojdbc6.jar
/development/osgi-annotation-versioning.jar
/development/osgi-core.jar
/development/osgi-service-cm.jar
/development/osgi-service-component.jar
/development/osgi-service-log.jar
/development/p6spy.jar
/development/portlet.jar
/development/postgresql.jar
/development/qdox.jar
/development/reflections.jar
/development/saxpath.jar
/development/sdk-addon-api-0.2.jar
/development/sling-commons-osgi.jar
/development/sling-testing-osgi-mock-core.jar
/development/smtp.jar
/development/snakeyaml.jar
/development/spring-instrument-tomcat.jar
/development/spring-instrument.jar
/development/spring-test.jar
/development/tlddoc.jar
/development/tomcat-annotations-api.jar
/development/tomcat-api.jar
/development/tomcat-coyote.jar
/development/tomcat-el-api.jar
/development/tomcat-jasper-el.jar
/development/tomcat-jasper.jar
/development/tomcat-jsp-api.jar
/development/tomcat-juli.jar
/development/tomcat-servlet-api.jar
/development/tomcat-tribes.jar
/development/tomcat-util-scan.jar
/development/tomcat-util.jar
/development/tomcat-websocket-api.jar
/development/velocity-tools.jar
/development/velocity.jar
/portal/activation.jar
/portal/commons-configuration.jar
/portal/commons-lang.jar
/portal/commons-logging.jar
/portal/dom4j.jar
/portal/hibernate-core.jar
/portal/hikaricp.jar
/portal/isoparser.jar
/portal/istack-commons-runtime.jar
/portal/jabsorb.jar
/portal/jaxb-api.jar
/portal/jaxb-core.jar
/portal/jaxb-runtime.jar
/portal/jaxen.jar
/portal/jaxws-api.jar
/portal/jcl-over-slf4j.jar
/portal/jhlabs-filters.jar
/portal/jodd-json.jar
/portal/jodd-util.jar
/portal/json-java.jar
/portal/jws-api.jar
/portal/log4j-api.jar
/portal/log4j-core.jar
/portal/persistence.jar
/portal/simplecaptcha.jar
/portal/slf4j-api.jar
/portal/soap-api.jar
/portal/spring-aop.jar
/portal/spring-beans.jar
/portal/spring-context.jar
/portal/spring-core.jar
/portal/spring-expression.jar
/portal/spring-jdbc.jar
/portal/spring-tx.jar
/portal/spring-web.jar
/portal/stax-ex.jar
/portal/transaction.jar
/portal/txw2.jar
/portal/xercesImpl.jar
/portal/xml-apis.jar
