/development/activation.jar
/development/alloy-taglib.jar
/development/annotations.jar
/development/ant-apache-bsf.jar
/development/appium.jar
/development/biz.aQute.bnd.jar
/development/catalina.jar
/development/com.liferay.ant.bnd.jar
/development/com.liferay.jenkins.results.parser.jar
/development/com.liferay.util.taglib.compat.jar
/development/db2jcc.jar
/development/db2jcc_license_cu.jar
/development/deployment.jar
/development/dtddoc.jar
/development/dtdparser.jar
/development/dumbster.jar
/development/error-prone-ant.jar
/development/freemarker.jar
/development/gson.jar
/development/hamcrest-core.jar
/development/hamcrest-library.jar
/development/hsql.jar
/development/j2h.jar
/development/jacocoagent.jar
/development/jacocoant.jar
/development/jacococore.jar
/development/jacocoreport.jar
/development/jalopy.jar
/development/jargs.jar
/development/jarjar.jar
/development/jasper.jar
/development/jaxb-api.jar
/development/jbi_rt.jar
/development/jetty-server.jar
/development/jetty-util.jar
/development/jms.jar
/development/jndi.jar
/development/jsch.jar
/development/jserrorcollector.jar
/development/jsonassert.jar
/development/jsp-api.jar
/development/jta.jar
/development/junit.jar
/development/jutf7.jar
/development/mail.jar
/development/mariadb.jar
/development/maven-ant-tasks.jar
/development/mockito.jar
/development/mysql.jar
/development/objenesis.jar
/development/p6spy.jar
/development/persistence.jar
/development/postgresql.jar
/development/powermock-api-mockito.jar
/development/powermock-api-support.jar
/development/powermock-core.jar
/development/powermock-module-junit4.jar
/development/powermock-module-junit4-common.jar
/development/powermock-reflect.jar
/development/qdox.jar
/development/resin.jar
/development/saxpath.jar
/development/sdk-addon-api-0.2.jar
/development/servlet-api.jar
/development/slf4j-simple.jar
/development/smtp.jar
/development/spring-instrument.jar
/development/spring-instrument-tomcat.jar
/development/spring-test.jar
/development/tlddoc.jar
/development/tomcat-api.jar
/development/tomcat-coyote.jar
/development/velocity.jar
/development/velocity-tools.jar
/development/websocket-api.jar
/development/xmlresolver.jar
/global/portlet.jar
/portal/abdera.jar
/portal/ant.jar
/portal/antlr2.jar
/portal/antlr3-runtime.jar
/portal/antlr3.jar
/portal/aopalliance.jar
/portal/asm-debug-all.jar
/portal/aspectj-rt.jar
/portal/aspectj-weaver.jar
/portal/axiom-api.jar
/portal/axiom-impl.jar
/portal/axis-ant.jar
/portal/axis.jar
/portal/bcmail.jar
/portal/bcprov.jar
/portal/boilerpipe.jar
/portal/bsf.jar
/portal/c3p0.jar
/portal/ccpp.jar
/portal/ccpp-ri.jar
/portal/cglib-nodep.jar
/portal/chardet.jar
/portal/chemistry-opencmis-client-api.jar
/portal/chemistry-opencmis-client-bindings.jar
/portal/chemistry-opencmis-client-impl.jar
/portal/chemistry-opencmis-commons-api.jar
/portal/chemistry-opencmis-commons-impl.jar
/portal/closure-compiler.jar
/portal/commons-beanutils.jar
/portal/commons-chain.jar
/portal/commons-codec.jar
/portal/commons-collections.jar
/portal/commons-compress.jar
/portal/commons-configuration.jar
/portal/commons-dbcp.jar
/portal/commons-digester.jar
/portal/commons-discovery.jar
/portal/commons-exec.jar
/portal/commons-fileupload.jar
/portal/commons-httpclient.jar
/portal/commons-io.jar
/portal/commons-lang.jar
/portal/commons-logging.jar
/portal/commons-math.jar
/portal/commons-pool.jar
/portal/commons-validator.jar
/portal/concurrent.jar
/portal/crypt.jar
/portal/daisydiff.jar
/portal/displaytag.jar
/portal/dom4j.jar
/portal/easyconf.jar
/portal/eclipse-core-runtime.jar
/portal/ecs.jar
/portal/fontbox.jar
/portal/freshcookies-security.jar
/portal/gif89.jar
/portal/hessian.jar
/portal/hibernate-commons-annotations.jar
/portal/hibernate-core.jar
/portal/hikaricp.jar
/portal/htmlparser.jar
/portal/httpclient.jar
/portal/httpcore.jar
/portal/httpmime.jar
/portal/ical4j.jar
/portal/im4java.jar
/portal/isoparser.jar
/portal/jabsorb.jar
/portal/jai_codec.jar
/portal/jai_core.jar
/portal/jakarta-regexp.jar
/portal/java-diff.jar
/portal/java-libpst.jar
/portal/javassist.jar
/portal/jaxb-impl.jar
/portal/jaxen.jar
/portal/jaxrpc.jar
/portal/jaxws-rt.jar
/portal/jazzy.jar
/portal/jcifs.jar
/portal/jcl-over-slf4j.jar
/portal/jcommon.jar
/portal/jdom.jar
/portal/jempbox.jar
/portal/jena.jar
/portal/jericho-html.jar
/portal/jfreechart.jar
/portal/jhighlight.jar
/portal/jhlabs-filters.jar
/portal/jmatio.jar
/portal/jna.jar
/portal/jodconverter.jar
/portal/jodd-bean.jar
/portal/jodd-core.jar
/portal/jodd-http.jar
/portal/jodd-json.jar
/portal/jodd-proxetta.jar
/portal/jodd-servlet.jar
/portal/jodd-upload.jar
/portal/json-java.jar
/portal/json-schema-validator.jar
/portal/jrcs-diff.jar
/portal/jsr107cache.jar
/portal/jstl-api.jar
/portal/jstl-impl.jar
/portal/juh.jar
/portal/juniversalchardet.jar
/portal/jurt.jar
/portal/kxml2.jar
/portal/liferay-icu4j.jar
/portal/log4j.jar
/portal/log4j-extras.jar
/portal/mchange-commons-java.jar
/portal/metadata-extractor.jar
/portal/mime4j-core.jar
/portal/mime4j-dom.jar
/portal/mimepull.jar
/portal/monte-cc.jar
/portal/nekohtml.jar
/portal/netcdf.jar
/portal/netty-all.jar
/portal/ridl.jar
/portal/odmg.jar
/portal/oro.jar
/portal/pdfbox.jar
/portal/poi-ooxml.jar
/portal/poi-ooxml-schemas.jar
/portal/poi-scratchpad.jar
/portal/poi.jar
/portal/portals-bridges.jar
/portal/rdffilter.jar
/portal/rhino.jar
/portal/rome.jar
/portal/rometools.jar
/portal/saaj-api.jar
/portal/saaj-impl.jar
/portal/scribe.jar
/portal/serializer.jar
/portal/simplecaptcha.jar
/portal/slf4j-api.jar
/portal/soap.jar
/portal/spring-aop.jar
/portal/spring-aspects.jar
/portal/spring-beans.jar
/portal/spring-context.jar
/portal/spring-context-support.jar
/portal/spring-core.jar
/portal/spring-expression.jar
/portal/spring-jdbc.jar
/portal/spring-jms.jar
/portal/spring-orm.jar
/portal/spring-oxm.jar
/portal/spring-tx.jar
/portal/spring-web.jar
/portal/spring-webmvc.jar
/portal/spring-webmvc-portlet.jar
/portal/stax-ex.jar
/portal/stax.jar
/portal/streambuffer.jar
/portal/stringtemplate.jar
/portal/struts-core.jar
/portal/struts-el.jar
/portal/struts-extras.jar
/portal/struts-taglib.jar
/portal/struts-tiles.jar
/portal/tagsoup.jar
/portal/tika-core.jar
/portal/tika-parsers.jar
/portal/tomcat-jdbc.jar
/portal/tomcat-juli.jar
/portal/truezip.jar
/portal/unoil.jar
/portal/urlrewritefilter.jar
/portal/vorbis-java-core.jar
/portal/vorbis-java-tika.jar
/portal/wsdl4j.jar
/portal/wstx.jar
/portal/xalan.jar
/portal/xbean-spring.jar
/portal/xbean.jar
/portal/xercesImpl.jar
/portal/xml-apis.jar
/portal/xmlsec.jar
/portal/xmpcore.jar
/portal/xpp3.jar
/portal/xstream.jar
/portal/xuggle-xuggler-noarch.jar
/portal/xz.jar
/portal/yui-compressor.jar
