.public-sites-navigation-padding {
	padding-top: 7rem;
  }

  .has-control-menu nav.public-sites-navigation {
	margin-top: 3.5rem;
  }
  .has-control-menu.has-edit-mode-menu .public-sites-navigation-padding {
	padding-top: 0;
  }
  .has-control-menu.has-edit-mode-menu nav.public-sites-navigation {
	margin-top: 0;
	position: static;
  }

  .has-control-menu .search-wrapper {
	padding-top: 8rem;
  }

  nav.public-sites-navigation {
	font-size: var(--font-size-base);
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 3;
  }
  nav.public-sites-navigation .utility-nav {
	max-height: 3rem;
  }
  nav.public-sites-navigation .primary-nav {
	background: var(--white);
	min-height: 4rem;
	padding-bottom: 0.375rem;
	padding-top: 0.375rem;
  }
  nav.public-sites-navigation.dark-nav {
	background-color: var(--color-brand-primary-darken-5);
  }
  nav.public-sites-navigation.dark-nav .primary-nav,
  nav.public-sites-navigation.dark-nav .primary-nav .close-btn,
  nav.public-sites-navigation.dark-nav .primary-nav .menu-btn,
  nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper {
	background-color: var(--color-brand-primary-darken-5);
  }
  @media (max-width: 1199px) {
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper {
	  background-color: var(--white);
	}
  }
  @media (min-width: 1200px) {
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item:hover .adt-nav-text, nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item:focus .adt-nav-text {
	  background-color: var(--color-action-primary-inverted-hover);
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item:hover .adt-nav-text .adt-nav-caret-bottom-icon {
	  color: var(--white);
	  opacity: 1;
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item.dropdown-open .adt-nav-text {
	  background-color: transparent;
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item.dropdown-open .adt-nav-text .adt-nav-caret-bottom-icon {
	  color: var(--white);
	  opacity: 0.5;
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item:hover.dropdown-open .adt-nav-text .adt-nav-caret-bottom-icon {
	  opacity: 1;
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-item .adt-nav-text:focus {
	  background-color: var(--color-action-primary-inverted-hover);
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-text .adt-nav-title {
	  color: var(--white);
	}
	nav.public-sites-navigation.dark-nav .primary-nav .nav-items-wrapper .adt-nav-caret-bottom-icon {
	  color: transparent;
	}
  }
  nav.public-sites-navigation.dark-nav .liferay-logo {
	color: var(--white);
  }
  nav.public-sites-navigation.dark-nav .svg-liferay-text,
  nav.public-sites-navigation.dark-nav .svg-waffle {
	fill: var(--white);
  }
  nav.public-sites-navigation.dark-nav .menu-btn,
  nav.public-sites-navigation.dark-nav .close-btn {
	border-color: var(--white);
  }
  nav.public-sites-navigation.dark-nav .menu-btn .menu-btn-text,
  nav.public-sites-navigation.dark-nav .menu-btn .close-btn-text,
  nav.public-sites-navigation.dark-nav .close-btn .menu-btn-text,
  nav.public-sites-navigation.dark-nav .close-btn .close-btn-text {
	color: var(--white);
  }
  nav.public-sites-navigation.dark-nav .menu-btn svg,
  nav.public-sites-navigation.dark-nav .close-btn svg {
	fill: var(--white);
  }
  nav.public-sites-navigation.dark-nav .menu-btn:hover, nav.public-sites-navigation.dark-nav .menu-btn:active, nav.public-sites-navigation.dark-nav .menu-btn:focus,
  nav.public-sites-navigation.dark-nav .close-btn:hover,
  nav.public-sites-navigation.dark-nav .close-btn:active,
  nav.public-sites-navigation.dark-nav .close-btn:focus {
	outline: 1px solid var(--white);
	outline-offset: 2px;
  }
  nav.public-sites-navigation.dark-nav .utility-nav-container {
	background-color: var(--white);
  }
  nav.public-sites-navigation .language-selector-container .language-selector {
	color: var(--black);
	cursor: pointer;
	display: inline-block;
	padding-right: 0;
  }
  nav.public-sites-navigation .language-selector-container .language-selector svg {
	margin-right: 0.25rem;
  }
  nav.public-sites-navigation .language-selector-container .language-selector.list-open .language-caret-icon {
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  nav.public-sites-navigation .language-selector-container .language-selector.list-open .language-selector-globe-icon,
  nav.public-sites-navigation .language-selector-container .language-selector.list-open .language-caret-icon {
	opacity: 0.7;
  }
  nav.public-sites-navigation .language-selector-container .language-selector:hover {
	background-color: var(--color-action-primary-hover-lighten);
  }
  nav.public-sites-navigation .language-selector-container .language-selector:hover .language-selector-globe-icon,
  nav.public-sites-navigation .language-selector-container .language-selector:hover .language-caret-icon {
	opacity: 1;
  }

.language-selector-container .language-selector[aria-expanded=false] .language-caret-icon svg {
	transition: transform 0.5s;
	transform: rotate(360deg);
}
.language-selector-container .language-selector[aria-expanded=true] .language-caret-icon svg {
	transition: transform 0.5s;
	transform: rotate(180deg);
}
  nav.public-sites-navigation .language-selector-container .language-selector:hover, nav.public-sites-navigation .language-selector-container .language-selector.list-open {
	color: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .language-selector-container .language-selector:hover .language-selector-text, nav.public-sites-navigation .language-selector-container .language-selector.list-open .language-selector-text {
	opacity: 1;
  }
  nav.public-sites-navigation .language-selector-container .language-selector:hover svg, nav.public-sites-navigation .language-selector-container .language-selector.list-open svg {
	fill: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .language-selector-container .utility-nav-link {
	border-radius: var(--border-radius-xs);
	color: var(--black);
	display: flex;
	font-weight: var(--font-weight-semi-bold);
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
  }
  nav.public-sites-navigation .language-selector-container {
	display: flex;
	z-index: 3;
  }
  nav.public-sites-navigation .language-selector-container .dropdown-menu {
	margin-top: 3.25rem;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list {
	background-color: var(--white);
	border-radius: var(--border-radius-xs);
	box-shadow: var(--elevation-fluffy-1);
	display: flex;
	flex-direction: column;
	padding: 0.5rem 0.25rem 0;
	width: 15rem;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list ul {
	padding-inline-start: 0;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item {
	align-items: center;
	border-radius: var(--border-radius-xs);
	display: flex;
	font-weight: var(--font-weight-semi-bold);
	text-align: left;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item:active, nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item:focus, nav.public-sites-navigat .language-dropdown-list .language-nav-item:hover {
	background-color: var(--color-action-primary-hover-lighten);
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item .language-entry-long-text {
	color: var(--black);
	padding: 0.75rem 0.75rem 0.75rem 3rem;
	width: 100%;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item .language-entry-long-text:active, nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item .language-entry-long-text:focus, nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item .language-entry-long-text:hover {
	color: var(--black);
	text-decoration: none;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item.selected {
	padding-left: 0.25rem;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .language-nav-item.selected .language-entry-long-text {
	padding-left: 0;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .selected.language-nav-item:before {
	margin: 0 1rem;
  }
  nav.public-sites-navigation .language-selector-container .language-dropdown-list .selected.language-nav-item .language-entry-long-text {
	padding-left: 1rem;
  }
  nav.public-sites-navigation .language-selector-container.show {
	display: block;
  }
  nav.public-sites-navigation.light-nav {
	background-color: var(--white);
	color: var(--color-neutral-10);
  }
  nav.public-sites-navigation.light-nav .svg-liferay-text {
	fill: var(--color-neutral-10);
  }
  nav.public-sites-navigation.light-nav .svg-waffle {
	fill: var(--color-brand-primary);
  }
  nav.public-sites-navigation.light-nav .menu-btn,
  nav.public-sites-navigation.light-nav .close-btn {
	border-color: var(--color-action-primary-default);
  }
  nav.public-sites-navigation.light-nav .menu-btn .menu-btn-text,
  nav.public-sites-navigation.light-nav .menu-btn .close-btn-text,
  nav.public-sites-navigation.light-nav .close-btn .menu-btn-text,
  nav.public-sites-navigation.light-nav .close-btn .close-btn-text {
	color: var(--color-action-primary-default);
  }
  nav.public-sites-navigation.light-nav .menu-btn svg,
  nav.public-sites-navigation.light-nav .close-btn svg {
	fill: var(--color-action-primary-default);
  }
  nav.public-sites-navigation .account {
	cursor: pointer;
  }
  nav.public-sites-navigation .account .account-info {
	border-radius: var(--border-radius-sm);
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
  }
  nav.public-sites-navigation .account .account-info .user-icon {
	height: 1rem;
	margin-top: -5px;
	width: 1rem;
  }
  nav.public-sites-navigation .account .account-info:hover .user-icon,
  nav.public-sites-navigation .account .account-info:hover .account-dropdown-icon,
  nav.public-sites-navigation .account .account-info:hover .account-text, nav.public-sites-navigation .account .account-info:focus .user-icon,
  nav.public-sites-navigation .account .account-info:focus .account-dropdown-icon,
  nav.public-sites-navigation .account .account-info:focus .account-text, nav.public-sites-navigation .account .account-info.menu-open .user-icon,
  nav.public-sites-navigation .account .account-info.menu-open .account-dropdown-icon,
  nav.public-sites-navigation .account .account-info.menu-open .account-text {
	color: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .account .account-info:hover .account-text, nav.public-sites-navigation .account .account-info:focus .account-text, nav.public-sites-navigation .account .account-info.menu-open .account-text {
	opacity: 1;
  }
  nav.public-sites-navigation .account .account-info.menu-open .account-dropdown {
	display: block;
  }
  nav.public-sites-navigation .account .account-info.menu-open .user-icon {
	opacity: 0.7;
  }
  nav.public-sites-navigation .account .account-info.menu-open .account-dropdown-icon {
	opacity: 0.7;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
.account .account-info[aria-expanded='true'] .account-dropdown-icon svg {
	opacity: 0.7;
	transform: rotate(180deg);
	transition: transform 0.5s;
}

.account .account-info[aria-expanded='false'] .account-dropdown-icon svg {
	opacity: 0.7;
	transform: rotate(360deg);
	transition: transform 0.5s;
}
  nav.public-sites-navigation .account .account-info:hover, nav.public-sites-navigation .account .account-info:focus {
	background-color: var(--color-action-primary-hover-lighten);
  }
  nav.public-sites-navigation .account .account-info:hover .user-icon,
  nav.public-sites-navigation .account .account-info:hover .account-dropdown-icon, nav.public-sites-navigation .account .account-info:focus .user-icon,
  nav.public-sites-navigation .account .account-info:focus .account-dropdown-icon {
	opacity: 1;
  }
  nav.public-sites-navigation .account .account-info.mobile .dropdown-content {
	left: 0;
  }
  nav.public-sites-navigation .account .account-info .user-avatar {
	height: 2rem;
	width: 2rem;
  }
  nav.public-sites-navigation .account .account-info .user-avatar img {
	border-radius: 3.5rem;
  }
  nav.public-sites-navigation .sites-container .sites {
	border-radius: var(--border-radius-sm);
	color: var(--color-neutral-10);
	cursor: pointer;
	max-height: 2.5rem;
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
  }
  nav.public-sites-navigation .sites-container .sites.show .sites-icon {
	opacity: 0.7;
  }
  nav.public-sites-navigation .sites-container .sites.show .caret-bottom-icon {
	opacity: 0.7;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  nav.public-sites-navigation .sites-container .sites:hover {
	background-color: var(--color-action-primary-hover-lighten);
  }
  nav.public-sites-navigation .sites-container .sites:hover .caret-bottom-icon,
  nav.public-sites-navigation .sites-container .sites:hover .sites-icon {
	opacity: 1;
  }
  nav.public-sites-navigation .sites-container .sites:hover .sites-icon svg, nav.public-sites-navigation .sites-container .sites.show .sites-icon svg {
	fill: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .sites-container .sites:hover .liferay-sites, nav.public-sites-navigation .sites-container .sites.show .liferay-sites {
	color: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .sites-container .sites:hover .liferay-sites .liferay-sites-text, nav.public-sites-navigation .sites-container .sites.show .liferay-sites .liferay-sites-text {
	opacity: 1;
  }
  nav.public-sites-navigation .sites-container .liferay-sites-dropdown {
	background: var(--white);
	border-radius: 10px;
	box-shadow: var(--elevation-fluffy-1);
	display: none;
	margin-top: 2.75rem;
	position: absolute;
	text-align: -webkit-left;
	text-align: left;
	width: 15rem;
	z-index: 10;
  }
  nav.public-sites-navigation .sites-container .liferay-sites-dropdown.show {
	display: block;
  }
  nav.public-sites-navigation .skip-to-footer-wrapper,
  nav.public-sites-navigation .skip-to-content-wrapper {
	background: var(--white);
	border-radius: var(--border-radius-xs);
	box-shadow: var(--elevation-fluffy-1);
	left: -50%;
	padding: 0.25rem 0.75rem;
	position: absolute;
	top: 0.25rem;
	transform: translateX(-50%);
  }
  nav.public-sites-navigation .skip-to-footer-wrapper .skip-to-footer-text,
  nav.public-sites-navigation .skip-to-footer-wrapper .skip-to-content-text,
  nav.public-sites-navigation .skip-to-content-wrapper .skip-to-footer-text,
  nav.public-sites-navigation .skip-to-content-wrapper .skip-to-content-text {
	color: var(--color-action-primary-active);
	font-weight: var(--font-weight-semi-bold);
	text-align: center;
	text-decoration: none;
  }
  nav.public-sites-navigation .skip-to-footer-wrapper:focus,
  nav.public-sites-navigation .skip-to-content-wrapper:focus {
	left: 50%;
  }
  nav.public-sites-navigation .account-dropdown {
	background: var(--white);
	border: 1px solid var(--color-neutral-3);
	border-radius: var(--border-radius);
	box-shadow: var(--elevation-fluffy-1);
	color: var(--color-neutral-3);
	display: none;
	right: 0;
	top: 2.5rem;
	width: 15rem;
	z-index: 10;
  }
  nav.public-sites-navigation .account-dropdown.show {
	display: block;
  }
  nav.public-sites-navigation .account-dropdown .account-configurables {
	border-bottom: 1px solid var(--color-neutral-3);
  }
  nav.public-sites-navigation .account-dropdown .settings {
	color: var(--color-neutral-10);
  }
  nav.public-sites-navigation .account-dropdown .sign-out {
	border-radius: var(--border-radius);
	color: var(--color-neutral-10);
  }
  nav.public-sites-navigation .account-dropdown .sign-out:hover, nav.public-sites-navigation .account-dropdown .sign-out:active, nav.public-sites-navigation .account-dropdown .sign-out:focus {
	background: var(--color-action-primary-hover-lighten);
	color: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .account-dropdown .sign-out:hover .sign-out-icon, nav.public-sites-navigation .account-dropdown .sign-out:active .sign-out-icon, nav.public-sites-navigation .account-dropdown .sign-out:focus .sign-out-icon {
	opacity: 1;
  }
  nav.public-sites-navigation .account-dropdown .sign-in {
	border-radius: var(--border-radius);
  }
  nav.public-sites-navigation .account-dropdown .sign-in:hover, nav.public-sites-navigation .account-dropdown .sign-in:active, nav.public-sites-navigation .account-dropdown .sign-in:focus {
	background: var(--color-action-primary-hover-lighten);
	border-radius: var(--border-radius);
  }
  nav.public-sites-navigation .account-dropdown .sign-in:hover .sign-in-icon, nav.public-sites-navigation .account-dropdown .sign-in:active .sign-in-icon, nav.public-sites-navigation .account-dropdown .sign-in:focus .sign-in-icon {
	opacity: 1;
  }
  nav.public-sites-navigation .btn-primary:hover, nav.public-sites-navigation .btn-primary:active, nav.public-sites-navigation .btn-primary:focus,
  nav.public-sites-navigation .menu-btn:hover,
  nav.public-sites-navigation .menu-btn:active,
  nav.public-sites-navigation .menu-btn:focus,
  nav.public-sites-navigation .close-btn:hover,
  nav.public-sites-navigation .close-btn:active,
  nav.public-sites-navigation .close-btn:focus {
	outline: 1px solid var(--color-action-primary-active-lighten);
	outline-offset: 2px;
  }
  nav.public-sites-navigation .btn-primary:hover, nav.public-sites-navigation .btn-primary:active, nav.public-sites-navigation .btn-primary:focus {
	background-color: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .lexicon-icon-caret-bottom-l {
	height: 1.5rem;
	padding-bottom: 0.1rem;
	width: 1.5rem;
  }
  nav.public-sites-navigation .cta-btn-nav,
  nav.public-sites-navigation .close-btn,
  nav.public-sites-navigation .menu-btn {
	padding: 0.5rem 1rem;
  }
  nav.public-sites-navigation .liferay-logo:hover,
  nav.public-sites-navigation .liferay-logo .logo-text:hover {
	text-decoration: none;
  }
  nav.public-sites-navigation .liferay-logo .logo-text {
	color: #3e3f4a;
	font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
  }
  nav.public-sites-navigation .menu-button-group .menu-btn {
	display: flex;
  }
  nav.public-sites-navigation .menu-button-group .close-btn {
	display: none;
  }
  nav.public-sites-navigation .menu-button-group.menu-open .menu-btn {
	display: none;
  }
  nav.public-sites-navigation .menu-button-group.menu-open .close-btn {
	display: flex;
  }
  nav.public-sites-navigation .search-account-container .search-icon {
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	padding: 0.75rem;
	transition-duration: 0.2s, 0.2s;
	transition-property: color, background-color;
	transition-timing-function: ease, ease;
  }
  nav.public-sites-navigation .search-account-container .search-icon:hover, nav.public-sites-navigation .search-account-container .search-icon:focus, nav.public-sites-navigation .search-account-container .search-icon:active {
	background-color: var(--color-action-primary-hover-lighten);
	opacity: 1;
  }
  nav.public-sites-navigation .search-account-container .search-icon:hover svg, nav.public-sites-navigation .search-account-container .search-icon:focus svg, nav.public-sites-navigation .search-account-container .search-icon:active svg {
	fill: var(--color-action-primary-hover);
  }
  nav.public-sites-navigation .nav-items-wrapper {
	align-items: stretch;
	background-color: var(--white);
  }
  nav.public-sites-navigation .opacity-30 {
	opacity: 0.3;
  }
  nav.public-sites-navigation .opacity-50 {
	opacity: 0.5;
  }
  nav.public-sites-navigation .opacity-70 {
	opacity: 0.7;
  }
  nav.public-sites-navigation .opacity-80 {
	opacity: 0.8;
  }
  @media screen and (max-width: 1199px) {
	nav.public-sites-navigation .primary-nav {
	  padding-bottom: 0.75rem;
	  padding-top: 0.75rem;
	  z-index: auto;
	}
	nav.public-sites-navigation .nav-items-wrapper {
	  display: flex;
	  flex-direction: column;
	  left: 0;
	  position: absolute;
	  right: 0;
	  top: 7.2rem;
	  transform: translate3d(0, -200%, 0) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
	  transform-style: preserve-3d;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item {
	  margin-left: 0;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-text {
	  justify-content: space-between;
	  padding: 0.875rem 3rem;
	  position: sticky;
	  position: -webkit-sticky;
	  top: 0;
	  width: 100%;
	  z-index: 3;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-text .adt-nav-title {
	  padding-left: 1rem;
	}
	nav.public-sites-navigation .menu-button-group {
	  display: flex !important;
	}
  }
  @media (min-width: 600px) and (max-width: 1199px) {
	nav.public-sites-navigation .primary-nav,
	nav.public-sites-navigation .utility-nav {
	  padding-left: 4rem;
	  padding-right: 4rem;
	}
	nav.public-sites-navigation .nav-items-wrapper {
	  position: absolute;
	  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}
	nav.public-sites-navigation .nav-items-wrapper.menu-open {
	  background-color: var(--white);
	  height: 100vh;
	  overflow: auto;
	  top: 7.2rem;
	  transform: translateY(0);
	  visibility: visible;
	  z-index: -1;
	}
  }
  @media (min-width: 1200px) {
	nav.public-sites-navigation .utility-nav-container {
		margin-right: 3rem;
		margin-left: 2rem;
	}

	nav.public-sites-navigation .primary-nav {
		padding-right: 3rem;
		padding-left: 3rem;
	}

	nav.public-sites-navigation .utility-nav {
	  padding-left: 1rem;
	  padding-right: 1rem;
	}
  }
  @media (min-width: 600px) {
	nav.public-sites-navigation .cta-container-mobile {
	  display: none;
	}
  }
  nav.public-sites-navigation .menu-button-group {
	display: none;
  }
  @media (max-width: 599px) {
	nav.public-sites-navigation .primary-nav,
	nav.public-sites-navigation .utility-nav {
	  padding-left: 1.5rem;
	  padding-right: 1.5rem;
	}
	nav.public-sites-navigation .account-text {
	  display: none;
	}
	nav.public-sites-navigation .nav-items-wrapper.menu-open {
	  background-color: var(--white);
	  opacity: 1;
	  transform: translateY(0);
	  visibility: visible;
	  z-index: -1;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-text {
	  padding: 0.875rem 0.5rem;
	}
	nav.public-sites-navigation .nav-items-wrapper .cta-container-mobile {
	  border-top: 1px solid var(--color-neutral-2);
	  display: flex;
	  padding: 0 1.5rem 10rem;
	  width: 100%;
	}
	nav.public-sites-navigation .cta-btn-nav {
	  display: none;
	}
	nav.public-sites-navigation .account.primary {
	  display: none;
	}
	nav.public-sites-navigation .search-wrapper {
	  border-radius: 0;
	  bottom: 0;
	  overflow-y: scroll;
	  padding-left: 1.5rem;
	  padding-right: 1.5rem;
	  padding-top: 6rem;
	  scrollbar-width: none;
	  -ms-overflow-style: none;
	}
	nav.public-sites-navigation .search-wrapper::-webkit-scrollbar {
	  display: none;
	}
	nav.public-sites-navigation .search-wrapper .close-search {
	  right: 1.5rem;
	  top: 1.5rem;
	}
	nav.public-sites-navigation .search-wrapper form.search {
	  width: 100%;
	}
	nav.public-sites-navigation .search-wrapper .suggestions {
	  max-width: none;
	  width: 100%;
	}
	nav.public-sites-navigation .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items {
	  flex-wrap: wrap;
	  min-width: auto;
	}
	nav.public-sites-navigation .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items .suggestions-popular-item {
	  margin: 0.5rem 0;
	  width: 45%;
	}
  }

  .utility-nav-container {
	text-align: -webkit-center;
	text-align: -moz-center;
  }
  .utility-nav-container .utility-nav {
	border-bottom: 1px solid var(--color-neutral-3);
  }
  .utility-nav-container .sites-languages-container {
	margin-left: calc(var(--spacer-2) * -1);
  }
  .utility-nav-container .search-account-container {
	margin-right: calc(var(--spacer-2) * -1);
  }

  html body:not(.has-edit-mode-menu) .content #main-content.layout-content {
	margin-top: 3.5rem;
  }

.liferay-sites-dropdown {
	background: var(--white);
	border-radius: 0.25rem;
	display: none;
	margin-top: 2.75rem;
	position: absolute;
	text-align: -webkit-left;
	text-align: left;
	width: 15rem;
	z-index: 10;
}

.sites-container {
	background: inherit;
	border: none;
	border-radius: var(--border-radius-sm);
	color: var(--color-neutral-10);
	cursor: pointer;
	max-height: 2.5rem;
	transition-duration: 0.2s, 0.2s, 0.2s;
	transition-property: background-color, color, opacity;
	transition-timing-function: ease, ease, ease;
}

.sites-container:hover {
	background-color: #edf3fe !important;
}

.sites-container .caret-bottom-icon svg {
	height: 1.5rem;
	padding-bottom: 0.1rem;
	width: 1.5rem;
}

.sites-container[aria-expanded='true'] .caret-bottom-icon svg {
	transform: rotate(180deg);
	transition: transform 0.5s;
}

.sites-container[aria-expanded='false'] .caret-bottom-icon svg {
	opacity: 0.7;
	transform: rotate(360deg);
	transition: transform 0.5s;
}

.sites-container .caret-bottom-icon,
.sites-container .sites-icon {
	opacity: 0.5;
}

.sites-container:hover .caret-bottom-icon,
.sites-container:hover .sites-icon {
	opacity: 1;
}

.sites-container:hover .liferay-sites {
	color: #0053f0 !important;
}

.sites-container:hover .liferay-sites .liferay-sites-text,
.sites-container.show .liferay-sites .liferay-sites-text {
	opacity: 1;
}

.sites-container:hover .sites-icon svg {
	fill: #0053f0 !important;
}

  @media (min-width: 1200px) {
	nav.public-sites-navigation.dark-nav .nav-items-wrapper .adt-nav-item .adt-nav-text::after {
	  background: var(--white);
	}
	nav.public-sites-navigation .cta-btn-nav {
	  margin-left: var(--spacer-3);
	}
	nav.public-sites-navigation .nav-items-wrapper {
	  align-items: center;
	  display: flex;
	  margin-left: auto;
	  padding: 0;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item.dropdown-open .adt-nav-text::after {
	  left: 0;
	  width: 100%;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-nav-text {
	  border-radius: var(--border-radius-xs);
	  padding: 0;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-nav-text .adt-nav-title {
	  cursor: pointer;
	  padding: 0.875rem 0.25rem 0.875rem 1.125rem;
	  position: relative;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-nav-text .adt-nav-title .adt-angle-down-svg {
	  display: none;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-nav-text::after {
	  background: var(--btn-link-hover-color);
	  border-radius: 2px;
	  bottom: -5px;
	  content: "";
	  height: 3px;
	  left: 50%;
	  position: absolute;
	  transition: left ease-in 0.3s, width ease-in 0.3s;
	  width: 0%;
	}
	nav.public-sites-navigation .nav-items-wrapper .adt-nav-item .adt-submenu {
	  border-radius: 0 0 0.5rem 0.5rem;
	  padding-bottom: 1rem;
	}
  }
  .adt-navigation {
	display: flex;
	flex-wrap: inherit;
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
  }

  .adt-nav-item {
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	margin-left: 1rem;
	outline: 0 solid transparent;
  }
  .adt-nav-item .adt-nav-text {
	background-color: transparent;
	position: relative;
	text-decoration: none;
	transition-duration: 0.2s, 0.2s;
	transition-property: color, background-color;
	transition-timing-function: ease, ease;
  }
  .adt-nav-item .adt-nav-text .adt-nav-title {
	color: var(--color-neutral-8);
  }
  .adt-nav-item .adt-nav-text .adt-nav-caret-bottom-icon {
	padding-right: 0.625rem;
  }
  .adt-nav-item .adt-nav-text .adt-nav-caret-bottom-icon {
	color: transparent;
  }
  .adt-nav-item .adt-nav-text:focus {
	background-color: var(--color-action-primary-hover-lighten);
  }
  .adt-nav-item:hover, .adt-nav-item:focus {
	text-decoration: none;
  }
  .adt-nav-item:hover .adt-nav-text, .adt-nav-item:focus .adt-nav-text {
	background-color: var(--color-action-primary-hover-lighten);
  }
  .adt-nav-item:hover .adt-nav-text .adt-nav-title, .adt-nav-item:focus .adt-nav-text .adt-nav-title {
	color: var(--color-action-primary-hover);
  }
  .adt-nav-item:hover .adt-nav-caret-bottom-icon, .adt-nav-item:focus .adt-nav-caret-bottom-icon {
	color: var(--color-action-primary-hover);
  }
  .adt-nav-item .adt-nav-text:focus {
	outline: none;
  }
  .adt-nav-item.dropdown-open:hover .adt-nav-caret-bottom-icon, .adt-nav-item.dropdown-open:focus .adt-nav-caret-bottom-icon {
	opacity: 1;
  }
  .adt-nav-item.dropdown-open .adt-nav-caret-bottom-icon {
	color: var(--color-action-primary-hover);
	opacity: 0.5;
	transform: translate3d(0, 0, 0) scale3d(1, 1, 1) rotateX(180deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
  }
  .adt-nav-item.dropdown-open .adt-nav-text {
	border-radius: var(--border-radius-xs);
  }
  .adt-nav-item.dropdown-open .adt-nav-text .adt-nav-title {
	color: var(--color-action-primary-hover);
  }
  .adt-nav-item.dropdown-open .adt-submenu {
	max-height: 80vh;
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
  }
  .adt-nav-item .adt-submenu {
	background-clip: padding-box;
	background-color: var(--white);
	border-color: var(--hr-border-color);
	border-style: solid;
	border-width: 0;
	box-shadow: var(--elevation-fluffy-1);
	display: block;
	left: 0;
	list-style: none;
	margin: 0.5rem 0 0;
	max-height: 80vh;
	max-width: none;
	min-height: auto;
	opacity: 0;
	overflow: auto;
	padding: 1rem 4rem 4.5rem;
	position: absolute;
	right: 0;
	transform: translateY(-100px);
	transition: transform 0.3s cubic-bezier(0.23, 1, 0.32, 1), opacity 0.1s linear, visibility 0.3s linear;
	visibility: hidden;
	z-index: -1;
  }
  .adt-nav-item .adt-submenu .adt-submenu-outer-wrapper {
	width: 100%;
  }
  .adt-nav-item .adt-submenu .adt-submenu-outer-wrapper .adt-submenu-inner-wrapper {
	display: grid;
	grid-column-gap: 4rem;
	grid-row-gap: 2.5rem;
	grid-template-columns: repeat(12, 1fr);
	margin: 0 auto;
	max-width: 1240px;
	width: 100%;
  }
  .adt-nav-item .adt-submenu-header {
	border-bottom: 1px solid var(--color-neutral-2);
	-ms-grid-row: span 1;
	grid-row-end: span 1;
	-ms-grid-row-span: 1;
	grid-row-start: span 1;
	list-style: none;
	margin-bottom: -1rem;
	padding-bottom: 0.5rem;
  }
  .adt-nav-item .adt-submenu-item-content {
	display: flex;
	list-style: none;
	max-width: 274px;
  }
  .adt-nav-item .adt-submenu-item-content.image-type {
	max-width: none;
  }
  .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link {
	color: var(--color-neutral-10);
	display: flex;
	transition: box-shadow 0.1s linear, background-color 0.1s linear;
	user-select: none;
  }
  .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link:hover, .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link:focus {
	background-color: var(--color-action-primary-hover-lighten);
	border-radius: var(--border-radius-xs);
	box-shadow: 0 0 0 8px var(--color-action-primary-hover-lighten);
	outline: none;
	text-decoration: none;
  }
  .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link:hover .adt-submenu-item-title, .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link:focus .adt-submenu-item-title {
	color: var(--color-action-primary-hover);
  }
  .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link .adt-submenu-item-title {
	margin-bottom: 0;
  }
  .adt-nav-item .adt-submenu-item-content .adt-submenu-item-link .adt-submenu-item-description {
	color: var(--color-neutral-8);
	font-weight: 400;
  }
  .adt-nav-item .adt-submenu-item-image {
	border-radius: var(--border-radius-xs);
	height: 94px;
	margin-right: 1rem;
	object-fit: cover;
	width: 94px;
  }
  .adt-nav-item .adt-submenu-item-preheader {
	font-size: 0.9rem;
	letter-spacing: 0.1em;
	line-height: 1.25rem;
	padding-bottom: 0.5rem;
	text-transform: uppercase;
  }
  .adt-nav-item .adt-submenu-section {
	-webkit-align-items: start;
	align-items: start;
	-webkit-box-align: start;
	display: -ms-grid;
	display: grid;
	-ms-flex-align: start;
	grid-auto-columns: 1fr;
	grid-auto-rows: min-content;
	grid-column-gap: 4rem;
	grid-row-gap: 2.5rem;
	list-style: none;
	padding: 2rem 0;
	width: 100%;
  }
  .adt-nav-item .adt-submenu-section.grey {
	background-color: var(--color-neutral-1);
	border-radius: var(--border-radius-sm);
	padding: 2rem 4rem;
  }
  .adt-nav-item .adt-submenu-section._3-section-span {
	-ms-grid-column-span: 3;
	grid-column-start: span 3;
  }
  .adt-nav-item .adt-submenu-section._3-section-span .adt-submenu-header {
	-ms-grid-column-span: 3;
	grid-column-start: span 3;
  }
  .adt-nav-item .adt-submenu-section._4-section-span {
	-ms-grid-column-span: 4;
	grid-column-start: span 4;
  }
  .adt-nav-item .adt-submenu-section._4-section-span .adt-submenu-header {
	-ms-grid-column-span: 4;
	grid-column-start: span 4;
  }
  .adt-nav-item .adt-submenu-section._5-section-span {
	-ms-grid-column-span: 5;
	grid-column-start: span 5;
  }
  .adt-nav-item .adt-submenu-section._5-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 5;
	-ms-grid-column-span: 5;
	grid-column-start: span 5;
  }
  .adt-nav-item .adt-submenu-section._6-section-span {
	-ms-grid-column-span: 6;
	grid-column-start: span 6;
  }
  .adt-nav-item .adt-submenu-section._6-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 6;
	-ms-grid-column-span: 6;
	grid-column-start: span 6;
  }
  .adt-nav-item .adt-submenu-section._7-section-span {
	-ms-grid-column-span: 7;
	grid-column-start: span 7;
  }
  .adt-nav-item .adt-submenu-section._7-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 7;
	-ms-grid-column-span: 7;
	grid-column-start: span 7;
  }
  .adt-nav-item .adt-submenu-section._8-section-span {
	-ms-grid-column-span: 8;
	grid-column-start: span 8;
  }
  .adt-nav-item .adt-submenu-section._8-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 8;
	-ms-grid-column-span: 8;
	grid-column-start: span 8;
  }
  .adt-nav-item .adt-submenu-section._9-section-span {
	-ms-grid-column-span: 9;
	grid-column-start: span 9;
  }
  .adt-nav-item .adt-submenu-section._9-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 9;
	-ms-grid-column-span: 9;
	grid-column-start: span 9;
  }
  .adt-nav-item .adt-submenu-section._10-section-span {
	-ms-grid-column-span: 10;
	grid-column-start: span 10;
  }
  .adt-nav-item .adt-submenu-section._10-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 10;
	-ms-grid-column-span: 10;
	grid-column-start: span 10;
  }
  .adt-nav-item .adt-submenu-section._11-section-span {
	-ms-grid-column-span: 11;
	grid-column-start: span 11;
  }
  .adt-nav-item .adt-submenu-section._11-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 11;
	-ms-grid-column-span: 11;
	grid-column-start: span 11;
  }
  .adt-nav-item .adt-submenu-section._12-section-span {
	-ms-grid-column-span: 12;
	grid-column-start: span 12;
  }
  .adt-nav-item .adt-submenu-section._12-section-span .adt-submenu-header {
	-ms-grid-column: 2/span 12;
	-ms-grid-column-span: 12;
	grid-column-start: span 12;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-1 {
	grid-column-start: span 1;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-2 {
	grid-column-start: span 2;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-3 {
	grid-column-start: span 3;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-4 {
	grid-column-start: span 4;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-5 {
	grid-column-start: span 5;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-6 {
	grid-column-start: span 6;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-7 {
	grid-column-start: span 7;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-8 {
	grid-column-start: span 8;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-9 {
	grid-column-start: span 9;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-10 {
	grid-column-start: span 10;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-11 {
	grid-column-start: span 11;
  }
  .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-12 {
	grid-column-start: span 12;
  }

  @media (min-width: 600px) and (max-width: 1199px) {
	.adt-nav-item .adt-submenu {
	  box-shadow: none;
	  grid-row-gap: 0;
	  height: auto;
	  margin: 0;
	  max-height: 0;
	  opacity: 1;
	  padding: 0;
	  position: static;
	  transform: none;
	  transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	  visibility: visible;
	}
	.adt-nav-item .adt-submenu .adt-submenu-outer-wrapper .adt-submenu-inner-wrapper {
	  display: flex;
	  flex-direction: column;
	}
	.adt-nav-item .adt-submenu-section {
	  grid-template-rows: none;
	  padding: 2rem 4rem;
	}
	.adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-1, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-2, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-3, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-4, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-5, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-6, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-7, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-8, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-9, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-10, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-11, .adt-nav-item .adt-submenu-section .adt-submenu-item-content.grid-column-span-12 {
	  grid-column-start: span 1;
	}
	.adt-nav-item .adt-submenu-section._3-section-span, .adt-nav-item .adt-submenu-section._4-section-span, .adt-nav-item .adt-submenu-section._5-section-span, .adt-nav-item .adt-submenu-section._6-section-span, .adt-nav-item .adt-submenu-section._7-section-span, .adt-nav-item .adt-submenu-section._8-section-span, .adt-nav-item .adt-submenu-section._9-section-span, .adt-nav-item .adt-submenu-section._10-section-span, .adt-nav-item .adt-submenu-section._11-section-span, .adt-nav-item .adt-submenu-section._12-section-span {
	  -ms-grid-column-span: 2;
	  grid-column-start: span 2;
	}
	.adt-nav-item .adt-submenu-section._3-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._4-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._5-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._6-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._7-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._8-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._9-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._10-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._11-section-span .adt-submenu-header, .adt-nav-item .adt-submenu-section._12-section-span .adt-submenu-header {
	  -ms-grid-column-span: 2;
	  grid-column-start: span 2;
	}
	.adt-navigation {
	  background: var(--white);
	  display: flex;
	  flex-direction: column;
	  height: calc(100vh - 120px - 4rem);
	  overflow: auto;
	}
	.adt-navigation .adt-angle-down-svg {
	  position: absolute;
	  right: 1.5rem;
	}
  }
  @media (max-width: 599px) {
	.language-selector-text {
	  display: none;
	}
	.nav-items-wrapper {
	  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
	}
	.nav-items-wrapper .adt-navigation {
	  background: var(--white);
	  display: flex;
	  flex-direction: column;
	  height: calc(100vh - 132px - 4rem);
	  overflow: visible;
	  width: 100vw;
	}
	.adt-nav-item .adt-submenu {
	  box-shadow: none;
	  grid-row-gap: 0;
	  height: auto;
	  margin: 0;
	  max-height: 0;
	  opacity: 1;
	  overflow: hidden;
	  padding: 0;
	  position: static;
	  transform: none;
	  transition: max-height 0.3s cubic-bezier(0.23, 1, 0.32, 1);
	  visibility: visible;
	}
	.adt-nav-item .adt-submenu .adt-nav-text {
	  padding: 0.875rem 0.5rem;
	  position: sticky;
	  position: -webkit-sticky;
	  top: 0;
	  width: 100%;
	  z-index: 3;
	}
	.adt-nav-item .adt-submenu .adt-nav-text .adt-nav-title {
	  padding-left: 1rem;
	}
	.adt-nav-item .adt-submenu .adt-submenu-outer-wrapper .adt-submenu-inner-wrapper {
	  display: flex;
	  flex-direction: column;
	}
	.adt-nav-item .adt-submenu .adt-submenu-section {
	  display: flex;
	  flex-direction: column;
	  grid-template-rows: none;
	  padding-left: 1.5rem;
	  padding-right: 2rem;
	}
	.adt-nav-item .adt-submenu-header {
	  border-width: 0;
	  margin-bottom: 0;
	  padding-bottom: 1.5rem;
	}
	.adt-nav-item .adt-submenu-item-content {
	  padding-bottom: 2.5rem;
	}
	.adt-nav-item .adt-submenu-item-content:not(.image-type) {
	  border-left: solid 2px var(--color-neutral-2);
	  max-width: none;
	  padding-left: 1rem;
	}
	.adt-nav-item .adt-submenu-section {
	  display: none;
	  grid-row-gap: 0;
	}
  }
  .search-wrapper.search-open {
	min-height: 80vh;
	opacity: 1;
	transform: translate3d(0, 0, 0);
	z-index: 4;
  }

  .search-wrapper {
	align-items: center;
	background-color: var(--color-brand-primary-darken-5);
	border-radius: var(--border-radius);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	bottom: auto;
	box-shadow: var(--elevation-fluffy-1);
	display: flex;
	flex-direction: column;
	left: 0;
	opacity: 0;
	padding: 3.5rem;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate3d(0, -800px, 0);
	transform-style: preserve-3d;
	transition: transform 0.25s, opacity 0.25s;
	z-index: -2;
  }
  .search-wrapper form.search {
	background-color: var(--color-brand-primary-lighten-1);
	border-radius: var(--border-radius);
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	max-height: 3.5rem;
	position: relative;
	width: 30rem;
  }
  .search-wrapper form.search input.search-input {
	background-color: transparent;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	color: var(--white);
	font-size: 28px;
	font-weight: var(--font-weight-semi-bold);
	height: 3.5rem;
	line-height: 32px;
	margin-bottom: 0;
	outline: none;
	padding: 0.5rem 0.75rem;
  }
  .search-wrapper form.search input.search-input::placeholder {
	color: var(--color-brand-primary-lighten-4);
	opacity: 1;
  }
  .search-wrapper form.search input.search-input:active, .search-wrapper form.search input.search-input:focus {
	border-color: var(--white);
  }
  .search-wrapper form.search input[type=search]::-ms-clear {
	display: none;
	height: 0;
	width: 0;
  }
  .search-wrapper form.search input[type=search]::-ms-reveal {
	display: none;
	height: 0;
	width: 0;
  }
  .search-wrapper form.search input[type=search]::-webkit-search-decoration,
  .search-wrapper form.search input[type=search]::-webkit-search-cancel-button,
  .search-wrapper form.search input[type=search]::-webkit-search-results-button,
  .search-wrapper form.search input[type=search]::-webkit-search-results-decoration {
	display: none;
  }
  .search-wrapper form.search .search-submit {
	color: var(--white);
	position: absolute;
	right: 1.1rem;
	top: 1.1rem;
  }
  .search-wrapper form.search .search-submit svg {
	height: 1.5rem;
	width: 1.5rem;
  }
  .search-wrapper .suggestions {
	max-width: 480px;
  }
  .search-wrapper .suggestions.performing-search .no-results-message {
	display: block;
  }
  .search-wrapper .suggestions.performing-search .search-loading-animation {
	display: none;
  }
  .search-wrapper .suggestions.search-error .no-results-message,
  .search-wrapper .suggestions.search-error .suggestions-popular,
  .search-wrapper .suggestions.search-error .search-loading-animation {
	display: none;
  }
  .search-wrapper .suggestions.search-error .search-error-message {
	display: block;
  }
  .search-wrapper .suggestions.search-results-found .no-results-message,
  .search-wrapper .suggestions.search-results-found .suggestions-popular,
  .search-wrapper .suggestions.search-results-found .search-loading-animation {
	display: none;
  }
  .search-wrapper .suggestions.search-results-found .suggested-text {
	display: block;
  }
  .search-wrapper .suggestions.search-results-found .search-suggestions-see-all-results {
	display: table;
  }
  .search-wrapper .suggestions.loading-search .no-results-message,
  .search-wrapper .suggestions.loading-search .suggestions-popular,
  .search-wrapper .suggestions.loading-search .suggested-text,
  .search-wrapper .suggestions.loading-search .search-suggestions,
  .search-wrapper .suggestions.loading-search .no-results-message,
  .search-wrapper .suggestions.loading-search .search-error-message,
  .search-wrapper .suggestions.loading-search .search-suggestions-see-all-results {
	display: none;
  }
  .search-wrapper .suggestions.loading-search .search-loading-animation {
	display: block;
  }
  .search-wrapper .suggestions .search-loading-animation {
	display: none;
  }
  .search-wrapper .suggestions .suggestions-popular .suggestions-popular-text {
	color: var(--white);
	font-size: var(--text-small-caps-font-size);
	font-weight: var(--font-weight-semi-bold);
	letter-spacing: 0.05em;
	opacity: 0.7;
	text-transform: uppercase;
  }
  .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items {
	min-width: 480px;
  }
  .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items .suggestions-popular-item {
	background-color: var(--color-brand-primary-lighten-2);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
  }
  .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items .suggestions-popular-item:hover {
	background-color: var(--color-brand-primary-lighten-3);
	border-color: var(--white);
  }
  .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items .suggestions-popular-item:hover .suggestions-popular-item-text {
	opacity: 0.8;
  }
  .search-wrapper .suggestions .suggestions-popular .suggestions-popular-items .suggestions-popular-item .suggestions-popular-item-text {
	color: var(--white);
	opacity: 1;
	padding: 10px;
  }
  .search-wrapper .suggestions .suggested-text {
	color: #fff;
	display: none;
	font-size: var(--text-small-caps-font-size);
	letter-spacing: 0.05em;
	opacity: 0.7;
	text-transform: uppercase;
  }
  .search-wrapper .suggestions .search-suggestion-item {
	background-color: var(--color-brand-primary-lighten-2);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	display: block;
	margin-bottom: 1.5rem;
	padding: 1rem;
	text-decoration: none;
	width: 100%;
  }
  .search-wrapper .suggestions .search-suggestion-item .search-suggestion-item-title {
	color: var(--white);
	font-size: var(--text-paragraph-font-size);
	font-weight: var(--font-weight-bold);
	padding-bottom: 4px;
  }
  .search-wrapper .suggestions .search-suggestion-item .search-suggestion-item-content {
	color: var(--white);
	display: -webkit-box;
	font-size: var(--text-paragraph-font-size);
	font-weight: 400;
	opacity: 0.9;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
  }
  .search-wrapper .suggestions .search-suggestion-item .search-suggestion-item-content b {
	font-weight: var(--font-weight-bold);
  }
  .search-wrapper .suggestions .search-suggestion-item .search-suggestion-item-link {
	color: var(--white);
	font-size: var(--text-paragraph-sm-font-size);
	font-weight: var(--font-weight-semi-bold);
	opacity: 0.8;
	padding-top: 1rem;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
  }
  .search-wrapper .suggestions .search-suggestion-item:hover {
	background-color: var(--color-brand-primary-lighten-3);
	border-color: var(--white);
  }
  .search-wrapper .suggestions .search-suggestions-see-all-results {
	background-color: var(--color-brand-primary-lighten-2);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	cursor: pointer;
	display: none;
	margin: 0 auto;
	padding: 0.5rem 1rem;
  }
  .search-wrapper .suggestions .search-suggestions-see-all-results .search-suggestions-see-all-results-text {
	color: var(--white);
	font-size: var(--text-paragraph-font-size);
	font-weight: var(--font-weight-semi-bold);
  }
  .search-wrapper .suggestions .search-suggestions-see-all-results .search-suggestions-see-all-results-arrow {
	color: var(--white);
  }
  .search-wrapper .suggestions .search-suggestions-see-all-results:hover {
	background-color: var(--color-brand-primary-lighten-3);
	border-color: var(--white);
  }
  .search-wrapper .close-search {
	background-color: var(--color-brand-primary-lighten-2);
	border: 1px solid transparent;
	border-radius: var(--border-radius-sm);
	bottom: auto;
	cursor: pointer;
	display: flex;
	height: 2rem;
	left: auto;
	padding: 0.5rem;
	position: absolute;
	right: 3.5rem;
	top: 3.5rem;
	width: 2rem;
  }
  .search-wrapper .close-search svg {
	fill: var(--white);
	margin-top: 0;
  }
  .search-wrapper .close-search:hover {
	border-color: var(--white);
	opacity: 1;
  }
  .search-wrapper .no-results-message,
  .search-wrapper .search-error-message {
	color: var(--white);
	display: none;
  }