.portlet-decorate {
	.portlet {
		margin-bottom: 24px;
	}

	.portlet-content {
		border-radius: 0.25rem;
	}
}

.portlet-barebone,
.portlet-borderless {
	.panel {
		background-color: transparent;

		&.card {
			border-color: $gray-400;
			box-shadow: none;
		}
	}

	.panel-default {
		border-color: $gray-400;
	}

	.widget-mode-detail {
		background-color: transparent;
	}
}
