.page-toolbar-root {
	position: sticky;
	top: $navigationBarHeight;
	z-index: 971;

	.entry-description {
		font-size: 14px;
		font-weight: 400;

		.entry-description-blank {
			font-style: italic;
		}
	}

	.entry-heading-edit-button {
		display: block;

		.entry-heading-edit-icon {
			font-size: 0.875rem;
			line-height: 1.15;
			margin-left: 8px;
			opacity: 0;
		}

		&:focus,
		&:hover {
			.entry-heading-edit-icon {
				opacity: 1;
			}
		}
	}

	.entry-title {
		font-size: 18px;
		font-weight: 700;
		line-height: 1;

		.entry-title-blank {
			font-style: italic;
		}
	}

	.tbar-divider {
		height: 16px;
		width: 1px;
	}

	.tbar-item {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.title-description-toolbar-item {
		max-width: 40%;
	}
}
