.sidebar {
	&.info-sidebar {
		.container-fluid {
			padding-left: 24px;
			padding-right: 24px;
		}

		.sidebar-header {
			padding-left: 24px;
			padding-right: 16px;
		}
	}

	.empty-list-message {
		padding: 16px;
		text-align: center;
	}

	.help-text + .learn-message {
		margin-left: 4px;
	}

	.sidebar-header,
	.sidebar-search {
		flex-shrink: 0; // Fix for certain versions of Safari when nesting flex elements
	}

	.sidebar-header {
		display: flex;
		justify-content: space-between;

		~ .sidebar-header {
			padding-top: 48px;
		}

		button {
			margin-left: 8px;
		}

		.component-title {
			font-size: 1rem;
		}
	}

	.sidebar-dt {
		margin: 0;

		&.btn:focus {
			box-shadow: 0 0;
		}

		.sidebar-arrow {
			position: absolute;
			right: 12px;
		}
	}

	.sidebar-search {
		height: auto;
		padding-bottom: 16px;
	}
}

// Edit Blueprint + Element Sidebars

.add-sxp-element-sidebar,
.clause-contributors-sidebar,
.info-sidebar,
.preview-sidebar {
	display: flex;
	flex-direction: column;
	height: calc(
		100% - var(--control-menu-container-height) - #{$navigationBarHeight}
	);
	margin-top: -$tabsNavigationBarHeight;
	position: fixed;
	right: 0;
	transform: translateX(100%);
	transition: transform ease 0.2s;
	width: $sidebarWidth;
	z-index: 972;

	&.open {
		transform: translateX(0%);
		transition: transform ease 0.2s;
	}
}
