<p>
	Hello,
</p>

<p>
	A fix for ([$PATCHER_FIX_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$], which has been in [$STATUS$] status for over an hour.
</p>

<p>
	Please kick off the fix one more time. You will receive another email if it fails or when it is complete. If the fix remains in the same status for an extended period of time, please report the issue your Support manager.
</p>

<p>
	Here is a link to view the fix: <a href="[$VIEW_FIX_URL$]">[$VIEW_FIX_URL$]</a>.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>