<p>
	Hello,
</p>

<p>
	A fix for [$PATCHER_FIX_NAME$] ([$PATCHER_FIX_ID$]) created by [$USER_NAME$], was submitted by [$STATUS_BY_USER_NAME$] on [$STATUS_DATE$] reaching [$STATUS$] status.
</p>

<p>
	Here is a link to view the fix: <a href="[$VIEW_FIX_URL$]">[$VIEW_FIX_URL$]</a>.
</p>

<p>
	Thank you!
</p>

<p>
	Patcher Webmaster
</p>