@import 'atlas-variables';

.portlet-workflow-tasks {
	.asset-icon .lexicon-icon {
		height: 32px;
		width: 32px;
	}

	.asset-title {
		font-weight: bold;
	}

	.asset-type,
	.author,
	.due-date,
	.task-name {
		margin-right: 20px;
	}

	.container-view {
		.card {
			.panel-body {
				img {
					max-width: 100%;
				}
			}
		}
	}

	.lfr-asset-column-details {
		.asset-metadata {
			background-color: #efefef;
			border-top: 1px solid #ddd;
			margin: 2em 0 0;
			padding: 0.5em;

			span {
				display: inline-block;
			}
		}

		.lfr-asset-actions {
			float: right;
			position: absolute;
			right: 10px;
			z-index: 1;
		}

		.lfr-asset-title .lfr-asset-actions img {
			margin-left: 5px;
		}

		.metadata-author {
			font-weight: bold;
			margin-right: 10px;

			img,
			svg {
				vertical-align: baseline;
			}
		}

		.metadata-entry {
			color: #999;
		}

		.task-activity {
			padding: 5px 5px 5px 25px;
		}

		.task-activity-date {
			font-weight: bold;
		}

		.task-content-actions {
			float: right;

			.btn-secondary {
				padding: 0;
			}
		}

		.task-content-author {
			padding-top: 1em;
		}

		.task-panel-container .lfr-panel-content {
			padding: 0.7em;
		}
	}

	.lfr-floating-container {
		.field {
			input,
			img {
				vertical-align: top;
			}
		}
	}

	.lfr-nav.nav-tabs.nav-bar-workflow {
		margin-bottom: 0;
	}

	.modal-footer {
		.task-action-button {
			&:not(:first-child) {
				margin-left: 0.5rem;
			}

			&:not(:last-child) {
				margin-right: 0.5rem;
			}
		}
	}

	.navigation-bar-light {
		padding-top: 2.5rem;
	}

	.portal-popup.task-dialog {
		background-color: transparent;
	}

	.task-action {
		height: 100%;

		> form {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}

	.task-action-content {
		flex-grow: 1;
	}

	.task-action-loading {
		align-items: center;
		display: flex;
		flex-direction: column;
		height: 100%;
		justify-content: center;
	}
}

.portlet-users-admin {
	#header-bottom {
		background-color: #f6f8fb;
		height: 34px;
		margin: 0 0 10px;
	}

	#header-menu {
		background-color: #f3f5f5;
		font-size: 11px;
		line-height: 34px;
		margin: 0 0 10px;
		padding: 0 10px;
		text-align: right;
	}

	#header-title {
		background-color: #c1cabc;
		font-size: 20px;
		font-weight: 500;
		margin: 0 0 10px;
		padding: 7px 10px;
	}

	.email-user-add .password-changed-notification {
		display: none;
	}

	.label-holder {
		font-weight: 700;
		padding: 15px 0 5px;
	}

	.lfr-asset-column-details {
		margin-top: 1em;
	}

	.lfr-asset-summary img.avatar {
		max-width: 210px;
	}

	.org-labor-entry {
		float: left;
		margin-right: 2%;
		width: 12%;

		@include media-breakpoint-down(sm) {
			float: none;
			width: auto;
		}

		> .form-group {
			margin-bottom: 0;
		}
	}

	.organization-details {
		margin-left: 21px;
	}

	.organization-information {
		overflow: hidden;
	}

	.organization-search {
		float: right;
		margin: 0 0 0.5em 0.5em;
	}

	.section {
		float: left;
		margin-left: 10px;
		width: 47%;

		h3 {
			background: no-repeat scroll 2px 50%;
			border-bottom: 1px solid #ccc;
			line-height: 1.5;
			margin-bottom: 0.5em;
			padding-left: 25px;
		}

		li {
			list-style: none;
			margin: 0;
		}

		ul {
			margin: 0;
		}
	}

	.entity-details {
		clear: both;
	}

	.form-navigator {
		.user-info,
		.organization-info {
			.user-name {
				word-wrap: break-word;
			}
		}
	}

	.instant-messenger,
	.social-network {
		clear: both;
		margin-bottom: 2em;
		overflow: hidden;

		img {
			margin-left: 1em;
		}

		.form-group {
			margin: 0;
		}
	}

	.lfr-permission-navigation-container {
		.lfr-permission-navigation {
			overflow: auto;
			width: 100%;

			.permission-navigation-item-content
				.permission-navigation-item-container {
				cursor: pointer;
				line-height: 1.8em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.permission-navigation-item-header {
				cursor: pointer;
				font-weight: bold;
				margin: 0.5em;

				.permission-navigation-item-header-icon {
					display: inline-block;
					height: 10px;
					width: 9px;
				}
			}

			.permission-navigation-item-summary {
				margin: 0.5em 0 1.5em 0.5em;
			}

			.permission-navigation-section .permission-navigation-section {
				margin-left: 1em;
			}

			.selected {
				font-weight: bold;
			}

			.toggler-header-collapsed {
				.icon-caret-down {
					display: none;
				}
			}

			.toggler-header-expanded {
				.icon-caret-right {
					display: none;
				}
			}
		}

		.search {
			margin: 20px 0;
		}
	}

	.membership-restriction-container {
		margin-top: 1em;
	}

	.organization-icon,
	.plugin-thumbnail,
	.site-icon {
		float: left;
		margin-right: 5px;
	}

	.permission-group {
		margin: 10px 0 0 10px;
	}

	.permission-scopes {
		margin-right: 10px;

		&.empty {
			display: none;
		}
	}

	.plugin-thumbnail {
		margin-right: 10px;
	}

	.radio-holder {
		line-height: 12px;
	}

	.user-status-selector {
		margin-top: 5px;

		@include media-breakpoint-up(md) {
			float: right;
			margin-top: 0;
		}

		.form-group {
			margin-bottom: 0;
		}

		.input-select-wrapper {
			width: 100%;

			@include media-breakpoint-up(md) {
				width: auto;
			}
		}
	}

	.view-all-link {
		color: #666;
		font-weight: normal;
		margin-bottom: 15px;
	}

	@include media-breakpoint-up(md) {
		.user-table button {
			float: left;
		}
	}
}

.workflow-tasks-modal {
	.modal-dialog {
		margin-bottom: 0;
		margin-top: 0;
	}
}
