.bb-chart-arcs-title {
	font-size: 18px;
}

.tr-duration-chart .bb svg {
	height: 200px;
}

.tr-legend-container {
	list-style: none;

	&__item {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-bottom: 10px;

		&__metrics {
			margin-left: 5px;
			margin-right: 10px;

			&__metric {
				&--value {
					font-size: 1.1em;
					font-weight: $font-header-weight;
					line-height: 1;
				}

				&--percent {
					margin-left: 2px;
				}
			}

			&__label {
				color: $color-gray;
				font-size: 11px;
				font-weight: 500;
				line-height: 1em;
				padding-top: 5px;
				text-transform: uppercase;
			}
		}

		&__square {
			height: 14px;
			margin-top: 5px;
			width: 14px;
		}
	}
}
