.calendar-root {
	border-collapse: separate;
	border-spacing: 0;
	font-size: $fontSizeSmall;

	th,
	tr {
		text-align: center;
	}

	td {
		padding: 4px 0;
		position: relative;

		&:before {
			background: transparent;
			bottom: 4px;
			content: '';
			position: absolute;
			top: 4px;
			transition: background 0.2s ease-in-out;
			z-index: 1;
		}

		&.hover:not(.start-range):not(.end-range) > .day-container {
			background: $primaryLighten23;

			> .button-root {
				color: $white;
			}
		}

		&.in-range > .day-container {
			background: $primary;

			> .button-root {
				color: $white;
			}
		}

		&.end-range,
		&.start-range {
			&:before {
				background: $primary;
				left: 0;
				right: 0;
			}

			&.hover:before,
			.button-root,
			.outside-month {
				background: $primaryLighten23;
				color: $white;
			}
		}

		&.end-range:before {
			right: 50%;
		}

		&.start-range:before {
			left: 50%;
		}
	}

	.day-container {
		background: transparent;
		padding: 0 5px;
		transition: background 0.2s ease-in-out;

		.day-root {
			background: transparent;
			border-radius: 50%;
			border-width: 0;
			height: 32px;
			position: relative;
			text-align: center;
			width: 32px;
			z-index: 2;

			&:hover {
				background: $mainLighten74;
				color: $black;
			}

			&.outside-month {
				color: $cadmin-text-muted;
			}

			&.selected {
				background-color: $primary;
				color: $white;
			}
		}
	}
}