.hs-form-container {
	fieldset {
		display: block;
	}

	.hs-input {
		background-color: $cadmin-input-bg;
		border: $cadmin-input-border-width solid $cadmin-input-border-color;
		border-radius: $cadmin-input-border-radius;
		color: $cadmin-input-color;
		display: block;
		font-size: $cadmin-font-size-base;
		height: 2.5rem;
		line-height: $cadmin-input-line-height;
		padding: $cadmin-input-padding-y $cadmin-input-padding-x;
		width: 100%;

		&:focus {
			background-color: $primaryLighten45;
			border-color: $primaryLighten23;
			color: $main;
			outline: 0;
		}
	}

	textarea.hs-input {
		height: auto;
	}

	.hs-form-field {
		margin-bottom: 1rem;
	}

	.form-columns-2 .hs-form-field {
		display: inline-block;
		margin: 0 1rem 1rem;
		vertical-align: top;
		width: calc(50% - 1rem);

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}
	}

	.hs-form-required {
		color: $warning;
		font-size: 1rem;
		margin-left: 4px;
		position: relative;
	}

	.hs-error-msgs {
		list-style: none;
		margin: 0.3rem 0 0;
		padding: 0;

		label {
			color: $error;
			font-weight: normal;
		}
	}

	.inputs-list {
		list-style: none;
		margin: 0;
		padding: 0;

		input[type='checkbox'] {
			display: inline-block;
			height: auto;
			margin-right: 0.5rem;
			width: auto;
		}
	}
}