.nav-root {
	&.nav-stacked {
		.nav-item .nav-link,
		.nav-item .btn-link {
			border-color: transparent;
			border-style: solid;
			border-width: 0 0 0 8px;

			&.active {
				border-color: $primary;
			}
		}

		.nav-item .btn-link {
			box-shadow: none;
		}
	}

	&.nav-underline {
		.nav-item {
			&.disabled {
				cursor: not-allowed;

				.nav-link {
					pointer-events: none;
				}
			}

			.nav-link.active:after {
				height: 0.25rem;
			}

			.nav-link {
				margin: 0 $cadmin-nav-link-padding-x;
				padding: $cadmin-nav-link-padding-y 0;

				&.disabled {
					cursor: not-allowed;
				}
			}

			&:first-child .nav-link {
				margin-left: 0;
			}
		}
	}
}
