.settings-root {
	background: $lightBackground;
	min-width: $sidebarOpenWidth + $minPageWidthContent + ($pagePadding * 2);

	.breadcrumb {
		font-size: $fontSizeSmall;
		padding: 0;

		.icon-wrapper {
			height: 16px;
			margin-right: 8px;
			width: 16px;
		}
	}

	.icon-wrapper {
		align-items: center;
		display: flex;
		height: 16px;
		justify-content: center;
		margin-right: 8px;
		width: 16px;

		.lexicon-icon-user-management {
			font-size: 1.8rem;
		}
	}

	.settings-side-bar {
		.icon-wrapper {
			height: 32px;
			margin-right: 16px;
			width: 32px;
		}

		.button-root {
			white-space: nowrap;
		}
	}

	.section-main {
		margin: 0 auto;
		max-width: $maxPageWidth + ($pagePadding * 2);
		min-width: $minPageWidthContent;
		padding: 0 $pagePadding;
		width: 100%;

		.content-header {
			align-items: flex-start;
			display: flex;
			justify-content: space-between;
			padding-bottom: 27px;

			&.has-page-actions {
				.header-text {
					margin-right: 0.5rem;
				}

				.page-actions-container {
					.button-root:not(:last-child) {
						margin-right: 16px;
					}
				}
			}

			.header-text {
				max-width: 600px;
			}
		}
	}

	.section-side {
		min-width: $sidebarOpenWidth;
	}

	> .content-wrapper {
		display: flex;
		height: 100%;

		.content {
			.description {
				color: $mainLighten28;
				margin-bottom: 16px;
			}
		}

		.settings-side-bar {
			.item {
				border-left: 4px solid transparent;

				&.active {
					border-left: 4px solid $primary;

					.button-root {
						color: $main;
						text-decoration: none;

						.icon-root {
							color: $primary;
						}
					}
				}

				.button-root {
					align-items: center;
					color: $mainLighten28;
					display: flex;
					font-size: $fontSizeSmall;
					font-weight: $fontWeightSemiBold;
					height: 40px;
					line-height: 18px;
					padding: 8px 24px;
					width: 100%;

					&:hover {
						color: $main;
						text-decoration: none;
					}
				}
			}

			.nav {
				display: flex;
				flex-direction: column;
				margin-bottom: 24px;
			}

			.section-title {
				color: $mainLighten28;
				font-size: $fontSizeExtraSmall;
				letter-spacing: 0.5px;
				margin-bottom: 16px;
				padding: 0 32px;
				text-transform: uppercase;
				white-space: nowrap;
			}
		}
	}
}

.settings-base-page-root {
	.block-list-button {
		position: absolute;
		right: 0;
		top: 0;
	}
}
