.table-root {
	position: relative;

	.table-cell-secondary {
		color: $secondary;

		.table-title,
		.table-title > a {
			color: $secondary;
		}
	}

	td,
	th {
		&:first-child {
			padding-left: $listPadding;
		}

		&:last-child {
			padding-right: $listPadding;
		}

		&.text-truncate {
			display: table-cell;
		}
	}

	tbody > tr {
		&:hover {
			background: $primaryLighten45;

			&.disabled td > a {
				color: $primary;
			}
		}

		&.clickable {
			cursor: pointer;
		}

		&.disabled {
			&,
			.table-title {
				color: $mainLighten52;
			}

			&.clickable {
				cursor: not-allowed;
			}

			td > a {
				color: $mainLighten52;
			}
		}

		.table-title .text-truncate {
			display: block;
		}
	}

	.row-actions {
		.quick-action-menu {
			align-items: center;
		}
	}

	.row-inline-actions {
		text-align: right;

		button {
			margin: 4px;
		}

		.dropdown-root {
			display: inline-block;
		}

		.hidden {
			pointer-events: none;
			visibility: hidden;
		}
	}

	.table {
		& tbody th,
		& tbody td,
		& tfoot td,
		& tfoot th {
			background-color: transparent;
		}

		&.table-row-no-bordered {
			thead th,
			td {
				border-width: 0;
			}
		}

		tbody + tbody {
			border-top-width: 0;
		}

		thead th {
			.button-root {
				color: $mainLighten28;
				line-height: 24px;
				transition: none;
				vertical-align: baseline;

				&:hover {
					color: $main;
				}
			}
		}

		.table {
			td:first-child,
			th:first-child {
				padding-left: 32px;
			}

			.table {
				td:first-child,
				th:first-child {
					padding-left: 64px;
				}

				.table {
					td:first-child,
					th:first-child {
						padding-left: 96px;
					}
				}
			}
		}
	}
}

.searchable-table {
	.navbar {
		border-color: $mainLighten74;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;
		border-width: 0.0625rem 0.0625rem 0;
	}

	.table {
		.table-head-title {
			border-top-left-radius: 0 !important;
			border-top-right-radius: 0 !important;
		}
	}
}
