.picker-root-container {
	background-image: url('/o/osb-faro-web/dist/sprite.svg#world_map-usage');
	background-position-x: center;
	background-repeat: no-repeat;
	margin: 32px 44px 0px;
	min-height: 15em;

	.current-time-display {
		color: $mainLighten28;
		font-size: $fontSizeExtraLarge;
		font-weight: $fontWeightSemiBold;
	}

	.current-time-value {
		color: $mainLighten28;
		font-size: $font-size-lg-2x;
		font-weight: $fontWeightBold;
	}

	.time-zone-spaced-select {
		padding-top: 48px;
	}
}
