.unassigned-segments-modal-root {
	.assign-segments {
		padding-top: 10px;

		.assign-segments-table-wrapper {
			height: 352px;
			overflow-y: auto;
			width: 100%;

			select:required:invalid {
				color: $mainLighten28;
			}
		}

		h2 {
			font-size: 40px;
			font-weight: $fontWeightBold;
		}

		.subtitle {
			color: $mainLighten28;
			font-size: 18px;
			margin-bottom: 34px;
		}
	}

	.modal-content {
		width: 988px;

		.btn.wide {
			padding-left: 26px;
			padding-right: 26px;
		}

		.modal-footer {
			padding-bottom: 18px;
		}
	}

	.welcome {
		padding-top: 20px;

		// TODO: LRAC-7427 Adjust SVGs with Linear Gradients
		.ac-property-buildings {
			background-image: url('/o/osb-faro-web/dist/sprite.svg#ac_property_buildings-usage');
			padding: 150px 350px 0px;
			width: 489px;
		}

		.description {
			color: $mainLighten28;
			font-size: 14px;
			margin-bottom: 0;
			max-width: 588px;

			.description-title {
				color: $mainLighten4;
				font-size: 18px;
				font-weight: $fontWeightSemiBold;
				margin-bottom: 12px;
			}
			.description-subtitle {
				color: $mainLighten4;
				margin-bottom: 8px;
			}
		}

		h2 {
			font-size: 32px;
		}

		.subtitle {
			color: $mainLighten28;
			font-size: 18px;
			margin-bottom: 32px;
		}
	}
}
