/**
 * Chart
 */

$chartBlue: #4B9BFF;
$chartBlueLighten30: #97C5FF;
$chartLimeGreen: #9CE269;
$chartOrange: #FFB46E;
$chartPurple: #AF78FF;
$chartRed: #FF5F5F;
$chartSeaGreen: #50D2A0;

/**
 * Criteria sidebar
 */
$criteriaSidebarWidth: 320px;
$propertyGroupsColors: (
	'account': $chartOrange,
	'disabled': $cadmin-white,
	'event': $chartSeaGreen,
	'individual': $chartBlue,
	'interest': $chartRed,
	'organization': #5FC8FF,
	'session': $chartPurple,
	'web': $chartSeaGreen
);

/**
 * Field types
 */
$fieldLightBlue: #54B7FF;
$fieldDarkBlue: #849AE8;
$fieldPurple: #AD7AFF;
$fieldGreen: #96DC7A;

/**
 * Layout
 */
$gridGap: 24px;
$gridMaxPageWidth: map-get($cadmin-grid-breakpoints, xl);
$gridMaxPageWidthLg: map-get($cadmin-grid-breakpoints, lg);
$maxGridItems: 4;
$maxGridItemsMd: 3;
$maxGridItemsSm: 2;
$dataCardMaxHeight: 450px;
$headerCardMaxHeight: 230px;
$listPadding: 24px;
$navbarHeight: 72px;
$pagePadding: 48px;
$profileHeaderMargin: 16px;
$sidebarClosedWidth: 80px;
$sidebarOpenWidth: 232px;

$maxPageWidth: 1280px;
$minPageWidth: 992px;
$minPageWidthContent: 640px;

$overviewCardMainMinWidth: 400px;
$overviewCardSideMinWidth: 400px;

$liferayDataSourceCardMainMinWidth: 576px;
$liferayDataSourceCardSideMinWidth: 280px;

/**
 * Lexicon
 */
$main: #272833;
$mainLighten4: #30313F;
$mainLighten8: #393A4A;
$mainLighten28: #6B6C7E;
$mainLighten52: #A7A9BC;
$mainLighten65: #CDCED9;
$mainLighten74: #E7E7ED;
$secondary: $mainLighten28;
$secondaryHover: #F7F8F9;

$primary: #0B5FFF;
$primaryDarken5: #0053F0;
$primaryDarken10: #004AD7;
$primaryLighten23: #80ACFF;
$primaryLighten33: #B3CDFF;
$primaryLighten45: #F0F5FF;

$white: #FFF;
$black: #000;
$lightBackground: #F1F2F5;

$error: #DA1414;
$errorLighten28: #F48989;
$errorLighten50: #FEEFEF;

$success: #287D3C;
$successLighten25: #5ACA75;
$successLighten63: #EDF9F0;

$warning: #B95000;
$warningLighten25: #FF8F39;
$warningLighten60: #FFF4EC;

$info: #2E5AAC;
$infoLighten28: #89A7E0;
$infoLighten53: #EEF2FA;

$colors: (
	main: $main,
	mainLighten4: $mainLighten4,
	mainLighten8: $mainLighten8,
	mainLighten28: $mainLighten28,
	mainLighten52: $mainLighten52,
	mainLighten65: $mainLighten65,
	mainLighten74: $mainLighten74,
	secondary: $secondary,
	secondaryHover: $secondaryHover,
	primary: $primary,
	primaryDarken5: $primaryDarken5,
	primaryDarken10: $primaryDarken10,
	primaryLighten23: $primaryLighten23,
	primaryLighten33: $primaryLighten33,
	primaryLighten45: $primaryLighten45,
	white: $white,
	black: $black,
	lightBackground: $lightBackground,
	error: $error,
	errorLighten28: $errorLighten28,
	errorLighten50: $errorLighten50,
	success: $success,
	successLighten25: $successLighten25,
	successLighten63: $successLighten63,
	warning: $warning,
	warningLighten25: $warningLighten25,
	warningLighten60: $warningLighten60,
	info: $info,
	infoLighten28: $infoLighten28,
	infoLighten53: $infoLighten53
);

/**
 * Type
 */
$fontSizeExtraSmall: 12px;
$fontSizeSmall: 14px;
$fontSizeMedium: 16px;
$fontSizeLarge: 20px;
$fontSizeExtraLarge: 24px;
$fontSizeErrorCode: 72px;

$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

/**
 * Z-Index
 */
$alertZIndex: 6000;
$helpWidgetZIndex: 100;
$menuZIndex: 5000;
$overlayZIndex: 1000;
$tooltipZIndex: 10000;
$windowZIndex: 1200;

// Cerebro variables

$baseline: 8px;

/**
 * Font size
 */
$font-size-sm: 0.875rem; //14px
$font-size-sm-1x: 0.75rem; //12px
$font-size-sm-2x: 0.625rem; //10px

$font-size-md: 1rem; //16px
$font-size-md-1x: 1.125rem; //18px
$font-size-md-2x: 1.25rem; //20px
$font-size-md-3x: 1.5rem; //22px

$font-size-lg: 1.5rem; //24px
$font-size-lg-1x: 1.75rem; //28px
$font-size-lg-2x: 2rem; //32px
$font-size-lg-3x: 2.25rem; //36px
$font-size-lg-4x: 2.5rem; //40px
$font-size-lg-5x: 2.75rem; //44px
$font-size-lg-6x: 3rem; //48px

/**
 * Font family
 */
$font-family: 'Source Sans Pro', 'Source Sans', -apple-system,
	BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
	'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

$data-card-max-height: 450px;
$data-card-width: 350px;
$navbar-height: 72px;
$sidebar-closed-width: 80px;
$sidebar-open-width: 224px;

/**
 * Card
 */
$card-min-height: 536px;

/**
 * Header
 */
$header-subtitle-color: $primary;
$header-subtitle-font-weight: $fontWeightRegular;
$header-title-font-size: 1.5rem;
$header-title-font-weight: bold;

/**
 * Sankey
 */
$sankey-font-weight: $fontWeightSemiBold;
$sankey-title-font-size: $font-size-md;
$sankey-transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
$sankey-views-font-size: 12px;

/**
 * Tooltip
 */
$tooltip-arrow-size: 6px;