<div class="component-tabs">
	<nav class="navbar navbar-collapse-relative navbar-expand-md navbar-underline navigation-bar navigation-bar-light">
		<button aria-controls="navigationBarCollapse-${fragmentEntryLinkNamespace}" aria-expanded="false" aria-haspopup="listbox" aria-label="${languageUtil.format(locale, 'current-x', ['selection'])}:" class="collapsed navbar-toggler navbar-toggler-link" data-toggle="collapse" role="combobox">
			<span class="navbar-text-truncate">Tab 1</span>
			<span class="icon-caret-bottom"></span>
		</button>

		<div class="collapse navbar-collapse" id="navigationBarCollapse-${fragmentEntryLinkNamespace}">
			<ul class="navbar-nav" role="tablist">
				[#list 0..configuration.numberOfTabs-1 as i]
				<li class="nav-item" role="presentation">
					<button aria-controls="tabPanel${i+1}-${fragmentEntryLinkNamespace}" aria-selected="false" class="nav-link" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tab${i+1}-${fragmentEntryLinkNamespace}" role="tab">
						<span class="navbar-text-truncate" data-lfr-editable-id="title${i+1}" data-lfr-editable-type="text" data-lfr-priority="${i+1}">
							Tab ${i+1}
						</span>
					</button>
				</li>
				[/#list]
			</ul>
		</div>
	</nav>

	<div class="tab-panel">
		[#list 0..configuration.numberOfTabs-1 as i]
		<div aria-labelledby="tab${i+1}-${fragmentEntryLinkNamespace}" class="d-none tab-panel-item" data-fragment-namespace="${fragmentEntryLinkNamespace}" id="tabPanel${i+1}-${fragmentEntryLinkNamespace}" role="tabpanel" tabindex="0">
			<lfr-drop-zone data-lfr-drop-zone-id="${i+1}" data-lfr-priority="${i+1}"></lfr-drop-zone>
		</div>
		[/#list]
	</div>
</div>