.seo-studio-category-label {
	align-items: center;
	background: #ffffff;
	border: 1px solid #89a7e0;
	border-radius: 2px;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: row;
	gap: 4px;
	justify-content: center;
	padding: 3px 8px;
}
