@import 'atlas-variables';

.multiple-file-uploader {
	.modal-body.inline-scroller {
		max-height: 600px;
	}

	.dropzone {
		background-color: $light;
		border-radius: 4px;
		height: 160px;
		outline: 2px dashed $secondary-l2;
		padding: 0.75rem;

		transition-duration: 0.2s;
		transition-property: background-color, outline;
		transition-timing-function: ease-in-out;

		&-drag-active {
			background-color: $primary-l3;
			outline-color: $primary;
		}
	}

	.loading-message {
		inset: 0;
		top: 0;
		z-index: 10;
	}

	.sticker-border-secondary {
		border: 1px solid $secondary-l3;
	}
}
