@import 'atlas-variables';

$btn-size: 28px;
$text: $gray-600;

.org-chart-container {
	background-color: $light;
	height: 700px;
	position: relative;

	&.expanded {
		bottom: 0;
		height: auto;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 100;

		& ~ .org-char-info-panel {
			z-index: 100;
		}
	}

	.subnav-tbar-primary {
		padding-left: 3rem;
		padding-right: 3rem;
		position: fixed;
		width: 100%;
	}

	.zoom-controls {
		bottom: $spacer;
		left: $spacer;
		position: absolute;
	}

	.svg-chart {
		height: 100%;
		width: 100%;

		&.dragging {
			cursor: grabbing;
		}
	}

	.chart-link {
		fill: none;
		stroke: $secondary-l2;
		stroke-width: 1.5;

		&.highlighted {
			stroke: unquote('hsl(from #{$primary} h s l / 0.4)');
		}
	}

	.chart-rect {
		fill: white;
		stroke: $secondary-l2;
		stroke-width: 1.5;
		transition:
			fill 0.2s ease-in,
			stroke 0.2s ease-in;
	}

	.dnd-handle-content {
		opacity: 0;
		pointer-events: none;
		transition: transform 0.2s linear;

		.chart-rect {
			stroke: unquote('hsl(from #{$primary} h s l / 0.6)');
		}
	}

	.dnd-handle.dragging .dnd-handle-content {
		opacity: 1;
		transform: scale(0.8);
	}

	.highlighted .chart-rect {
		stroke: unquote('hsl(from #{$primary} h s l / 0.6)');
	}

	.discovered {
		.chart-rect {
			fill: $dark;
		}

		.node-title,
		.entity-icon,
		.entity-description,
		.node-menu-icon {
			fill: $white !important;
		}

		.node-menu-wrapper:hover .node-menu-btn {
			fill: #373843 !important;
		}
	}

	.selected .chart-rect {
		stroke: $primary;
	}

	.chart-data-wrapper {
		opacity: 1;
		transition: opacity 0.5s ease-in;

		&.hidden {
			opacity: 0;
			pointer-events: none;
		}
	}

	.chart-item {
		cursor: pointer;
		transition: opacity 0.1s ease-in;
	}

	.unselectable {
		cursor: no-drop;
	}

	.disabled {
		opacity: 0.4;
	}

	.drop-allowed {
		cursor: copy;

		&:hover .chart-rect {
			fill: $success-l2;
			stroke: $success-l1;
		}
	}

	.drop-not-allowed {
		cursor: no-drop;
		opacity: 0.4;

		&:hover .chart-rect {
			fill: $danger-l2;
			stroke: $danger;
		}
	}

	.node-type-icon {
		transform: translate(24px, -8px);
	}

	.icon-circle {
		fill: var(--icon-color);
		r: 16px;
		transform: translate(16px * 2, 0);
	}

	.chart-item-organization {
		--icon-color: #5fc8ff;
	}

	.chart-item-account {
		--icon-color: #50d2a0;
	}

	.chart-item-user {
		--icon-color: #ffd76e;
	}

	.node-description {
		.entity-description {
			fill: $text;
			font-size: 14px;
			text-anchor: start;
			user-select: none;
		}

		.entity-divider {
			stroke: $text;
			stroke-width: 1;
		}

		.entity-icon {
			fill: $text;
		}

		.node-description-content {
			fill: $text;
			font-size: 14px;
			text-anchor: start;
			transform: translate(#{16px * 4}, 15px);
			transition: fill 0.2s ease-in;
			user-select: none;
		}
	}

	.node-title {
		font-size: 14px;
		font-weight: bold;
		text-anchor: start;
		transform: translate(#{16px * 4}, -3px);
		transition: fill 0.2s ease-in;
		user-select: none;
	}

	.actions-wrapper {
		fill: $text;
		transform: translate(36px, 0);
	}

	.action-circle {
		fill: white;
		stroke: $secondary-l2;
		stroke-width: 1.5px;
		transition: stroke 0.1s ease-in-out;
	}

	.open-actions-wrapper,
	.add-action-wrapper {
		&:hover .action-circle {
			stroke: $secondary;
		}
	}

	.open-actions-wrapper {
		transform: rotate(0);
		transition: transform 0.5s ease-in-out;

		.action-icon {
			transform: translate(-9px, -9px);
		}
	}

	.add-action-wrapper {
		transition: transform 0.2s ease-in;

		.action-icon {
			transform: translate(-8px, -8px);
		}

		&.account {
			transform: translate(35px, -35px) scale(0);
			transition-delay: 0.1s;
		}

		&.organization {
			transform: translate(0, -50px) scale(0);
		}

		&.user {
			transform: translate(50px, 0) scale(0);
			transition-delay: 0.2s;
		}
	}

	.menu-open {
		.account {
			transform: translate(43px, -43px) scale(1);
		}

		.organization {
			transform: translate(0, -60px) scale(1);
		}

		.user {
			transform: translate(60px, 0) scale(1);
		}

		.open-actions-wrapper {
			transform: rotate(45deg * 5);
		}
	}

	.node-menu-wrapper {
		&:hover {
			.node-menu-btn {
				fill: #f7f8f9;
			}

			.node-menu-icon {
				fill: #272833;
			}
		}

		.node-menu-btn {
			fill: transparent;
			height: $btn-size;
			rx: 5;
			transition: fill 0.2s ease-in;
			width: $btn-size;
		}

		.node-menu-icon {
			fill: #6b6c7e;
			pointer-events: none;
			transition: fill 0.2s ease-in;
			x: 6;
			y: 6;
		}
	}
}

.org-chart-management-toolbar {
	z-index: 10;

	.navbar-nav {
		padding: 0 12px;
		width: 100%;
	}

	.search {
		flex: 1;

		.row {
			width: 100%;
		}
	}
}

.org-char-info-panel {
	bottom: 0;
	height: auto;
	pointer-events: auto;
	position: absolute;
	top: 0;
	z-index: 10;

	&.active {
		transform: translateX(0);
	}

	.sidebar-light {
		border-left: 1px solid $secondary-l3;
	}

	&.info-panel {
		.sidebar > .sidenav-close {
			margin: 16px 16px 0 8px;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 10;

			& + .info-panel-content .sidebar-header > .autofit-row {
				width: auto;
			}
		}
	}

	.sidebar-header {
		margin-right: 64px;
		padding-right: 0;
	}

	.info-panel-content {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;

		.logo-selector-default-img,
		img {
			height: 100px;
			max-height: 100px;
			max-width: 100px;
			object-fit: cover;
			width: 100px;
		}

		.logo-selector-default-img {
			background: $gray-200;
			fill: $gray-600;
			padding: 20px;
		}

		.sidebar-dd {
			white-space: pre;
		}
	}
}

.org-management-portlet-wrapper.expanded {
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 990;
}

.org-chart-container.expanded ~ .org-char-info-panel {
	top: 48px;
}

.admin-portlet {
	.org-char-info-panel {
		position: fixed;
		top: calc(var(--control-menu-container-height) + 112px);
	}
}

.org-chart-root {
	overflow-x: hidden;
}

.root-organizations-filter .inline-scroller {
	margin: 1rem 1rem 0.25rem 0;

	&::-webkit-scrollbar {
		width: 5px;

		&-track {
			background-color: transparent;
		}

		&-thumb {
			background-color: #e7e7ed;
			border-radius: 2px;
		}
	}
}
