{{- $databasePort := "5432" -}}
{{- $elasticsearchHealth := "" -}}
{{- $env := index .context "apiextensions.crossplane.io/environment" -}}
{{- $isReady := false -}}
{{- $isSearchReady := false -}}
{{- $managementPoliciesOnce := (list "Create" "Observe" "Delete") | toJson -}}
{{- $xr := .observed.composite.resource -}}

{{- $backup := $xr.spec.backup | default dict -}}
{{- $cmkEnabled := $xr.spec.cmk.enabled | default false -}}
{{- $databaseName := $xr.spec.database.name | default "lportal" -}}
{{- $databaseSpec := $xr.spec.database -}}
{{- $environmentId := $xr.spec.environmentId -}}
{{- $forceDestroy := $xr.spec.forceDestroy | default false -}}
{{- $gsaName := printf "%s-sa" $xr.metadata.name -}}
{{- $managementPolicies := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe" "Update") (list "*") | toJson -}}
{{- $managementPoliciesNoUpdate := $xr.spec.orphanOnDelete | ternary (list "Create" "Observe") (list "Create" "Delete" "Observe") | toJson -}}
{{- $namespace := $xr.metadata.namespace -}}
{{- $overlayAccess := $xr.spec.overlayAccess | default dict -}}
{{- $projectId := $xr.spec.projectId -}}
{{- $restorePhase := $xr.spec.restorePhase | default "none" -}}
{{- $searchName := printf "%s-es" $xr.metadata.name -}}
{{- $storage := $xr.spec.storage | default dict -}}
{{- $targetActiveDataPlane := $xr.spec.targetActiveDataPlane | default "blue" -}}

{{- $overlayBucketName := printf "%s-overlay-%s" $env.deploymentName (printf "%.18s-%s" $projectId (printf "%s-%s" $env.deploymentName $projectId | sha256sum | trunc 6)) -}}

{{- $activeDataPlane := $targetActiveDataPlane -}}
{{- $databaseIamUser := printf "%s@%s.iam" $gsaName $env.projectId -}}
{{- $databaseInstanceManagementPolicies := $backup.enabled | ternary ((list "*") | toJson) $managementPolicies -}}
{{- $dataPlanes := list $targetActiveDataPlane -}}
{{- $gsaEmail := printf "%s@%s.iam.gserviceaccount.com" $gsaName $env.projectId -}}
{{- $hash := printf "%s-%s" $databaseName $env.projectId | sha256sum | trunc 7 -}}
{{- $labels := merge ($xr.spec.commonTags | default dict) (dict "app" "liferay" "deployment-name" $env.deploymentName "environment-id" $environmentId "project-id" $projectId) -}}

{{- $projectIdFull := printf "%s-%s" $projectId $environmentId -}}
{{- $region := $databaseSpec.region | default $xr.spec.region -}}
{{- $searchNamespace := printf "%s-elasticsearch" $namespace -}}
{{- $searchSecretName := printf "%s-es-elastic-user" $searchName -}}
{{- $targetInactiveDataPlane := (eq $targetActiveDataPlane "blue") | ternary "green" "blue" -}}

{{- if (eq $restorePhase "promoting") -}}
    {{- $dataPlanes = list "blue" "green" -}}
{{- else if or (eq $restorePhase "provisioning") (eq $restorePhase "provisioning-database-user") -}}
    {{- $activeDataPlane = $targetInactiveDataPlane -}}
    {{- $dataPlanes = list "blue" "green" -}}
{{- end }}

{{- $backupTargetLabels := merge (dict) $labels (dict "should-back-up" "true") -}}
{{- $uidHash := printf "%s-%s" $env.projectNumber $projectIdFull | sha256sum | trunc 6 -}}

{{- $baseName := printf "%.18s-%s" $projectIdFull $uidHash -}}

{{- $cmkKeyName := printf "projects/%s/locations/%s/keyRings/%s-keyring/cryptoKeys/%s-key" $env.projectId $region $baseName $baseName -}}