apiVersion: kubernetes.m.crossplane.io/v1alpha1
kind: Object
metadata:
    annotations:
        gotemplating.fn.crossplane.io/composition-resource-name: composition-context
    name: {{ $xr.metadata.name }}-composition-context
spec:
    forProvider:
        manifest:
            apiVersion: v1
            kind: ConfigMap
            metadata:
                name: composition-context
                namespace: {{ $namespace }}
            data:
                variables: |
                    backup: {{ $backup | toJson }}
                    backupTargetLabels: {{ $backupTargetLabels | toJson }}
                    baseName: {{ $baseName | toJson }}
                    cmkEnabled: {{ $cmkEnabled | toJson }}
                    cmkKeyName: {{ $cmkKeyName | toJson }}
                    databaseIamUser: {{ $databaseIamUser | toJson }}
                    databaseName: {{ $databaseName | toJson }}
                    databasePort: {{ $databasePort | toJson }}
                    databaseSpec: {{ $databaseSpec | toJson }}
                    elasticsearchHealth: {{ $elasticsearchHealth | toJson }}
                    environmentId: {{ $environmentId | toJson }}
                    forceDestroy: {{ $forceDestroy | toJson }}
                    gsaEmail: {{ $gsaEmail | toJson }}
                    gsaName: {{ $gsaName | toJson }}
                    hash: {{ $hash | toJson }}
                    isReady: {{ $isReady | toJson }}
                    isSearchReady: {{ $isSearchReady | toJson }}
                    labels: {{ $labels | toJson }}
                    managementPolicies: {{ $managementPolicies | toJson }}
                    managementPoliciesOnce: {{ $managementPoliciesOnce | toJson }}
                    namespace: {{ $namespace | toJson }}
                    overlayAccess: {{ $overlayAccess | toJson }}
                    projectId: {{ $projectId | toJson }}
                    projectIdFull: {{ $projectIdFull | toJson }}
                    region: {{ $region | toJson }}
                    searchName: {{ $searchName | toJson }}
                    searchNamespace: {{ $searchNamespace | toJson }}
                    searchSecretName: {{ $searchSecretName | toJson }}
                    storage: {{ $storage | toJson }}
                    uidHash: {{ $uidHash | toJson }}
    managementPolicies: {{ $managementPolicies }}
