.dashboard-navigation-body-list {
	align-items: center;
	border-radius: 0.375rem;
	cursor: pointer;
	display: flex;
	height: 2.5rem;
	justify-content: flex-start;
	padding: 1rem 0.75rem;
	transition: background-color 0.3s;
	width: initial !important;

	&-selected {
		background-color: #e6edfb;
	}

	&-text {
		color: #272833;
		text-decoration: none;
	}

	&:hover {
		background-color: #e6edfb;
	}

	&-icon {
		filter: saturate(0%);
		margin-right: 0.625rem;
		transition: filter 0.3s;
		width: 1.5rem;

		&-selected {
			filter: invert(18%) sepia(87%) saturate(3738%) hue-rotate(218deg)
				brightness(85%) contrast(103%);
		}
	}

	&-text {
		font-size: 0.813rem;
		font-weight: 600;
		line-height: 1.5rem;
		text-wrap: nowrap;
		transition: color 0.3s;

		&-selected {
			color: #004ad7;
		}

		&:hover {
			color: #004ad7;
		}
	}
}
