.lfr-object__edit-object-definition {
	.data-set .management-bar-wrapper,
	> .lfr-tooltip-scope,
	.page-header {
		position: sticky;
		z-index: 1;
	}

	.data-set {
		.management-bar-wrapper {
			background-color: $white;
			top: calc(var(--control-menu-container-height, 56px) + 4rem + 48px);
		}
	}

	> .lfr-tooltip-scope {
		top: var(--control-menu-container-height, 56px);
	}

	.navbar {
		position: relative !important;
	}

	.page-header {
		top: calc(var(--control-menu-container-height, 56px) + 4rem);
	}

	&.publication {
		& > .lfr-tooltip-scope {
			top: calc(var(--control-menu-container-height, 56px) + 1.5rem);
		}

		.data-set .management-bar-wrapper {
			top: calc(
				var(--control-menu-container-height, 56px) + 1.5rem + 4rem +
					48px
			);
		}

		.lfr-objects__object-definition-details-management-toolbar {
			.lfr__management-toolbar {
				margin-top: 1.5rem;
			}
		}

		.page-header {
			top: calc(
				var(--control-menu-container-height, 56px) + 1.5rem + 4rem
			);
		}
	}
}
