@import 'atlas-custom-properties/_variables';
@import 'atlas-variables';

@import 'management-toolbar';

.lfr-objects__side-panel-content {
	.nav-tabs + .tab-content .tab-pane {
		padding: 0;
	}
}

.side-navigation-container.c-slideout-push-start
	~ .flex-grow-1
	.lfr-objects__model-builder-custom-vertical-bar.c-slideout-start {
	@include media-breakpoint-up(md) {
		inset-inline-start: $c-slideout-sidebar-width;
		z-index: calc(#{$zindex-c-slideout} - 1);
	}
}

.side-panel-content {
	background-color: $light;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;

	&__body,
	&__footer {
		padding: 1.5rem;
	}
}

.text-small {
	color: $secondary-l1 !important;
	font-size: 0.75rem;
}
