authorizationEndpoint=""
discoveryEndpoint="https://auth.pingone.com/9e2f8755-6b9b-4150-a64e-512d8b8834c8/as/.well-known/openid-configuration"
discoveryEndpointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId=""
openIdConnectClientSecret=""
providerName="PingOne"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndpoint=""
userInfoEndpoint=""