authorizationEndpoint=""
discoveryEndpoint="https://login.microsoftonline.com/86315286-b8fe-4db7-abd0-cc8f6421c133/v2.0/.well-known/openid-configuration"
discoveryEndpointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL=""
jwksURI=""
openIdConnectClientId=""
openIdConnectClientSecret=""
providerName="Azure"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=[""]
tokenConnectionTimeout=I"1000"
tokenEndpoint=""
userInfoEndpoint=""