authorizationEndpoint="http://127.0.0.1:18080/auth/realms/master/protocol/openid-connect/auth"
discoveryEndpoint=""
discoveryEndpointCacheInMillis=L"360000"
idTokenSigningAlgValues=["RS256"]
issuerURL="http://127.0.0.1:18080/auth/realms/master"
jwksURI="http://127.0.0.1:18080/auth/realms/master/protocol/openid-connect/certs"
openIdConnectClientId=""
openIdConnectClientSecret=""
providerName="liferay-pkce"
registeredIdTokenSigningAlg=""
scopes="openid email profile"
subjectTypes=["public","pairwise"]
tokenConnectionTimeout=I"1000"
tokenEndpoint="http://127.0.0.1:18080/auth/realms/master/protocol/openid-connect/token"
userInfoEndpoint="http://127.0.0.1:18080/auth/realms/master/protocol/openid-connect/userinfo"