@import 'atlas-custom-properties/_variables';
@import 'atlas-variables';

@import '../../../css/variables';

$defaultTransitionDuration: 0.5s;
$toolbarDesktopHeight: 64px;
$toolbarHeight: 110px;

// z-indexes for children of page-editor-sidebar (which is a stacking context).

$zIndexButtons: 1;
$zIndexContent: 0;
$zIndexPanel: 1;

.multi-panel-sidebar {
	display: flex;
	height: calc(
		100vh - var(--control-menu-container-height) - #{$toolbarHeight}
	);
	position: fixed;
	right: 0;
	top: calc(var(--control-menu-container-height) + #{$toolbarHeight});
	z-index: $zIndexPanel;

	&-content {
		height: calc(
			100vh - var(--control-menu-container-height) - #{$toolbarHeight}
		);
	}

	@include media-breakpoint-up(lg) {
		height: calc(
			100vh - var(--control-menu-container-height) - #{$toolbarDesktopHeight}
		);
		top: calc(
			var(--control-menu-container-height) + #{$toolbarDesktopHeight}
		);

		&-content {
			height: calc(
				100vh - var(--control-menu-container-height) - #{$toolbarDesktopHeight}
			);
		}
	}

	&-buttons {
		background-color: $white;
		border-left: solid thin $secondary-l3;
		flex-direction: column;
		padding-top: 16px;
		width: $multiPanelSidebarButtonWidth;
		z-index: $zIndexButtons;

		a {
			align-items: center;
			border-radius: 0.25rem;
			color: $secondary-l1;
			display: flex;
			height: 2.5em;
			justify-content: center;

			&.disabled {
				color: $gray-500;
			}

			&.active,
			&:focus,
			&:hover {
				background-color: $gray-200;
				color: $gray-900;
			}

			&:focus {
				box-shadow:
					0 0 0 0.125rem $white,
					0 0 0 0.25rem $primary-l1,
					inset 0 0 unquote('hsl(from #{$black} h s l / 0)');
				outline: none;
			}
		}

		button {
			border-radius: 0;
			color: $gray-900;

			&.disabled {
				color: $gray-500;
			}

			&:active,
			&:focus,
			&:hover {
				background-color: $gray-200;
				color: $gray-900;
			}
		}

		hr {
			border-color: $gray-200;
			margin: 12px 8px;
		}
	}

	&-content {
		background-color: $white;
		border-left: 1px solid $gray-300;
		overflow-x: hidden;
		position: fixed;
		right: $multiPanelSidebarButtonWidth;
		transform: translateX(100%);
		transition: transform ease $defaultTransitionDuration;
		visibility: hidden;
		width: $multiPanelSidebarContentWidth;
		z-index: $zIndexContent;

		&-open {
			transform: none;
			visibility: visible;
		}

		.nav-tabs {
			padding: 0;
		}
	}

	&-dark {
		& .multi-panel-sidebar-buttons {
			background-color: $gray-800;
			border-left-color: $secondary;

			a,
			button {
				color: $gray-500;

				&.active,
				&:active,
				&:focus,
				&:hover {
					background-color: unquote(
						'hsl(from #{$white} h s l / 0.06)'
					);
					color: $white;
				}
			}

			hr {
				border-color: $gray-600;
			}
		}
	}
}

.rtl .multi-panel-sidebar {
	&-content {
		transform: translateX(100%);

		&-open {
			transform: none;
		}
	}
}
