@import 'atlas-variables';

$version-history-toolbar-height: 3rem;

$version-history-side-panel-width: 320px;

.version-history {
	&__list {
		.list-group-item {
			cursor: pointer;

			&:focus-visible {
				box-shadow: $component-focus-inset-box-shadow;
				outline: 0;
			}

			&:hover:not(.active) {
				background-color: $gray-100;
			}
		}
	}

	&__preview {
		border: 0;
		display: block;
		height: calc(
			100vh - var(--control-menu-container-height, 0) - #{$version-history-toolbar-height}
		);
		width: 100%;
	}

	&__side-panel {
		border-right-style: solid;
		border-right-width: 1px;

		@include media-breakpoint-up(lg) {
			.close {
				display: none;
			}
		}
	}

	&__toolbar {
		left: 0;
		position: fixed;
		right: 0;
		top: var(--control-menu-container-height, 0);
		z-index: 100;

		@include media-breakpoint-up(lg) {
			left: $version-history-side-panel-width;
		}
	}

	&__toolbar-experience {
		.layout__experience-selector {
			border-radius: 8px;
			width: auto;

			.label {
				display: none;
			}
		}
	}
}

#wrapper.c-slideout-container {
	padding-top: $version-history-toolbar-height;

	&.c-slideout-push-start {
		@include media-breakpoint-up(lg) {
			padding-left: $version-history-side-panel-width;
		}
	}

	&.c-slideout-transition-in,
	&.c-slideout-transition-out {
		transition: none;
	}
}
