.categorization-section {
	.category-selector-modal {
		.selector-modal-tree {
			border-radius: 4px;
			height: 382px !important;
			margin-top: 24px;
			overflow: auto;
			padding: 16px;

			.disabled {
				color: #cdced9 !important;

				.component-icon {
					color: #cdced9 !important;
				}
			}

			.no-subcategories {
				margin-left: 24px !important;
			}
		}
	}

	.edit-page {
		.asset-icon {
			padding-right: 15px;
		}

		.category-property-row {
			gap: 16px;

			* {
				gap: 4px;
			}

			.category-property-row-buttons {
				button {
					border-radius: var(
						--border-radius-circle,
						5000px
					) !important;
					height: 24px;
					margin-left: 4px;
					width: 24px;

					> svg {
						height: 12px;
						width: 12px;
					}
				}
			}
		}

		.form-title {
			font-size: 20px;
			font-weight: 700;
			margin-left: 0 !important;
			margin-right: 0 !important;
		}
	}

	.merge-tags {
		.bulk-actions {
			display: none !important;
		}

		.cell-select.table-head-title {
			width: 72px !important;
		}

		[class='table-head-title'] {
			display: none !important;
		}
	}
}

.modal-body .categorization-spaces .close {
	position: unset !important;
}
