.categorization-section {
	.categorization-title {
		color: #272833;
		font-size: 25px;
		font-weight: 500;
	}

	.categorization-toolbar {
		border-style: none;

		.breadcrumb-item {
			font-size: 18px;
			font-weight: 400;
			line-height: 150%;
			vertical-align: middle;

			&:last-child {
				font-weight: 600;
			}
		}
	}

	.category-selector-modal {
		.selector-modal-tree {
			border-radius: 4px;
			height: 382px !important;
			margin-top: 24px;
			overflow: auto;
			padding: 16px;

			.disabled {
				color: #cdced9 !important;

				.component-icon {
					color: #cdced9 !important;
				}
			}

			.no-subcategories {
				margin-left: 24px !important;
			}
		}
	}

	.cms-parent-container {
		height: calc(100vh - 6rem - var(--control-menu-container-height, 0));

		.cms-container-child {
			height: 100%;
		}
	}

	.edit-vocabulary {
		.asset-icon {
			padding-right: 15px;
		}

		.categorization-vertical-nav {
			background-color: #f7f8f9;
			border-right: 0.5px solid;
			border-right-color: #9393a4;
			max-width: 300px;
		}

		.management-bar {
			border-bottom-color: #9393a4;
			border-bottom-width: 0.5px;
		}

		.vertical-nav-content-wrapper {
			padding-left: 150px;

			.category-property-row {
				gap: 16px;

				* {
					gap: 4px;
				}

				.category-property-row-buttons {
					button {
						border-radius: var(
							--border-radius-circle,
							5000px
						) !important;
						height: 16px;
						margin-left: 4px;
						width: 16px;

						> svg {
							height: 8px;
							width: 8px;
						}
					}
				}
			}

			.form-group {
				border: 1px solid;
				border-color: #e2e4ea;
				border-radius: 8px;
				margin: 24px;
				padding: 24px;
			}

			.form-title {
				font-size: 20px;
				font-weight: 700;
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
		}
	}

	.merge-tags {
		.bulk-actions {
			display: none !important;
		}

		.cell-select.table-head-title {
			width: 72px !important;
		}

		[class='table-head-title'] {
			display: none !important;
		}
	}
}

.modal-body .categorization-spaces .close {
	position: unset !important;
}
