.data-set {
	.table-style-default {
		border-radius: 0;
		border-width: 0 0 1px;
	}

	.default-renderer__text-truncate {
		max-width: 400px;
	}

	&.data-set-fluid {
		.data-set-pagination-wrapper {
			margin: map-get($spacers, 3) 0 0;
		}
	}

	&.data-set-inline {
		.data-set-pagination-wrapper {
			padding-top: 0.5rem;
		}
	}

	&.data-set-pagination-wrapper {
		margin: map-get($spacers, 3) map-get($spacers, 3) 0;
	}

	&.data-set-stacked {
		.data-set-content-wrapper {
			margin-bottom: map-get($spacers, 3);
		}

		.data-set-pagination-wrapper {
			margin: map-get($spacers, 3) 0 0;
		}

		.management-bar-wrapper {
			border: 1px solid $border-color;
			margin-bottom: map-get($spacers, 3);
		}
	}
}
