@mixin common-drop-target {
	animation: none !important;
	background-color: $info-l2 !important;
}

.fds-file-drag-layer {
	height: 100px;
	left: 0;
	pointer-events: none;
	position: fixed;
	top: 0;
	width: 150px;
	z-index: $drop-target-zIndex + 1;
}
