.management-bar-wrapper {
	border-bottom: 1px solid $border-color;
	margin-bottom: 1rem;

	& > .management-bar {
		&:first-child {
			.dropdown-toggle {
				padding: 0.525rem;
			}
		}

		& + .management-bar {
			border-top: 1px solid #eee;
			min-height: 3.5rem;
		}
	}

	.btn.btn-filter-navigation {
		height: 14px;
		line-height: 1;
		margin-right: 12px;
		padding: 0;
		position: relative;
		top: -1px;
		width: 14px;
	}

	.bulk-actions {
		@media (max-width: 992px) {
			.bulk-action-btn-icon {
				font-size: 1rem;
				margin-right: 0;
			}

			.bulk-action-btn-text {
				display: none;
			}
		}

		@media (max-width: 768px) {
			.bulk-action-btn {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}
		}

		@media (max-width: 576px) {
			.bulk-action-btn {
				display: none;
			}
		}
	}

	.custom-views-selection {
		border-color: $border-color;
		border-radius: 0.25rem 0 0 0.25rem;
		border-style: solid;
		border-width: 1px 0 1px 1px;

		.view-updated-mark {
			font-size: 6px;
			margin-left: 4px;
		}
	}

	.custom-views-actions {
		border: 1px solid $border-color;
		border-radius: 0 0.25rem 0.25rem 0;
	}

	.data-set-filter .simple-toggle-switch {
		$toggle-height: 24px;
		$toggle-width: 40px;
		$toggle-padding: 3px;

		.toggle-switch-bar {
			height: $toggle-height;
			line-height: $toggle-height;
		}

		.toggle-switch-handle {
			min-width: $toggle-width;
		}

		.toggle-switch-check {
			height: $toggle-height;
			width: $toggle-width;

			&:empty ~ .toggle-switch-bar {
				&::after {
					bottom: $toggle-padding;
					height: $toggle-height - ($toggle-padding * 2);
					left: $toggle-padding;
					top: $toggle-padding;
					width: $toggle-height - ($toggle-padding * 2);
				}

				&::before {
					width: $toggle-width;
				}

				.toggle-switch-handle:after {
					margin-left: $toggle-width;
				}
			}

			&:checked ~ .toggle-switch-bar::after {
				left: $toggle-height - ($toggle-padding * 2);
			}
		}
	}

	.filter-body {
		.inline-scroller {
			max-height: 200px;
		}

		.form-control {
			padding-left: map-get($spacers, 2);
			padding-right: map-get($spacers, 2);
		}

		.custom-control-label {
			display: flex;

			&::before {
				flex-shrink: 0;
			}
		}
	}

	.filter-resume {
		border-bottom-right-radius: 0;
		border-top-right-radius: 0;
		cursor: pointer;

		&.active {
			border-color: $primary-color;
		}

		&.active,
		&:focus {
			z-index: 2;
		}

		&.disabled {
			cursor: not-allowed;
			opacity: 0.5;
		}
	}

	.search-resume .search-resume-label {
		align-items: center;
		cursor: default;
		display: inline-flex;

		&:hover {
			background-color: var(--btn-secondary-background-color, $white);
			border-color: var(--btn-secondary-border-color, $secondary-l2);
			color: var(--btn-secondary-color, $secondary);
		}
	}
}
