@import 'atlas-variables';

// Colors

$border-color: #e7e7ed;

$danger-primary: #da1414;
$danger-secondary: #f48989;

$error-l1: lighten($danger-primary, 28%);

$gray-200: #f1f2f5;
$gray-600: #6b6c7e;

$info-bc: #eef2fa;
$info-primary: #2e5aac;
$info-secondary: #89a7e0;

$primary-color: #0b5fff;

$secondary-text: $gray-600;

$step-tracker-active: #6b6c7e;
$step-tracker-completed: #6fcf97;
$step-tracker-inactive: #cdced9;

$success-primary: #287d3d;
$success-secondary: #5aca76;

$warning-primary: #863a00;
$warning-secondary: #ff8f39;

// Drop

$drop-target-zIndex: 99999;

// Spacers

$spacer: 1rem;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);
