<?xml version="1.0"?>

<Configuration>
	<Appenders>
		<RollingFile fileName="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}liferay-connector-demo.log" filePattern="${sys:mule.home}${sys:file.separator}logs${sys:file.separator}liferay-connector-demo-%i.log" name="file">
			<PatternLayout pattern="%-5p %d [%t] [event: %X{correlationId}] %c: %m%n" />
			<SizeBasedTriggeringPolicy size="10 MB" />
			<DefaultRolloverStrategy max="10" />
		</RollingFile>
	</Appenders>
	<Loggers>

		<!-- HTTP Logger shows wire traffic on DEBUG -->

		<!--<AsyncLogger name="org.mule.service.http.impl.service.HttpMessageLogger" level="DEBUG" />-->
		<AsyncLogger level="WARN" name="org.mule.service.http" />
		<AsyncLogger level="WARN" name="org.mule.extension.http" />

		<!-- Mule logger -->

		<AsyncLogger level="INFO" name="org.mule.runtime.core.internal.processor.LoggerMessageProcessor" />
		<AsyncLogger level="DEBUG" name="com.liferay" />
		<AsyncRoot level="INFO">
			<AppenderRef ref="file" />
		</AsyncRoot>
	</Loggers>
</Configuration>