<div class="d-sm-flex justify-content-around">
	<div class="align-items-center d-flex flex-column text-paragraph">
		<p class="text-neutral-8">Funding Periods</p>
		<p class="font-weight-bold text-neutral-9" id="mdf-request-date-field"></p>
	</div>

	<div class="align-items-center d-flex flex-column">
		<p class="text-neutral-8">Total Cost</p>

		<div class="align-items-center d-flex flex-row">
			<p class="font-weight-bold text-neutral-9" id="mdf-request-total-cost"></p>
		</div>
	</div>

	<div class="align-items-center d-flex flex-column">
		<p class="text-neutral-8">Requested Cost</p>

		<div class="align-items-center d-flex flex-row">
			<p class="font-weight-bold text-neutral-9" id="mdf-request-requested-cost"></p>
		</div>
	</div>
</div>