.sxp-category-selector-modal-root {
	.selector-modal-tree {
		background-color: var(--light-l1);
		border-radius: 4px;
		height: 382px;
		margin-top: 24px;
		overflow: auto;
		padding: 16px;

		.no-subcategories {
			margin-left: 24px;
		}

		.quick-action-item {
			opacity: 0;

			&:focus {
				opacity: 1;
			}
		}

		.treeview-link:hover {
			background-color: var(--secondary-l3);

			.quick-action-item {
				opacity: 1;
			}
		}
	}

	.subnav-tbar {
		&.secondary {
			background-color: var(--light);
		}

		.component-text {
			font-size: 12px;
		}
	}
}
