.autocomplete-dropdown-menu {
	min-width: 320px;
}

.sxp-field-row-dropdown-root {
	.dropdown-item {
		padding-right: 80px;
	}

	.lexicon-icon-globe {
		margin-left: 4px;
	}

	.type {
		color: var(--secondary-l1);
		font-size: 12px;
		max-width: 56px;
		overflow: hidden;
		position: absolute;
		right: 16px;
		text-overflow: ellipsis;
		top: 50%;
		transform: translateY(-50%);
		white-space: nowrap;
	}
}
