.public-footer {
	background-color: #F7F7F8;
}

.public-footer a {
	color: #282934;
}

.public-footer h3 {
	color: #282934;
}

.public-footer .contact-container {
	color: #282934;
	list-style: none;
	white-space: nowrap;
}

.public-footer .footer-bottom {
	flex: 1;
}

.public-footer .footer-content {
	border-radius: 16px;
	max-width: 1366px;
}

.public-footer .footer-copyright {
	font-size: 11px;
}

.public-footer .footer-navigation {
	flex: 5;
	font-size: 16px;
}

.public-footer .footer-navigation:last-child h3 {
	white-space: nowrap;
}

.public-footer .liferay-link {
	color: #0b5fff;
}

.public-footer .max-nav {
	max-width: 1366px;
}

.public-footer .social-icons {
	max-width: 188px;
}

.public-footer .social-icons li img {
	height: 18px;
	width: 18px;
}
