<footer class="c-p-6 c-pb-lg-7 c-pt-lg-6 c-py-md-7 mt-4 public-footer">
	<div class="c-pt-6 footer-content mx-auto">
		<div class="align-start c-my-0 d-flex justify-content-between max-nav">
			<div class="c-px-0 d-flex flex-column flex-sm-row flex-wrap footer-navigation justify-content-lg-between justify-content-sm-end">
				<div class="c-mb-10 c-mb-lg-0 c-mb-md-10 c-px-0 col-lg-2 col-md-4 contact-container">
					<a href="https://www.liferay.com">
						<img alt="Liferay Logo" data-lfr-editable-id="image-editable-product-liferay" data-lfr-editable-type="image" src="[resources:logo_liferay.svg]" />
					</a>

					<p class="c-pt-5 mb-0">1400 Montefino Avenue</p>
					<p class="mb-0">Diamond Bar, CA 91765</p>
					<p class="mb-0">USA</p>
					<p>+1-877-LIFERAY</p>
				</div>

				<section class="c-mb-10 c-mb-lg-0 c-mb-md-10 c-px-0 col-lg-2 col-md-4 section-title">
					<h3 class="c-mb-4 font-weight-bold">MARKETPLACE</h3>

					<ul class="c-p-0 d-flex flex-column list-unstyled text-decoration-none">
						<li class="c-mb-3">
							<a class="c-p-0" href="publisher-gate">Become a Publisher</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="applications">Apps</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="solutions">Solutions</a>
						</li>
						<li>
							<a class="c-p-0" href="https://www.liferay.com/legal/marketplace-terms-of-service">Terms</a>
						</li>
					</ul>
				</section>

				<section class="c-mb-10 c-mb-lg-0 c-mb-md-10 c-px-0 col-lg-2 col-md-4 section-title">
					<h3 class="c-mb-4 font-weight-semi-bold">PLATFORM</h3>

					<ul class="c-p-0 d-flex flex-column list-unstyled text-decoration-none">
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/resources">Resource Library</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/subscription-services">Subscription Services</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/request-a-demo">Request a Demo</a>
						</li>
						<li>
							<a class="c-p-0" href="https://www.liferay.com/products/dxp/30-day-trial">Downloads</a>
						</li>
					</ul>
				</section>

				<section class="c-mb-10 c-mb-lg-0 c-mb-sm-10 c-pb-md-0 c-px-0 col-lg-2 col-md-4 section-title">
					<h3 class="c-mb-4 font-weight-bold">COMPANY</h3>

					<ul class="c-p-0 d-flex flex-column list-unstyled text-decoration-none">
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/press-releases">Press Releases</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/careers">Careers</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/locations">Locations</a>
						</li>
						<li>
							<a class="c-p-0" href="https://www.liferay.com/company/our-story">Our Story</a>
						</li>
					</ul>
				</section>

				<section class="c-mb-10 c-mb-lg-0 c-mb-sm-10 c-px-0 col-lg-2 col-md-4 section-title">
					<h3 class="c-mb-4 font-weight-bold">EXPAND & CONNECT</h3>

					<ul class="c-p-0 d-flex flex-column list-unstyled text-decoration-none">
						<li class="c-mb-3">
							<a class="c-p-0" href="https://liferay.dev/">Community</a>
						</li>
						<li class="c-mb-3">
							<a class="c-p-0" href="https://www.liferay.com/contact-us">Contact Us</a>
						</li>
					</ul>

					<ul class="d-flex justify-content-between list-unstyled social-icons text-decoration-none">
						<li>
							<a href="https://www.facebook.com/liferay/">
								<img alt="Facebook Logo" data-lfr-editable-id="image-editable-product-facebook" data-lfr-editable-type="image" src="[resources:facebook.svg]" />
							</a>
						</li>
						<li>
							<a href="https://github.com/liferay">
								<img alt="Github Logo" data-lfr-editable-id="image-editable-product-github" data-lfr-editable-type="image" src="[resources:github.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.instagram.com/liferayinc/">
								<img alt="Instagram Logo" data-lfr-editable-id="image-editable-product-instagram" data-lfr-editable-type="image" src="[resources:instagram.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.linkedin.com/company/liferay-inc-">
								<img alt="LinkedIn Logo" data-lfr-editable-id="image-editable-product-linkedin" data-lfr-editable-type="image" src="[resources:linkedin.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.twitter.com/liferay">
								<img alt="Twitter Logo" data-lfr-editable-id="image-editable-product-twitter" data-lfr-editable-type="image" src="[resources:twitter.svg]" />
							</a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/liferayinc">
								<img alt="Youtube Logo" data-lfr-editable-id="image-editable-product-youtube" data-lfr-editable-type="image" src="[resources:youtube.svg]" />
							</a>
						</li>
					</ul>
				</section>
			</div>
		</div>

		<div class="c-pt-7 d-flex flex-column-reverse flex-md-row flex-wrap footer-copyright justify-content-between max-nav pt-7">
			<p class="c-mb-0">
				© ${.now?string.yyyy} Liferay Inc. All Rights Reserved •

				<a class="c-mb-0" href="https://www.liferay.com/privacy-policy">Privacy Policy</a>
			</p>

			<p class="c-mb-0">Powered by <a class="c-mb-0 liferay-link" href="https://www.liferay.com">Liferay</a></p>
		</div>
	</div>
</footer>