<div class="courses">
	<div class="row">
		<button class="btn btn-monospaced fullscreen">
			<img alt="Show/hide videos" src="[resources:masterclass_arrow_right.svg]" />
		</button>

		<div class="col">
			<video class="courses-video position-relative w-100" controls="controls" preload="auto" src=""></video>

			<button class="btn-unstyled play">
				<img alt="Play" src="[resources:masterclass_play.svg]" width="120" />
			</button>
		</div>

		<div class="col-md-3 col-to-hide mx-2 mx-md-0 pb-3 pt-4 px-0">
			<div class="font-weight-bold h6 mb-4 ml-5">Course Content</div>

			<a class="btn btn-block btn-play btn-unstyled pl-5 pr-4 py-2" data-lfr-editable-id="video-1" data-lfr-editable-type="link" href="">
				Module 1 Name
			</a>

			<a class="btn btn-block btn-play btn-unstyled pl-5 pr-4 py-2" data-lfr-editable-id="video-2" data-lfr-editable-type="link" href="">
				Module 2 Name
			</a>

			<a class="btn btn-block btn-play btn-unstyled pl-5 pr-4 py-2" data-lfr-editable-id="video-3" data-lfr-editable-type="link" href="">
				Module 3 Name
			</a>
		</div>
	</div>
</div>