.new-account {
	&-button {
		background-color: #fff;
		border: 1px solid #0053f0 !important;
		border-radius: 8px;
		color: #0053f0 !important;
	}

	&-button:hover {
		background-color: #edf3fe !important;
	}
}
