@import 'cadmin-variables';

.product-analytics-banner {
	background-color: $cadmin-blue;
	box-shadow: $cadmin-box-shadow-lg;
	display: none;
	left: 0;
	right: 0;
	z-index: 990;

	&.product-analytics-banner-bottom {
		bottom: 0;
		position: fixed;
	}

	&.product-analytics-banner-top {
		position: fixed;
		top: 0;
	}
}
