@import 'components/breadcrumb';
@import 'components/color';
@import 'components/commerce/index';
@import 'components/group-item';
@import 'components/info-panel';
@import 'components/navbars';
@import 'components/sidebar';
@import 'components/table';
@import 'components/widget';
@import 'portlet/portlet';
@import 'portlet/portlet_decorators';

@import 'custom_properties/custom_properties_set';

body {
	header {
		.field-wrapper {
			position: absolute;
			right: 4px;
			top: 2px;

			a {
				color: $white;
			}
		}

		.field-wrapper,
		.form-group {
			margin-bottom: 0;
		}

		.portlet {
			margin-bottom: 0;

			&:hover {
				z-index: 1034;
			}
		}

		.search-input {
			font-size: 0.88rem;
			padding: 0.28rem 2rem 0.28rem 1rem;
		}

		.text-default {
			color: $gray-600;
			font-weight: 600;
		}
	}
}

.btn-group + .info-panel {
	@include media-breakpoint-up(sm) {
		top: auto;
	}
}

#footer {
	color: $white;
	margin-top: 1rem;

	> .container {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}

.media:has(div[data-oembed-url]) {
	display: inherit;
}
