.loading-overlay {
	background-color: var(--white);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	width: 100vw;
	z-index: 99;
}

.loading-overlay.hide {
	display: none !important;
}
