.dropdown-menu {
	.dropdown.open > &,
	.overlay-content .open > & {
		display: block;
	}
}

.user-avatar-link {
	display: block;
	position: relative;

	.panel-notifications-count {
		display: block;
		margin: 0;
		max-width: none;
		position: absolute;
		right: calc(100% - 0.7rem);
		top: -0.4rem;
	}

	.text-default {
		align-items: center;
		display: flex;

		.user-full-name {
			margin-left: 0.5rem;

			@include media-breakpoint-down(xs) {
				display: none;
			}
		}
	}
}

.user-personal-bar {
	.fieldset {
		position: relative;
	}

	.user-avatar-link .panel-notifications-count {
		right: calc(100% - 1rem);
		top: -0.6rem;
	}
}
