.lfr-panel {
	&.lfr-extended {
		border: 1px solid transparent;
		border-color: $gray-300 $gray-400 $gray-400 $gray-300;

		&.lfr-collapsible .lfr-panel-button {
			display: block;
		}

		&.lfr-collapsed .lfr-panel-titlebar {
			border-bottom-width: 0;
		}
	}

	&.panel-default .panel-heading {
		border-bottom-width: 0;
	}

	.toggler-header {
		cursor: pointer;
	}
}
