:root {
	--ck-content-image-style-spacing: 1.5em;
}

.image {
	display: table;
	margin: 0.9em auto;
}

.image.image-style-block-align-left,
.image.image-style-block-align-right {
	max-width: calc(100% - var(--ck-content-image-style-spacing));
}

.image.image-style-block-align-left {
	margin-left: 0;
	margin-right: auto;
}

.image.image-style-block-align-right {
	margin-left: auto;
	margin-right: 0;
}

.image.image-style-side {
	float: right;
	margin-left: var(--ck-content-image-style-spacing);
	max-width: 50%;
}

img.image_resized {
	height: auto;
}

p + .image.image-style-align-left,
p + .image.image-style-align-right,
p + .image.image-style-side {
	margin-top: 0;
}
