[#assign
	languageId = themeDisplay.getLanguageId()
	userFirstName = themeDisplay.getUser().getFirstName()
	userLastName = themeDisplay.getUser().getLastName()
	welcomeText = languageUtil.get(locale, "welcome-to-customer-portal", "Welcome to Customer Portal")
/]

[#if languageId == "ja_JP" && userLastName?has_content]
	[#assign welcomeText = languageUtil.format(locale, "welcome-x", userLastName)]
[#elseif userFirstName?has_content]
	[#assign welcomeText = languageUtil.format(locale, "welcome-x", userFirstName)]
[/#if]

<h1 clas="display-4">${welcomeText}</h1>