[#assign mdf_claim_id = (request.getAttribute("INFO_ITEM").objectEntryId)! /]

[#function get_currency value currency_key="USD"]
	[#return value?string["¤,##0.00;; currencyCode=${currency_key}"] /]
[/#function]

[#macro activity_panel activity]
	<div class="border-brand-primary-lighten-4 form-check-card panel" role="tablist">
		<button aria-controls="mdfClaimActivitiesPanel-${activity.id}" aria-expanded="false" class="btn btn-unstyled card card-interactive card-type-template collapse-icon collapse-icon-top collapsed panel-header panel-header-link" data-target="#mdfClaimActivitiesPanel-${activity.id}" data-toggle="liferay-collapse" role="tab">
			<div>
				<div class="d-flex">
					<div class="w-100">
						<div class="mb-1 text-neutral-7 text-paragraph-sm">
							${activity.typeActivity.name}
						</div>

						<h5 class="text-neutral-10">${activity.name}</h5>

						<div class="d-flex justify-content-between">
							<h5 class="justify-content-end text-neutral-10">
								${get_currency(activity.totalCost?number, (activity.currency.key)!"USD")}
							</h5>
						</div>
					</div>
				</div>
			</div>

			<span class="collapse-icon-closed mt-2">
				[@clay["icon"] symbol="angle-down"/]
			</span>
			<span class="collapse-icon-open mt-2">
				[@clay["icon"] symbol="angle-up"/]
			</span>
		</button>

		<div class="collapse panel-collapse" id="mdfClaimActivitiesPanel-${activity.id}" role="tabpanel">
			<div class="panel-body pt-0">
				[#if (activity.listOfQualifiedLeadsFile?has_content)!false != false]
					<div class="py-3">
						<h6 class="text-neutral-10">
							List of Qualified Leads
						</h6>

						<a class="align-items-end d-flex mx-2 text-decoration-none" href="${activity.listOfQualifiedLeadsFile.link.href}">
							<span class="mr-2 mt-3 text-neutral-5">
								[@clay.icon class="mr-2 mt-3 text-neutral-5"
								symbol="document-default" /]
							</span>

							<p class="mb-0 text-neutral-9">
								${activity.listOfQualifiedLeadsFile.name?keep_before("#")}
							</p>
						</a>
					</div>
				[/#if]

				[#if (activity.telemarketingMetrics?has_content)!false ]
					<div class="py-3">
						<h6 class="text-neutral-10">
							Telemarketing Metrics
						</h6>

						<div class="mx-2 text-neutral-10">
							${(activity.telemarketingMetrics)!}
						</div>
					</div>
				[/#if]

				[#if (activity.telemarketingScriptFile?has_content)!false ]
					<div class="py-3">
						<h6 class="text-neutral-10">Telemarketing Script</h6>

						<a class="align-items-end d-flex mx-2 text-decoration-none" href="${activity.telemarketingScriptFile.link.href}">
							<span class="mr-2 mt-3 text-neutral-5">
								[@clay.icon class="mr-2 mt-3 text-neutral-5" symbol="document-default" /]
							</span>

							<div>
								<p class="mb-0 text-neutral-9">
									${activity.telemarketingScriptFile.name?keep_before("#")}
								</p>
							</div>
						</a>
					</div>
				[/#if]

				[#if (activity.videoLink?has_content)!false ]
					<div class="py-3">
						<h6 class="text-neutral-10">
							Video Link
						</h6>

						<a class="mx-2" href="${activity.videoLink}">
							${activity.videoLink}
						</a>
					</div>
				[/#if]

				[#if (activity.metrics?has_content)!false ]
					<div class="py-3">
						<h6 class="text-neutral-10">
							Metrics
						</h6>

						<div class="mx-2 text-neutral-10">
							${(activity.metrics)!}
						</div>
					</div>
				[/#if]

				<div class="table-responsive">
					<table class="bg-brand-primary-lighten-6 table table-autofit table-hover table-striped">
						<thead>
							<tr>
								<th class="border-neutral-2 border-top rounded-0 table-cell-expand w-50">
									<h6 class="mb-0 mt-4 text-neutral-10">
										Budget Breakdown
									</h6>
								</th>
								<td class="border-neutral-2 border-top rounded-0 w-50"></td>
							</tr>
						</thead>

						<tbody>
							[#list (activity.mdfClmActToMDFClmBgts?filter(budget -> budget.selected == true))![] as budget]
								<tr>
									<td class="border-0">
										<div class="font-weight-bold text-neutral-10">
											${(budget.expenseName)!}
										</div>

										<div class="text-neutral-10">
											${get_currency(budget.invoiceAmount?number,
											(activity.currency.key)!"USD")}
										</div>
									</td>
									<td class="border-0">
										[#if (budget.invoiceFile?has_content)!false ]
											<a class="align-items-end d-flex text-decoration-none" href="${budget.invoiceFile.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
													${budget.invoiceFile.name?keep_before("#")}
												</div>
											</a>
										[/#if]
									</td>
								</tr>
							[/#list]
						</tbody>
					</table>
				</div>

				<div class="mb-0 table-responsive">
					<table class="bg-brand-primary-lighten-6 table table-autofit">
						<thead>
							<tr>
								<th class="border-neutral-2 border-top rounded-0 table-cell-expand w-50">
									<h6 class="mb-0 mt-4 text-neutral-10">
										Proof of Performance Documents
									</h6>
								</th>
							</tr>
						</thead>

						<tbody>
							[#if (activity.typeActivity.key)! == "prmtact001"]
								<tr>
									<td class="border-0">
										<div class="font-weight-bold mb-3 text-neutral-10">
											Event Program
										</div>

										[#if (activity.eventProgramFile?has_content)!false ]
											<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${activity.eventProgramFile.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
													${activity.eventProgramFile.name?keep_before("#")}
												</div>
											</a>
										[/#if]
									</td>
								</tr>
								<tr>
									<td class="border-0">
										<div class="font-weight-bold mb-3 text-neutral-10">
											Event Invitations
										</div>

										[#list (activity.mdfClmActToMDFActDocs?filter(document -> document.proofOfPerformanceType.key == "eventInvitations"))![] as document]
											<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${document.proofOfPerformanceFiles.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
													${document.proofOfPerformanceFiles.name?keep_before("#")}
												</div>
											</a>
										[/#list]
									</td>
								</tr>
								<tr>
									<td class="border-0">
										<div class="font-weight-bold mb-3 text-neutral-10">
											Event Photos
										</div>

										[#list (activity.mdfClmActToMDFActDocs?filter(document -> document.proofOfPerformanceType.key == "eventPhotos"))![] as document]
											<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${document.proofOfPerformanceFiles.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
													${document.proofOfPerformanceFiles.name?keep_before("#")}
												</div>
											</a>
										[/#list]
									</td>
								</tr>
								<tr>
									<td class="border-0">
										<div class="font-weight-bold mb-3 text-neutral-10">
											Event Collaterals
										</div>

										[#list (activity.mdfClmActToMDFActDocs?filter(document -> document.proofOfPerformanceType.key == "eventCollaterals"))![] as document]
											<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${document.proofOfPerformanceFiles.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
													${document.proofOfPerformanceFiles.name?keep_before("#")}
												</div>
											</a>
										[/#list]
									</td>
								</tr>
							[/#if]

							[#if (activity.typeActivity.key)! == "prmtact004"]
								<tr>
									<td class="border-0">
										<div class="font-weight-bold mb-3 text-neutral-10">
											Images
										</div>

										[#list (activity.mdfClmActToMDFActDocs?filter(document -> document.proofOfPerformanceType.key == "images"))![] as document]
											<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${document.proofOfPerformanceFiles.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
													${document.proofOfPerformanceFiles.name?keep_before("#")}
												</div>
											</a>
										[/#list]
									</td>
								</tr>
							[/#if]

							[#if (activity.typeActivity.key)! == "prmtact003" || (activity.typeActivity.key)! == "prmtact002" || (activity.typeActivity.key)! == "prmtact004"]
								<tr>
									<td class="border-0">
										<div class="font-weight-bold mb-3 text-neutral-10">
											All contents
										</div>

										[#list (activity.mdfClmActToMDFActDocs?filter(document -> document.proofOfPerformanceType.key == "allContents"))![] as document]
											<a class="align-items-end card-interactive d-flex mb-1 p-3 panel panel-secondary text-decoration-none" href="${document.proofOfPerformanceFiles.link.href}">
												<span class="mr-2 text-neutral-5">
													[@clay.icon symbol="document-default" /]
												</span>

												<div class="text-neutral-9">
														${document.proofOfPerformanceFiles.name?keep_before("#")}
												</div>
											</a>
										[/#list]
									</td>
								</tr>
							[/#if]
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
[/#macro]

[#if mdf_claim_id?has_content]
	[#assign activities = (restClient.get("/c/mdfclaims/${mdf_claim_id}/mdfClmToMDFClmActs?nestedFields=mdfClmActToMDFClmBgts,mdfClmActToMDFActDocs").items)! /]

	[#list activities?filter(activity -> activity.selected == true)![] as activity]
		[@activity_panel activity=activity /]
	[/#list]
[#else]
<div class="alert alert-info">
	<p>
		To use this fragment either place it on a Display Page Template to see
		which attributes are available from
		<em>request.getAttribute("INFO_ITEM")</em>.
	</p>

	<p class="mb-0">
		It's important to note that this will only display the attributes of a
		display page when you view the published display page not when you are
		editing it.
	</p>
</div>
[/#if]