[#assign
	elementMap = {
		"display-1": "h1",
		"display-2": "h1",
		"display-3": "h1",
		"display-4": "h1",
		"h1": "h1",
		"h2": "h2",
		"h3": "h3",
		"h4": "h4",
		"h5": "h5",
		"h6": "h6",
		"text-paragraph-lg": "p",
		"text-paragraph": "p",
		"text-paragraph-sm": "p",
		"text-paragraph-xs": "p",
		"text-paragraph-xxs": "p",
		"text-small-caps": "div",
		"text-link-lg": "div",
		"text-link-md": "div",
		"text-link-sm": "div"
	}
/]

[#assign element = elementMap[configuration.textType] /]

<${element} class="${configuration.textType} [#if configuration.truncateText]text-truncate[/#if]" data-lfr-editable-id="element-text" data-lfr-editable-type="text">
	Text Example
</${element}>