@import '_atlas-custom-properties-variables';
@import 'cadmin-variables';

html#{$cadmin-selector} .cadmin.fds-admin {
	.dropdown-menu.fds-entries-dropdown-menu {
		max-height: 500px;
		max-width: 550px;
		width: 100%;
	}

	.select-system-data-set-modal-body {
		.container-fluid {
			padding: 0;
		}

		.list-sheet {
			border-width: 0;
			padding: 0;
		}

		.list-group-item.selectable {
			border-radius: 4px;
			margin-bottom: 12px;

			&.disabled {
				background-color: $gray-100;

				.list-group-text,
				.list-group-title,
				.sticker {
					background-color: $gray-100;
					color: $gray-600;
				}
			}

			&.selected {
				background-color: $primary-l3;
				border-color: $primary-l1;
				box-shadow: $box-shadow-sm;
			}

			.created-label {
				margin: 0.5rem 0;
			}

			.selection-control {
				display: none;
			}
		}
	}
}

html#{$cadmin-selector} .data-set-content-wrapper th.cell-active {
	min-width: 150px;
}
