@import 'atlas-variables';

.lfr-object__entries-schedule-panel {
	&-content {
		.disabled {
			.text-warning {
				opacity: 1;
			}
		}
	}

	&-description {
		margin-bottom: 1rem;
		text-align: justify;
	}
}
