.marketplace-donut-chart {
	border-radius: 8px;
	height: 290px;
	width: 346px;

	&-center-legend {
		font-size: 34px;
		font-weight: 700;
	}

	.chart-legend {
		&-data {
			font-size: 26px;
		}
	}

	.details-button {
		font-size: 11px;
	}

	.donut-chart-container {
		height: 165px;
		width: 165px;
	}
}

.recharts-pie * {
	outline: none !important;
}
