.aui .osb-patcher-portlet .table .account-table {
	border-collapse: collapse;
	border-width: 0;
	width: 100%;

	td {
		background-color: inherit;
		border-width: 0;
		width: 18%;

		&.slim {
			width: 12%;
		}

		&.wide {
			width: 28%;
		}
	}

	tr {
		background-color: inherit;
		border-width: 0;

		&:hover {
			background-color: #FFF;
		}
	}

	.failed {
		color: #D13;
	}

	.passed {
		color: #174;
	}
}

.control-group select {
	width: 500px;
}

.popover-content select {
	width: 220px;
}

.osb-patcher-align-center {
	align-items: center;
	display: flex;
}

.osb-patcher-button {
	background: none !important;
	border: none !important;
	box-shadow: none !important;
	font-size: x-large !important;
	padding: 0 !important;
}

.osb-patcher-button-row {
	display: inline-block;
	transform: rotate(90deg);
	vertical-align: middle;
}

.osb-patcher-content-half {
	display: flex;
	height: 50%;
}

.osb-patcher-display-none {
	display: none;
}

.osb-patcher-icon-menu {
	width:104px;
}

.osb-patcher-input-wide {
	width:350px;
}

.osb-patcher-layout-flex {
	display: flex;
}

.osb-patcher-layout-flex-content {
	display: flex;
}

.osb-patcher-max-height {
	height: 100%;
}

.osb-patcher-portlet .account-search input {
	padding: 10px 6px;
}

.osb-patcher-portlet .lfr-search-container .searchcontainer table tr.patcher-build-type-debug {
	&.alt td, td {
		background: #FFFEDC;
	}
}

.osb-patcher-portlet .lfr-search-container .searchcontainer table tr.patcher-build-type-ignore {
	&.alt td, td {
		background: #FFDCDC;
	}
}

.osb-patcher-portlet .lfr-search-container .searchcontainer table tr.selected {
	&.alt td, td {
		background: #EDF8FD;
	}
}

.osb-patcher-read-only {
	color: #6D6D6D;
}

.osb-patcher-search-container-column-text-icon {
	width:16px;
}

.osb-patcher-user-display img {
	height: 25px;
	width: 25px;
}

.osb-patcher-loader-container{
	min-height: 2rem;
	min-width: 4rem;
}

.osb-patcher-loader {
	-ms-transform: translateZ(0);
	-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	-webkit-transform: translateZ(0);
	animation: load6 1.7s infinite ease, round 1.7s infinite ease;
	border-radius: 50%;
	color: #1281D5;
	font-size: 15px;
	height: 1em;
	margin: 15px auto;
	overflow: hidden;
	padding: 0px !important;
	position: relative;
	text-indent: -9999em;
	transform: translateZ(0);
	width: 1em;
}

@-webkit-keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@keyframes load6 {
	0% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	5%,
	95% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
	10%,
	59% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
	}
	20% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
	}
	38% {
		box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
	}
	100% {
		box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
	}
}

@-webkit-keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes round {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}