.radio-card {
	-ms-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	user-select: none;

	&-container {
		border: 1px solid #e2e2e4;
		border-radius: 0.5rem;
		display: flex;
		flex-direction: column;
		padding: 0.5rem;
		transition: background-color 0.5s;
		transition: border 0.5s;
		width: 100%;

		&-disabled {
			opacity: 0.5;
		}

		&:hover {
			background-color: #e6edfb;
			border: 1px solid #004ad7;
		}

		&-selected {
			background-color: #e6edfb;
			border: 1px solid #004ad7;
		}

		&-small {
			height: auto;
			width: 270px;
		}
	}

	&-main-info {
		align-items: center;
		display: flex;
		justify-content: space-between;

		&-small {
			align-items: center;
			display: flex;
			gap: 4px;
			justify-content: center;

			&-background {
				background-color: #fff;
				border: #e2e2e4 1px solid;
				border-radius: 4px;
				display: flex;
				height: 28px;
				justify-content: center;
				padding-top: 4px;
				width: 40px;

				img {
					height: 18px;
					width: 15px;
				}
			}

			&-text-small {
				font-size: 13px;
			}
		}
	}

	&-button {
		background: none;
		border: none;

		&-icon {
			filter: invert(21%) sepia(91%) saturate(3572%) hue-rotate(220deg)
				brightness(100%) contrast(101%);
			margin-bottom: 0.438rem;
		}

		&-disabled {
			cursor: not-allowed;
		}
	}

	&-title {
		align-items: center;
		display: flex;
		gap: 0.5rem;
		justify-content: center;

		&-text {
			font-size: 1.125rem;
			font-weight: 600;
			line-height: 1.25rem;
			transition: color 0.5s;

			&-selected {
				color: #004ad7;
			}
		}

		&-icon {
			filter: invert(20%) sepia(92%) saturate(5175%) hue-rotate(214deg)
				brightness(86%) contrast(110%);
			height: 1rem;
			margin: 0;
			margin-top: 2px;
			transition: filter 0.5s;
			width: 1rem;

			&-rounded {
				border-radius: 50%;
				height: 32px;
				width: 32px;
			}
		}

		&-tooltip {
			margin-bottom: 1rem;
		}
	}

	&-description {
		-ms-user-select: none;
		-webkit-user-select: none;
		color: #54555f;
		font-size: 0.813rem;
		font-weight: 400;
		line-height: 1rem;
		margin-left: 2.5rem;
		user-select: none;
		word-break: break-word;
	}
}
