.extension-status {
	border-radius: 4px;
	font-size: 13px;
	padding: 0.25rem 0.5rem;

	&-approved {
		background-color: #e9f5e8;
		color: #2c6723;
	}

	&-expired {
		background-color: #fbe3e3;
		color: #830c0c;
	}

	&-not-requested {
		background-color: #e1e1e4;
		color: #54555f;
	}

	&-pending {
		background-color: #f7eae0;
		color: #6f3000;
	}
}
