<div class="p-3">
	<div class="card shadow-sm">
		<lfr-editable id="cardImg00" type="image">
			<img alt="" class="mw-100 rounded-top" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAJCAYAAAA7KqwyAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAkSURBVHgB7cxBEQAACAIwtH8Pzw52kxD8OBZgNXsPQUOUwCIgAz0DHTyygaAAAAAASUVORK5CYII=" />
		</lfr-editable>

		<div class="card-body">
			<h3 class="h2">
				<lfr-editable id="cardTitle00" type="rich-text">Heading Example</lfr-editable>
			</h3>

			<div class="mt-3">
				<lfr-editable id="cardContent00" type="rich-text">
					This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
				</lfr-editable>
			</div>

			<button type="button" class="btn btn-secondary">Read More</button>
		</div>
	</div>
</div>