body {
	background: white !important;
}

.navbar-nav li {
	color: #6b6c7e;
	font-size: 20px;
	line-height: 150%;
	padding-left: 30px;
}

.h4 span,
h4 span {
	font-size: 14px;
}

.swagger-ui .responses-table {
	table-layout: auto;
}

.swagger-ui .scheme-container {
	border: 1px solid #e7e7ed;
	border-radius: 5px;
	margin-left: 32px;
	margin-right: 32px;
}

.swagger-ui section.models {
	border: 0 !important;
}

.swagger-ui .info a {
	color: #0b5fff;
	font-weight: 600;
}

.swagger-ui .model-container {
	margin-left: 0 !important;
}

.graphiql-container .doc-explorer-title-bar {
	height: 100% !important;
}

.tag {
	font-weight: bold;
	margin-right: 1em;
}

.value {
	font-family: monospace;
}

.swagger-ui .servers-title {
	line-height: 2.5rem;
}

.swagger-ui .servers > label select {
	background-color: #f1f2f5;
	border: 0.0625rem solid #e7e7ed;
	border-radius: 0.25rem;
	box-shadow: 0 0 transparent;
	color: #272833;
	cursor: pointer;
	display: block;
	font-size: 1rem;
	font-weight: 400;
	height: 2.5rem;
	line-height: 1.5;
	padding: 0.5rem 2.5rem 0.5rem 0.5rem;
}

.loading-container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

.spinner {
	border: 4px solid #f3f3f3;
	border-top: 4px solid #3b4151;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	margin-bottom: 20px;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.loading-text {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}