.article-navigation.show {
	width: 100%;
}

.collapse-icon-closed {
	.lexicon-icon {
		fill: var(--color-action-primary-hover, #0053f0);
	}
}

.collapse-icon-open{
	.lexicon-icon {
		fill: var(--color-action-primary-hover, #0053f0);
	}
}

.lesson-layout-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
}

.lesson-layout-container > div {
	display: flex;
	flex-direction: column;
}

.lesson-layout-container:has(.article-navigation.show) .content {
	width: 55% !important;
}

.lesson-layout-container:has(.article-navigation.show) >div:nth-child(1) {
	width: 25% !important;
}

.lesson-layout-container:has(.article-navigation.show) >div:nth-child(3) {
	width: 20% !important;
}

.lesson-layout-container > div:nth-child(3) {
	align-self: flex-start !important;
	color: var(--color-neutral-10, #282934) !important;
	font-family: var(--font-family-sans-serif, 'Source Sans 3') !important;
	margin-left: 15px !important;
	padding: var(--spacer-2, 0.5rem) !important;
	position: sticky !important;
	top: 12.5rem !important;
}

.lesson-layout-container > div:nth-child(1) {
	background-color: var(--color-neutral-1) !important;
	border-radius: var(--border-radius-lg) !important;
	font-family: var(--font-family-sans-serif, 'Source Sans 3') !important;
	height: 100% !important;
	margin-right: var(--spacer-4, 1.5rem) !important;
	padding: var(--spacer-2, 0.5rem) !important;
	width: 20%;
}

.lesson-link.active {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
}

.lesson-link.not-completed.active {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
	border-radius: 6px;
	color: var(--color-action-primary-hover, #0053F0);
}

.sticker-overlay {
	.lexicon-icon-check {
		color: var(--white) !important;
	}
}

.show-quick-actions-on-hover .active {
	background-color: transparent;
	border-left: 4.5px solid !important;
	border-left-color: var(--color-action-primary-default, #0b5fff) !important;
	border-radius: 0px;
}

p {
	font-weight: var(--font-weight-semi-bold, 600);
}

.panel button .sticker .lexicon-icon-check {
	fill: var(--color-action-primary-inverted, #ffffff);
}

.panel .panel-body .sticker .lexicon-icon-check {
	fill: var(--color-action-primary-hover, #0053F0);
}

.panel-header .lexicon-icon-check {
	fill: var(--color-action-primary-active, #004AD7) !important;
}

.panel-header.active {
	.sticker-circle .lexicon-icon-check {
		fill: var(--white) !important;
	}
}

.progress-bar {
	border-radius: 10px 0 0 10px;
	height: 0.5rem;
	width: 100%;
}

.progress-bar-container {
	align-items: center;
	display: flex;
	margin-bottom: 2.5rem;
}

.progress-tag {
	background-color: var(--color-brand-primary-lighten-5, #e7efff);
	border: 1px solid;
	border-color: var(--color-action-primary-default, #0b5fff);
	border-radius: 10px;
	gap: 0.5rem;
	height: 1.5rem;
	width: 129px;
}

.quiz-banner-tag {
	background-color: var(--color-state-info-lighten-2) !important;
	border-radius: var(--border-radius-sm) !important;
	color: var(--color-state-info-darken-2) !important;
	display: flex;
	font-family: var(--font-family-sans-serif) !important;
	font-weight: var(--font-weight-normal) !important;
	height: 2rem;
	padding: var(--spacer-1, 0.25rem) !important;
	width: fit-content;
}

.quiz-content {
	gap: 2.5rem;
}

.side-nav .d-flex .sticker-primary {
	background-color: var(--color-brand-primary-lighten-2, #6399ff);
}

.side-nav .d-flex:hover {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
	
	.module-title {
		a {
			color: var(--color-action-primary-hover, #0053f0) !important;
		}
	}
}

.side-nav .lesson-link.active a {
	color: var(--dark)
}

.side-nav .module-title .text-4 .lesson-link {
	color: var(--color-neutral-10, #282934);
}

.side-nav .panel {
	background-color: transparent;
	fill: var(--color-action-primary-hover, #0053F0) !important;

	.panel-header.show {
		background-color: var(--color-action-primary-active-20, #e6edfb);
		border-radius: 6px;

		.module-title span {
			color: var(--color-brand-primary-darken-3, #003EB3);
		}

		.sticker-circle {
			background-color: var(--color-brand-primary-lighten-4, #BBD2FF);
			color: var(--color-brand-primary-darken-3, #003EB3);
		}
	}
}

.side-nav .panel .panel-body {
	.lesson-link .module-title a {
		color: var(--color-neutral-10, #282934) !important;
	}

	.lesson-link.active .module-title a {
		color: var(--color-action-primary-hover, #0053f0) !important;
	}
}

.side-nav .panel .panel-body .lesson-link:hover {
	background-color: var(--color-action-primary-hover-10, #edf3fe);

	.module-title {
		a {
			color: var(--color-action-primary-hover, #0053f0)!important;
		}
	}
}

.side-nav .panel-body  .module-title a {
	color: var(--color-action-primary-hover, #0053f0);
}

.side-nav .panel-body .lesson-link.not-completed.active .module-title a {
	color: var(--color-action-primary-hover, #0053f0);
}

.side-nav .panel-body  .sticker-circle {
	align-content: center;
	background-color: transparent;
	justify-content: center;
}

.side-nav .panel-header .module-title span {
	color: var(--color-neutral-10, #282934);
}

.side-nav .panel-header .sticker-circle {
	align-items: center;
	background-color: var(--color-neutral-2, #e2e2e4);
	display: flex;
	justify-content: center;
	text-align: center;
}

.side-nav .panel .panel-header:hover {
	background-color: var(--color-action-primary-hover-10, #edf3fe);
	.module-title {
		span {
			color: var(--color-action-primary-hover, #0053f0) !important;
		}
	}

	.sticker-circle {
		background-color: var(--color-brand-primary-lighten-4, #BBD2FF);
		
		.sticker-overlay {
			color: var(--color-brand-primary-darken-3, #003EB3);

			.lexicon-icon-check {
				fill: var(--white) !important;
			}
		}
	}
}

.side-nav .panel-header.active .module-title span {
	color: var(--color-action-primary-hover, #0053f0);
}

.side-nav .panel-header.panel-header-link.active {
	border-radius: 6px;
	color: var(--color-brand-primary-darken-3, #003EB3);
}

.side-nav .panel-header.panel-header-link.active .sticker {
	align-items: center;
	background-color: var(--color-brand-primary-lighten-4, #BBD2FF);
	color: var(--color-brand-primary-darken-3, #003EB3);
	display: flex;
	justify-content: center;
	text-align: center;
}

.side-nav .panel-header > div:nth-child(1) > span:nth-child(1) {
	width: 2rem !important;
}

.side-nav .panel-header > div:nth-child(1) > span:nth-child(2) {
	max-width:calc(100% - 42px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

span {
	font-weight: var(--font-weight-bold, 700);
}

.text-quiz-result {
	p {
		max-width: 30vw;
	}
}

@media (max-width: 354px) {
	.course-nav-bottom__banner {
		&::after {
			right: -90px;
		}
	}
}

@media (max-width: 360px) {
	.banner-tags {
		.banner-tag {
			font-size: 0.6rem !important;
		}
	}
}

@media (max-width: 375px) {
	.course-top-banner {
		& .banner-tag {
			p::before {
				height: 12px;
				width: 12px;
			}
		}	
	}

	.banner-tags {
		.banner-tag {
			font-size: 0.69rem !important;
		}
	}

	.course-top-banner {
		h3 {
			font-size: 1.3rem !important;
		}
	}

	.course-nav-bottom__menu {
		.menu-previous-lesson {
			font-size: 0.9rem;
		}
	}

	.course-content-container {
		h3 {
			font-size: 1.6rem !important;
		}
	}
}

@media (max-width: 481px) {
	.banner-tags {
		.banner-tag {
			font-size: 0.7rem !important;
		}
	}

	.button-bottom-home-unassigned div {
		font-size: 0.8rem;
	}

	.button-bottom-home-unassigned button {
		font-size: 0.8rem;
	}
}

@media (max-width: 485px) {
	.course-nav-bottom__banner {
		&::after {
			bottom: 180px;
		}
	}

	.course-content-container {
		h3 {
			font-size: 1.9rem;
		}
	}
}

@media (max-width: 507px) {
	.banner-tags {
		gap: 0.5rem;
		padding-top: 0px;
	}

	.course-content-container {
		gap: 0.2rem;

		.banner-tag {
			height: 32px !important;
			width: 100px !important;

			h5 {
				font-size: 1rem !important;
			}
		}
	}
}

@media (max-width: 540px) {
	.course-top-banner {
		height: 22vh;
	}
}

@media (max-width: 593px) {
	.button-bottom-home-unassigned div {
		max-width: 50%;
	}

	.course-top-banner {
		h3 {
			font-size: 1.5rem;
		}
	}
}

@media (max-width: 600px) {
	.menu-previous-lesson {
		flex-direction: column;
	}

	.previous-lesson-title {
		display: flex;
		justify-content: center;
	}

	.previous-lesson-icon {
		display: none;
	}

	.sign-in-text {
		display: flex;
		justify-content: center;
	}
}

@media (max-width: 700px) {
	.answers-content {
		width: 100% !important;
	}

	.banner-tags {
		padding-top: 10px;
	}

	.container {
		display: flex;
		justify-content: center;
		margin-left: 0px;
		margin-right: 0px;
		max-width: 100%;

		.content {
			min-width: 100% !important;
		}

		.side-nav {
			display: none;
			margin-bottom: 50px;
		}
	}

	.course-top-banner {
		height: 22vh;

		container-fluid {
			display: flex;
			flex-direction: column;
		}

		.course-content-container {
			align-items: flex-start !important;
			flex-direction: column;
			gap: 1rem;
			width: 100%;

			.banner-tag {
				align-items: center;
				display: flex;
				font-size: 1rem;
				justify-content: center;
				p::before {
					height: 15px;
					width: 15px;
				}
			}
		}

		h3 {
			font-size: 1.8rem;
		}
	}

	.justify-content-between {
		flex-direction: column;
	}

	&::before {
		top: 15vh;
		width: 160px;
		container-type: inline-size;
	}

	.container-banner-lesson {
		margin-left: 0px !important;
		margin-right: 0px !important;
		padding-left: 5px !important;
		padding-right: 5px !important;

		.learn-education {
			padding-left: 10px !important;
			padding-right: 10px !important;
		}
	}

	.lesson-layout-container {
		display: flex !important;
		flex-direction: column !important;
		width: 100% !important;

		.side-nav {
			z-index: 1;
		}
	}

	.lesson-layout-container:has(.article-navigation.show) > div:nth-child(1) {
		min-width: 100% !important;
	}

	.text-home-quiz {
		max-width: 100% !important;

		p {
			font-size: 1rem;
		}
	}

	.text-quiz-result {
		margin-top: 10px;
		width: 100%;
		p {
			max-width: 100% !important;
		}
	}
}

@media (max-width: 820px) {
	.banner-tag {
		font-size: 0.7rem;
	}
	.course-content-container {
		h3 {
			font-size: 1.2rem !important;
		}
	}
}

@media (max-width: 853px) {
	.banner-tags {
		.banner-tag {
			font-size: 0.7rem;
		}
	}

	.course-content-container {
		h3 {
			font-size: 1.3rem !important;
		}
	}
}

@media (max-width: 1024px) {
	.banner-tag {
		font-size: 0.9rem;
	}

	.course-content-container {
		width: 50%;

		h3 {
			font-size: 1.5rem;
		}
	}

	.nav-tabs {
		padding-left: inherit !important;
		padding-right: inherit !important;
	}

	.learn-education {
		max-width: 89%;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.lfr-layout-structure-item-lms-lesson-display-page-layout--copy- {
		max-width: 100%;
	}

	.lesson-layout-container.lesson-layout-container > div:nth-child(1) {
		margin-right: 0 !important;
	}
	
	.course-nav-bottom__banner {
		&::after {
			right: 100px;
			scale: 2;
		}
	}
}