[#assign
	navUserClass = ""
	privateUserFriendlyURL = themeDisplay.getPathFriendlyURLPrivateUser() + "/" + themeDisplay.getUser().getFirstName()
	publicFriendlyURL = themeDisplay.getPathFriendlyURLPublic() + themeDisplay.getSiteGroup().getFriendlyURL()
	publicSiteNavbarClass =""
	userName = htmlUtil.escape(themeDisplay.getUser().getFirstName())
/]

[#if !themeDisplay.isSignedIn()]
	[#assign publicSiteNavbarClass = "logged-in" /]
[/#if]

<nav class="${publicSiteNavbarClass} align-items-stretch masterclass-navbar navbar navbar-expand-lg position-${configuration.position}">
	<div class="flex-fill"></div>
	<div class="container-fluid container-fluid-max-xl">
		<a class="d-inline-flex site-logo" href="${publicFriendlyURL}">
			<img alt="" class="navbar-logo" data-lfr-editable-id="imageLogo" data-lfr-editable-type="image" src="[resources:masterclass_logo.svg]" width="162" />
		</a>

		<button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="border-0 navbar-toggler rounded-0" data-target="#navbarSupportedContent" type="button">
			<img alt="" class="btn btn-menu btn-monospaced" src="[resources:icon_menu.svg]" />

			<img alt="" class="btn btn-close btn-monospaced" src="[resources:icon_close.svg]" />
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<lfr-widget-nav id="nav"></lfr-widget-nav>

			<ul class="masterclass-navbar-user navbar-nav">
				[#if themeDisplay.isSignedIn()]
					<li class="dropdown nav-item px-2 px-lg-0">
						<button aria-expanded="false" aria-haspopup="true" class="border-0 dropdown-toggle nav-link" data-toggle="liferay-dropdown" id="${fragmentEntryLinkNamespace}_dropdown_menu" type="button">
							<img alt="" class="btn btn-monospaced" src="[resources:icon_user_logged.svg]" />

							<span class="ml-1">${userName}</span>
						</button>

						<ul aria-labelledby="${fragmentEntryLinkNamespace}_dropdown_menu" class="dropdown-menu right">
							<li>
								<a class="dropdown-item" href="${publicFriendlyURL}/my-learning">
									My Learning
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="${publicFriendlyURL}/notifications">
									Notifications
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="${publicFriendlyURL}/account-settings">
									Account Settings
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="${htmlUtil.escape(themeDisplay.getURLSignOut())}?referer=${publicFriendlyURL}">
									Sign Out
								</a>
							</li>
						</ul>
					</li>
				[#else]
					[#assign navUserClass = "navbar-brand-bg-color-3" /]

					<li class="nav-item">
						<a class="nav-link" href="${publicFriendlyURL}/sign-in">
							<img alt="" class="btn btn-monospaced p-1" src="[resources:icon_user_not_logged.svg]" />

							<span class="small text-uppercase">Sign In</span>
						</a>
					</li>
				[/#if]
			</ul>
		</div>
	</div>

	<div class="flex-fill ${navUserClass}"></div>
</nav>