.portal-workflow-metrics-app,
.instance-details-modal {
	.bg-danger-light {
		background: $danger-l2;
	}

	.bg-info-light {
		background: $white;
		border: 1px solid $primary-l3;
		box-sizing: border-box;
	}

	.bg-muted {
		background: $gray-100;
	}

	.bg-success-light {
		background: $success-l2;
	}

	.bg-warning-light {
		background: $warning-l2;
	}
}
