.multi-select-wrapper {
	padding-right: 0.5rem;
	position: relative;

	.close {
		padding: 0;
	}

	> .drop-icon {
		color: $gray-600;
		padding-right: 0.5rem;
	}

	> .drop-suggestion {
		height: auto;
		left: 0;
		max-height: 336px;
		max-width: 100%;
		min-height: 48px;
		position: absolute;
		right: 0;
		width: 100%;

		> ul > li.no-results > a {
			&:hover,
			&:active,
			& {
				background-color: transparent;
				color: $gray-600;
				cursor: default;
			}
		}
	}

	&.is-active {
		background-color: $primary-l3;
		border-color: $primary-l1;
		color: $gray-900;
		outline: 0;

		> .drop-icon {
			color: $gray-900;
		}

		> .drop-suggestion {
			display: block;
		}
	}
}
