.liferay-sites {
	position: relative;
}

.liferay-sites .caret-bottom-icon svg {
	fill: #6B6C7E;
	transform: rotate(0deg);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.liferay-sites .dropdown-menu-container {
	background: #fff;
	border-radius: 10px;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.1);
	color: #ffffff;
	fill: #6B6C7E;
	left: 0;
	min-width: 280px;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	transform: translateY(-5px);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	z-index: 988;
}

.liferay-sites .dropdown-menu-container.active {
	opacity: 1;
	pointer-events: auto;
	transform: translateY(5px);
}

.liferay-sites .dropdown-trigger {
	background: transparent;
	border: none;
	border-radius: 10px;
	color: #282934;
	cursor: pointer;
	gap: 8px;
	padding: 6px 12px 6px 6px;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.liferay-sites .liferay-sites-icon {
	color: #6B6C7E;
}

.liferay-sites-text {
	color: #6B6C7E;
}

.liferay-sites .dropdown-trigger:hover,
.liferay-sites:has(.active) .dropdown-trigger {
	background: #EDF3FE;
	color: #0053F0 !important;
	fill: #0053F0 !important;
}

.liferay-sites .dropdown-trigger:hover .caret-bottom-icon svg{
	fill: #0053F0 !important;
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.liferay-sites:has(.active) .caret-bottom-icon svg {
	fill: #0053F0 !important;
	transform: rotateX(180deg);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.liferay-sites .dropdown-trigger:hover .liferay-sites-icon,
.liferay-sites:has(.active) .liferay-sites-icon {
	color: #0053F0 !important;
}

.liferay-sites .dropdown-trigger:hover .liferay-sites-text,
.liferay-sites:has(.active) .liferay-sites-text {
	color: #0053F0 !important;
}
