@import 'atlas-variables';

.cms-asset-icon-custom-structure {
	color: $blue-l1 !important;
}

.cms-asset-icon-basic-content {
	color: $secondary !important;
}

.cms-asset-icon-blog {
	color: $green !important;
}

.cms-asset-icon-knowledge-base {
	color: $pink !important;
}

.cms-asset-icon-document-default {
	color: $secondary !important;
}

.cms-asset-icon-document-compressed {
	color: $secondary !important;
}

.cms-asset-icon-document-table {
	color: $teal-l1 !important;
}

.cms-asset-icon-document-image {
	color: $red-l1 !important;
}

.cms-asset-icon-document-presentation {
	color: $orange-l1 !important;
}

.cms-asset-icon-document-vector {
	color: $purple-l1 !important;
}

.cms-asset-icon-document-text {
	color: $cyan-l1 !important;
}

.cms-asset-icon-document-code {
	color: $pink-l1 !important;
}

.cms-asset-icon-folder {
	color: $gray-600 !important;
}
