@import '_atlas-custom-properties-variables';
@import 'cadmin-variables';

.cms-linked-projects {
	&-list {
		border: 1px solid $secondary-l2;
		border-radius: 0.25rem;
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
	}

	&-card {
		align-items: flex-start;
		display: flex;
		justify-content: space-between;
		padding: 0.75rem;
	}

	&-card + &-card {
		border-top: 1px solid $secondary-l2;
	}

	&-card-title {
		align-items: flex-start;
		display: flex;
		flex-direction: column;
	}

	&-card-name {
		color: $gray-900;
		font-size: 1rem;
		font-weight: 600;
	}

	&-card-due-date {
		color: $secondary;
		font-size: 0.875rem;
	}

	&-card-status {
		margin-top: 0.25rem;
	}

	&-card-actions {
		align-items: flex-start;
		display: flex;
	}
}
