<a class="sales-hub-card-link" href="">
	<div class="sales-hub-card">
		<div class="sales-page-card">
			<span></span>
		</div>

		<h2 class="sales-page-card-title" data-lfr-editable-id="sales-page-card-title" data-lfr-editable-type="text">
		</h2>

		<div class="sales-hub-card-description">
			<p class="sales-page-card-description" data-lfr-editable-id="sales-page-card-description" data-lfr-editable-type="text">
			</p>
		</div>

		<div class="sales-hub-card-cta">
			<span class="sales-page-card-cta" data-lfr-editable-id="sales-page-card-cta" data-lfr-editable-type="text">
			</span>
		</div>
	</div>
</a>