.sales-hub-card {
	background-color: #FBFCFE;
	border-color: #E7EFFF;
	border-radius: 10px;
	border-style: solid;
	border-width: 1px;
	display: flex;
	flex-direction: column;
	font-family: 'source sans 3';
	justify-content: space-around;
	min-height: 313px;
	padding-bottom: 24px;
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 24px;
	text-decoration: none;
	width: 100%;

	h2 {
		color: #282934;
		font-size: 2rem;
		font-weight: 700;
		padding-top: var(--spacer-4, 1.5rem) !important;
	}

	&:hover {
		background-color: var(--color-action-primary-hover-10, #edf3fe);
		border-color: var(--color-brand-primary-darken-1, #0053f0);
		border-radius: 10px;
		border-width: 1px;
	}
}

.sales-hub-card-cta {
	font-size: var(--text-paragraph-lg-font-size);
	font-weight: 600;
	line-height: var(--text-paragraph-lg-line-height);

	span {
		align-items: center;
		display: flex;
		gap: 0.5rem;

		&:after {
			background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_749_3383' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='16' height='16'%3E%3Cpath d='M14 11C14 10.4477 14.4473 10 15 10C15.5527 10 16 10.4477 16 11V14C16 15.1028 15.1025 16 14 16H2C0.897461 16 0 15.1028 0 14V2C0 0.897202 0.897461 0 2 0H5C5.55273 0 6 0.447723 6 1C6 1.55228 5.55273 2 5 2H2V14H14V11Z' fill='%236B6C7E'/%3E%3Cpath d='M10 0H15C15.5527 0 16 0.447708 16 1V6C16 6.55229 15.5527 7 15 7C14.4473 7 14 6.55229 14 6V3.4142L9.70703 7.70711C9.51172 7.90237 9.25586 8 9 8C8.74414 8 8.48828 7.90237 8.29297 7.70711C7.90234 7.31657 7.90234 6.68343 8.29297 6.29289L12.5859 2H10C9.44727 2 9 1.55229 9 1C9 0.447708 9.44727 0 10 0Z' fill='%236B6C7E'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_749_3383)'%3E%3Crect width='16' height='16' fill='%230B5FFF'/%3E%3C/g%3E%3C/svg%3E%0A");
			content: '';
			display: inline-block;
			height: 1rem;
			width: 1rem;
		}
	}
}

.sales-hub-card-description {
	color: #00318F !important;
	font-size: 1.25rem;
	font-weight: 400;

	p {
		font-size: var(--text-paragraph-font-size);
		line-height: var(--text-paragraph-line-height);
	}
}

.sales-hub-card-icon {
	align-items: center;
	background: linear-gradient(100deg, #0a0c23, #0d1a50, #103b9e, #179fbe, #3be6b3);
	border-radius: 10px;
	display: flex;
	height: 80px;
	justify-content: center;
	width: 80px;

	span {
		align-items: center;
		display: flex;

		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 25.1246C7.65673 25.1246 8.99979 26.468 9 28.1246H16.5C18.9852 28.1246 20.9998 30.1395 21 32.6246H30C31.3544 32.6246 32.4992 33.5228 32.8721 34.7555L43.5127 28.8629C44.9436 28.0709 46.7454 28.5708 47.5635 29.987C48.4104 31.4538 47.9236 33.2709 46.5029 34.0914C46.4974 34.0947 39.0384 38.3054 24.127 46.7223C23.095 47.3047 21.8747 47.4568 20.7314 47.1452L8.96582 43.5729C8.74939 45.0171 7.50448 46.1246 6 46.1246H3C1.34315 46.1246 0 44.7815 0 43.1246V28.1246C0.000206658 26.468 1.34327 25.1246 3 25.1246H6ZM9 41.983L21.126 45.6979C21.8882 45.9057 22.7016 45.804 23.3896 45.4157L45.7402 32.7995C46.456 32.3861 46.6972 31.4863 46.291 30.7829C45.8554 30.0291 44.9546 29.7795 44.2393 30.1754L32.8809 36.4655C32.5173 37.7131 31.365 38.6246 30 38.6246H14.25C13.8358 38.6246 13.5 38.2889 13.5 37.8746C13.5002 37.4606 13.8359 37.1246 14.25 37.1246H30C30.8284 37.1246 31.5 36.4531 31.5 35.6246C31.4998 34.7964 30.8283 34.1246 30 34.1246H19.5V32.6246C19.4998 30.968 18.1567 29.6246 16.5 29.6246H9V41.983ZM3 26.6246C2.1717 26.6246 1.50021 27.2964 1.5 28.1246V43.1246C1.5 43.9531 2.17157 44.6246 3 44.6246H6C6.82843 44.6246 7.5 43.9531 7.5 43.1246V28.1246C7.49979 27.2964 6.8283 26.6246 6 26.6246H3ZM20.7266 5.24281C21.1299 5.14989 21.5327 5.40105 21.626 5.80434C21.6516 5.91531 21.6516 6.03126 21.626 6.14223L21.0254 8.74574C20.9321 9.14901 20.5293 9.40011 20.126 9.30727C19.989 9.27566 19.8631 9.20647 19.7637 9.10707L19.5605 8.90297C16.8428 13.5046 17.4605 19.5312 21.4141 23.485C24.4021 26.473 28.574 27.5563 32.4199 26.734C32.7373 26.6662 33.2141 26.5236 33.5938 26.4039C33.9435 26.2937 34.3252 26.4433 34.499 26.7663C34.7171 27.1719 34.5219 27.6763 34.084 27.819C33.6883 27.9479 33.2333 28.0878 32.918 28.1598C28.541 29.1594 23.7625 27.9545 20.3535 24.5455C15.8108 20.0026 15.1824 13.0278 18.4688 7.81215L17.7617 7.10414C17.4688 6.81125 17.4688 6.33648 17.7617 6.04359C17.8611 5.94437 17.9862 5.87497 18.123 5.8434L20.7266 5.24281ZM26.3047 1.985C30.8339 0.738504 35.8861 1.8947 39.4453 5.45375C43.9883 9.99674 44.6166 16.9724 41.3301 22.1881L41.9629 22.82C42.0623 22.9193 42.1315 23.0453 42.1631 23.1823C42.256 23.5858 42.0041 23.9886 41.6006 24.0817L39.1865 24.6383C39.0756 24.6639 38.9596 24.6639 38.8486 24.6383C38.4453 24.545 38.194 24.1424 38.2871 23.7389L38.8438 21.3248C38.8754 21.1879 38.9455 21.0619 39.0449 20.9625C39.3378 20.6701 39.8127 20.6699 40.1055 20.9625L40.2393 21.0963C42.9567 16.4947 42.3384 10.468 38.3848 6.5143C35.3092 3.43895 30.9795 2.38211 27.042 3.3434C26.8172 3.39828 26.4929 3.49867 26.209 3.59047C25.8564 3.70433 25.4699 3.5529 25.2949 3.22621C25.079 2.82238 25.2701 2.32073 25.7041 2.17445C25.9207 2.10147 26.1399 2.03036 26.3047 1.985Z' fill='white'/%3E%3Cpath d='M4.5 40.4287C5.32843 40.4287 6 41.1003 6 41.9287C5.99988 42.757 5.32836 43.4287 4.5 43.4287C3.67164 43.4287 3.00012 42.757 3 41.9287C3 41.1003 3.67157 40.4287 4.5 40.4287ZM30.4189 6C31.0645 6.00004 31.6376 6.41305 31.8418 7.02539L32.0996 7.79785C32.6287 7.95183 33.1337 8.16245 33.6074 8.42285L34.3359 8.05859C34.9133 7.7699 35.6108 7.88348 36.0674 8.33984L36.6602 8.93262C37.1165 9.38916 37.2301 10.0867 36.9414 10.6641L36.5771 11.3926C36.8375 11.8663 37.0482 12.3713 37.2021 12.9004L37.9746 13.1582C38.5869 13.3624 39 13.9355 39 14.5811V15.4189C39 16.0645 38.5869 16.6376 37.9746 16.8418L37.2021 17.0996C37.0482 17.6287 36.8375 18.1337 36.5771 18.6074L36.9414 19.3359C37.2301 19.9133 37.1165 20.6108 36.6602 21.0674L36.0674 21.6602C35.6108 22.1165 34.9133 22.2301 34.3359 21.9414L33.6074 21.5771C33.1337 21.8375 32.6287 22.0482 32.0996 22.2021L31.8418 22.9746C31.6376 23.5869 31.0645 24 30.4189 24H29.5811C28.9355 24 28.3624 23.5869 28.1582 22.9746L27.9004 22.2021C27.3713 22.0482 26.8663 21.8375 26.3926 21.5771L25.6641 21.9414C25.0867 22.2301 24.3892 22.1165 23.9326 21.6602L23.3398 21.0674C22.8835 20.6108 22.7699 19.9133 23.0586 19.3359L23.4229 18.6074C23.1625 18.1337 22.9518 17.6287 22.7979 17.0996L22.0254 16.8418C21.4131 16.6376 21 16.0645 21 15.4189V14.5811C21 13.9355 21.4131 13.3624 22.0254 13.1582L22.7979 12.9004C22.9518 12.3713 23.1625 11.8663 23.4229 11.3926L23.0586 10.6641C22.7699 10.0867 22.8835 9.38916 23.3398 8.93262L23.9326 8.33984C24.3892 7.88348 25.0867 7.7699 25.6641 8.05859L26.3926 8.42285C26.8663 8.16245 27.3713 7.95183 27.9004 7.79785L28.1582 7.02539C28.3624 6.41305 28.9355 6.00004 29.5811 6H30.4189ZM30 11.25C27.9289 11.25 26.25 12.9289 26.25 15C26.25 17.0711 27.9289 18.75 30 18.75C32.0711 18.75 33.75 17.0711 33.75 15C33.75 12.9289 32.0711 11.25 30 11.25Z' fill='white'/%3E%3C/svg%3E%0A");
			content: '';
			display: inline-block;
			height: 3rem;
			width: 3rem;
		}
	}
}

.sales-resources-card-icon {
	align-items: center;
	background: linear-gradient(100deg, #0a0c23, #0d1a50, #103b9e, #179fbe, #3be6b3);
	border-radius: 10px;
	display: flex;
	height: 80px;
	justify-content: center;
	width: 80px;

	span {
		align-items: center;
		display: flex;

		&:before {
			background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cmask id='mask0_2922_40145' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='0' y='0' width='48' height='48'%3E%3Cpath d='M34.1878 15.8681C35.5939 14.4711 33.438 12.3242 32.0413 13.7211L30.8415 14.9305C26.6702 12.0054 19.565 16.1962 23.7644 22.2996C29.098 29.8656 19.9868 29.2937 19.5182 23.5747C19.64 21.6058 16.5842 21.5683 16.4717 23.4059C16.3968 24.6716 17.2591 26.6873 17.9715 27.803L16.8842 28.8905C15.4407 30.325 17.5872 32.4813 19.0307 31.0375L20.1274 29.9406C27.1108 33.5595 31.0571 26.2748 26.689 21.2964L26.6796 21.2871C23.0239 16.0275 30.2416 15.1274 30.9446 20.5745C30.8415 22.5528 33.8785 22.5996 33.991 20.7246C34.0566 19.4682 33.7004 18.1932 32.9974 17.0775L34.1878 15.8681Z' fill='black'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M23.6332 0.726775C22.0959 0.783028 20.643 1.42056 19.5557 2.50811L1.7927 20.2745C-0.597567 22.6559 -0.597567 26.5279 1.7927 28.9187L19.087 46.207C21.4679 48.5977 25.3392 48.5977 27.7294 46.207L45.4924 28.4499C46.5704 27.3624 47.2078 25.9092 47.2734 24.3716L47.9951 6.3614C48.1357 2.78937 45.2018 -0.135764 41.6399 0.00486782L23.6332 0.726775ZM21.2429 39.7192C22.4334 40.9098 24.3737 40.9098 25.5641 39.7192L40.3275 24.9716C40.8712 24.4278 41.1899 23.6966 41.218 22.9278L41.7617 9.41779C41.8273 7.63646 40.365 6.16452 38.5841 6.23952L25.0767 6.7833C24.3081 6.81142 23.5769 7.13019 23.0333 7.67396L8.27923 22.4309C7.08878 23.6216 7.08878 25.5623 8.27923 26.7529L21.2429 39.7192Z' fill='black'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_2922_40145)'%3E%3Crect width='48' height='48' fill='white'/%3E%3C/g%3E%3C/svg%3E%0A");
			content: '';
			display: inline-block;
			height: 3rem;
			width: 3rem;
		}
	}
}

@media(max-width: 1279px) {
	.sales-enablement-ghost-card {
		display: none;
	}
}