@import 'atlas-custom-properties/_variables';

.side-panel-iframe {
	& &-content {
		padding: 0 !important;
	}

	& &-header {
		background-color: $white !important;
	}

	&__tabs {
		padding: 0.5rem 1rem 0;

		.nav-link {
			padding: 1rem;
		}
	}
}

.side-panel-content {
	background-color: $gray-200;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: auto;

	&__body,
	&__footer {
		padding: 1.5rem;
	}

	&--layout {
		height: calc(100vh - 118px);
	}
}

.text-small {
	color: $gray-500 !important;
	font-size: 0.75rem;
}
