@import 'cadmin-variables';

html#{$cadmin-selector} {
	.cadmin {
		.applications-menu-modal {
			.btn-monospaced {
				color: $cadmin-secondary;
			}

			.modal-dialog {
				margin: 0;
				max-width: none;
				width: 100%;
			}

			.modal-content {
				border-radius: 0;
				box-shadow: none;
			}
		}

		.applications-menu-header {
			flex-shrink: 0;

			.nav-tabs {
				background-color: $cadmin-white;
				border-width: 0;
				margin-top: 8px;
				padding-left: 4px;
				padding-right: 4px;
			}

			.nav-link {
				padding-bottom: 6px;
				padding-top: 6px;
			}
		}

		.applications-menu-footer {
			flex-shrink: 0;
		}

		.applications-menu-bg {
			@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
				background: linear-gradient(
					to right,
					$cadmin-white 0%,
					$cadmin-white 50%,
					$cadmin-light-l1 51%,
					$cadmin-light-l1 100%
				);

				.container-fluid {
					background-color: $cadmin-white;
				}
			}
		}

		.applications-menu-border-top {
			border-top: 1px solid $cadmin-gray-400;
		}

		.applications-menu-content {
			@include media-breakpoint-down(sm, $cadmin-grid-breakpoints) {
				overflow: auto;
			}
		}

		.applications-menu-nav-columns {
			column-count: 1;
			orphans: 1;
			widows: 1;

			@include media-breakpoint-up(sm, $cadmin-grid-breakpoints) {
				column-count: 2;
			}

			@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
				column-count: 4;
			}

			.col-md {
				display: inline-block;
				word-break: break-word;
			}
		}

		.applications-menu-nav-header {
			color: $cadmin-secondary;
			font-size: 14px;
			text-transform: uppercase;
		}

		.applications-menu-nav-link {
			color: $cadmin-dark;

			&:hover {
				color: $cadmin-dark;
				text-decoration: none;
			}

			&.active {
				font-weight: 600;
			}

			.sticker-sm {
				height: 20px;
				width: 20px;
			}
		}

		.applications-menu-sites-label {
			background-color: $cadmin-light-l1;
			color: $cadmin-secondary;
			font-size: 14px;
			font-weight: 600;

			@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
				border: 1px solid $cadmin-gray-400;
				border-bottom-width: 0;
				border-top-left-radius: $cadmin-rounded-border-radius;
				border-top-right-radius: $cadmin-rounded-border-radius;
				bottom: 100%;
				left: 0;
				padding: 10px 16px;
				position: absolute;
			}
		}

		.applications-menu-sites,
		.applications-menu-spaces {
			background-color: $cadmin-light-l1;

			@include media-breakpoint-up(md, $cadmin-grid-breakpoints) {
				height: 100%;
			}
		}

		.applications-menu-spaces {
			.create-space-step-one-illustration img {
				height: 160px;
				object-fit: cover;
				width: 100%;
			}
		}

		.applications-menu-cms,
		.applications-menu-virtual-instance {
			font-weight: 600;
		}

		.applications-menu-shrink {
			flex-shrink: 1;
			min-width: 0;
		}

		.applications-menu-btn {
			font-size: 14px;
			font-weight: 600;
		}

		.applications-menu-nav-divider {
			border-top: 1px solid $cadmin-secondary;
			width: 20px;
		}

		.applications-menu-company {
			font-weight: 600;
		}
	}
}
