.announcements-banner {
	align-items: center;
	background: radial-gradient(
			52.24% 284.19% at 100% 100%,
			#ff6da3 16.34%,
			rgba(202, 0, 250, 0.8) 55.85%,
			rgba(202, 0, 250, 0) 100%
		),
		radial-gradient(
			100% 300% at 0% 100%,
			#009cff 0%,
			#0001a5 36.46%,
			#0069ff 75.52%,
			#00e0ff 100%
		);
	color: var(--color-neutral-0, '#ffffff');
	display: none;
	font-family: var(--font-family-sans-serif, 'Source Sans 3');
	font-size: 1rem;
	font-weight: 600;
	height: 52px;
	justify-content: center;
	line-height: 24px;
	position: fixed;
	width: 100%;
	z-index: 100;

	&::after {
		/* stylelint-disable-next-line function-url-quotes */
		bottom: -10px;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='345' height='226' viewBox='0 0 345 226' fill='none'%3E%3Cpath d='M599.174 139.161C379.772 -318.423 -316.101 496.506 168.15 589.816C615.782 676.12 704.326 358.432 599.182 139.161H599.174Z' fill='url(%23paint0_linear_569_4073)'%3E%3C/path%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_569_4073' x1='589.944' y1='-12.3827' x2='85.9847' y2='692.371' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white' stop-opacity='0.25'%3E%3C/stop%3E%3Cstop offset='0.64' stop-color='white' stop-opacity='0.08'%3E%3C/stop%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		position: absolute;
		right: 0;
	}

	&::before {
		/* stylelint-disable-next-line function-url-quotes */
		bottom: -10px;
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='348' height='184' viewBox='0 0 348 184' fill='none'%3E%3Cpath d='M154.177 86.5742C-201.648 163.477 140.917 681.17 361.932 657.517C582.977 633.941 776.843 274.589 613.272 94.549C449.592 -85.53 376.161 40.082 154.177 86.5742Z' fill='url(%23paint0_linear_569_4074)'%3E%3C/path%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_569_4074' x1='689.702' y1='38.7335' x2='26.9456' y2='563.695' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='white'%3E%3C/stop%3E%3Cstop offset='0.01' stop-color='white' stop-opacity='0.97'%3E%3C/stop%3E%3Cstop offset='0.13' stop-color='white' stop-opacity='0.75'%3E%3C/stop%3E%3Cstop offset='0.25' stop-color='white' stop-opacity='0.55'%3E%3C/stop%3E%3Cstop offset='0.37' stop-color='white' stop-opacity='0.38'%3E%3C/stop%3E%3Cstop offset='0.49' stop-color='white' stop-opacity='0.24'%3E%3C/stop%3E%3Cstop offset='0.62' stop-color='white' stop-opacity='0.14'%3E%3C/stop%3E%3Cstop offset='0.74' stop-color='white' stop-opacity='0.06'%3E%3C/stop%3E%3Cstop offset='0.87' stop-color='white' stop-opacity='0.01'%3E%3C/stop%3E%3Cstop offset='1' stop-color='white' stop-opacity='0'%3E%3C/stop%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
		left: 0;
		position: absolute;
		transform: rotateY(180deg);
	}
}

.announcements-banner-content {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 5px;
	line-height: normal;
	text-align: center;
}

.announcements-banner-info {
	align-items: center;
	display: flex;
}

.announcements-button {
	background-color: #fff;
	border: 1px solid #0b5fff;
	border-radius: 6px;
	color: #0b5fff !important;
	font-family: var(--font-family-sans-serif, 'Source Sans 3');
	font-size: 1rem;
	font-weight: 600;
	height: 50%;
	margin-left: 10px;
	overflow: hidden;
	padding: 5px;
	white-space: nowrap;
}

.icon-x {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='lexicon-icon lexicon-icon-times' role='presentation' viewBox='0 0 512 512' fill='%23FFFFFF'%3E%3Cpath class='lexicon-icon-outline' d='M300.4,256L467,89.4c29.6-29.6-14.8-74.1-44.4-44.4L256,211.6L89.4,45C59.8,15.3,15.3,59.8,45,89.4L211.6,256L45,422.6 c-29.7,29.7,14.7,74.1,44.4,44.4L256,300.4L422.6,467c29.7,29.7,74.1-14.7,44.4-44.4L300.4,256z'%3E%3C/path%3E%3C/svg%3E");
	background-repeat: no-repeat;
	content: '';
	cursor: pointer;
	display: inline-block;
	height: 10px;
	position: absolute;
	right: 2%;
	top: 20px;
	width: 10px;
	z-index: 20;
}

.navigation-margin-true {
	margin-top: 50px !important;
	top: 50px !important;
}

.public-site-navigation-container {
	margin-top: 0;
	top: 0;
}


@media (max-width: 567px) {
	.announcements-banner {
		font-size: 0.7rem !important;
		top: 48px !important;
	}
	
	.announcements-banner-content {
		align-items: center;
		display: flex;
		justify-content: center;
		width: 100%;

		a {
			align-items: flex-end;
			display: inline-flex;
			margin-left: 0.5rem;

			&::after {
				height: 10px;
				position: absolute;
				right: 14.5%;
				top: 58%;
				width: 10px;
			}
		}
	}
	
	.announcements-banner-info {
		display: inline;
		text-align: center;
		width: 70%;
	}

	.announcements-button {
		align-items: center;
		display: flex;
		font-size: 0.7rem;
		justify-content: center;
		margin-left: 0.5rem;
		margin-right: -1.5rem;
		width: 13rem !important;
	}
		
	.announcements-message {
		font-size: 0.6rem !important;
		margin-right: 0;
	}
}

@media (min-width: 568px) and (max-width: 1024px) {
	.announcements-banner {
		font-size: 0.9rem !important;
	}

	.announcements-button {
		align-items: center;
		display: flex;
		font-size: 0.8rem;
		justify-content: center;
		margin-left: 10px;
		margin-right: 2.5rem;
		width: 8rem !important;
	}
}