$warning-secondary: #ff8f39;
$warning-primary: #863a00;

$danger-secondary: #f48989;
$danger-primary: #da1414;
$danger: #da1414;

$success-secondary: #5aca76;
$success-primary: #287d3d;

$info-secondary: #89a7e0;
$info-primary: #2e5aac;

$error-l1: lighten($danger-primary, 28%);
$gray-100: #f7f8f9;
$gray-200: #f1f2f5;
$gray-300: #ebebeb;
$gray-400: #cdced9;
$gray-600: #6b6c7e;
$gray-700: #495057;
$gray-800: #393a4a;
$gray-900: #272833;

$secondary-text: $gray-600;
$spacer: 1rem;

$spacers: (
	0: 0,
	1: $spacer * 0.25,
	2: $spacer * 0.5,
	3: $spacer,
	4: $spacer * 1.5,
	5: $spacer * 3,
);

$primary-color: #0b5fff;
$background-color: #f1f2f4;
$border-color: #e7e7ed;
$info-bc: #eef2fa;

$step-tracker-active: #6b6c7e;
$step-tracker-completed: #287d3c;
$step-tracker-inactive: #fff;

$step-tracker-active-color: #fff;
$step-tracker-completed-color: #fff;
$step-tracker-inactive-color: #6b6c7e;

// Animations

$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

// Liferay

$liferay-sidebars-width: 320px;

$white: #fff;
