.dynamic-outline-container {
	position: fixed;
	z-index: 1000;

	& > div {
		color: var(--color-neutral-7);
		font-size: 0.875rem;
		margin-bottom: 0.75rem;
		text-transform: uppercase;
	}
	
	.dynamic-outline li {
		margin-bottom: 0.75rem;
	
		a {
			color: inherit;
			cursor: pointer;
			font-size: 1rem;
			text-decoration: none;
	
			&:hover {
				color: var(--color-action-primary-active);
				font-weight: 600;
			}
	
			&.active {
				color: var(--color-action-primary-active);
				font-weight: 600;
			}
		}
	}
}
