<div class="search-container">
	<input class="search-bar-keywords-input" data-qa-id="searchInput" name="q" placeholder="Search Knowledge Base" title="Search" type="text" value="" />

	<div class="search-button-container">
		<div class="search-knowledge-base">
			<a class="search-button" href="">
				<svg class="lexicon-icon lexicon-icon-search" role="presentation" viewBox="0 0 512 512">
					<g>
						<path class="lexicon-icon-outline" d="M499.2,455.5L377.7,333.4c146-241.1-148.1-435.8-318.2-274c-165.1,185.9,41.6,460.6,273.4,319l121.5,118.8C489.5,535.8,534.4,490.8,499.2,455.5z M206.2,63.6c191.9,0,198.1,289,0,289C13.3,352.6,18.8,63.6,206.2,63.6z"></path>
					</g>
				</svg>
			</a>
		</div>
	</div>
</div>